/**
 * Customizer Control Styles
 */

/* Remove bottom margin from Uppercase control */

#customize-control-saved_customizations-uppercase {
	margin-bottom: 0;
}

/* Remove bottom margin from Colored Line control */

#customize-control-saved_customizations-header_line {
	margin-bottom: 0;
}
