.upfront_cta, a.upfront_cta {
	display: table-cell;
	padding: 4px 5px;
	text-decoration: none;
	height: 100%;
	vertical-align: middle;
}

.upfront-output-object.upfront-button {
	display: table;
}

a.upfront_cta, a.upfront_cta:hover,
.upfront-object-content a.upfront_cta,
.upfront-object-content a.upfront_cta:hover {
	color: rgb(255, 255, 255);
	font-family: Arial;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	line-height: 2;
	border: none;
	border-radius: 20px 20px 20px 20px;
	background-color: rgb(64, 64, 64);
}


/* 378760-1512586674-ai */