div.upfront-editable_entity.upfront-button {
	display: table;
}
div.upfront-output-button, div.upfront-output-button div.redactor-box {
	display: table-row;
}
div.upfront-output-button div.redactor-box {
  display: table-row;
}
div.upfront-output-button.being_edited {
  display: inline-table;
  height: 100%;
  width: 100%;
}

div.upfront-output-button i.visit_link {
  position: absolute;
  top: 10px;
  left: 10px;
  display: block;
  opacity: 0;
}
div.upfront-output-button.being_edited i.visit_link {
  display:none !important;
}
div.upfront-output-button:hover i.visit_link {
  opacity: 1;
}
a.upfront_cta.ueditor-placeholder{
  position: relative !important;
  left: inherit !important;
  top: inherit !important;
  right: inherit !important;
  display: none !important;
}
/* Small adjustemnts for linking panel, it uses redactor template */
div.upfront-button .redactor-toolbar a {
	padding: 0;
}
div.upfront-button .redactor_air {
	left: 50%;
	margin-left: -20px;
	display: none;
}
div.upfront-button .stayOpen .redactor_air,
div.upfront-button:hover .redactor_air {
	display: block!important;
}

/* Make link panel work well */
.upfront-button .uimage-controls.image-element-controls .upfront-inline-panel .upfront-inline-panel-item.labeled {
	width: auto!important;
	min-width: 0px!important;
	line-height: inherit!important;
	padding-left: 0;
}
.upfront-button .uimage-controls.image-element-controls .upfront-inline-panel .upfront-inline-panel-item.labeled i {
	display: inline-block;
}
.upfront-button .uimage-controls.image-element-controls .upfront-inline-panel .upfront-inline-panel-item.labeled span {
	display: inline-block;
	width: auto!important;
}
.upfront-button .uimage-controls.image-element-controls {
	display: block;
	visibility: hidden;
	bottom: -30px;
	left: 0;
}
.upfront-button .uimage-controls.image-element-controls .upfront-inline-panel {
	visibility: hidden;
}
.upfront-button.controls-visible > .uimage-controls.image-element-controls {
	visibility: visible;
}
.upfront-button.controls-visible > .uimage-controls.image-element-controls .upfront-inline-panel {
	visibility: visible;
}
.upfront-button .open-item-controls {
	display: block;
	width: 30px;
	height: 10px;
	background: green;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 10;
	display: none;
	cursor: pointer;
  background-image: -moz-linear-gradient(-89deg, #2F445D 0%, #152841 100%);
  background-image: -ms-linear-gradient(-89deg, #2F445D 0%, #152841 100%);
  background-image: linear-gradient(-179deg, #2F445D 0%, #152841 100%);
}
.upfront-button:hover .open-item-controls,
.upfront-button.controls-visible .open-item-controls {
	display: block;
}
.upfront-button .uimage-controls .upfront-inline-panel {
	background-image: none;
	box-shadow: none;
	width: 300px!important;
}
.upfront-button .uimage-controls .inline-panel-control-dialog {
	min-width: 190px;
}
.upfront-button .uimage-controls .upfront-inline-panel .upfront-inline-panel-item.upfront-control-dialog-open:first-child {
	height: 31px!important;
}
.upfront-button .uimage-controls .upfront-inline-panel .upfront-inline-panel-item {
  background-image: -moz-linear-gradient(-89deg, #2F445D 0%, #152841 100%);
  background-image: -ms-linear-gradient(-89deg, #2F445D 0%, #152841 100%);
  background-image: linear-gradient(-179deg, #2F445D 0%, #152841 100%);
  -moz-box-shadow: inset 0px -1px 0px 0px #43607A, inset 0px 1px 0px 0px #26394A;
  box-shadow: inset 0px -1px 0px 0px #43607A, inset 0px 1px 0px 0px #26394A;
}
/* Collapsed control */
.upfront-button .open-item-controls:before {
	background-image: url(../../../img/uf-core-el-sprite.svg);
	content: " ";
  background-repeat: no-repeat;
  float: left;
  display: block;
	height: 6px;
	width: 24px;
	background-position: -699px -721px;
	margin: 2px 0 0 3px;
}
.upfront-button .uimage-controls a {
  padding: 0;
  font-size: 13px;
  margin-bottom: 2px;
}

.upfront_cta {
	display: table-cell;
	padding: 4px 5px;
	text-decoration: none;
	height: 100%;
	vertical-align: middle;
}

.upfront-output-object.upfront-button {
	display: table;
}

.upfront-object-content.upfront-output-ubutton {
	display: table-row;
	height: 100%;
	width: 100%;
}

.upfront-button div.upfront-object-content.editing {
   display: table;
   width: 100%;
}

.upfront-button div.upfront-object-content.editing > div.redactor-box {
	display: table-row;
}

.upfront-button div.upfront-object-content.editing > div.redactor-box > a.upfront_cta {
	display: table-cell;
}
/*
//this css is conflicting with the visitlink icons in the link panel
i.upfront-icon-region-visit-link-entry:before {
	background-image: url(../../../img/uf-core-el-sprite.svg)!important;
	background-position: -703px -169px!important;
}*/


/* 378760-1512586674-ai */