.ub-author-box {
  margin-top: 20px;
}
.ub-author-box .ub-author-box-content {
  padding: 10px;
  display: flex;
}
.ub-author-box .ub-author-box-content .ub-author-box-avatar {
  margin-right: 20px;
}
.ub-author-box .ub-author-box-content .ub-author-box-avatar .social-media li {
  padding: 5px;
}
.ub-author-box .ub-author-box-content .ub-author-box-avatar .social-media li a {
  padding: 5px;
}
@media screen and (max-width: 501px) {
  .ub-author-box .ub-author-box-content {
    display: block;
  }
  .ub-author-box .ub-author-box-content img {
    display: block;
    margin: 0 auto 10px auto;
  }
  .ub-author-box .ub-author-box-content h4 {
    text-align: center;
  }
}
.ub-author-box .social-media {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-align: center;
}
.ub-author-box .social-media li {
  display: inline-block;
  padding: 10px;
}
.ub-author-box .social-media li a {
  box-shadow: none;
  padding: 10px;
}
.ub-author-box .social-media li a span:before {
  font-size: 24px;
}
.ub-author-box .social-media li a:hover {
  opacity: .5;
}
.ub-author-box .social-media:after {
  content: "";
  display: table;
  clear: both;
}
.ub-author-box .social-media.use-color .social-logo-amazon:before {
  color: #d70;
}
.ub-author-box .social-media.use-color .social-logo-blogger:before {
  color: #f57d00;
}
.ub-author-box .social-media.use-color .social-logo-codepen:before {
  color: #000;
}
.ub-author-box .social-media.use-color .social-logo-dribbble:before {
  color: #ea4c89;
}
.ub-author-box .social-media.use-color .social-logo-dropbox:before {
  color: #007ee5;
}
.ub-author-box .social-media.use-color .social-logo-eventbrite:before {
  color: #f6682f;
}
.ub-author-box .social-media.use-color .social-logo-facebook:before {
  color: #3b5999;
}
.ub-author-box .social-media.use-color .social-logo-flickr:before {
  color: #ff0084;
}
.ub-author-box .social-media.use-color .social-logo-foursquare:before {
  color: #f94877;
}
.ub-author-box .social-media.use-color .social-logo-ghost:before {
  color: #ecbb2e;
}
.ub-author-box .social-media.use-color .social-logo-github:before {
  color: #eb4924;
}
.ub-author-box .social-media.use-color .social-logo-google:before {
  color: #dd4b39;
}
.ub-author-box .social-media.use-color .social-logo-instagram:before {
  color: #e4405f;
}
.ub-author-box .social-media.use-color .social-logo-linkedin:before {
  color: #0077B5;
}
.ub-author-box .social-media.use-color .social-logo-pinterest:before {
  color: #bd081c;
}
.ub-author-box .social-media.use-color .social-logo-pocket:before {
  color: #ee4056;
}
.ub-author-box .social-media.use-color .social-logo-polldaddy:before {
  color: #bc0b0b;
}
.ub-author-box .social-media.use-color .social-logo-reddit:before {
  color: #ff5700;
}
.ub-author-box .social-media.use-color .social-logo-skype:before {
  color: #00AFF0;
}
.ub-author-box .social-media.use-color .social-logo-spotify:before {
  color: #1ed760;
}
.ub-author-box .social-media.use-color .social-logo-squarespace:before {
  color: #000;
}
.ub-author-box .social-media.use-color .social-logo-stumbleupon:before {
  color: #eb4924;
}
.ub-author-box .social-media.use-color .social-logo-telegram:before {
  color: #eb4924;
}
.ub-author-box .social-media.use-color .social-logo-tumblr:before {
  color: #34465d;
}
.ub-author-box .social-media.use-color .social-logo-twitter:before {
  color: #55acee;
}
.ub-author-box .social-media.use-color .social-logo-vimeo:before {
  color: #1ab7ea;
}
.ub-author-box .social-media.use-color .social-logo-whatsapp:before {
  color: #25D366;
}
.ub-author-box .social-media.use-color .social-logo-wordpress:before {
  color: #21759b;
}
.ub-author-box .social-media.use-color .social-logo-xanga:before {
  color: #437fbb;
}
.ub-author-box .social-media.use-color .social-logo-youtube:before {
  color: #cd201f;
}


/* 506887-1528448982-au */