
// Also see _header-menu.scss and _header-banner.scss

/*---------------------------------------------
 * Header Bar
 *--------------------------------------------*/

#saved-header-top {

	position: fixed;
	top: 0;
	width: 100%;

	z-index: 99998; // not so high that it exceeds modals or admin bar (99999)

	// Header top line

	&.saved-header-has-line {
		border-top: ct-em(4) solid transparent;
	}

	// Move header bar down when admin bar present

	.admin-bar & {

		top: $admin-bar-height;

		// Admin bar height grows when screen width is reduced to this size

		@media screen and (max-width: $admin-bar-mobile-screen-width) {
			top: $admin-bar-mobile-height;
		}

	}

		// Admin bar disappears at this size, after scrolling

		@media screen and (max-width: $admin-bar-hidden-screen-width) {

			.saved-scrolled.admin-bar & {
				top: 0;
			}

		}

}

	// Background Color
	// On its own div so can fade in/out on scroll

	#saved-header-top-bg {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		z-index: -1 !important;
		background-color: #fff;
		opacity: 0.95;
		box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15); // a little "higher" than box() mixin
	}

	// Logo on left, Menu on right

	#saved-header-top-inner { // .saved-centered-large

		display: table;
		width: 100%;
		min-height: ct-em(32);
		height: ct-em(61); // 61 not 60 because make sequal space above and below links + resolves issue w/drpdowns not being flush w/tp bar on FF and Safar
		font-size: 1rem;

		// Vertical centering for left and right elements

		> * {
			display: table-cell;
			vertical-align: middle;
		}

	}

/*---------------------------------------------
 * Logo
 *--------------------------------------------*/

#saved-logo {
	display: table-cell;
	position: relative; // help z-index work
	width: 14%; // use as little logo space as possible so menu comes close
}

	#saved-logo-content {
		text-align: left;
	}

		// Logo Image Container

		#saved-logo-image {

			position: relative;
			max-width: $logo-max-width; // constrain image width

			// See max-width/height set inline on this element in header
			// It helps keep HiDPI at 1X size while constraining image to 100% container (see #saved-logo-image img below)
			a {
				display: inline-block;
			}

		}

			// Logo Image

			#saved-logo-image img {
				max-height: $logo-max-height;
				height: auto;
				width: auto;
			}

			// Retina Logo

			#saved-logo-regular {
				display: inline-block;
			}

			#saved-logo-hidpi {
				display: none;
			}

			@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-resolution: 120dpi), only screen and (-o-min-device-pixel-ratio: 5/4) {

				// Swap only if .saved-has-hidpi-logo indicates a retina logo exists

				.saved-has-hidpi-logo #saved-logo-regular {
					display: none;
				}

				.saved-has-hidpi-logo #saved-logo-hidpi[width], // show once jQuery adds dimensions from regular (if sooner, Retina logo shows enlarged for split second)
				.no-js .saved-has-hidpi-logo #saved-logo-hidpi // fallback in case JS off
				{
					display: inline-block;
				}

			}

		// Logo Text

		#saved-logo-text {

			position: relative;
			margin: ct-em(4) 0; // so when wraps, is not too close to edge
			left: -2px;
			line-height: 1;
			letter-spacing: ct-em(-0.5);
			white-space: nowrap; // do wrap on mobile at 640

			// Link

			a {

				font-weight: bold;

				// Dark on <span>

				span {
					color: $text-color-dark;
				}

			}

			/* Uppercase logo */

			.saved-has-uppercase & {
				text-transform: uppercase;
			}

		}

			// Size

			#saved-logo-text.saved-logo-text-extra-small {
				font-size: 1em;
			}

			#saved-logo-text.saved-logo-text-small {
				font-size: 1.25em;
			}

			#saved-logo-text.saved-logo-text-medium {
				font-size: 1.5em;
			}

			#saved-logo-text.saved-logo-text-large {
				font-size: 1.75em;
			}

			#saved-logo-text.saved-logo-text-extra-large {
				font-size: 2em;
			}

/*---------------------------------------------
 * Search
 *--------------------------------------------*/

// Search icon

#saved-header-search {

	position: relative;

	.saved-search-button {
		position: relative;
		margin: 0 !important;
	}

}

#saved-header-search-close {
	margin: 0 !important;
	position: relative;
	top: ct-em(-0.5);
}

#saved-header-search-opened {

	display: none;

	.saved-icon {
		padding-top: ct-em(2);
		margin-right: ct-em(-2) !important;
	}

}

#saved-header-search-closed {
	display: inline-block;
	padding-top: ct-em(3);
}

#saved-header-menu {
	display: table-cell;
}

// Search is toggled open

.saved-search-is-open #saved-header-menu,
.saved-search-is-open #saved-header-search-closed {
	display: none;
}

.saved-search-is-open #saved-header-search-opened {
	display: inline-block;
}

// Search form - desktop

#saved-header-search {

	position: relative; // help z-index work
	width: 1%; // minimal width so flush right with social icons
	z-index: 2; // higher than MeanMenu which is moved up over logo/search
	padding-left: ct-em(16);
	text-align: right;

	a {
		color: $text-color-dark;
	}

	form {
		position: relative; // keeps it from being covered by background color on sticky menu scroll
	}

	input[type=text] {
		width: 200px;
		font-size: 0.8em;
		text-transform: none;
		margin-right: ct-em(5);
		padding-left: ct-em(10);
		padding-right: ct-em(10);
	}

	// Search opened, span same space as menu

	.saved-search-is-open & {
		width: auto;
	}

}

	#saved-header-search-opened {

		text-align: right;
		white-space: nowrap;

		> * {
			display: inline-block;
			vertical-align: middle;
			margin-left: ct-em(6);
		}

	}

// Search form - mobile

#saved-header-search-mobile {

	position: relative; // help z-index work
	z-index: 2; // higher than MeanMenu which is moved up over logo/search
	width: auto;
	display: block;
	padding: ct-em(14) 0 ct-em(18) ct-em(11);
	text-align: left;

	a {

		font-size: 1.8em !important;
		margin-left: ct-em(3) !important;
		width: auto;
		float: none;

		&:hover {
			color: #fff !important;
		}

	}

	form {

		position: relative; // keeps it from being covered by background color on sticky menu scroll

		> * {
			vertical-align: middle;
			display: inline-block;
			margin-left: ct-em(6);
		}

	}

	input[type=text] {

		$input-height: ct-em(33);

		padding: 0 ct-em(10);
		width: 150px;
		height: $input-height;
		font-size: 1.1em;
		line-height: $input-height;
		background-color: transparent;
		border-color: #fff !important;
		color: #fff !important;

	}

}

/*---------------------------------------------
 * Search / Icons Divider
 *--------------------------------------------*/

#saved-header-icons-divider {

	width: 1px;
	padding-left: ct-em(8);
	height: 100%;

	div {
		width: 1px;
		height: 35%;
		background-color: #bbb;
	}

}

/*---------------------------------------------
 * Header Icons
 *--------------------------------------------*/

// All Icons (social and search)

#saved-header .saved-icon,
#saved-header .saved-list-icons, {
	font-size: 1.35em;
}

// Social Icons

#saved-header-icons {
	width: 1%; // minimal width so flush right with search icon
	padding-left: ct-em(12);
	white-space: nowrap;
	text-align: right;
}
