
/*---------------------------------------------
 * Homepage Widget Area
 *--------------------------------------------*/

// Push contents of first section down in consideration of header bar
// This pushes contents so those with a background shows through semi-transparent menu bar

#saved-home-main {

	// Prevent horizontal scroll
	overflow: hidden;

	// First section in widget area
	// See what happens for mobile in media-queries.scss

	> *:first-child {

		// Most sections

		&:not(.saved-home-highlights-section):not(.saved-home-secondary-widgets-section):not(.saved-map-section) {

			padding-top: ct-em(52);

			.saved-header-menu-wrapped & {
				padding-top: ct-em(80);
			}

		}

		// Locations

		&.saved-map-section {

			padding-top: ct-em(8);
			margin-top: ct-em(60);

			.saved-header-menu-wrapped & {
				padding-top: ct-em(8);
				margin-top: ct-em(88);
			}

		}

		// Events

		.saved-colored-section-inner {
			margin-top: ct-em(48); // make so there is margin between dates and header bar
		}

		// Highlights + Widgets Sections

		&.saved-home-highlights-section,
		&.saved-home-secondary-widgets-section {

			margin-top: ct-em(60); // margin instead of padding

			.saved-header-menu-wrapped & {
				margin-top: ct-em(88);
			}

		}

	}

}

/*---------------------------------------------
 * Section with Background (Image / Video)
 *--------------------------------------------*/

.saved-bg-section { // .saved-viewport-height-50 (or other size)

	display: table;
	width: 100%;
	position: relative;

	&.saved-map-section {
		display: block;
	}

	// Prepare to fade section in with JS when is first widget

	&.saved-first-home-widget {

		// Hide first section to fade in
		.js & { // .js to prevent this when JS is off
			visibility: hidden; // fade in on load
		}

	}


}

	// Background Image & Video

	.saved-bg-section-media {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
	}


		// Brightness Overlay

		.saved-bg-section-brightness {
			@extend .saved-bg-section-media;
			background-color: #000;
		}

	// Background Image

	.saved-bg-section-image { // faster than :before in FF/Retina

		@extend .saved-bg-section-media;

		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: scroll;

		.saved-bg-section-attachment-fixed & {
			background-attachment: fixed;
		}

		// Hide image if have video and JS available to put it back if mobile needs to show it instead of video
		.js .saved-section-has-video & {
			display: none;
		}

	}

		// No fixed image on mobile - poor support
		// See similar for video below

		@media all and (max-device-width: 1024px) { // most tablets/phones are no larger; don't go too high or affect laptops

			.saved-bg-section-attachment-fixed .saved-bg-section-image {
				background-attachment: scroll;
			}

		}

		.saved-is-mobile .saved-bg-section-image { // catch tablets above 1024px
			background-attachment: scroll;
		}

	// Background Video (first section only)

	#saved-bg-section-video {
		@extend .saved-bg-section-media;
	}

		// Vide video container

		#saved-bg-section-video-vide {

			width: 100%;
			height: 100%;
			opacity: 0.99999; // onloadeddata for fade in doesn't work when set to 1

			// Video element generated by Vide

			video {
				// fixed doesn't work well at section 50vh for some reason
				//position: fixed !important; // override inline position: absolute to keep video in place when scroll, as with background-attachment: scroll
			}

		}

		// Video color overlay
		// Video opacity is 100% and color goes on top because of opacity big w/Chrome on Mac
		// http://stackoverflow.com/questions/40349678/video-with-css-opacity-property-appears-unusually-dim-on-chrome-54-for-mac-onl

		#saved-bg-section-video-color {
			@extend .saved-bg-section-media;
		}

	// Inner

	.saved-bg-section-inner {
		display: table-cell;
		position: relative; // bring content to top
		z-index: 1; // bring content to top - above video
		vertical-align: middle;
		text-align: left;
	}

		// Content

		.saved-bg-section-content {

			@extend .saved-centered-large;
			@extend .saved-vertical-padding-large;

			// Less margin for "Fit" setting

			.saved-viewport-height-0 & { // 0 is "Fit" option
				@extend .saved-vertical-padding-medium;
			}

			// More padding if first section

			.saved-first-home-widget & {
				margin-top: ct-em(5);
				margin-bottom: ct-em(5);
			}


			text-align: left;

			// Constrain width of content for readability

			& > * {

				@extend .saved-constrained-image-content;

				// Centered text

				.saved-section-is-centered & {
					@extend .saved-centered;
					text-align: center;
				}

			}

			// Remove top and bottom margins

			> *:first-child {
				margin-top: 0;
			}

			> *:last-child {
				margin-bottom: 0;
			}

			// Heading

			h1 { // first widget only

				font-size: 4.2em;
				letter-spacing: ct-em(-0.5);

				// More space on top when no accent

				.saved-no-heading-accents & {
					margin-top: ct-em(2);
				}

			}

			h1, h2 { // h1 is first widget, h2 is others
 				@extend .saved-text-over-image; // imperceptible shadow to make text contrast with background image
			}

			h2 { // h2 used when not first widget
				font-size: 2.7em;
				letter-spacing: ct-em(-0.5);
			}

			.saved-section-is-centered:not(.saved-section-orientation-horizontal) & {
				@include saved-remove-heading-line(); // doesn't center well
			}

			// Text

			.saved-bg-section-text {

				font-size: 1.3rem;
				line-height: 1.7;

				// Bigger if first widget on homepage

				.saved-first-home-widget & {
					font-size: 1.4rem;
					line-height: 1.6;
				}

				// Italic if starts with "

				&.saved-bg-section-text-quote {
					font-style: italic;
				}

				// White text when use blockquote

				blockquote {
					color: #fff;
				}

 				@extend .saved-text-over-image; // imperceptible shadow to make text contrast with background image

 				p {

 					margin: ct-em(15) 0 !important;

 					&:first-child {

 						margin-top: 0;

						// More space on top before title

						.saved-section-orientation-vertical.saved-section-has-title & {
							padding-top: ct-em(4);
						}

 					}

 					&:last-child {
 						margin-bottom: 0;
 					}

 				}

				// Large Text

				.saved-section-has-large-text & {
					line-height: 1.4;
					font-size: 2.2rem;
				}

			}

			// Buttons

			.saved-section-bg-buttons {

				@extend .saved-vertical-margin-top-medium-content;
				padding-bottom: ct-em(8);

				.saved-section-orientation-vertical.saved-section-has-title &,
				.saved-section-orientation-vertical.saved-section-has-content & {
					padding-top: ct-em(10);
				}

			}

			// Horizontal orientation

			.saved-section-orientation-horizontal & {

				display: table;
				width: 100%;

				// Move contents up a little

				h1, h2,
				.saved-bg-section-text {
					position: relative;
					top: -1px;
				}

				// Columns

				h1, h2,
				.saved-bg-section-text,
				.saved-section-bg-buttons {
					display: table-cell;
				}

				// Title

				h1, h2 {
	          		width: 1%;
	          		position: relative;
	          		top: ct-em(1);
	          		padding-right: ct-em(25);
	          		@extend .saved-h3; // same size as h3
	          		white-space: nowrap;
				}

				// Text

				.saved-bg-section-text {
					//padding-top: ct-em(2);
				}

				// Buttons

				.saved-section-bg-buttons {

	          		padding-left: ct-em(30);
					padding-top: ct-em(21);
					vertical-align: top;

		          	@extend .saved-clearfix;

					ul {
						float: right;
		          		white-space: nowrap;
		          	}

				}

			}

		}

/*---------------------------------------------
 * Section with Image (Left or Right Side)
 *--------------------------------------------*/

.saved-image-section {

	position: relative;

	// Min height when have image

	&.saved-image-section-has-image {
		min-height: 350px;
	}

}

	.saved-image-section-image {

		position: absolute;
		top: 0;
		width: 38%;
		height: 100%;
		background-size: cover;
		background-position: center center;

		// Align image right if have class

		.saved-image-section-has-image.saved-image-section-image-right & {
			right: 0;
		}

	}

	.saved-image-section-content { // .saved-centered-large

		@extend .saved-vertical-padding-medium;

		position: relative;

		// Align entries right if have image on left

		.saved-image-section-has-image.saved-image-section-image-left & {
			text-align: right;
		}

	}

		.saved-image-section-content-inner {

			display: inline-block;
			padding: ct-em(5) 0 ct-em(10) 0; // add to .saved-vertical-padding-medium above
			text-align: left;

			// Limit width of entries when have image on side

			.saved-image-section-has-image & {

				// Adjust width based on screen size
				// See style.css and resize browser window to see result

				width: 75%; // higher than 3000

				$img-percent: 74%;
				@for $i from 30 through 10 { // 1000px through 3000px

					$img-max-width: $i * 100px;
					$img-percent: $img-percent - 0.9%;

					@media only screen and (max-width: $img-max-width) {
						width: $img-percent;
					}

				}

			}

			.saved-loop-entries {

				// Remove centering applied by .saved-loop-three-columns: @extend .saved-centered-medium;
				margin-left: 0;
				margin-right: 0;

			}

			// Widget Title

			.saved-widget-title { // <h2>

				@extend .saved-vertical-margin-bottom-small;

				padding-bottom: ct-em(3); // add to .saved-vertical-margin-bottom-small
				margin-top: ct-em(-3);
				font-size: 2.7em;
				letter-spacing: ct-em(-0.5);

			}

			// Button at right of title

			.saved-image-section-title-button {
				float: right;
				margin: ct-em(18) 0 0 ct-em(15);
			}

			// Buttons at bottom

			.saved-image-section-buttons {
				@extend .saved-vertical-margin-top-small;
				padding-top: ct-em(10);
			}

			// Prevent unexpected margins at top/bottom when don't have title, desc and buttons

			> *:first-child {
				margin-top: 0 !important;
				padding-top: 0 !important;
			}

			> *:last-child {
				margin-bottom: 0 !important;
				padding-bottom: 0 !important;
			}

		}

			.saved-image-section-text {

				margin-top: ct-em(-10); // move up to account for line height

				// No margins on first or lest element (for when no title)

				> *:first-child {
					margin-top: 0;
				}

				> *:last-child {
					margin-bottom: 0;
				}


				p {

					// First paragraph larger text

					&:first-child {
						font-size: 1.3em;
					}

				}

				// Lists

				ul {

					margin-left: ct-em(20);
					padding-top: ct-em(1);
					font-style: italic;

					li {
						margin-top: ct-em(7);
					}

				}

			}

/*---------------------------------------------
 * Colored Section (Main Color) - Events uses
 *--------------------------------------------*/

.saved-colored-section-inner { // .saved-color-main-bg
	height: ct-em(148);
	max-height: ct-em(148);
	overflow: hidden; // if space runs out for elements, they drop to next line invisibly
}

	.saved-colored-section-content { // .saved-centered-large
		display: table;
		width: 100%;
	}

		.saved-colored-section-entries {
			display: table-cell;
			vertical-align: top;
		}

			.saved-colored-section-entry { // <article>

				display: inline-block;
				margin-right: 5.5%;
				margin-bottom: ct-em(50); // if space runs out for elements, they drop to next line invisibly
				vertical-align: top;

				// Limit width; show ... before overflow

				max-width: ct-em(150);

				> *:not(.saved-colored-section-label) { // all elements inside except date
					min-width: ct-em(125);
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					color: #fff;
				}

			}

				.saved-colored-section-label { // e.g. date

					display: inline-block;
					padding: ct-em(7.5) ct-em(8.5);
					vertical-align: top;
					line-height: 1;
					font-size: 0.75em;
					background-color: #fff;
					color: $text-color-dark;

					border-bottom-left-radius: $box-border-radius;
					border-bottom-right-radius: $box-border-radius;

					.saved-first-home-widget & {
						border-top-left-radius: $box-border-radius;
						border-top-right-radius: $box-border-radius;
					}

					@include saved-uppercase();

				}

				.saved-colored-section-title { // <h3>

					margin: ct-em(33) 0 ct-em(2) 0;
					line-height: 1.6;
					font-size: 0.95em;
					text-transform: none !important;

					a {
						border-width: 0 0 2px 0;
						border-style: solid;
					}

				}

				.saved-colored-section-meta { // e.g. time
					font-style: italic;
					font-size: 0.8em;
				}

		.saved-colored-section-button {

			display: table-cell;
			vertical-align: top;
			padding-left: ct-em(8);
			text-align: right;

			a {
				position: relative;
				top: ct-em(61);
				white-space: nowrap;
			}

		}

			.saved-colored-section-button-short {
				display: none; // "More" shows on mobile insread of "More Events"
			}

/*---------------------------------------------
 * Highlights Section (Row)
 *--------------------------------------------*/

// See saved_home_highlight_widget_section() for container tags

// Section Container

.saved-home-highlights-section {
	@extend .saved-vertical-padding-medium;
}

	// Content

	.saved-home-highlights-content {

		@extend .saved-centered-large;
		@extend .saved-clearfix;

		padding-top: ct-em(10); // extra for saved-vertical-padding-medium above
		padding-bottom: ct-em(10); // extra for saved-vertical-padding-medium above
		font-size: 0.85em;

		h2 {
			@extend .saved-h3;
			@extend .saved-vertical-margin-bottom-small;
			margin-top: 0;
			margin-bottom: 0 !important;
			font-size: 1.9em;
		}

	}

	// Columns

	.saved-highlights-four-columns { // .saved-home-highlights-content
		@include saved-highlights-four-columns();
	}

	.saved-highlights-three-columns {
		@include saved-highlights-three-columns();
	}

	.saved-highlights-two-columns {
		@include saved-highlights-two-columns();
	}

	.saved-highlights-one-column {
		@include saved-highlights-one-column();
	}

/*---------------------------------------------
 * Secondary Widgets Section (Row)
 *--------------------------------------------*/

// See saved_home_secondary_widgets_section() for container tags

// Section Container

.saved-home-secondary-widgets-section { // .saved-widgets-row

	@extend .saved-vertical-padding-medium;

	.saved-widgets-row-inner { // .saved-centered-large
		padding: ct-em(15) 0;
	}

}

/*---------------------------------------------
 * Gallery Section
 *--------------------------------------------*/

.saved-gallery-section {
	overflow: hidden; // see negative margin-right below
}

	.saved-gallery-section-content {

		$gallery-items-per-row: 5;
		$gallery-item-width: 100% / $gallery-items-per-row;
		$gallery-item-margin: ct-em(30);

		.gallery {
			margin: 0;
			margin-right: 0;
		}

			.gallery-item {
				//display: inline-block;
				margin-right: 0;
				//float: none;
				width: calc( #{$gallery-item-width} );
			}

	}

		.saved-gallery-section-header {

			@extend .saved-vertical-margin-bottom-small;

			.saved-gallery-section-has-title & {
				@extend .saved-vertical-margin-top-small;
			}

			position: relative;
			padding-bottom: ct-em(5); // add to .saved-vertical-margin-bottom-small
			margin-top: ct-em(-3);

			.saved-widget-title { // <h2>
				display: inline-block;
				margin: 0;
				font-size: 2.7em;
				letter-spacing: ct-em(-0.5);
			}

			.saved-button {
				float: right;
				margin: ct-em(28) 0 0 ct-em(30) !important;
			}

		}
