
/*---------------------------------------------
 * MediaElement.js
 *--------------------------------------------*/

// Flat Design (Remove Gradients)

// Move time down (too high after WP 4.1, but fine from 4.9 and on when MediaElement.js was updated in core)

.saved-wp-4-8-or-less .hentry .mejs-time {
	padding-top: 10px !important;
}

// Make video span 100% of screen (default is 640px)

.wp-video {
	min-width: 99%; // 100% is more likely to show black edges
}

// Remove yellow border on play button

.hentry .mejs-controls .mejs-button button:focus {
	outline: none;
}

// Control Bar

.hentry .mejs-container .mejs-controls {
	background: #222;
}

// Grayscale total rail (before play)

.hentry .mejs-controls .mejs-time-rail .mejs-time-total {
	background: #555;
}

// Grayscale loading rail

.hentry .mejs-controls .mejs-time-rail .mejs-time-loaded { // grayscale progress bar
	background: #828282;
}

// Grayscale time rail

.hentry .mejs-controls .mejs-time-rail .mejs-time-current {
	background: #d2d2d2;
}

// Volume slider total

.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
	background: #555;
}

// Volume slider value

.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	background: #d2d2d2;
}

/*---------------------------------------------
 * jQuery Dropdown
 *--------------------------------------------*/

// https://github.com/claviska/jquery-dropdown

.jq-dropdown {

	position: absolute;
	z-index: 99999;
	display: none;

	a {
		font-weight: normal;
	}

	.jq-dropdown-menu,
	.jq-dropdown-panel {

		min-width: 160px;
		max-width: 200px;
		list-style: none;
		overflow: visible;
		margin: ct-em(4) 0 0 0;
		padding: ct-em(10) ct-em(13) ct-em(5) ct-em(13);
		font-size: 0.95em;
		@include saved-box();

		a {
			color: #fff;
		}

	}

	.jq-dropdown-menu {

		//padding: ct-em(10) ct-em(10);

		li {
			margin: ct-em(4) 0;
		}

	}

}

// PJAX implemetation forward/back doesn't update dropdown content, so don't differenti

.jq-dropdown li.jq-dropdown-selected a {
	font-weight: bold;
}

/*---------------------------------------------
 * Tooltipster
 *--------------------------------------------*/

// MIT License: http://iamceege.github.io/tooltipster/
// This is the default Tooltipster theme (feel free to modify or duplicate and create multiple themes!):

// Custom Theme (tooltipster-bundle.css has base styles)

.tooltipster-sidetip.saved-tooltipster .tooltipster-box {

	margin: 0 ct-em(10);
	padding: 0;
	border: 0;
	@include saved-box();

	.tooltipster-content {
		padding: ct-em(10) ct-em(14);
		border-radius: 1px;
		overflow: hidden;
		font-size: 0.8em;
		font-style: italic;
		color: #fff;
	}

}

// See events.scss for calendar tooltips (hover on event)

/*---------------------------------------------
 * ScrollReveal
 *--------------------------------------------*/

// Hide scroll reveal elements before load so no flicker
// Recommended by ScrollReveal docs

// ScrollReveal supported
.sr {

	.saved-bg-section.saved-first-home-widget .saved-bg-section-content h1,
	.saved-bg-section.saved-first-home-widget .saved-bg-section-text,
	.saved-bg-section.saved-first-home-widget .saved-section-bg-buttons,
	.saved-bg-section:not(.saved-first-home-widget).saved-section-has-image .saved-bg-section-content,
	.saved-home-highlights-section .saved-caption-image,
	.saved-image-section.saved-image-section-has-image .saved-image-section-image,
	.saved-image-section.saved-image-section-image-left .saved-image-section-content,
	.saved-image-section.saved-image-section-image-right .saved-image-section-content,
	.saved-image-section.saved-image-section-no-image .saved-image-section-content,
	.saved-gallery-section .gallery-item,
	#saved-banner-title,
	.saved-entry-full-content img.alignnone, .saved-entry-full-content img.aligncenter,
	.saved-entry-full-content blockquote {
		visibility: hidden;
	}

}
