
// These styles are for WordPress-generated elements and classes

/*---------------------------------------------
 * WordPress Images
 *--------------------------------------------*/

.alignnone {
	@extend .saved-vertical-margin-small;
}

p .alignnone {
	margin-top: ct-em(12);
	margin-bottom: ct-em(12);
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	@extend .saved-vertical-margin-small;
}

.alignleft {
	float: left;
	margin: ct-em(20) ct-em(35) ct-em(20) 0;
}

.alignright {
	float: right;
	margin: ct-em(20) 0 ct-em(20) ct-em(40);
}

.wp-caption {
	max-width: 100%;
	text-align: center;
}

.wp-caption-text,
.wp-caption-dd // editor
{
	@extend .saved-light;
	margin: ct-em(8) 0 0 0;
	padding: 0 ct-em(5);
	font-size: 0.8em;
	font-style: italic;
	line-height: 1.5;
}
