
ul.eab-guest-list li {
    float: left;
    padding: 2px;
}

.misc-eab-section label {
    vertical-align: text-top;
}
.misc-eab-section label.eab-inline-label {
    width: auto;
}

.misc-eab-section label textarea {
    width: 255px;
    margin-top: 5px;
}

#eab-add-more-bank, #eab-add-more {
    display: none;
}

.eab_meta_box {
}

.misc-eab-section {
}

.eab-section-heading {
    font-style: italic;
}

.eab-section-block {
    float: left;
}

#eab-add-more-button{
	text-decoration: none;
	font-size: 12px!important;
	line-height: 13px;
	padding: 5px 15px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-khtml-border-radius: 11px;
	border-radius: 11px;
	font-weight: bold;
	margin-top: 10px;
	-khtml-box-sizing: content-box;
	box-sizing: content-box;
	background-color: #f6f6f6;
	background-image: linear-gradient(top, rgb(246, 246, 246), rgb(240, 239, 239));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f6f6f6', EndColorStr='#f0efef');
}

#eab-add-more-rows {
    float: left;
}

.eab-section-heading {
    margin: 3px 0px;
}

#icon-events-general {
    background-image: url(../img/mid-greyscale.png);
}

#icon-edit.icon32-posts-incsub_event, #icon-post.icon32-posts-incsub_event {
    background: url(../img/mid-greyscale.png) no-repeat;
}



a.eab-info {
    width: 30px;
	height: 30px;
	background: url(../img/information.png) 10px 12px no-repeat;
    text-decoration: none;
    display: inline-block;
}

div.eab-help-content {
    display: none;
    border: 1px dotted #C2E655;
    background: #FFFFE0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 5px;
}

fieldset.eab-settings-section label {
    margin: 3px 0px;
    display: inline-block;
}

fieldset.eab-settings-section {
    border: 1px solid #DFDFDF;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 5px;
    margin: 5px 0px;
}

fieldset.eab-settings-section legend {
    background-color: #DFDFDF;
    width: 100%;
    padding: 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}



.eab-expand-metabox {
    float: right;
    display: none;
}

div.postbox.closed .eab-expand-metabox {
    display: inline;
    color: #21759B;
    text-decoration: underline;
    cursor: pointer;
	font-size: 12px;
}

div.eab-metaboxcol-two {
    width: 50%;
    float: left;
}

div.eab-metabox {
    margin: 0 0 10px 0;
}

.eab-metabox h3.eab-hndle {
	cursor: default;
    border-bottom:1px solid #e5e5e5;
}

div.eab-minimetabox {
    margin: 5px;
}

div.eab-inside {
    margin: 7px 5px 10px 5px;
}

.eab-dashboard-footer {
    margin-top: 5px;
}

.eab-dev-logo a {
    background: url(../img/wpmudev-logo.png) no-repeat scroll 0 0 transparent;
    color: #2C2D2D;
    display: block;
    float: right;
    font-size: 16px;
    height: 50px;
    margin: 0;
    text-decoration: none;
    width: 180px;
}

.eab-inside li {
    line-height: 30px;
	border-bottom: 1px solid #DDD;
	font-weight: bold;
	text-shadow: -1px -1px 0px white;
}

a.eab-goto-step {
    float: right;
}

#incsub-event-wizard .inside, #incsub-event-wizard .handlediv {
    display: none;
}

#incsub-event-wizard .hndle {
    cursor: default !important;
}

#incsub-event-wizard .eab-expand-metabox {
    display: inline;
    font-size: 1em;
}

input.error {
    background-color: #FFEBE8;
    border-color: #CC0000;
}

.eab-settings-settings_item {
	overflow: hidden;
	border-bottom:1px solid #dddddd;
    padding:10px;
}

.eab-inside .eab-settings-settings_item:last-child {
    border-bottom:none;
}

.eab-settings-settings_item:hover {
	background-color: #f2f2f2;
}

#eab-arf-new_additional_field-add {
    vertical-align: middle;
}

.eab-settings-settings_item label {
    max-width: 175px;
    display: inline-block;
    width: 25%;
    line-height: 20px;
    margin-right:3%;
}



.eab-inside{
	line-height: 40px;
}

.eab_meta_column_box{
	border-bottom: 1px solid #DFDFDF;
	padding: 10px 0px;
	margin: 5px 0px;
	font-weight: bold;
}

.top{margin: 0 0 5px 0;}

.incsub_event_page_eab_settings #wpbody-content .metabox-holder
.incsub_event_page_eab_welcome #wpbody-content .metabox-holder
{
	padding-top:0px;
}

.incsub_event-fee_row{
	clear:both;
	margin-top:10px;
}

.eab-note{background-color: #ffffde;
border: 1px solid #E6DB55;padding:0 10px;margin-bottom:10px;}

#eab_addons_hub {
    line-height: 1.6em;
}
#eab_addons_hub .filters {
    font-size: .9em;
}
#eab_addons_hub .filters a.selected {
    font-weight: bold;
    color: #333;
}

#eab_addons_hub .section {
    float: left;
    margin-right: 2em;
}

#eab-add-more-rows .eab-event-remove_time {
    font-style: normal;
    padding-left: 2em;
    font-size: .8em;
}

.eab-metaboxcol.columns-2 .postbox-container {
    float: left;
    width: 49%;
}
.eab-metaboxcol.columns-2 .eab-postbox_container-last {
    float: right;
}

.eab_deactivate_plugin {
    color: #BC0B0B;
}


.tabbed #eab-root-settings_nav {
    width: 19%;
    float: left;
}
.tabbed #eab-root-settings_nav h3 {
    border: 1px solid #eee;
    background: transparent;
    cursor: pointer;
    font-size: 1.1em;
    padding: 3px;
}
.tabbed #eab-root-settings_nav h3.active {
    background: #2ea2cc;
    border: 1px solid #2ea2cc;
    color: white;
}
.tabbed .eab-metabox.postbox {
    width: 80%;
    float: right;
}
.tabbed .submit {
    text-align: right;
    clear: right;
}

.eab-loading-cover {
    display: none;
}
.eab-loading-cover.tabbable {
    display: block;
    position: absolute;
    top: 0; bottom: 0; left: -20px; right: 0;
    background-color: #eee;
}
.eab-loading-cover.tabbable h1 {
    position: relative;
    top: 30%;
    text-align: center;
    margin: 0; padding: 0;
    color: #ddd;
}
.wrap.tabbable.hide {
    display: none;
}

/**
 * Add User form bit
 */
.eab-add_attendance {
    border: 1px solid rgb(238, 238, 238);
    padding: 5px;
    margin: 5px 0;
}
.eab-add_attendance legend {
    padding: 0 5px;
}
.eab-add_attendance label {
    margin-left: 5px;
}
.eab-add_attendance .eab-attendance-email,
.eab-add_attendance .eab-attendance-status
{
    margin-right: 15px;
}


/**
 * Pointer tutorial fixes...
 */
.eab_tutorial-pointer .dismiss {
    margin: 0 .7em;
}
.eab_tutorial-pointer .wp-pointer-buttons {
    text-align: center;
}
.eab_tutorial-pointer .wp-pointer-buttons a {
    float: none;
    line-height: 2em;
}

input.incsub_event_date, input.incsub_event_time{
	font-size: 10px;
	padding: 3px;
}

.eab-start-section{
	margin-top: 5px;
	margin-bottom: 5px;
}

/**
* Event Editor Sidebar Date and Time Design Fix
**/
label[for^="incsub_event_start_"], label[for^="incsub_event_end_"] {
    display: block;
    margin-top: 10px;
}
label[for^="incsub_event_start_"] span, label[for^="incsub_event_end_"] span {
    font-weight: bold;
    display: block;
}
.eab-section-block {
    border-top: 1px solid #d7d7d7;
    margin: 10px 0;
}


/* 378760-1512586810-ai */