#wpmudevevents-wrapper{
	font:100%/1.7em Arial, serif;
}

#wpmudevevents-single{
	overflow: hidden;
}

.wpmudevevents-list{
	overflow: hidden;
	padding-top: 10px;
}

.wpmudevevents-header{
	overflow: hidden;
}

.wpmudevevents-buttons{
	float: right;
	padding: 10px 0;
	margin-bottom: 10px;
	overflow: hidden;
}

.wpmudevevents-list .wpmudevevents-buttons{
    clear: left;
	float: left;
	padding: 10px 0;
	margin-bottom: 10px;
}

.wpmudevevents-list .wpmudevevents-buttons input {
    float: right;
}

#wpmudevevents-payment{
	background: #ffffe8;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #efef1a;
}

#wpmudevevents-payment form {
    display: inline;
}

.wpmudevevents-content{
	overflow: hidden;
}

#wpmudevevents-contentheader{
	overflow: hidden;
	padding-top: 10px;
}

#wpmudevevents-user{
	float: right;
	background: url('../img/131.png') 0 5px no-repeat;
	padding: 0 0 0 20px;
}

.wpmudevevents-contentmeta{
	overflow: hidden;
	padding: 10px 0 0 0;
}

.wpmudevevents-list .wpmudevevents-contentmeta{
	overflow: hidden;
	padding: 0;
}

.wpmudevevents-date{
	float: left;
	margin: 0 20px 0 0;
	background: url('../img/018.png') 0 5px no-repeat;
	padding: 0 0 0 20px;
}

.wpmudevevents-location{
	float: left;
	margin: 0 20px 0 0;
	background: url('../img/052.png') 0 5px no-repeat;
	padding: 0 0 0 20px;
}

.wpmudevevents-price{
	float: left;
	margin: 0 20px 0 0;
	background: url('../img/028.png') 0 5px no-repeat;
	padding: 0 0 0 20px;
}

#wpmudevevents-contentbody{
	overflow: hidden;
	padding: 0 0 10px 0;
}

#wpmudevevents-wrapper h2{
	float: left;
	font-size: 1.9em;
	margin: 10px 0;
	padding: 0;
}

#wpmudevevents-wrapper h3{
	font-size: 1.2em;
	float: left;
	margin: 0 0 10px 0;
	padding: 0;
}

#wpmudevevents-wrapper h3 a{
	color: #75ab24;
}

a.wpmudevevents-viewevent{
	float: right;
	color: #75ab24;
    cursor: pointer;
    display: inline-block;
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    padding: 5px 14px 6px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    line-height: normal;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    transition: 0.1s linear all;
	text-decoration:none;
}

.no-touch a:hover.wpmudevevents-viewevent{
    background-position: 0 -15px;
    text-decoration: none;
}

a.wpmudevevents-viewrsvps {
    margin: 0 10px 0 0;
}

a.wpmudevevents-yes-submit, input.wpmudevevents-yes-submit{
	float: center;
	color: #75ab24;
    cursor: pointer;
    display: inline-block;
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    padding: 5px 9px 6px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    line-height: normal;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    transition: 0.1s linear all;
	text-decoration:none;
}

.no-touch .wpmudevevents-yes-submit:hover{
	background: #f5f5f5;
}

.wpmudevevents-list .wpmudevevents-yes-submit{
	float: left;
	margin: 0 10px 0 0;
}

a.wpmudevevents-maybe-submit, input.wpmudevevents-maybe-submit{
	float: center;
	color: #bd8728;
    cursor: pointer;
    display: inline-block;
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    padding: 5px 9px 6px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    line-height: normal;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    transition: 0.1s linear all;
	text-decoration:none;
}

.no-touch .wpmudevevents-maybe-submit:hover{
	background: #f5f5f5;
}

.wpmudevevents-list .wpmudevevents-maybe-submit{
	float: left;
	margin: 0 10px 0 0;
}

a.wpmudevevents-no-submit, input.wpmudevevents-no-submit{
	float: center;
	color: #bd3328;
    cursor: pointer;
    display: inline-block;
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    padding: 5px 9px 6px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    line-height: normal;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    transition: 0.1s linear all;
	text-decoration:none;
}

.no-touch .wpmudevevents-no-submit:hover{
	background: #f5f5f5;
}

.wpmudevevents-list .wpmudevevents-no-submit{
	float: left;
	margin: 0 10px 0 0;
}

#wpmudevevents-wrapper .wpmudevevents-notpaid-submit{
	color: #75ab24;
	font-weight: bold;
}

#wpmudevevents-wrapper hr{
	display:block;
	height:1px;
	border:0;
	border-top:1px dashed #aaaaaa;
	margin:0;
	padding:0;
	clear: both;
}

div.wpmudevevents-buttons .current {
    font-weight: bold;
    background-color: white;
}

div.wpmudevevents-buttons .ncurrent {
    opacity: 0.4;
}

div.message {
    border: 1px solid;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 10px;
    margin: 10px 0px;
}

div.message.success {
    border-color: #7eaa4b;
    background-color: #e2f2d1;
}

div.wpmudevevents-list div.event {
    margin-top: 5px;
}

div.wpmudevevents-attendees ul.eab-guest-list {
    list-style: none;
    margin: 0;
}

.hide-if-no-js {
    display: none;
}

#wpmudevevents-rsvps {
    /*float: left;*/
    margin-bottom: 10px;
    overflow: hidden;
    padding: 10px 0;
}
.wpmudevevents-attendees h4 {
	clear: both;
}

#wpmudevevents-hide-rsvps, #wpmudevevents-load-rsvps {
    float: left;
    margin-left: 10px;
}

#wpmudevevents-hide-rsvps, #wpmudevevents-load-rsvps, a.wpmudevevents-login_link-cancel {
	float: center;
	color: #333;
    cursor: pointer;
    display: inline-block;
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    padding: 5px 14px 6px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    line-height: normal;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    transition: 0.1s linear all;
	text-decoration:none;
}

.wpmudevevents-yes-submit, .wpmudevevents-maybe-submit, .wpmudevevents-no-submit {
	margin-right: 10px;
}

/* ----- API logins ----- */
a.wpmudevevents-yes-submit.active, a.wpmudevevents-maybe-submit.active, a.wpmudevevents-no-submit.active {
	text-decoration: none;
}
#wpmudevevents-login_links-wrapper {
	margin: 10px;
	padding: 5px;
}
.wpmudevevents-login_links {
	margin: 0;
	padding: 0;
	list-style: none;
}

a.wpmudevevents-login_link-facebook {
  cursor: pointer;
  display: inline-block;
  background: #3B5998 url(../img/facebook.png) 5px 5px no-repeat;
  padding: 5px 14px 6px 30px;
  text-shadow: 0 1px 1px #333;
  color: #fff;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #2a406d;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: 0.1s linear all;
  margin-bottom: 5px;
}
.no-touch a.wpmudevevents-login_link-facebook:hover, a.wpmudevevents-login_link-facebook.active {
  background: #2a406d url(../img/facebook.png) 5px 5px no-repeat;
  color: #fff;
  text-decoration: none;
}

a.wpmudevevents-login_link-twitter {
  cursor: pointer;
  display: inline-block;
  background: #439eb8 url(../img/twitter.png) 5px 5px no-repeat;
  padding: 5px 14px 6px 30px;
  text-shadow: 0 1px 1px #333;
  color: #fff;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #39859b;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: 0.1s linear all;
  margin-bottom: 5px;
}
.no-touch a.wpmudevevents-login_link-twitter:hover, a.wpmudevevents-login_link-twitter.active {
  background: #39859b url(../img/twitter.png) 5px 5px no-repeat;
  color: #fff;
  text-decoration: none;
}

a.wpmudevevents-login_link-google {
  cursor: pointer;
  display: inline-block;
  background: #94E3F9 url(../img/google.png) 5px 5px no-repeat;
  padding: 5px 14px 6px 30px;
  text-shadow: 0 1px 1px #333;
  color: #fff;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #439eb8;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: 0.1s linear all;
  margin-bottom: 5px;
}
.no-touch a.wpmudevevents-login_link-google:hover, a.wpmudevevents-login_link-google.active {
  background: #439eb8 url(../img/google.png) 5px 5px no-repeat;
  color: #fff;
  text-decoration: none;
}

a.wpmudevevents-login_link-wordpress {
  cursor: pointer;
  display: inline-block;
  background: #777 url(../img/wordpress.png) 5px 5px no-repeat;
  padding: 5px 14px 6px 30px;
  text-shadow: 0 1px 1px #111;
  color: #fff;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #444;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: 0.1s linear all;
  margin-bottom: 5px;
}
.no-touch a.wpmudevevents-login_link-wordpress:hover, a.wpmudevevents-login_link-wordpress.active {
  background: #444 url(../img/wordpress.png) 5px 5px no-repeat;
  color: #fff;
  text-decoration: none;
}

#eab-wordpress_login-background {
	position: absolute;
	z-index: 9998;
	top: 0;
	left: 0;
	background: #333;
	opacity: .75;
}
#eab-wordpress_login-wrapper {
	position: fixed;
	z-index: 9999;
	width: 300px;
	top: 50px;
	background: #fff;
	padding: 10px;
	overflow: hidden;
	border-radius: 4px;
	border: 4px solid #eee;
}
#eab-wordpress_login-command_wrapper {
	float: right;
}
#eab-wordpress_login-wrapper .eab-wordpress_login-element {
	overflow: hidden;
	color: #333;
}
#eab-wordpress_login-wrapper .eab-wordpress_login-element.eab-wordpress_login-element-message {
	color: #999;
	font-style: italic;
}
#eab-wordpress_login-wrapper .eab-wordpress_login-element label {
	width: 75px;
	float: left;
	font-weight: bold;
}
#eab-wordpress_login-wrapper .eab-wordpress_login-element input {
	width: 175px;
	float: right;
        border: 1px solid #ccc;
        padding: 3px 0;
}

.wpmudevevents-date var,
var.eab-date_format-date,
var.eab-date_format-time
{
  font-style: normal;
}

/**
 * Added by Ashok
 *
 * New UI design for iCal and gCal export button
 */
a.export_to_ical, a.export_to_gcal{
    position: relative;
    display: inline-block;
    color: #555;
    box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);
    border-color: #ccc;
    background: #f7f7f7;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 26px;
    margin: 0;
    padding: 2px 10px 4px 40px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
}

a.export_to_ical:before, a.export_to_ical:after, a.export_to_gcal:before, a.export_to_gcal:after {
    content: "";
    position: absolute;
    top: 40%;
    left: 10px;
}

a.export_to_ical:before, a.export_to_gcal:before {
    width: 18px;
    height: 15px;
    border: 3px solid #555;
    border-top: 0;
    margin-top: -7px;
    background: transparent;
    box-sizing: content-box;
}

a.export_to_ical:after, a.export_to_gcal:after {
    left: 17px;
    border-width: 8px 5px 0;
    border-style: solid;
    border-color: #555 transparent;
    margin-top: -5px;
    background: transparent;
}

.wpmudevevents-additional_details{
    margin-bottom: 20px;
}

#eab-wordpress_login-mode_toggle a{
        font-style: italic;
        font-size: 80%;
        color: #000;
}

#eab-wordpress_login-command_wrapper{
        margin-top: 10px;
}

#eab-wordpress_login-command_wrapper input{
        background: #000;
        color: #fff;
        padding: 5px 10px;
        margin-left: 10px;
}


/* 378760-1512586810-ai */