.wpmudevevents-upcoming_calendar_widget-event {
	font-size: 1.2em;
	text-decoration: none;
	margin-top: .8em;
}
.wpmudevevents-upcoming_calendar_widget-event-info {
	display: block;
	font-size: .8em;
}


/* 378760-1512586810-ai */