#wpmudevevents-wrapper {
	padding: 1em;
}
.wpmudevevents-list {
	clear: both;
	padding: 1em;
}
.wpmudevevents-list table {
	width: 100%;
	border-collapse: collapse;
}
.wpmudevevents-list table th {
	width: 12%;
	background: #333;
	color: #ddd;
	padding: .4em;
	cursor: default;
}
.wpmudevevents-list table td {
	border: 1px solid #ddd;
	height: 60px;
}
.wpmudevevents-list table td.today {
	background: #ddd;
}

.wpmudevevents-list table td.now {
	background: #ddf;
}

a.wpmudevevents-calendar-event {
	display: block;
	margin: .2em;
	padding: .1em .4em;
	background: #75AB24;
	color: #fff;
	text-decoration: none;
	border: 1px solid #558B04;
	border-radius: 5px;
}
a.wpmudevevents-calendar-event:hover {
	background: #659B14;
	text-decoration: none;
}

.wpmudevevents-calendar-event-info {
	display: none;
	position: absolute;
	padding: .4em;
	min-width: 200px;
	background: #464646;
	margin-top: 1em;
	border: 1px solid #262626;
	border-radius: 5px;
}

.wpmudevevents-weekly-calendar-hours-mins{
font-weight:bold;
font-size:0.8em;
text-align:center;
}

.wpmudevevents-calendar-avatar, .wpmudevevents-calendar-thumbnail{
float:left; width:80px;margin:5px;
}

.wpmudevevents-calendar-author, .wpmudevevents-calendar-venue, .wpmudevevents-calendar-start{
font-weight:bold;font-size:larger;float:left;width:200px;
}

.wpmudevevents-calendar-bio, .wpmudevevents-calendar-content{
float:left;width:200px;
}


/* 378760-1512586810-ai */