select.bcat_category_widget {
	width: 100%;
}

#site-categories-settings-main-categories-display-options-panel div.site-categories-parent-child-left {
	float: left;
	width: 30%;
}

#site-categories-settings-main-categories-display-options-panel div.site-categories-parent-child-right {
	float: left;
	width: 30%;
	margin-left: 10px;
}

#bcat_image_upload {
	width: 100px;
}


/* 506887-1520105474-ai */