.coursepress_wrapper .page-tagline {
  font-size: 16px;
  font-weight: 200;
}
.coursepress_wrapper .dropdown {
  min-width: 300px;
}
.coursepress_wrapper .cp-box {
  display: inline-block;
  vertical-align: bottom;
}
.coursepress_wrapper .cp-box label {
  font-weight: 700;
  padding-bottom: 5px;
  display: block;
}
.coursepress_wrapper .cp-progress-indicator {
  font-size: 13px !important;
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  color: #008ec2;
}
.coursepress_wrapper .cp-progress-indicator .fa {
  font-size: 16px;
  margin: 0 5px;
}
.coursepress_wrapper .cp-progress-indicator.success {
  color: #41bb8a;
}
.coursepress_wrapper .cp-progress-indicator.error {
  color: #FF6D6D;
}
.coursepress_wrapper .cp-row-actions {
  position: relative;
  margin: 0;
  top: 0;
  padding: 5px 0;
  display: block;
}
.coursepress_wrapper .row-actions .user_id,
.coursepress_wrapper .row-actions .course_id {
  color: #555;
}


/* 506887-1528449024-au */