.student-workbook .avatar {
    margin-right: 15px;
}
.student-workbook .info_caption {
    display: inline-block;
    width: 106px;
    font-weight: 700;
    margin-bottom: 10px;
}


/* 506887-1528449024-au */