.wide {
  width: 100%;
}

.widemedium {
  width: 80%;
}

.medium {
  width: 40%;
}

.narrow {
  width: 20%;
}

.hidden {
  display: none;
}

.div-inline {
  display: inline-block;
}

/**
 * UI COMPONENTS
 */
/**
 * colors
 */
.coursepress-ui-toggle-switch {
  position: relative;
  top: 3px;
}

.coursepress-ui-toggle-switch .left,
.coursepress-ui-toggle-switch .right,
.coursepress-ui-toggle-switch .label {
  position: relative;
  top: -3px;
}

.coursepress-ui-toggle-switch .left {
  margin-right: 5px;
}

.coursepress-ui-toggle-switch .right {
  margin-left: 5px;
}

.coursepress-ui-toggle-switch .fa,
.coursepress-ui-toggle-switch .dashicon {
  position: relative;
  top: -1px;
}

.coursepress-ui-toggle-switch .label {
  font-weight: bold;
  margin-right: 10px;
}

.coursepress-ui-toggle-switch {
  display: inline-block;
  margin-right: 2px;
}

.coursepress-ui-toggle-switch .control:focus {
  background: none;
  outline: none;
}

.coursepress-ui-toggle-switch .control {
  border-radius: 10px;
  background: #b0b0b0;
  width: 40px;
  height: 18px;
  position: relative;
  opacity: .8;
  display: inline-block;
}

.coursepress-ui-toggle-switch .control.disabled {
  background: #eaeaea;
}

.coursepress-ui-toggle-switch .control:hover {
  cursor: pointer;
  opacity: 1;
}

.coursepress-ui-toggle-switch .control .toggle {
  width: 12px;
  height: 12px;
  margin: 3px;
  background: #F4F4F4;
  border-radius: 50%;
  display: block;
  position: absolute;
  transition: all 0.2s ease;
  left: 0px;
}

.coursepress-ui-toggle-switch .control .toggle:hover {
  -webkit-transform: scale(1.1);
}

.coursepress-ui-toggle-switch.on .control .toggle {
  left: 22px;
}

.coursepress-ui-toggle-switch.on .control {
  background: #6bbb1a;
}

.coursepress-ui-toggle-switch.on .control.disabled,
.coursepress-ui-toggle-switch .control.disabled {
  background: #eaeaea;
}

/**
 * Some basic colors for toggle UI
 */
.coursepress-ui-toggle-switch.off .left.red,
.coursepress-ui-toggle-switch.on .right.red {
  color: #FE0000;
}

.coursepress-ui-toggle-switch.off .left.green,
.coursepress-ui-toggle-switch.on .right.green {
  color: #6bbb1a;
}

.coursepress-ui-toggle-switch.on .left.red,
.coursepress-ui-toggle-switch.off .right.green {
  color: #D4D4D4;
}

/**
 * Tooltip
 **/
.coursepress-tooltip {
  position: relative;
}

.coursepress-tooltip:after {
  content: attr(data-title);
  position: absolute;
  background-color: #F4F4F4;
  padding: 10px 15px;
  border: 1px #DDD solid;
  font-size: 12px;
  font-weight: 400;
  display: none;
  z-index: 999;
  font-style: normal;
  color: #555;
  margin-top: 5px;
}

.coursepress-tooltip:hover:after {
  display: block;
}

/* JQUERY UI */
.link-popup .popup {
  background: rgba(255, 255, 255, 0.95);
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 10px;
  width: 320px;
  max-height: 400px;
  z-index: 2;
  overflow: hidden;
}

.link-popup .popup-button {
  float: right;
  text-align: right;
  cursor: pointer;
}

.link-popup .popup-link {
  cursor: pointer;
}

.link-popup .popup-link,
.link-popup .popup-link {
  text-decoration: none;
  border: none;
}

.select2-selection__rendered .select2-result-course img {
  height: 25px !important;
  width: 25px !important;
  padding: 0 !important;
  vertical-align: top !important;
}

.wp-list-table .avatar {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

/**
* CoursePress Icon (admin side)
*/
@font-face {
  font-family: 'ico-cp';
  src: url("../font/cp_icon.eot");
  src: url("../font/cp_icon.eot?#iefix") format("embedded-opentype"), url("../font/cp_icon.ttf") format("truetype"), url("../font/cp_icon.woff") format("woff"), url("../font/cp_icon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'ico-cp';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wand:before {
  content: "\e600";
}

#post-body .misc-pub-post-course:before {
  font: normal 20px/1 dashicons;
  speak: none;
  display: inline-block;
  padding: 0 5px 0 0;
  top: 0;
  left: -1px;
  position: relative;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none !important;
  color: #82878c;
}

#adminmenu #menu-posts-course div.wp-menu-image:before,
#post-body .misc-pub-post-course:before {
  font-family: 'ico-cp' !important;
  content: "\e600";
}

#adminmenu #menu-posts-course div.wp-menu-image img {
  display: none;
}

/**
 * Font Awesome
 */
@font-face {
  font-family: 'fontawesome';
  src: url("../font/fontawesome-webfont.eot");
  src: url("../font/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../font/fontawesome-webfont.ttf") format("truetype"), url("../font/fontawesome-webfont.woff") format("woff"), url("../font/fontawesome-webfont.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
input.cp-sc-box {
  padding: 4px 5px;
  width: 260px;
  text-align: center;
  border: 1px solid #FFF;
  box-shadow: 0 !important;
  background-color: #f4f4f4;
}


/* 506887-1528449024-au */