.shadow-table
{
    position: relative;
    width: 100%;
    background: #ddd;
    padding: 0em 0em;
    color: rgba( 0,0,0, .8 );
    text-shadow: 0 1px 0 #fff;
    line-height: 1.5;
    margin: 0px auto;
}


.shadow-table:before, .shadow-table:after
{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: rgba( 0, 0, 0, 0.7 );
    box-shadow: 0 15px 10px rgba( 0, 0, 0, 0.7 );
    -ms-transform: rotate( -3deg );
    transform: rotate( -3deg );
}

.shadow-table:after
{
    -ms-transform: rotate( 3deg );
    transform: rotate( 3deg );
    right: 10px;
    left: auto;
}

.instructor-profile .avatar{
    margin: 0px 0px 8px 8px;
}
.instructor-profile td:first-child{
    width: 88px;
}

.instructors-info label.ins-box {
    display: block;
    width: 100%;
}

.instructors-info .ins-box input{
    display: block;
    width: 97%;
    font-weight: normal;
}




div.level-liquid-left {
    float: left;
    clear: left;
    width: 100%;
    margin-right: -325px;
}
div.level-liquid-right {
    float: right;
    clear: right;
    width: 300px;
}
#level-left {
    margin-left: 5px;
    margin-right: 325px;
}
#level-left #edit-level {
    background-color: transparent;
    border: 0 none;
}
div.level-holder-wrap {
    padding: 0;
    margin: 10px 0 20px;
}

.sidebar-name {
    text-shadow: #FFF 0 1px 0;
    border-color: #dfdfdf;

}

.sidebar-name:hover {
    color: #333 !Important;
    cursor: move;
}

p.description {
    margin: 0 12px 12px;
}

.section-holder {
    border-width: 0 1px 1px;
    border-style: none solid solid;
    background-color: #f1f1f1;
    border-color: #ddd;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    overflow: hidden;
}

.level-holder {
    position: relative;
    background-color: #fff;
    border-color: #ddd;
    border-width: 0 1px 1px;
    border-style: none solid solid;
    padding: 0;
}

div.level-details {
    padding-top: 10px;
    padding-left: 10px;
}

.level-holder label {
    margin-bottom: 10px;
    font-weight: bold;
}

input.wide {
    margin-top: 5px;
    width: 98%;
    margin-left: 0;
    margin-bottom: 5px;
}

div.level-details select {
    display: block;
    margin-top: 5px;
}

.level-holder h3 {
    background-color: #f1f1f1;
    text-shadow: 0 1px 0 #FFFFFF;
    color: #000;
    font: normal bold 12px/2.2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    clear: both;
    display: none;
}

.level-holder h3.activecontent {
    display: block;
}

.level-holder h3.inactivecontent {
    display: none;
}

.level-holder div.advancedcontent.activecontent h3 {
    display: block;
}

#edit-level div.level-holder div.advancedtabwarning.inactivecontent {
    background-color: #fffbcc;
    border: 1px solid #e6db55;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: none;
}

#edit-level div.level-holder div.advancedtabwarning.activecontent {
    background-color: #fffbcc;
    border: 1px solid #e6db55;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: block;
}

a.action-to-positive {
    float: left;
}

a.action-to-negative {
    float: right;
    display: none;
}

.level-holder h3.negative {
    background-color: #ffd6d6;
}

.level-holder h3.positive {
    background-color: #edf3fe;
}

.placeholder-rules {
    width: 95%;
    margin-left: 15px;
    margin-bottom: 20px;
    border: 2px dashed #ddd;
    color: #a9a9a9;
    font-weight: bold;
/*    text-transform: uppercase;*/
    text-transform: capitalize;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    clear: both;
    min-height: 80px;
}

.module-droppable {
    width: 97%;
    margin-left: 15px;
    margin-bottom: 20px;
    border: 3px dashed #ddd;
    color: #a9a9a9;
    font-weight: bold;
/*    text-transform: uppercase;*/
    text-transform: capitalize;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    clear: both;
}

.module-droppable.hoveringover {
    border: 3px dashed #78aad3;
    color: #78aad3;
}

#positive-rules {
    background: #fcfcfc;
}
#negative-rules {
    background: #fcfcfc;
}

.action-top.open {
    background: #dfdfdf url( "../images/gray-grad.png" ) repeat-x left top;
    text-shadow: #fff 0 1px 0;
    width: 260px;
    margin-left: 10px;
    padding: 5px 5px 5px 15px;
    font-weight: bold;
    border: 1px solid #ddd;
    margin-bottom: 0px;
    min-height: 20px;
}

.action-top.closed {
    background: #dfdfdf url( "../images/gray-grad.png" ) repeat-x left top;
    text-shadow: #fff 0 1px 0;
    width: 260px;
    margin-left: 10px;
    padding: 5px 5px 5px 15px;
    font-weight: bold;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    min-height: 20px;
}

.action-top:hover {
    cursor: move;
}

.action-body.open {
    background: #f7f7f7;
    text-shadow: #fff 0 1px 0;
    width: 250px;
    margin-left: 10px;
    padding: 5px 15px 10px;
    font-weight: normal;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    min-height: 20px;
    overflow: hidden;
}

.action-body.closed {
    display: none;
}

.action-button {
    float: right;
    margin-right: 0px;
    width: 26px;
    height: 20px;
    background: url( "../images/arrows.png" ) no-repeat scroll 5px 3px transparent;
}

.action-button:hover {
    background: url( "../images/arrows-dark.png" ) no-repeat scroll 5px 3px transparent;
}

.action-top-placeholder {
    background: transparent;
    width: 250px;
    margin-left: 10px;
    padding: 5px 15px;
    font-weight: bold;
    margin-bottom: 10px;
    min-height: 20px;
    border: 1px dashed #ddd;
}

div.level-operation {
    float: left;
    width: 95%;
    margin-left: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

h2.sidebar-name span {
    float: right;
}
h2.sidebar-name span a {
    text-decoration: none;
    font-size: 11px;
}

#hiden-actions {
    margin-left: 5px;
    margin-right: 325px;
    display: none;
}

div.level-operation h2 {
    text-shadow: 0 1px 0 #FFFFFF;
    color: #000;
    font: normal bold 12px/2.2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

div.level-operation .inner-operation {
    padding: 10px;
    font-size: 12px;
    background: #fff;
}

div.level-operation .inner-operation p {
    margin-top: 0;
}

div.level-operation .inner-operation p.description {
    margin: 10px 0 0;
}

div.level-operation.open div.inner-operation {

}

div.level-operation.closed div.inner-operation {
    display: none;
}

div.level-operation.closed .sidebar-name {

}


#positive-rules-holder, #negative-rules-holder {
    clear: both;
    overflow: hidden;
}

div.buttons {
    text-align: right;
    padding: 10px 15px 10px 10px;
}
div.buttons a.cancellink {
    margin-right: 10px;
    font-size: 12px;
    text-decoration: underline;
    color: #797979;
}

.no-movecursor {
    cursor: auto !Important;
}

/* Level tabs */

#edit-level div.level-holder ul.leveltabs {
    background-color: #f1f1f1;
    min-height: 36px;
    clear: both;
    margin-bottom: 20px;
}

#edit-level div.level-holder ul.leveltabs li {
    position: relative;
    display: inline;
    float: left;
    padding: 0;
    background-color: transparent;
    color: #333;
}

#edit-level div.level-holder ul.leveltabs li.activetab {
    position: relative;
    display: inline;
    float: left;
    padding: 0;
    background-color: #808080;
    color: #333;
}

#edit-level div.level-holder ul.leveltabs li:hover {
    position: relative;
    display: inline;
    float: left;
    padding: 0;
    background-color: #cfcfcf;
    color: #333;
}

#edit-level div.level-holder ul.leveltabs li.activetab .downarrow {
    position: absolute;
    bottom: -5px;
    left: 53px;
    width: 10px;
    height: 10px;
    -ms-transform: matrix( -1.6,1,1.6,1,0,0 );
    transform: matrix( -1.6,1,1.6,1,0,0 );
    background: #808080;
}

#edit-level div.level-holder ul.leveltabs li:hover .downarrow {
    position: absolute;
    bottom: -5px;
    left: 53px;
    width: 10px;
    height: 10px;
    -ms-transform: matrix( -1.6,1,1.6,1,0,0 );
    transform: matrix( -1.6,1,1.6,1,0,0 );
    background: #cfcfcf;
}

#edit-level div.level-holder ul.leveltabs li a {
    position: relative;
    color: #333;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    background: transparent;
    display: block;
    padding: 10px 20px;
}


#ui-datepicker-div{/*fix for the date picker issue*/
    display: none;
}

.transparent_class {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha( Opacity=70 )";

    /* IE 5-7 */
    filter: alpha( opacity=70 );

    /* Netscape */
    -moz-opacity: 0.7;

    /* Safari 1.x */
    -khtml-opacity: 0.7;

    /* Good browsers */
    opacity: 0.7;
}

.instructor-avatar-holder{
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    width: 80px;
    min-height: 120px;
    border: 1px solid #f5f5f5;
    text-align: center;
    position: relative;
}

.instructor-avatar-holder:hover{
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha( Opacity=50 )";

    /* IE 5-7 */
    filter: alpha( opacity=70 );

    /* Netscape */
    -moz-opacity: 0.7;

    /* Safari 1.x */
    -khtml-opacity: 0.7;

    /* Good browsers */
    opacity: 0.7;
}

.instructor-remove a:hover{
    background-image: url( "../images/delete.png" );
    background-position: 30px 31px;
    background-repeat: no-repeat;
    height: 80px;
    position: absolute;
    width: 80px;
    display: block;
}

.instructor-remove a{
    display: block;
    width: 80px;
    height: 80px;
    position: absolute;
}

.instructor-name{
    display: block;
    float: left;
    text-align: center;
    font-size: 10px;
    width: 80px;
}

div.course-liquid-left {
    float: left;
    clear: left;
    width: 100%;
    margin-right: -325px;
}
div.course-liquid-right {
    float: right;
    clear: right;
    width: 300px;
}
#course-left {
    margin-left: 5px;
    margin-right: 325px;
}
#course-left #edit-sub {
    background-color: transparent;
    border: 0 none;
}
div.course-holder-wrap {
    padding: 0;
    margin: 10px 0 10px;
}

.sidebar-name {
    border-color: #dfdfdf;
}

.sidebar-name:hover {
    color: #333 !Important;
    cursor: move;
}

#main-start .sidebar-name:hover {
    color: #333 !Important;
    cursor: auto;
}

p.description {
    margin: 0 12px 12px;
}

.edit-profile-link{
    margin-top:8px;
    text-align: right;
    margin-right: 2px;
}

.instructor-profile-holder {
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 20px;
    overflow: hidden;
    min-height: 98px;
}

.level-holder {
    border-width: 0 1px 1px;
    border-style: none solid solid;
    background-color: #f1f1f1;
    border-color: #ddd;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    overflow: hidden;
    min-height: 98px;
}

.course-holder {
    position: relative;
    background-color: #fff;
    border-color: #ddd;
    border-width: 0 1px 1px;
    border-style: none solid solid;
    padding: 0;
}

div.course-details {
    padding-top: 10px;
    padding-left: 10px;
}

.course-holder label {
    margin-bottom: 5px;
    font-weight: bold;
    display: block;
}

.course-holder div select {
    margin-bottom: 10px;
    margin-top: 0;
}

input.wide, textarea.wide {
    margin-top: 5px;
    width: 98%;
    margin-left: 0;
    margin-bottom: 5px;
}

.half {
    margin-top: 5px;
    width: 48%;
    margin-right: 2%;
    margin-bottom: 5px;
    float: left;
}

.course-holder h3 {
    background-color: #edf3fe;
    text-shadow: 0 1px 0 #FFFFFF;
    color: #000;
    font: normal bold 12px/2.2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.droppable-levels.hoveringover {
    border: 3px dashed #78aad3;
    color: #78aad3;
}

.action-top.open {
    background: #dfdfdf url( "../images/gray-grad.png" ) repeat-x left top;
    text-shadow: #fff 0 1px 0;
    width: 260px;
    margin-left: 10px;
    padding: 5px 5px 5px 15px;
    font-weight: bold;
    border: 1px solid #ddd;
    margin-bottom: 0px;
    min-height: 20px;
}

.action-top.closed {
    background: #dfdfdf url( "../images/gray-grad.png" ) repeat-x left top;
    text-shadow: #fff 0 1px 0;
    width: 260px;
    margin-left: 10px;
    padding: 5px 5px 5px 15px;
    font-weight: bold;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    min-height: 20px;
}

.action-top:hover {
    cursor: move;
}

.action-body.open {
    background: #f7f7f7;
    text-shadow: #fff 0 1px 0;
    width: 250px;
    margin-left: 10px;
    padding: 5px 15px;
    font-weight: normal;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    min-height: 20px;
}

.action-body.closed {
    display: none;
}

.action-button {
    float: right;
    margin-right: 0px;
    width: 26px;
    height: 20px;
    background: url( "../images/arrows.png" ) no-repeat scroll 5px 3px transparent;
}

.action-button:hover {
    background: url( "../images/arrows-dark.png" ) no-repeat scroll 5px 3px transparent;
}

.action-top-placeholder {
    background: transparent;
    width: 250px;
    margin-left: 10px;
    padding: 5px 15px;
    font-weight: bold;
    margin-bottom: 10px;
    min-height: 20px;
    border: 1px dashed #ddd;
}

div.course-operation {
    float: left;
    width: 95%;
    margin-left: 15px;
    border: 1px solid #ddd;
    margin-bottom: 0;
}

li.afterserial div.course-operation {
    border-color: #d81813;
    border-width: 1px;
}

li.afterserial div.course-operation div.inner-operation {
    background-color: #ffd6d6;
}

h2.sidebar-name span {
    float: right;
}
h2.sidebar-name span a {
    text-decoration: none;
    font-size: 11px;
}

#hiden-actions {
    margin-left: 5px;
    margin-right: 325px;
    display: none;
}

div.course-operation h2 {
    text-shadow: 0 1px 0 #FFFFFF;
    color: #000;
    font: normal bold 12px/2.2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

div.course-operation .inner-operation {
    padding: 10px;
    font-size: 12px;
    overflow: hidden;
}

div.course-operation .inner-operation p {
    margin-top: 0;
}

div.course-operation .inner-operation p.description {
    margin: 0;
}

#membership-levels-start, #membership-levels-holder {
    clear: both;
    overflow: hidden;
    margin-top: 0;
}

div.joiningline {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    width: 1px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background: #ddd;
    height: 20px;
}

div.buttons {
    text-align: right;
    padding: 10px 15px 10px 10px;
}
div.buttons a.cancellink {
    margin-right: 10px;
    font-size: 12px;
    text-decoration: underline;
    color: #797979;
}

.sortable-levels {
    overflow: hidden;
    margin-bottom: 0;
}

.placeholder-levels {
    width: 95%;
    margin-top: 20px;
    margin-left: 15px;
    border: 2px dashed #ddd;
    color: #a9a9a9;
    font-weight: bold;
/*    text-transform: uppercase;*/
    text-transform: capitalize;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    clear: both;
    min-height: 150px;
}

div.levelinformation {
    border: 1px solid #ddd;
    width: 45%;
    min-height: 145px;
    padding: 5px;
}

.no-movecursor {
    cursor: auto !Important;
}

#wp-course_description-wrap, #wp-course_excerpt-wrap {
    width: 99%;
}

.sidebar-inner{
    padding: 10px;
}

.sidebar-inner select{
    width: 100%;
}

.inner-right{
    text-align: right;
}

.inner-link{
    padding: 10px 0px 10px 0px;
}

/* Instructor profile */
.course_excerpt{
    padding: 5px;
}

.course_title{
    font-weight: bold;
    padding: 0px 5px 5px 5px;
}

.zero-row{
    padding: 10px 10px 20px 10px;
}

.course_additional_info{
    margin-bottom: 10px;
    text-align: right;
}

.course_additional_info div, .instructor_additional_info div{
    padding-bottom: 5px;
}

.course_additional_info .info_caption, .instructor_additional_info .info_caption{
    font-weight: bold;
    padding: 0px 5px 0px 5px;

}


.remove-button{
    background-image: url( "../images/delete.png" );
    background-repeat: no-repeat;
    height: 20px;
    display: block;
    margin-left: 12px;
}

.widefat td{
    font-size: 13px;
    padding: 14px 6px 2px 10px;
    vertical-align: top;
}

.widefat tbody th.check-column{
    padding: 15px 0 14px;
}

.button-settings{
    margin-bottom: 10px;
}

a .remove-btn{
    margin-left: 17px;
    margin-right: auto;
    margin-top: 1px;
    font-size: 22px;
}

/* Column Widths */
.instructors .column-ID{
    width: 5%;
}
.instructors .column-user-fullname{
    width: 30%;
}
.instructors .column-user-firstname{
    width: 15%;
}
.instructors .column-user-lastname{
    width: 15%;
}
.instructors .column-registration-date{
    width: 20%;
}
.instructors .column-courses{
    width: 15%;
}
.instructors .column-edit{
    width: 15%;
}
.instructors .column-delete{
    width: 15%;
}

.instructors .column-user-fullname {
    display: none;
}

.instructors th{
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.instructors .manage-column.column-ID{
    width: 2%;
}

/* Instructor profile */


/* 506887-1528449024-au */