/*--------------------------------------------------------------
  TABLE OF CONTENTS:
----------------------------------------------------------------
1. Settings Wrapper
2. Settings Tabs
3. Settings Boxes

A. Responsive
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# 1. Settings Wrapper
--------------------------------------------------------------*/
.coursepress_communications_wrapper,
.coursepress_settings_wrapper {
  margin: 15px 15px 15px 0px;
}

.coursepress_communications_wrapper h3,
.coursepress_settings_wrapper h3 {
  color: #23282d;
  font-size: 1.4em;
  margin: 0 5px 0 0;
}

.coursepress_communications_wrapper .description,
.coursepress_settings_wrapper .description {
  color: #888;
  font-size: 0.9em;
  margin: 0 5px 0 0;
}

.coursepress_communications_wrapper.notifications form.edit,
.coursepress_communications_wrapper.discussions form.edit {
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #f1f1f1;
  padding: 10px;
  overflow: hidden;
}

.coursepress_communications_wrapper.notifications form label,
.coursepress_communications_wrapper.discussions form label {
  display: block;
  margin-top: 20px;
}
.coursepress_communications_wrapper.notifications form label.right,
.coursepress_communications_wrapper.discussions form label.right {
  float: right;
}
.coursepress_communications_wrapper.notifications form label:last-child,
.coursepress_communications_wrapper.notifications form label:first-child,
.coursepress_communications_wrapper.discussions form label:last-child,
.coursepress_communications_wrapper.discussions form label:first-child {
  margin: 0;
}

/*--------------------------------------------------------------
# 2. Settings Tabs
--------------------------------------------------------------*/
.tab-container {
  position: relative;
  overflow: hidden;
}
.tab-container .tab-content-vertical .button-certificate {
  float: right;
  margin-top: -35px;
}

.tab-tabs {
  float: left;
  width: 191px;
}

.tab-tabs ul {
  list-style: outside none none;
  margin-top: 0;
}

.tab-tabs ul li.active {
  background-color: #fff;
  border-radius: 4px 0 0 4px;
  z-index: 0;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.04);
  border: 1px solid #e5e5e5;
  border-right: none;
  box-sizing: border-box;
}

.tab-tabs ul li a, .tab-tabs ul li a:visited {
  display: block;
  padding: 8px 15px;
  font-size: 0.9em;
  font-weight: 500;
  text-decoration: none;
}

.tab-tabs ul li.active a {
  color: #000;
}

.tab-tabs li.setup_tab:before {
  width: 97%;
  margin: 0 auto;
  display: block;
  content: "";
  border: 1px solid #DDDDDD;
  border-left: none;
  border-right: none;
  border-bottom-color: #FAFAFA;
}

.tab-content {
  background-color: #fff;
  padding: 10px 20px 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  border: 1px solid #e5e5e5;
  margin: 0 0 0 190px;
  min-height: 340px;
  z-index: 10;
}
.tab-content .shortcodes-list .cp-shortcode-examples code {
  display: inline-block;
  padding: 5px 10px;
}

.tab-content .header-save-button {
  float: right;
  position: relative;
  top: -8px;
}

.tab-content .header h3 {
  color: #23282d;
  font-size: 1.3em;
  margin: 0 5px 0 0;
}

.tab-content .header .description {
  color: #888;
  font-size: 0.9em;
  margin: 0 5px 0 0;
}

.tab-content .header {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.tab-tabs-horizontal ul {
  list-style: outside none none;
  width: 100%;
  border-bottom: 1px solid #ccc;
  min-height: 2em;
}

.tab-tabs-horizontal ul li {
  float: left;
  border-color: #CCCCCC;
  background: none repeat scroll 0 0 #e4e4e4;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  color: #555;
  margin: 0 4px -1px 10px;
  position: relative;
  top: -1px;
}

.tab-tabs-horizontal ul li.active {
  background: #F1F1F1;
  border-bottom-color: #F1F1F1;
}

.tab-tabs-horizontal ul li a {
  color: #333;
  text-decoration: none;
  font-size: 1em;
  line-height: 1em;
  padding: 0.5em;
  display: inline-block;
  font-weight: bold;
}

.tab-tabs-horizontal ul li:last-child {
  float: right;
  border: none;
  background: none;
}

.tab-container .tab-extra {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
}

.tab-content.tab-content-horizontal {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  box-shadow: none;
  clear: both;
}

@media screen and (max-width: 700px) {
  .tab-tabs-horizontal ul {
    padding-top: 2em;
  }
}
/*--------------------------------------------------------------
# 3. Settings Boxes
--------------------------------------------------------------*/
.tab-content {
  min-height: 1px;
}

.tab-content .postbox h3 {
  font-size: 1.2em;
  line-height: 1.4em;
  margin: 0;
  padding: 8px 12px;
}

.tab-content .body h3 {
  font-size: 1.1em;
  line-height: 1.4em;
  margin: 4px 0;
  padding: 3px 5px;
  background: #f8f8f8;
  border: 1px solid #f1f1f1;
  border-radius: 3px;
  /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06);*/
}

.tab-content .body p.description {
  padding: 5px 2px;
  font-size: 0.95em;
  color: #888;
}

.tab-content .form-table {
  border-collapse: collapse;
  clear: none;
  margin-top: 0;
  width: 100%;
}

.tab-content .form-table p.description {
  margin: 0;
}

.tab-content .form-table.slug-settings tr.break {
  border-top: 1px solid #f8f8f8;
}

.tab-content .form-table.compressed td {
  padding: 5px 0;
}

.settings-error {
  color: red;
}

.tab-content .form-table.compressed.email-fields th {
  padding: 0;
}

.tab-content .form-table.compressed.email-fields {
  margin-top: 20px;
}

.coursepress_settings_wrapper table.widefat {
  clear: none;
}

.coursepress_settings_wrapper + h3 + .wrap h2 {
  display: none;
}

.cp-content-box .hndle:after {
  float: right;
  font-family: dashicons;
  content: "\f140";
}

.cp-content-box.collapsed {
  margin-bottom: 1em;
}
.cp-content-box.collapsed .hndle:after {
  content: "\f142";
}

/*--------------------------------------------------------------
# 4. List Tables
--------------------------------------------------------------*/
/**
 * colors
 */
/* Course List Table */
.wp-list-table .courses th.manage-column.column-post_title {
  min-width: 50%;
}
.wp-list-table .courses .column-units p {
  word-wrap: normal;
}
.wp-list-table .courses th.manage-column.column-ID {
  width: 6em;
}
.wp-list-table .courses thead .manage-column.column-date_start,
.wp-list-table .courses thead .manage-column.column-date_end,
.wp-list-table .courses thead .manage-column.column-date_enrollment_end,
.wp-list-table .courses thead .manage-column.column-date_enrollment_start {
  width: 7em;
}
.wp-list-table .courses tbody .date_start,
.wp-list-table .courses tbody .date_end,
.wp-list-table .courses tbody .date_enrollment_end,
.wp-list-table .courses tbody .date_enrollment_start {
  width: 7em;
}
.wp-list-table .manage-column.column-status {
  width: 90px;
}

.post-type-course .column-certificates,
.post-type-course .column-grade,
.post-type-course .column-modules,
.post-type-course .column-students,
.post-type-course .column-view_all {
  width: 100px;
  text-align: center;
}
.post-type-course table.users .column-certificates {
  width: 7em;
  vertical-align: middle;
}
.post-type-course table.users .column-certificates .cp-certified {
  font-size: 1em;
  margin: 0;
}
.post-type-course table.users .column-username .row-actions .id span {
  color: #000;
}
.post-type-course table.users .column-grade,
.post-type-course table.users .column-modules,
.post-type-course table.users .column-view_all {
  width: 5em;
}
.post-type-course table.users .column-last_active {
  width: 8em;
}
.post-type-course table.users td.column-grade {
  text-align: right;
}
.post-type-course .column-taxonomy-course_category,
.post-type-course .column-date_start,
.post-type-course .column-date_end,
.post-type-course .column-date_enrollment_start,
.post-type-course .column-date_enrollment_end,
.post-type-course .column-units {
  width: 130px;
}
.post-type-course .column-paid {
  width: 40px;
  text-align: center;
}
.post-type-course .column-paid .free {
  opacity: .6;
}
.post-type-course .column-paid .paid {
  font-weight: bold;
  color: red;
}

.coursepress_student_searchbox {
  float: left;
  margin-bottom: -25px;
}

.coursepress_course_add_student_wrapper {
  background: #ffffff;
  margin: 0 0 5px 0;
  padding: 5px;
}

.coursepress_course_add_student_wrapper .withdraw-all-students {
  float: right;
  display: block;
  padding: 5px;
}

.coursepress_course_invite_student_wrapper {
  clear: both;
  display: block;
  width: 100%;
}
.coursepress_course_invite_student_wrapper input {
  font-weight: normal;
}

.tab-content .body .coursepress_course_invite_student_wrapper h3 {
  background: none;
  padding: 0;
  margin: 10px 0;
}

.tab-content .body .coursepress_course_invite_student_wrapper label {
  display: block;
}

.tab-content .body .coursepress_course_invite_student_wrapper label span {
  display: inline-block;
  width: 150px;
}

.actions.column-actions .fa {
  font-size: 1.7em;
}

.actions.column-actions .fa.remove-btn {
  color: #be4251;
  cursor: pointer;
}

.duplicate-course-link {
  cursor: pointer;
}

.column-certificates,
.column-students {
  text-align: right;
}

.certificates.column-certificates .dashicons:before {
  font-size: 1.7em;
}
.certificates.column-certificates .dashicons-yes {
  color: #6bbb1a;
}
.certificates.column-certificates .dashicons-no {
  color: #be4252;
}

/*--------------------------------------------------------------
# 5. Course Setup
--------------------------------------------------------------*/
/**
 * colors
 */
#course-setup-steps.ui-state-disabled {
  opacity: 1;
}
#course-setup-steps.ui-state-disabled .step-title.ui-state-disabled,
#course-setup-steps.ui-state-disabled .step-content.ui-state-disabled {
  opacity: 1;
}
#course-setup-steps .wide label {
  display: block;
  padding-bottom: 5px;
}
#course-setup-steps .wide.course-step-buttons .notice {
  margin-bottom: 0;
}

#student-add {
  min-width: 300px;
}

#course-setup-steps .step-content {
  padding: 1em 2.2em;
  position: relative;
}

#course-setup-steps .chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 3px 5px 3px 0;
  padding: 3px 20px 3px 5px;
  border: 1px solid #aaa;
  max-width: 100%;
  border-radius: 0;
  background: none;
  box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  line-height: 13px;
  cursor: default;
}

#course-setup-steps .chosen-container-multi .chosen-choices {
  background: none;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
  color: #32373c;
  outline: medium none;
  transition: border-color 0.05s ease-in-out 0s;
}

#course-setup-steps input.step {
  margin: 25px 10px 0 0;
}

#course-setup-steps .step-content label {
  font-weight: bold;
  display: block;
  margin-top: 2em;
  font-size: 1.1em;
  cursor: default;
}

#course-setup-steps .step-content label a.context-link {
  float: right;
}

#course-setup-steps .step-content.step-1 label.first {
  margin-top: 0;
}

#course-setup-steps .step-content label.required:after {
  content: ' *';
  color: #E43037;
}

#course-setup-steps .step-content .disabled label.required:after {
  content: ' *';
  color: #ddd;
}

#course-setup-steps .step-content .disabled label {
  color: #ddd;
}

#course-setup-steps .step-content label.checkbox {
  font-weight: normal;
  display: block;
  margin: 0;
  font-size: 1em;
  cursor: pointer;
}
#course-setup-steps .step-content label p.description {
  font-weight: normal;
}

#course-setup-steps .step-content input.error,
#course-setup-steps .step-content textarea.error {
  border: 1px solid #ff0000;
}
#course-setup-steps .step-content input.wide {
  width: 100%;
}
#course-setup-steps .step-content .medium {
  min-width: 400px;
  width: 40%;
}
#course-setup-steps .step-content label.drop-line {
  position: relative;
  top: 2.2em;
  margin: 0;
}

#course-setup-steps .step-title {
  font-size: 1.3em;
  line-height: 1.8em;
  padding: 0.5em 1.5em;
  position: relative;
  outline: none;
  outline: hidden;
  overflow: hidden;
  margin: 0 0 10px 0;
  background: #f1f1f1;
  color: #333333;
}

#course-setup-steps .step-title.ui-state-active {
  background: #0091CD;
  color: #ffffff;
}

.coursepress-course-step-container {
  padding: 10px;
  background: #ffffff;
  border: 1px solid #f1f1f1;
}

.coursepress-course-step-container .button-preview {
  background: #ec8c35;
  border: none;
  box-shadow: none;
  color: #ffffff;
  display: inline-block;
  margin: 5px 5px 15px auto;
  text-align: center;
  width: 120px;
  border-radius: 0;
}
.coursepress-course-step-container .button-preview:hover {
  background: #e99a53;
  color: #ffffff;
}

.coursepress-course-step-container.metaboxes {
  box-sizing: border-box;
  width: 70%;
  float: left;
}

.course-edit-metaboxes {
  box-sizing: border-box;
  width: 30%;
  float: right;
  padding-left: 20px;
}

.course-edit-metaboxes:after {
  display: block;
  clear: both;
  content: '';
}

.coursepress_page_coursepress_course .course-edit-metaboxes .postbox,
.coursepress-pro_page_coursepress_course .course-edit-metaboxes .postbox {
  padding: 5px;
}

#course-setup-steps .step-title .status {
  border-radius: 50px;
  box-sizing: border-box;
  float: right;
  height: 20px;
  width: 20px;
  background: #f1f1f1;
  border: 1px solid #ddd;
  position: absolute;
  top: 0.8em;
  right: 1em;
  text-align: center;
}

#course-setup-steps .step-title .status.saved {
  background: #6FC26E;
  color: #ffffff;
  border-color: #54a553;
}

#course-setup-steps .step-title .status.saved:after {
  font-family: dashicons;
  content: "\f147";
  position: relative;
  top: -0.3em;
  width: 20px;
}

#course-setup-steps .step-title .status.save-error {
  background: #E43037;
  color: #ffffff;
  border-color: #972727;
}

#course-setup-steps .step-title .status.save-error:after {
  font-family: dashicons;
  font-size: 0.9em;
  content: "\f335";
  position: relative;
  top: -0.4em;
  width: 20px;
}

#course-setup-steps .step-title .status.save-attention {
  background: #EC8C35;
  color: #ffffff;
  border-color: #b1622e;
}

#course-setup-steps .step-title .status.save-attention:after {
  font-family: dashicons;
  font-size: 0.7em;
  content: "\f227";
  position: relative;
  top: -0.6em;
  width: 20px;
}

#course-setup-steps .step-title .status.save-process {
  background: url("../img/ajax-loader.gif");
  color: #ffffff;
  border: 0;
  background-repeat: no-repeat;
  background-size: 20px;
}

#course-setup-steps .step-title.ui-state-active .status.save-process {
  background: url("../img/ajax-loader-blue.gif");
  color: #ffffff;
  border: 0;
  background-repeat: no-repeat;
  background-size: 20px;
}

#course-setup-steps .wide.course-step-buttons > span {
  display: inline-block;
  margin-left: 5px;
  margin-top: 30px;
  color: #6fc26e;
}

/* Course Structure */
.course-structure table tr:hover td {
  background-color: #bef;
}

.course-structure table {
  width: 100%;
  margin-top: 20px;
}
.course-structure table th {
  text-align: left;
  margin: 3px 20px 3px 0;
}
.course-structure table tr td {
  border-bottom: 1px solid #dfdfdf;
  text-align: center;
  vertical-align: middle;
}
.course-structure table tr.page small {
  opacity: .8;
}

.course-structure .column-course-structure {
  min-width: 320px;
  position: relative;
  height: 45px;
  vertical-align: top;
}
.course-structure .column-course-structure small {
  display: block !important;
}

.course-structure .column-show,
.course-structure .column-free-preview,
.course-structure .column-time {
  width: 100px;
  text-align: center;
}

.course-structure table thead tr.break th {
  border-bottom: 1px solid #DFDFDF;
}

.course-structure table tr.page td:first-child,
.course-structure table tr.module td:first-child,
.course-structure table tr.unit td:first-child {
  text-align: left;
  padding: 2px 0 4px 0;
}

.course-structure table tr.unit td:first-child {
  font-weight: bold;
}

.course-structure table tr.page td:last-child,
.course-structure table tr.module td:last-child,
.course-structure table tr.unit td:last-child {
  padding: 2px 0 4px 0;
}

.course-structure table tr.unit td:last-child {
  font-weight: bolder;
}

.course-structure table tr.page td:last-child {
  font-weight: bold;
}

.course-structure table tr.module td:last-child {
  font-weight: lighter;
}

.course-structure table tr.page td:first-child {
  text-indent: 1em;
}

.course-structure table tr.module td:first-child {
  text-indent: 2em;
}

.course-structure table tr.unit {
  background: #eee;
}

.course-structure table tr.page {
  background: #fafafa;
}

.course-structure table tr.page.draft,
.course-structure table tr.module.draft,
.course-structure table tr.unit.draft {
  color: #7f7f7f;
  font-style: oblique;
}

.course-structure .column-course-structure small {
  border: 0;
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: #7f7f7f;
  text-align: right;
  display: inline-block;
  position: absolute;
  right: 0;
}

#course-setup-steps .step-title {
  cursor: pointer;
}

#course-setup-steps .date-range .start-date,
#course-setup-steps .date-range .end-date {
  position: relative;
  display: inline-block;
  min-width: 250px;
  margin-top: 10px;
}

#course-setup-steps .date-range div.date {
  width: 80px;
  cursor: text;
  display: inline;
  margin-right: 10px;
}

#course-setup-steps .date-range div.date::after {
  color: #c9c9c9;
  content: "\f508";
  font: 17px/17px dashicons;
  right: 15px;
  position: absolute;
  bottom: 6px;
  z-index: 1;
}

#course-setup-steps .date-range label {
  display: inline;
  font-weight: normal;
  cursor: default;
}

#course-setup-steps .class-size .col {
  position: relative;
  display: inline-block;
  min-width: 150px;
  margin-top: 10px;
  font-weight: normal;
  font-size: 1em;
}

/* Instructors */
input.button.button-primary.instructor-assign {
  position: relative;
  top: -2px;
}

#course-setup-steps .step-content .instructors-info,
#course-setup-steps .step-content .facilitator-info {
  overflow: hidden;
}

#course-setup-steps .step-content .avatar-holder {
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  float: left;
  width: 80px;
  min-height: 120px;
  border: 1px solid #f5f5f5;
  text-align: center;
  position: relative;
  z-index: 0;
}

#course-setup-steps .step-content .avatar-holder .fa {
  margin-top: 10px;
  color: #6bbb1a;
}

#course-setup-steps .step-content .avatar-holder:hover {
  opacity: 0.7;
}

#course-setup-steps .step-content .avatar-holder.empty {
  border: 1px dashed #e1e1e1;
}

#course-setup-steps .step-content .remove a {
  display: block;
  width: 80px;
  height: 80px;
  position: absolute;
  font-size: 28px;
  color: #FFF;
  text-indent: 9999px;
  overflow: hidden;
  text-decoration: none;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

#course-setup-steps .step-content .remove.removing-process a {
  text-indent: 0;
  padding-top: 20px;
}
#course-setup-steps .step-content .remove.removing-process a span {
  font-size: 30px;
}

#course-setup-steps .step-content .remove a:hover {
  text-indent: 0;
}

#course-setup-steps .step-content .remove a span.dashicons-dismiss::before {
  font-size: 28px;
  left: 28px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 28px;
}

#course-setup-steps .step-content .instructor-name,
#course-setup-steps .step-content .facilitator-name {
  display: block;
  float: left;
  text-align: center;
  font-size: 10px;
  width: 80px;
}

#course-setup-steps .step-content .instructor-avatar-holder.empty .instructor-name,
#course-setup-steps .step-content .instructor-avatar-holder.empty .facilitator-name {
  position: relative;
  top: 40px;
}

#course-setup-steps .step-content .instructor-status,
#course-setup-steps .step-content .facilitator-status {
  background: none repeat scroll 0 0 #0091cd;
  box-sizing: border-box;
  color: #fff;
  position: absolute;
  top: 0;
  width: 80px;
}

/* Intructor invites */
#course-setup-steps .step-content .instructor-invite {
  overflow: hidden;
  margin-top: 2em;
}
#course-setup-steps .step-content .instructor-invite label {
  clear: both;
  display: block;
  float: left;
  font-weight: normal;
  width: 100px;
  margin: 0;
}
#course-setup-steps .step-content .instructor-invite ul {
  margin: 0;
}
#course-setup-steps .step-content .instructor-invite ul li {
  height: 1.3em;
}
#course-setup-steps .step-content .instructor-invite input[type="text"],
#course-setup-steps .step-content .instructor-invite input[type="email"],
#course-setup-steps .step-content .instructor-invite ul {
  clear: right;
  display: block;
  float: left;
  margin-bottom: 10px;
  max-width: 280px;
}

#course-setup-steps .step-content .instructor-invite .submit-message {
  clear: both;
  padding-left: 100px;
}

#course-setup-steps .step-content .instructor-invite .submit-message #invite_instructor_trigger {
  clear: both;
  display: inline;
  margin-left: 100px;
}

#course-setup-steps .step-content .instructor-invite .submit-message .message .dashicons.dashicons-yes {
  color: #6FC26E;
  padding: 4px 0 0 4px;
}

#course-setup-steps .step-content .instructor-invite .submit-message .message .dashicons.dashicons-no-alt {
  color: #E43037;
  padding: 5px 0 0 4px;
}

#course-setup-steps .step-content .spinners {
  width: 55px;
}

#course-setup-steps .step-content .ui-spinner {
  border-color: #ddd;
  border-radius: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
  position: relative;
}

#course-setup-steps .step-content .ui-spinner a.ui-spinner-button {
  color: #555;
  -ms-transform: scale(1.5, 0.94);
  transform: scale(1.5, 0.94);
  background: none repeat scroll 0 0 #f1f1f1;
}

#course-setup-steps .step-content .ui-spinner a:hover.ui-spinner-button {
  color: #333;
}

#course-setup-steps .step-content .ui-spinner-button {
  cursor: default;
  display: block;
  font-size: 0.5em;
  height: 15px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: -19px;
  text-align: center;
  width: 16px;
}

.ui-spinner-button.ui-spinner-up {
  top: -0.8em;
  z-index: 1;
  border-bottom: 1px solid #ddd;
}

.ui-spinner-button.ui-spinner-down {
  bottom: -0.8em;
}

#course-setup-steps .step-content .disabled .ui-spinner a.ui-spinner-button {
  display: none;
}

#course-setup-steps .step-content hr.separator {
  margin-top: 40px;
}
#course-setup-steps .step-content .payment-message {
  background: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  width: auto;
}
#course-setup-steps .step-content .payment-message h4 {
  margin-top: 0;
}
#course-setup-steps .step-content .payment-message p:last-of-type {
  margin-bottom: 0;
}
#course-setup-steps .step-content label .description {
  font-weight: normal;
  font-style: oblique;
}

[name="publish-course-toggle"] {
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  position: relative;
  left: -1em;
}

/* TreeGrid Styles */
.treegrid-indent {
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
}

.treegrid-expander {
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.treegrid-expander-expanded {
  background-image: url("../img/collapse.png");
}

.treegrid-expander-collapsed {
  background-image: url("../img/expand.png");
}

/* Editor specific */
#courseDescription_ifr {
  min-height: 300px;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  width: 100%;
}

body[class*="_page_coursepress_course"] .tab-container.horizontal {
  overflow: visible;
}

@keyframes progress {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
.coursepress_settings_wrapper .column-units {
  width: 100px;
}
.coursepress_settings_wrapper .column-actions,
.coursepress_settings_wrapper .column-certificates,
.coursepress_settings_wrapper .column-students,
.coursepress_settings_wrapper .column-week {
  width: 60px !important;
  text-align: center;
}
.coursepress_settings_wrapper .notice span.fa {
  font-size: 1em;
}

@media screen and (max-width: 700px) {
  #course-setup-steps .step-content .medium {
    min-width: 100px;
    width: 100%;
  }
}
/*--------------------------------------------------------------
# 6. Unit Builder
--------------------------------------------------------------*/
/**
 * colors
 */
#unit-builder .unit-detail h3 {
  font-size: 1.4em;
}
#unit-builder .unit-detail h3 .unit-state {
  font-size: 0.8em;
}
#unit-builder .unit-detail .fa-cog {
  margin-right: 5px;
}
#unit-builder .unit-detail label {
  padding-bottom: 5px;
}

#unit-builder .loading {
  background: url("../img/ajax-loader.gif") no-repeat left;
  padding-left: 22px;
  margin: 50px;
}

#unit-builder .section.unit-builder-body .loading {
  margin: 0;
}

#unit-builder .tab-container .tab-content {
  min-height: 818px;
}

.coursepress-ub-tab {
  position: relative;
  cursor: pointer;
}

.coursepress-ub-tab:after {
  position: absolute;
  content: '';
  display: block;
  height: 8px;
  width: 8px;
  top: 38%;
  right: 0.5em;
  border-radius: 50%;
  background: none repeat scroll 0 0 #e0e0e0;
  border: 1px solid #cfcfcf;
}

.coursepress-ub-tab.unit-live:after {
  background: none repeat scroll 0 0 #6bbb1a;
  border: 1px solid #61a31e;
}

.coursepress-ub-tab.unit-changed:after {
  background: none repeat scroll 0 0 #dd9116;
  border: 1px solid #bb7615;
}

.tab-tabs ul li.coursepress-ub-tab span {
  display: block;
  font-weight: bold;
  min-height: 1.4em;
  padding: 7px 24px 7px 7px;
}
.tab-tabs .button.button-add-new-unit {
  display: block;
  margin: 30px auto 0 auto;
  text-align: center;
  width: 170px;
}

.tab-content .normal {
  font-weight: normal;
}
.tab-content label {
  display: inline-block;
  cursor: default;
}
.tab-content label.bigger {
  font-size: 1.1em;
}
.tab-content .unit-builder-content {
  padding: 0;
}
.tab-content .unit-builder-content .section {
  padding: 10px 20px 20px;
}
.tab-content .unit-builder-content .section.mode-output {
  padding: 0;
}
.tab-content .unit-builder-content .section.unit-builder-components {
  border-bottom: 1px solid #e1e1e1;
}
.tab-content .unit-builder-content .section.unit-builder-modules {
  padding: 0 5px 5px;
  min-height: 150px;
}
.tab-content .unit-builder-content .toggle-switch.coursepress-ui-toggle-switch.on .left {
  opacity: 0.7;
}
.tab-content .unit-builder-content .toggle-switch.coursepress-ui-toggle-switch.off .right {
  opacity: 0.7;
}
.tab-content .unit-builder-content .coursepress-ui-toggle-switch .control {
  opacity: 1;
}
.tab-content .unit-builder-content .unit-buttons {
  margin: 15px 0 5px 0;
}
.tab-content .unit-builder-content .unit-buttons .button {
  border: none;
  box-shadow: none;
  color: #ffffff;
  display: inline-block;
  margin: 5px 5px 0 0;
  text-align: center;
  width: auto;
  min-width: 120px;
  border-radius: 0;
}
.tab-content .unit-builder-content .unit-buttons .button.unit-save-button {
  background: #00b0d6;
}
.tab-content .unit-builder-content .unit-buttons .button.unit-save-button:hover {
  background: #00d3f9;
}
.tab-content .unit-builder-content .unit-buttons .button.unit-delete-button {
  background: none;
  float: right;
}
.tab-content .unit-builder-content .unit-buttons .button.unit-delete-button:hover {
  background: #be4251;
}
.tab-content .unit-builder-content .unit-buttons .button.unit-delete-module-button {
  margin: 10px;
  background: none;
  color: #be4251;
}
.tab-content .unit-builder-content .unit-buttons .button.unit-delete-module-button:hover {
  background: #be4251;
  color: #ffffff;
}
.tab-content .unit-builder-content .unit-buttons .button.unit-delete-page-button {
  float: right;
  background: none;
  color: #be4251;
}
.tab-content .unit-builder-content .unit-buttons .button.unit-delete-page-button:hover {
  background: #be4251;
  color: #ffffff;
}
.tab-content .unit-builder-content .unit-buttons .hidden {
  display: none;
}
.tab-content .unit-builder-content .button.button-preview {
  background: #ec8c35;
}
.tab-content .unit-builder-content .button.button-preview:hover {
  background: #e99a53;
}
.tab-content .unit-builder-content .unit-builder-header {
  background: #0074A2;
  color: #ffffff;
}
.tab-content .unit-builder-content .unit-builder-header #wp-unit_description_1_1-media-buttons {
  display: none;
}
.tab-content .unit-builder-content .unit-builder-header #wp-unit_description_1_1-editor-tools {
  background: rgba(0, 0, 0, 0.2);
}
.tab-content .unit-builder-content .unit-builder-header h3 {
  background: none;
  color: #ffffff;
  border: none;
}
.tab-content .unit-builder-content .unit-builder-header label {
  display: block;
  margin-top: 5px;
  cursor: default;
}
.tab-content .unit-builder-content .unit-builder-header .unit-state {
  float: right;
}
.tab-content .unit-builder-content .unit-builder-header .date {
  position: relative;
}
.tab-content .unit-builder-content .unit-builder-header .date:after {
  bottom: 6px;
  color: #c9c9c9;
  content: "\f508";
  font: 17px/17px dashicons;
  position: absolute;
  left: 165px;
  z-index: 1;
}
.tab-content .unit-builder-content .unit-builder-header .notice {
  color: #444;
}
.tab-content .unit-builder-content .unit-builder-pager {
  background: #F1F1F1;
  padding: 3px 20px 8px 20px;
}
.tab-content .unit-builder-content .unit-builder-pager ul li, .tab-content .unit-builder-content .unit-builder-pager ul {
  display: inline-block;
  margin: 1px;
}
.tab-content .unit-builder-content .unit-builder-pager ul {
  margin-left: 10px;
}
.tab-content .unit-builder-content .unit-builder-pager ul li {
  height: 2.4em;
  padding: 0.5em 10px 0 10px;
  position: relative;
  text-align: center;
  top: 2px;
  min-width: 2.4em;
  font-weight: bold;
  border: 1px solid #A6B1BB;
  box-sizing: border-box;
  cursor: pointer;
}
.tab-content .unit-builder-content .unit-builder-pager ul li.active:after, .tab-content .unit-builder-content .unit-builder-pager ul li.active:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.tab-content .unit-builder-content .unit-builder-pager ul li.active:after {
  border-color: rgba(0, 116, 162, 0);
  border-top-color: #0074A2;
  border-width: 5px;
  margin-left: -5px;
}
.tab-content .unit-builder-content .unit-builder-pager ul li.active:before {
  border-color: rgba(166, 177, 187, 0);
  border-top-color: #A6B1BB;
  border-width: 6px;
  margin-left: -6px;
}
.tab-content .unit-builder-content .unit-builder-pager ul li:hover, .tab-content .unit-builder-content .unit-builder-pager ul li.active {
  background: #0074A2;
  color: #ffffff;
}
.tab-content .unit-builder-content .unit-builder-pager ul li.page-droppable {
  background: #555;
  border-width: 2px;
  border-style: dashed;
  width: 50px;
  height: 50px;
  color: #ffffff;
  opacity: 0.7;
}
.tab-content .unit-builder-content .unit-builder-pager ul li.page-droppable.active {
  background: #0074A2;
}
.tab-content .unit-builder-content .unit-builder-pager ul li.page-droppable:before,
.tab-content .unit-builder-content .unit-builder-pager ul li.page-droppable:after {
  display: none;
}
.tab-content .unit-builder-content .unit-builder-pager ul li.page-droppable-hover {
  opacity: 1;
}
.tab-content .unit-builder-content .unit-builder-pager-info label {
  display: block;
  margin-top: 10px;
}
.tab-content .unit-builder-content .unit-builder-pager-info #wp-page_description_1_1-media-buttons {
  display: none;
}
.tab-content .unit-builder-content .unit-builder-pager-info #wp-page_description_1_1-editor-tools {
  background: rgba(0, 0, 0, 0.03);
}
.tab-content .unit-builder-content .unit-builder-pager-info textarea {
  width: 100%;
  display: block;
}
.tab-content .unit-builder-content .input-element, .tab-content .unit-builder-content .output-element {
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  font-weight: bold;
  height: 49px;
  margin: 0 5px 12px 0;
  min-width: 50px;
  opacity: 0.7;
  position: relative;
  text-align: center;
  width: 78px;
}
.tab-content .unit-builder-content .input-element:hover, .tab-content .unit-builder-content .output-element:hover {
  opacity: 1;
}
.tab-content .unit-builder-content .input-element {
  color: #008dc8;
}
.tab-content .unit-builder-content .output-element {
  color: #565656;
}
.tab-content .unit-builder-content .input-element a, .tab-content .unit-builder-content .output-element a {
  display: block;
  height: 40px;
  margin: 0 auto;
  width: 40px;
}
.tab-content .unit-builder-content .output-element.module-chat a:before {
  content: '\f101';
  font-family: Dashicons;
  font-size: 36px;
  line-height: 45px;
  color: #999;
}
.tab-content .unit-builder-content h3.module-holder-title {
  background: #0092CB;
  color: #ffffff;
  margin: 10px 0 0 0;
  padding: 5px 20px;
  overflow: hidden;
  border-radius: 0;
  border: none;
  position: relative;
}
.tab-content .unit-builder-content h3.module-holder-title .module-type {
  display: inline-block;
  float: right;
  font-size: 0.8em;
  text-transform: uppercase;
}
.tab-content .unit-builder-content h3.module-holder-title .module-type:after {
  font-family: fontawesome;
  font-weight: normal;
  display: inline-block;
  float: right;
  content: '\f00a';
  margin-left: 10px;
}
.tab-content .unit-builder-content h3.module-holder-title .module-type:hover:after {
  cursor: move;
}
.tab-content .unit-builder-content h3.module-holder-title.module-holder-title:before {
  font-family: fontawesome;
  content: '\f0da';
  position: absolute;
  left: 5px;
}
.tab-content .unit-builder-content h3.module-holder-title.module-holder-title.ui-accordion-header-active:before {
  font-family: fontawesome;
  content: '\f0d7';
}
.tab-content .unit-builder-content h3.module-holder-title.section {
  background: #f1f1f1;
  color: #949494;
}
.tab-content .unit-builder-content h3.module-holder-title:hover {
  cursor: pointer;
}
.tab-content .unit-builder-content .module-holder {
  background: #E7F4FA;
}
.tab-content .unit-builder-content .module-holder .wp-editor-area, .tab-content .unit-builder-content .module-holder input, .tab-content .unit-builder-content .module-holder textarea, .tab-content .unit-builder-content .module-holder select {
  font-weight: normal;
  font-size: 1em;
}
.tab-content .unit-builder-content .module-holder .module-header {
  padding: 10px 20px 0 20px;
  position: relative;
}
.tab-content .unit-builder-content .module-holder .module-components {
  padding: 0 20px 5px 20px;
}
.tab-content .unit-builder-content .module-holder label {
  font-size: 1.1em;
  margin-bottom: 3px;
}
.tab-content .unit-builder-content .module-holder label .description {
  font-size: 0.9em;
  font-weight: normal;
}
.tab-content .unit-builder-content .module-holder div.module-title {
  width: 100%;
}
.tab-content .unit-builder-content .module-holder div.module-title .label, .tab-content .unit-builder-content .module-holder div.module-title .description {
  display: block;
}
.tab-content .unit-builder-content .module-holder div.module-title input[type=text] {
  width: 100%;
}
.tab-content .unit-builder-content .module-holder div.module-title .show-title {
  text-weight: normal;
}
.tab-content .unit-builder-content .module-holder label.module-show-title,
.tab-content .unit-builder-content .module-holder label.module-mandatory,
.tab-content .unit-builder-content .module-holder label.module-assessable,
.tab-content .unit-builder-content .module-holder label.module-allow-retries,
.tab-content .unit-builder-content .module-holder label.module-minimum-grade,
.tab-content .unit-builder-content .module-holder label.module-duration,
.tab-content .unit-builder-content .module-holder label.module-use-timer {
  width: 32%;
  margin-top: 10px;
}
.tab-content .unit-builder-content .module-holder label.module-show-title .description,
.tab-content .unit-builder-content .module-holder label.module-mandatory .description,
.tab-content .unit-builder-content .module-holder label.module-assessable .description,
.tab-content .unit-builder-content .module-holder label.module-allow-retries .description,
.tab-content .unit-builder-content .module-holder label.module-minimum-grade .description,
.tab-content .unit-builder-content .module-holder label.module-duration .description,
.tab-content .unit-builder-content .module-holder label.module-use-timer .description {
  margin-left: 20px;
  display: block;
}
.tab-content .unit-builder-content .module-holder label.module-show-title input[type="text"],
.tab-content .unit-builder-content .module-holder label.module-mandatory input[type="text"],
.tab-content .unit-builder-content .module-holder label.module-assessable input[type="text"],
.tab-content .unit-builder-content .module-holder label.module-allow-retries input[type="text"],
.tab-content .unit-builder-content .module-holder label.module-minimum-grade input[type="text"],
.tab-content .unit-builder-content .module-holder label.module-duration input[type="text"],
.tab-content .unit-builder-content .module-holder label.module-use-timer input[type="text"] {
  width: 55px;
  margin-left: 10px;
}
.tab-content .unit-builder-content .module-holder label.module-assessable-2 {
  display: block;
  margin-top: 10px;
}
.tab-content .unit-builder-content .module-holder label.module-assessable-2 .description {
  display: block;
}
.tab-content .unit-builder-content .module-holder label.module-minimum-grade .description {
  margin-left: 0;
}
.tab-content .unit-builder-content .module-holder textarea.editor {
  width: 100%;
  min-height: 200px;
}
.tab-content .unit-builder-content .module-holder label.module-excerpt {
  width: 100%;
  margin: 10px 0 5px 0;
  position: relative;
}
.tab-content .unit-builder-content .module-holder label.module-excerpt .description {
  display: block;
}
.tab-content .unit-builder-content .module-holder label.module-excerpt .wp-editor-wrap iframe {
  height: 400px;
}
.tab-content .unit-builder-content .module-holder .module {
  padding-bottom: .5em;
}
.tab-content .unit-builder-content .module-holder .module h4 {
  margin: 0;
  font-size: 1.1em;
}
.tab-content .unit-builder-content .module-holder .module-components .module-component .remove-item,
.tab-content .unit-builder-content .module-holder .module-components .module-component .remove-quiz-item,
.tab-content .unit-builder-content .module-holder .module-components .question-answer .remove-item,
.tab-content .unit-builder-content .module-holder .module-components .question-answer .remove-quiz-item {
  cursor: pointer;
  margin-left: 10px;
}
.tab-content .unit-builder-content .module-holder .module-components .module-component .add-item,
.tab-content .unit-builder-content .module-holder .module-components .question-answer .add-item {
  cursor: pointer;
  line-height: 3em;
  margin-left: 36px;
}
.tab-content .unit-builder-content .module-holder .module-components span.description {
  display: block;
}
.tab-content .unit-builder-content .module-holder .module-components input.module-title-text {
  width: 100%;
}
.tab-content .unit-builder-content .module-holder .module-components .component-checkbox-answer, .tab-content .unit-builder-content .module-holder .module-components .component-checkbox-answer.wide,
.tab-content .unit-builder-content .module-holder .module-components .component-select-answer, .tab-content .unit-builder-content .module-holder .module-components .component-select-answer.wide,
.tab-content .unit-builder-content .module-holder .module-components .component-radio-answer, .tab-content .unit-builder-content .module-holder .module-components .component-radio-answer.wide {
  margin: 0 0 5px 10px;
  width: 90%;
}
.tab-content .unit-builder-content .module-holder .module-components .component-media-caption label {
  font-weight: normal;
}
.tab-content .unit-builder-content .module-holder .module-components .component-media-caption .caption-source {
  margin: 5px 0 0 20px;
}
.tab-content .unit-builder-content .module-holder .module-components .component-media-caption .caption-source .existing, .tab-content .unit-builder-content .module-holder .module-components .component-media-caption .caption-source input[type="text"] {
  margin-left: 20px;
}
.tab-content .unit-builder-content .module-holder .module-components .component-media-caption .caption-source input[type="text"] {
  width: 80%;
}
.tab-content .unit-builder-content .section.unit-builder-footer {
  padding: 2px 6px 8px 6px;
  margin: 0;
  background: #0074a2;
  color: #ffffff;
}
.tab-content .unit-builder-content .section.unit-builder-footer #unit-live-toggle-2 {
  float: right;
  padding: 8px 10px;
}
.tab-content .unit-builder-content .section.unit-builder-footer .notice {
  color: #444;
}

.unit-builder-modules .module-header .label,
.unit-builder-modules .module-header .description,
.unit-builder-modules .module-components .label,
.unit-builder-modules .module-components .description {
  margin-bottom: 5px;
}
.unit-builder-modules .module-header label,
.unit-builder-modules .module-components label {
  margin-bottom: 10px;
}
.unit-builder-modules .module-header label.module-show-title {
  float: right;
  width: auto;
  margin-bottom: -45px;
  z-index: 1;
  position: relative;
}
.unit-builder-modules .module-header lable.module-duration {
  position: relative;
  right: 0;
}
.unit-builder-modules .module-header lable.module-duration input[type="text"] {
  max-width: 150px;
  display: block;
}

.discussion .module-duration,
.discussion .module-assessable,
.text .module-duration {
  display: none;
}

@media screen and (max-width: 1000px) {
  .tab-content .unit-builder-content .module-holder label.module-show-title,
  .tab-content .unit-builder-content .module-holder label.module-mandatory,
  .tab-content .unit-builder-content .module-holder label.module-assessable,
  .tab-content .unit-builder-content .module-holder label.module-allow-retries,
  .tab-content .unit-builder-content .module-holder label.module-minimum-grade,
  .tab-content .unit-builder-content .module-holder label.module-duration,
  .tab-content .unit-builder-content .module-holder label.module-use-timer {
    width: 49%;
  }
  .tab-content .unit-builder-content .module-holder label.module-show-title .description,
  .tab-content .unit-builder-content .module-holder label.module-mandatory .description,
  .tab-content .unit-builder-content .module-holder label.module-assessable .description,
  .tab-content .unit-builder-content .module-holder label.module-allow-retries .description,
  .tab-content .unit-builder-content .module-holder label.module-minimum-grade .description,
  .tab-content .unit-builder-content .module-holder label.module-duration .description,
  .tab-content .unit-builder-content .module-holder label.module-use-timer .description {
    margin-left: 0;
  }
  .tab-content .unit-builder-content .module-holder .module-components .module-component .component-checkbox-answer, .tab-content .unit-builder-content .module-holder .module-components .module-component .component-checkbox-answer.wide,
  .tab-content .unit-builder-content .module-holder .module-components .module-component .component-select-answer, .tab-content .unit-builder-content .module-holder .module-components .module-component .component-select-answer.wide,
  .tab-content .unit-builder-content .module-holder .module-components .module-component .component-radio-answer, .tab-content .unit-builder-content .module-holder .module-components .module-component .component-radio-answer.wide {
    width: 70%;
  }
}
@media screen and (max-width: 700px) {
  .tab-content .unit-builder-content .module-holder label.module-show-title,
  .tab-content .unit-builder-content .module-holder label.module-mandatory,
  .tab-content .unit-builder-content .module-holder label.module-assessable,
  .tab-content .unit-builder-content .module-holder label.module-allow-retries,
  .tab-content .unit-builder-content .module-holder label.module-minimum-grade,
  .tab-content .unit-builder-content .module-holder label.module-duration,
  .tab-content .unit-builder-content .module-holder label.module-use-timer {
    width: 100%;
  }
  .tab-content .unit-builder-content .unit-buttons .button {
    display: block;
  }
  .tab-content .unit-builder-content .unit-buttons .button.unit-delete-button {
    float: none;
  }
  .tab-content .unit-builder-content .section.unit-builder-footer #unit-live-toggle-2 {
    float: none;
  }
}
.post-type-course .output-element.module-chat,
.post-type-course .group-chat {
  display: none;
}
.post-type-course.cp-with-chat .output-element.module-chat {
  display: inline-block;
}
.post-type-course.cp-with-chat .group-chat {
  display: block;
}

.quiz-action-button.single,
.quiz-action-button.multiple,
.quiz-action-button.short,
.quiz-action-button.long,
.form-action-button.short,
.form-action-button.long,
.form-action-button.selectable {
  display: inline-block;
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.quiz-action-button a,
.form-action-button a {
  width: 30px;
  height: 30px;
  display: block;
  cursor: pointer;
}

.quiz-question textarea,
.form-question textarea {
  width: 100%;
}

.quiz-question .question-answer,
.form-question .question-answer {
  margin-top: 10px;
}
.quiz-question input[type='text'],
.form-question input[type='text'] {
  width: 100%;
}

.unit-builder-components .output-element .dashicons,
.quiz-action-button .output-element .dashicons {
  color: #959595;
}
.unit-builder-components .input-element .dashicons,
.quiz-action-button .input-element .dashicons {
  color: #008dc8;
}
.unit-builder-components .dashicons,
.quiz-action-button .dashicons {
  font-size: 30px;
  padding-top: 6px;
  height: 40px;
  width: 40px;
}

/*--------------------------------------------------------------
# 7. Assessments
--------------------------------------------------------------*/
.coursepress_settings_wrapper.assessment .unit-title {
  margin-top: 15px;
}
.coursepress_settings_wrapper.assessment table {
  width: 100%;
  margin: 15px 0;
}
.coursepress_settings_wrapper.assessment table td, .coursepress_settings_wrapper.assessment table th, .coursepress_settings_wrapper.assessment table tr {
  vertical-align: top;
  text-align: left;
  padding: 8px 10px;
}
.coursepress_settings_wrapper.assessment table th.student,
.coursepress_settings_wrapper.assessment table th.submission,
.coursepress_settings_wrapper.assessment table th.response,
.coursepress_settings_wrapper.assessment table th.grade,
.coursepress_settings_wrapper.assessment table th.feedback,
.coursepress_settings_wrapper.assessment table td.student-name,
.coursepress_settings_wrapper.assessment table td.student-submission,
.coursepress_settings_wrapper.assessment table td.student-answer,
.coursepress_settings_wrapper.assessment table td.student-grade,
.coursepress_settings_wrapper.assessment table td.instructor-feedback {
  width: 10%;
}
.coursepress_settings_wrapper.assessment table th.status {
  width: 7%;
}
.coursepress_settings_wrapper.assessment table th.activity,
.coursepress_settings_wrapper.assessment table td.student-activity {
  width: 43%;
}
.coursepress_settings_wrapper.assessment table tr.student-name td {
  font-weight: bold;
}
.coursepress_settings_wrapper.assessment table thead tr th:first-child {
  padding-left: 5px;
}
.coursepress_settings_wrapper.assessment table tbody tr td {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}
.coursepress_settings_wrapper.assessment table tbody tr:last-child td {
  border-bottom: none;
}
.coursepress_settings_wrapper.assessment table tbody tr:first-child td {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 5px;
}
.coursepress_settings_wrapper.assessment table tbody tr td:first-child {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 5px;
}
.coursepress_settings_wrapper.assessment table tbody tr td:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding-right: 5px;
}
.coursepress_settings_wrapper.assessment table tbody tr.treegrid-collapsed td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.coursepress_settings_wrapper.assessment table tbody:last-child tr:first-child td:first-child,
.coursepress_settings_wrapper.assessment table thead + tbody tr:first-child td:first-child {
  border-top-left-radius: 5px;
}
.coursepress_settings_wrapper.assessment table tbody:last-child tr:first-child td:last-child,
.coursepress_settings_wrapper.assessment table thead + tbody tr:first-child td:last-child {
  border-top-right-radius: 5px;
}
.coursepress_settings_wrapper.assessment table tbody:last-of-type tr:last-child td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.coursepress_settings_wrapper.assessment table tbody:last-of-type tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}
.coursepress_settings_wrapper.assessment table tbody:last-of-type tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}
.coursepress_settings_wrapper.assessment table tbody:last-of-type tr.treegrid-collapsed td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.coursepress_settings_wrapper.assessment table tbody:last-of-type tr.treegrid-collapsed td:first-child {
  border-bottom-left-radius: 5px;
}
.coursepress_settings_wrapper.assessment table tbody:last-of-type tr.treegrid-collapsed td:last-child {
  border-bottom-right-radius: 5px;
}
.coursepress_settings_wrapper.assessment table tbody.odd td {
  background: #F9F9F9;
}
.coursepress_settings_wrapper.assessment table tbody.alt td,
.coursepress_settings_wrapper.assessment table tbody.even td {
  background: #FFFFFF;
}
.coursepress_settings_wrapper.assessment table tfoot td {
  text-align: right;
}
.coursepress_settings_wrapper.assessment table .treegrid-expander {
  margin: 8px 5px -2px 5px;
}
.coursepress_settings_wrapper.assessment .prev-page:hover .tablenav-pages-navspan,
.coursepress_settings_wrapper.assessment .next-page:hover .tablenav-pages-navspan {
  background-color: #00a0d2;
  border-color: #00a0d2;
  color: #FFF;
}
.coursepress_settings_wrapper.assessment .prev-page .tablenav-pages-navspan,
.coursepress_settings_wrapper.assessment .next-page .tablenav-pages-navspan {
  background-color: #e5e5e5;
  color: #00a0d2;
}
.coursepress_settings_wrapper.assessment .tablenav-pages {
  text-align: right;
  padding: 0 15px;
}
.coursepress_settings_wrapper.assessment .unit-tabs-container {
  margin-top: 10px;
}
.coursepress_settings_wrapper.assessment .unit-tabs-container span {
  font-weight: bold;
}
.coursepress_settings_wrapper.assessment .unit-tabs-container .unit-tabs {
  display: inline-block;
  margin-left: 10px;
}
.coursepress_settings_wrapper.assessment .unit-tabs-container .unit-tabs .unit-tab {
  display: inline-block;
  margin-right: 5px;
  width: 2em;
  text-align: center;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 3px;
  font-weight: bold;
  text-decoration: none;
  color: #444444;
}
.coursepress_settings_wrapper.assessment .unit-tabs-container .unit-tabs .unit-tab:hover,
.coursepress_settings_wrapper.assessment .unit-tabs-container .unit-tabs .unit-tab.active {
  background: #0091CD;
  color: #ffffff;
  cursor: pointer;
}
.coursepress_settings_wrapper.assessment .unit-tabs-container .unit-tabs .unit-tab.draft {
  opacity: 0.4;
  font-style: oblique;
  font-weight: normal;
}
.coursepress_settings_wrapper.assessment .module-answer-wrapper .course-name,
.coursepress_settings_wrapper.assessment .module-answer-wrapper .unit-name {
  display: inline-block;
  margin-right: 50px;
}
.coursepress_settings_wrapper.assessment .module-answer-wrapper .activity-wrapper {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 3px 10px 20px 10px;
  margin-top: 10px;
  background: #F9F9F9;
  overflow: hidden;
}
.coursepress_settings_wrapper.assessment .module-answer-wrapper .activity-wrapper .response {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 5px 10px;
  background: #ffffff;
}
.coursepress_settings_wrapper.assessment .module-answer-wrapper .activity-wrapper .response ul li:before {
  font-family: dashicons;
  content: "";
  display: inline-block;
  font-size: 13px;
  height: 12px;
  line-height: 6px;
  margin-right: 4px;
  opacity: 0.5;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  width: 11px;
}
.coursepress_settings_wrapper.assessment .module-answer-wrapper .activity-wrapper .response ul li.chosen-answer.correct:before {
  content: "\f147";
  color: #41bb8a;
}
.coursepress_settings_wrapper.assessment .module-answer-wrapper .activity-wrapper .response ul li.chosen-answer.incorrect:before {
  content: "\f158";
  color: #ff6666;
}
.coursepress_settings_wrapper.assessment .module-answer-wrapper .activity-wrapper .instructor-feedback-label {
  position: relative;
  top: 40px;
}
.coursepress_settings_wrapper.assessment .module-answer-wrapper .activity-wrapper .grading {
  float: left;
}
.coursepress_settings_wrapper.assessment .module-answer-wrapper .activity-wrapper .save-button {
  padding-top: 20px;
  text-align: right;
}
.coursepress_settings_wrapper.assessment .collapse-all-students > a,
.coursepress_settings_wrapper.assessment .expand-all-students > a {
  background: none repeat scroll 0 0 #f9f9f9;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 5px;
}

.cp-right {
  float: right;
}

.cp-certified {
  color: #6bbb1a;
  text-transform: uppercase;
  font-size: 1.5em;
  border: 4px #6bbb1a double !important;
  padding: 4px 12px;
  vertical-align: middle;
  margin-left: 15px;
}

.student-row .cp-certified {
  font-size: 14px;
  padding: 2px 8px;
}

.cp-content {
  margin: 15px 0;
}
.cp-content table {
  width: 100%;
}
.cp-content td {
  vertical-align: top;
}
.cp-content .avatar {
  float: left;
  margin-right: 15px;
}
.cp-content h3 {
  margin-top: 0;
}
.cp-content .student-data {
  width: 20%;
}
.cp-content .cp-course-grade {
  font-size: 3.2em;
  vertical-align: middle;
}
.cp-content .cp-unit-div {
  border: 1px #DDD solid;
  margin-bottom: 5px;
  background-color: #FFF;
  clear: both;
}
.cp-content .cp-unit-div:after {
  content: "";
  clear: both;
  display: block;
}
.cp-content .cp-unit-div h3 {
  border-bottom: 1px #DDD double;
  padding: 8px 10px;
  margin: 0;
  background-color: #F4F4F4;
  cursor: pointer;
}
.cp-content .cp-unit-div .cp-modules {
  box-sizing: border-box;
  padding: 8px 15px;
}
.cp-content .cp-unit-div .cp-modules .red {
  color: #fe0000;
}
.cp-content .cp-unit-div .cp-modules .red span, .cp-content .cp-unit-div .cp-modules .red .fa {
  color: #fe0000;
}
.cp-content .cp-unit-div .cp-modules .green {
  color: #6bbb1a;
}
.cp-content .cp-unit-div .cp-modules .green span, .cp-content .cp-unit-div .cp-modules .green .fa {
  color: #6bbb1a;
}
.cp-content .cp-unit-div .cp-modules .cp-check {
  text-transform: uppercase;
  background-color: #F4F4F4;
  padding: 0 8px;
  border-radius: 20px;
}
.cp-content .cp-unit-div .cp-modules .cp-module {
  border: 1px #DDD dashed;
  margin-bottom: 15px;
  padding: 25px 15px 8px 15px;
}
.cp-content .cp-unit-div .cp-modules .module-grade {
  text-align: center;
}
.cp-content .cp-unit-div .cp-modules .cp-assess-label {
  font-weight: 700;
  margin-bottom: 5px;
  display: inline-block;
}
.cp-content .cp-unit-div .cp-modules h4 {
  margin-top: 0;
}
.cp-content .cp-unit-div .cp-modules .cp-page-title {
  margin-top: 10px;
}
.cp-content .cp-unit-div .cp-modules .chosen-answer {
  float: left;
  width: 25px;
}
.cp-content .cp-unit-div .cp-modules .chosen-answer.correct:before {
  content: "\f147";
  font-family: Dashicons;
  color: #41bb8a;
  font-size: 26px;
}
.cp-content .cp-unit-div .cp-modules .chosen-answer.incorrect:before {
  content: "\f158";
  font-family: Dashicons;
  color: red;
  font-size: 26px;
}
.cp-content .cp-unit-div .cp-modules .cp-answer-box {
  position: relative;
  background-color: #F4F4F4;
  padding: 8px;
  font-style: italic;
}
.cp-content .cp-unit-div .cp-modules .button, .cp-content .cp-unit-div .cp-modules .button-primary {
  font-size: 12px;
}
.cp-content .cp-unit-div .cp-modules .cp-required {
  color: #FF6D6D;
  margin: -10px 15px 0 15px;
  text-transform: uppercase;
  font-size: 12px;
}
.cp-content .cp-unit-div .cp-modules .module-submit {
  margin-left: 10px !important;
}
.cp-content .cp-unit-div .cp-modules .cp-assessment-div {
  margin-top: -10px;
}
.cp-content .cp-unit-div .cp-modules .cp-feedback-text .cp-assessment-div {
  position: relative;
  z-index: 999999;
}
.cp-content .cp-unit-div .cp-modules .cp-assessment-div .fa-spinner {
  margin-left: 15px;
  color: #008ec2;
}
.cp-content .cp-unit-div .cp-modules .cp-assessment-div.coursepress-tooltip:after {
  width: 300px;
  right: 0;
  margin-top: 5px;
}
.cp-content .cp-unit-div .cp-modules .cp-grade-editor {
  margin-bottom: 25px;
}
.cp-content .cp-unit-div .cp-modules .cp-grade-editor-box {
  clear: both;
  padding: 15px;
  background-color: #FFF;
  border: 1px #DDD solid;
}
.cp-content .cp-unit-div .cp-modules .cp-grade-editor-box:after {
  content: "";
  display: block;
  clear: both;
}
.cp-content .cp-unit-div .cp-modules .cp-grade-editor-box .cp-assess-label {
  display: block;
}
.cp-content .cp-unit-div .cp-modules .cp-active {
  color: #008ec2;
}
.cp-content .cp-unit-div .cp-modules .cp-instructor-feedback {
  margin: 25px 0 15px 0;
  display: block;
  clear: both;
}
.cp-content .cp-unit-div .cp-modules .cp-instructor-feedback h4 {
  font-size: 16px;
  border-bottom: 1px #DDD solid;
  padding-bottom: 10px;
}
.cp-content .cp-unit-div .cp-modules .cp-instructor-feedback .cp-feedback-buttons {
  margin-top: -55px;
}
.cp-content .cp-unit-div .cp-modules .cp-instructor-feedback .cp-draft-icon {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  margin-right: 5px;
  color: #fe0000;
  float: left;
}
.cp-content .cp-unit-div .cp-modules .cp-feedback-editor {
  clear: both;
  display: none;
}
.cp-content .cp-unit-div .cp-modules .cp-feedback-editor .cp-feedback-title {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
}
.cp-content .cp-unit-div .cp-modules .cp-feedback-editor .description {
  margin-bottom: -25px;
}
.cp-content .cp-unit-div .cp-modules .cp-feedback-editor .cp-edit-grade-box {
  float: none;
  margin: 15px 0;
  padding-bottom: 20px;
  clear: both;
}
.cp-content .cp-unit-div .cp-modules .cp-feedback-editor .coursepress-tooltip:after {
  max-width: 320px;
  margin-top: 30px;
}
.cp-content .cp-unit-div .cp-modules .cp-question {
  font-size: 14px !important;
}
.cp-content .cp-unit-div .cp-modules .cp-response {
  max-width: 75%;
}
.cp-content .cp-unit-div .cp-modules .cp-no-answer {
  position: relative;
  padding-top: 15px;
}
.cp-content .cp-unit-div .cp-modules .cp-no-answer:after, .cp-content .cp-unit-div .cp-modules .cp-no-answer.module-assessable .cp-answer-box:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 109, 109, 0.1);
  z-index: 1;
}
.cp-content .cp-unit-div .cp-modules .cp-no-answer.module-assessable:after {
  display: none;
}
.cp-content .cp-unit-div .cp-modules .cp-no-answer .cp-answer-box {
  max-width: 50%;
}
.cp-content .cp-unit-div .cp-modules .cp-instructor-edit label {
  display: block;
}

.cp-result-details {
  margin: 15px 0;
}
.cp-result-details td {
  padding: 5px 20px;
  font-weight: 700;
  background-color: #FFF;
  text-align: center;
  border: 1px #DDD solid;
}
.cp-result-details em {
  font-weight: 200;
  font-style: normal;
  padding: 0 10px;
}

.modules-answer-wrapper {
  border: 1px #ddd solid;
  background-color: #FFF;
  padding: 15px;
}
.modules-answer-wrapper .cp-responses {
  margin: 0;
}
.modules-answer-wrapper table {
  margin-bottom: 15px;
}
.modules-answer-wrapper table td {
  vertical-align: middle;
}

.cp-course-selector h4 {
  margin-bottom: 5px;
}

#the-list .cp-unit-div {
  border: 0;
  margin: 0;
}

.cp-table .avatar {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.cp-table td {
  padding: 8px 12px;
  vertical-align: middle !important;
}

.cp-back {
  margin-top: 12px;
}

.cp-back a {
  text-decoration: none;
}

.cp-table a {
  text-decoration: none;
}

.cp-actions .cp-min-tooltip {
  margin: 0 0 5px 0;
}
.cp-actions .cp-min-tooltip:after {
  width: 220px;
  right: 0;
}
.cp-actions .coursepress-tooltip:after {
  width: 100px;
  padding: 4px;
  margin-top: 12px;
  right: -40px;
  text-align: center;
  background-color: #FFF;
  color: #333;
}
.cp-actions .cp-refresh-progress {
  color: #0073aa;
  background-color: transparent;
  border: 0;
  padding: 0 8px;
  font-size: 16px;
}
.cp-actions .cp-refresh-progress.fa-spin {
  color: #FF6D6D;
}

.cp-units {
  width: 100%;
  display: block;
  margin: 15px 0;
  clear: both;
}
.cp-units .cp-unit-tab {
  background-color: #DDD;
  padding: 5px 15px !important;
  margin: 0 5px 5px 0;
}
.cp-units .cp-unit-tab.active {
  color: #FFF;
  background-color: #008ec2;
}

.cp-box {
  display: inline-block;
  margin-right: 15px;
}
.cp-box label {
  display: block;
  font-weight: 700;
  margin-bottom: 5px;
}
.cp-box .label {
  font-weight: 400;
}
.cp-box .select2 {
  min-width: 220px;
  max-width: 250px;
}

.cp-inline-responses .cp-unit-div {
  border: 0;
  margin: 15px 0;
}
.cp-inline-responses .cp-unit-div .cp-toggle {
  border: 0;
}
.cp-inline-responses .cp-unit-div .cp-toggle .dashicons {
  display: none;
}

.cp-loader-info {
  margin: 15px 0;
  text-align: center;
  font-size: 20px;
}
.cp-loader-info .fa {
  color: #008ec2;
}

.cp-assessment-page .users .column-certificates,
.cp-assessment-page .users .column-modules,
.cp-assessment-page .users .column-view_all {
  vertical-align: middle;
}
.cp-assessment-page .users .column-modules .cp-edit-grade,
.cp-assessment-page .users .column-modules a {
  color: #0073aa;
  position: relative;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}
.cp-assessment-page .users .column-modules .cp-edit-grade.active,
.cp-assessment-page .users .column-modules a.active {
  border: 1px #DDD solid;
  background-color: #FFF;
  padding: 10px;
  display: inline-block;
  margin-bottom: -10px;
  border-width: 1px 1px 0 1px;
}
.cp-assessment-page .users .cp-responses {
  background-color: #fff;
}

/*--------------------------------------------------------------
# 8. Assessments
--------------------------------------------------------------*/
.coursepress_wrapper.coursepress-reports .fa {
  font-size: 2em;
}
.coursepress_wrapper.coursepress-reports .column-report,
.coursepress_wrapper.coursepress-reports .column-html {
  width: 5em;
  text-align: center;
}
.coursepress_wrapper.coursepress-reports td.column-responses, .coursepress_wrapper.coursepress-reports td.column-average {
  text-indent: 15px;
}
.coursepress_wrapper.coursepress-reports .help-tooltip {
  display: inline-block;
}

/*--------------------------------------------------------------
# A. Settings Responsive
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# B. Warnings, notices and extra things
--------------------------------------------------------------*/
.post-type-course .misc-pub-section#visibility,
.post-type-course .misc-pub-section.misc-pub-curtime {
  display: none;
}

/**
 * Invalid file extension
 */
.invalid_extension_field {
  border: 1px red solid !important;
}

.invalid_extension_message {
  color: red;
  display: none;
}

/**
 * Collapsible boxes
 */
.cp-content-box .hndle {
  cursor: pointer;
}
.cp-content-box.collapsed .inside {
  display: none;
}

/**
 * jQuery Date Picker
 */
body[class*="_page_coursepress_course"] .ui-datepicker,
.post-type-course .ui-datepicker {
  background: #F1F1F1;
  color: #333333;
  border-radius: 4px;
  box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #ddd;
  padding: 4px;
  font-family: Verdana,Arial,sans-serif;
}
body[class*="_page_coursepress_course"] .ui-datepicker-header,
.post-type-course .ui-datepicker-header {
  position: relative;
  background: #0091CD;
  padding: 10px;
  text-align: center;
  border-radius: 4px 4px 0 0;
  font-weight: bold;
  color: #fff;
}
body[class*="_page_coursepress_course"] .ui-datepicker-prev,
body[class*="_page_coursepress_course"] .ui-datepicker-next,
.post-type-course .ui-datepicker-prev,
.post-type-course .ui-datepicker-next {
  position: absolute;
  top: -0.5em;
}
body[class*="_page_coursepress_course"] .ui-datepicker-prev,
.post-type-course .ui-datepicker-prev {
  left: 0;
}
body[class*="_page_coursepress_course"] .ui-datepicker-next,
.post-type-course .ui-datepicker-next {
  right: 0;
}
body[class*="_page_coursepress_course"] .ui-datepicker-prev:after,
.post-type-course .ui-datepicker-prev:after {
  color: #fff;
  content: "\f141";
  font-family: dashicons;
  font-size: 2.5em;
  height: 16px;
  width: 16px;
}
body[class*="_page_coursepress_course"] .ui-datepicker-next:after,
.post-type-course .ui-datepicker-next:after {
  color: #fff;
  content: "\f139";
  font-family: dashicons;
  font-size: 2.5em;
  height: 16px;
  width: 16px;
}
body[class*="_page_coursepress_course"] .ui-datepicker-prev span,
body[class*="_page_coursepress_course"] .ui-datepicker-next span,
.post-type-course .ui-datepicker-prev span,
.post-type-course .ui-datepicker-next span {
  text-indent: -9999px;
  display: block;
}
body[class*="_page_coursepress_course"] .ui-datepicker .ui-datepicker-calendar td,
.post-type-course .ui-datepicker .ui-datepicker-calendar td {
  padding: 0;
}
body[class*="_page_coursepress_course"] .ui-datepicker-calendar tr th,
.post-type-course .ui-datepicker-calendar tr th {
  padding: 5px 0;
}
body[class*="_page_coursepress_course"] .ui-datepicker-calendar tr th span,
.post-type-course .ui-datepicker-calendar tr th span {
  font-size: 0.8em;
}
body[class*="_page_coursepress_course"] .ui-datepicker .ui-state-default,
.post-type-course .ui-datepicker .ui-state-default {
  width: 2em;
  display: inline-block;
  text-align: right;
  text-decoration: none;
  background: #C7EBF6;
  color: #333;
  padding: 2px;
  margin: 0;
}
body[class*="_page_coursepress_course"] .ui-datepicker .ui-state-default.ui-state-active,
.post-type-course .ui-datepicker .ui-state-default.ui-state-active {
  background: #0091CD;
  color: #fff;
}
body[class*="_page_coursepress_course"] .ui-datepicker .ui-state-default.ui-state-highlight,
.post-type-course .ui-datepicker .ui-state-default.ui-state-highlight {
  border: 1px solid rgba(0, 145, 205, 0.3);
}
body[class*="_page_coursepress_course"] .ui-datepicker .ui-state-default.ui-timepicker-select,
body[class*="_page_coursepress_course"] .ui-datepicker .ui_tpicker_timezone select,
.post-type-course .ui-datepicker .ui-state-default.ui-timepicker-select,
.post-type-course .ui-datepicker .ui_tpicker_timezone select {
  display: inherit;
  width: inherit;
  padding: 0;
  height: inherit;
  line-height: normal;
  vertical-align: inherit;
}

/**
 * Shortcodes help screen
 */
.shortcodes-list .cp-content-box .inside {
  padding-bottom: 2em;
}
.shortcodes-list .cp-content-box:last-child inside {
  padding-bottom: 0;
}
.shortcodes-list .cp-content-box .cp-shortcode-options li {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.shortcodes-list .cp-content-box .cp-shortcode-options li span {
  font-family: monospace;
  font-weight: bold;
}
.shortcodes-list .cp-content-box .cp-shortcode-subheading {
  font-weight: bold;
}
.shortcodes-list .cp-content-box .cp-shortcode-subheading.optional {
  opacity: .8;
}
.shortcodes-list .cp-content-box p {
  margin: 0;
}
.shortcodes-list .cp-content-box p.description, .shortcodes-list .cp-content-box p.options, .shortcodes-list .cp-content-box p.default {
  padding-left: 3em;
}


/* 506887-1528449024-au */