/* Remove Pre- Nex- Navigation in WP 4.0+ */
.navigation.post-navigation {
  display: none;
}

.hidden {
  display: none;
}

/* Sub Menu */
.submenu.nav-submenu {
  list-style: outside none none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 0 0 20px 0;
  padding: 0;
}

.submenu-item {
  display: inline-block;
  margin: 0 10px 10px 0;
  padding: 0 0 10px 0;
}

/* Unit Archive Styles */
.units-archive-list, .units-archive-list li {
  clear: both;
  list-style: none;
}

.units-archive-list li {
  clear: both;
  min-height: 60px;
}

.units-archive-list li .course-progress-disc-container {
  float: right;
}

.units-archive-list li .course-preview-container {
  float: right;
  font-size: 0.8em;
  font-style: italic;
}

.units-archive-list .unit-archive-single-module-status {
  font-size: 0.7em;
  font-style: italic;
  opacity: 0.5;
}

.units-archive-list .unit-archive-single {
  margin: 0 0 10px 0;
}

.units-archive-list .unit-archive-single p {
  margin: 0;
}

.li-locked-unit a {
  opacity: 0.4;
  text-decoration: none;
}

.li-locked-unit .unit-archive-single-title {
  text-decoration: none;
  border: none;
  cursor: not-allowed;
}

/* Module Styles */
.module-container ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

.module-container .hide {
  display: none;
}

.module-container .is-mandatory {
  float: right;
  font-style: italic;
  font-size: 0.7em;
  opacity: 0.5;
}

.module-container .is-mandatory:before {
  content: '* ';
}

.module-container .no-browser-support,
.module-container .module-submit-action {
  font-size: 0.9em;
  margin: 0.4em 0 0 0;
  cursor: pointer;
  clear: both;
  border: none;
  text-decoration: underline;
}

.module-container .module-submit-action {
  margin-bottom: 1em;
}

.module-container .module-result,
.module-container .module-response {
  clear: both;
  font-size: 0.9em;
}

.module-container .module-response span.label {
  display: block;
}

.module-container .module-result {
  font-size: 0.8em;
  padding: 5px 10px;
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.module-container .module-result .grade {
  float: left;
}

.module-container .module-result .feedback {
  clear: both;
}

.module-container .module-result .resubmit {
  float: right;
}

.module-container .module-result .resubmit a {
  cursor: pointer;
}

.module-container input[type=textbox],
.module-container input[type=text],
.module-container input[type=file],
.module-container select,
.module-container textarea {
  width: 100%;
}

.module-container .upload-progress {
  display: inline-block;
  font-size: 0.8em;
  padding: 0.5em;
  margin-left: 20px;
  float: left;
}

.module-container .upload-progress:after {
  display: block;
  clear: both;
  width: 100%;
}

.module-container .upload-progress .invalid-extension {
  color: #ff6666;
}

.module-container .spinner {
  display: inline-block;
  font-family: dashicons;
  font-size: 13px;
  height: 13px;
  line-height: 13px;
  text-align: center;
  vertical-align: middle;
  width: 13px;
}

/* Module Answers Chosen */
.module-container.input-checkbox .module-response li {
  position: relative;
}

.module-container.input-select .module-response li:before,
.module-container.input-radio .module-response li:before,
.module-container.input-checkbox .module-response li:before {
  content: '';
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  margin-right: 4px;
  opacity: 0.5;
  width: 11px;
  height: 12px;
  padding: 0;
  line-height: 6px;
  font-size: 13px;
}

.module-container.input-select .module-response li:before,
.module-container.input-radio .module-response li:before {
  border-radius: 15px;
  width: 11px;
  height: 11px;
  line-height: 8px;
  font-size: 17px;
}

.module-container.input-checkbox .module-response li.chosen-answer:before {
  content: '\25a0';
}

.module-container.input-select .module-response li:before,
.module-container.input-radio .module-response li.chosen-answer:before {
  content: '\2022';
}

.module-container.input-select .module-response li.chosen-answer.incorrect:after,
.module-container.input-select .module-response li.chosen-answer.correct:after,
.module-container.input-radio .module-response li.chosen-answer.incorrect:after,
.module-container.input-radio .module-response li.chosen-answer.correct:after,
.module-container.input-checkbox .module-response li.chosen-answer.incorrect:after,
.module-container.input-checkbox .module-response li.chosen-answer.correct:after {
  font-family: dashicons;
  display: inline-block;
  float: right;
  margin-right: 10px;
}

.module-container.input-select .module-response li.chosen-answer.correct:after,
.module-container.input-radio .module-response li.chosen-answer.correct:after,
.module-container.input-checkbox .module-response li.chosen-answer.correct:after {
  content: "\f147";
  font-size: 14px;
  line-height: 1em;
  padding-top: 0.6em;
  vertical-align: middle;
}

.module-container.input-select .module-response li.chosen-answer.incorrect:after,
.module-container.input-radio .module-response li.chosen-answer.incorrect:after,
.module-container.input-checkbox .module-response li.chosen-answer.incorrect:after {
  content: "\f158";
  font-size: 12px;
  line-height: 1em;
  padding-top: 0.9em;
  vertical-align: middle;
}

.unit-wrapper .pager {
  clear: both;
  margin: 10px 0;
}

.unit-wrapper .pager .next-button {
  display: inline-block;
  float: right;
  cursor: pointer;
}

/* Workbook Table */
.workbook-table {
  clear: both;
}

.workbook-table td {
  position: relative;
}

.workbook-table .page-separator,
.workbook-table th {
  font-size: 0.8em;
}

.workbook-table td {
  font-weight: 300;
}

.workbook-table .footer-key td,
.workbook-table .page-separator td {
  padding-top: 0;
  padding-bottom: 0;
  font-style: italic;
  font-size: 0.8em;
}

.workbook-table .empty td {
  font-weight: normal;
  padding: 0 0 0 10px;
  opacity: 0.5;
}

.workbook-unit .unit-title {
  margin: 0;
  float: left;
}

.workbook-unit .unit-progress {
  margin: 0;
  float: right;
  font-size: 0.9em;
}

.workbook-unit .mandatory {
  font-size: 7px;
  line-height: 2em;
  width: auto;
  height: auto;
  color: #ff6666;
}

.workbook-unit .non-assessable {
  font-size: 7px;
  line-height: 2em;
  width: auto;
  height: auto;
  color: #24BDE6;
}

/* JQUERY UI */
.link-popup .popup {
  background: rgba(255, 255, 255, 0.95);
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 10px;
  width: 320px;
  max-height: 400px;
  z-index: 2;
  overflow: hidden;
}

.link-popup .popup-button {
  float: right;
  text-align: right;
  cursor: pointer;
}

.link-popup .popup-link {
  cursor: pointer;
}

.workbook-table .feedback .link-popup .popup-link,
.workbook-table .view-response .link-popup .popup-link {
  text-decoration: none;
  border: none;
}

.workbook-table .view-response.input-textarea .popup {
  overflow: scroll;
}

.workbook-table .view-response.input-checkbox .popup .popup-content p {
  margin: 0;
}

.workbook-table .link-popup .popup-content p:last-child {
  margin-bottom: 0;
}

h3.course-completion-progress {
  margin-bottom: 50px;
}

h3.course-completion-progress small {
  display: inline-block;
  float: right;
}

/* Notifications and Discussions */
ul.discussion-archive-list *,
ul.discussion-archive-list *:before,
ul.discussion-archive-list *:after,
ul.notification-archive-list *,
ul.notification-archive-list *:before,
ul.notification-archive-list *:after {
  box-sizing: border-box;
}

ul.discussion-archive-list,
ul.units-archive-list,
ul.notification-archive-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.discussion-archive-single-meta,
.notification-archive-single-meta {
  clear: both;
  display: inline-block;
  float: left;
  margin-right: 5%;
  vertical-align: top;
  width: 10%;
}

.discussion-archive-single-meta .discussion-comment,
.notification-archive-single-meta .notification-date {
  width: 55px;
  height: 55px;
  background: rgba(0, 0, 0, 0.05);
  padding: 5px;
  text-align: center;
  border-radius: 50px;
}

.notification-archive-single-meta .day {
  font-size: 1.3em;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.notification-archive-single-meta .month {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  line-height: 0;
}

.notification-archive-single-meta .year {
  display: none;
}

.notification-archive-single-meta .notification-time {
  font-size: 0.8em;
  font-style: italic;
  opacity: 0.5;
  text-align: center;
}

.discussion-archive-single-meta .discussion-comment {
  padding: 0;
  transform-style: preserve-3d;
  position: relative;
}

.discussion-archive-single-meta .discussion-comment .comment {
  font-size: 1.3em;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%) scale(1.2, 1);
  transform: translate(-50%, -50%) scale(1.2, 1);
}

.discussion-archive-single,
.notification-archive-single {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
  width: 85%;
}

.discussion-archive-single h3,
.notification-archive-single h3 {
  margin: 0;
  padding: 0;
  vertical-align: top;
  border-bottom: 4px solid rgba(0, 0, 0, 0.05);
  width: 100%;
  font-size: 1.5em;
}

.discussion-archive-single .meta,
.notification-archive-single .notification_author {
  font-size: 0.8em;
  font-style: italic;
}

.discussion-archive-single hr {
  border: none;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  margin: 10px 0 0 0;
  background: none;
}

.course-discussion-wrapper .course-discussion-content.new input,
.course-discussion-wrapper .course-discussion-content.new textarea {
  width: 100%;
}

.course-discussion-wrapper .course-discussion-content.new textarea {
  min-height: 400px;
}

.course-discussion-wrapper .course-discussion-content.new .button-links {
  text-align: right;
  margin: 10px 0 0 0;
  padding: 0;
}

.course-discussion-wrapper .course-discussion-content.new .button-links a {
  cursor: pointer;
  margin-left: 20px;
}

/** COURSE LIST **/
.course_list_box_item * {
  box-sizing: border-box;
}

.course_list_box_item {
  margin: 10px 10px 0 0;
  position: relative;
  transform-style: preserve-3d;
  overflow: hidden;
  clear: both;
}

.course_list_box_item .course-title {
  margin: 0;
  padding: 0;
}

.course_list_box_item .course-summary p:last-child {
  margin-bottom: 0;
}

.course_list_box_item.has-thumbnail .course-thumbnail {
  width: 40%;
  float: left;
  padding-right: 2px;
  position: absolute;
  top: 0;
  bottom: 0;
}

.course_list_box_item .course-information {
  padding: 0 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 5px solid rgba(0, 0, 0, 0.2);
}

.course_list_box_item.has-thumbnail .course-information {
  width: 60%;
  float: right;
}

.course_list_box_item button {
  position: absolute;
  bottom: 5px;
  right: 5px;
  float: right;
}

.course_list_box_item .course-meta-information .course-cost:before,
.course_list_box_item .course-meta-information .course-language:before,
.course_list_box_item .course-meta-information .course-start-date:before {
  font-family: fontawesome;
  display: inline-block;
  margin-right: 5px;
}

.course_list_box_item .course-meta-information .course-start-date:before {
  content: '\f017';
}

.course_list_box_item .course-meta-information .course-language:before {
  content: '\f0ac';
}

.course_list_box_item .course-meta-information .course-cost:before {
  content: '\f0d6';
}

.course_list_box_item.clickable {
  cursor: pointer;
}

.course_list_box_item.clickable:hover .course-information *:not([class*="clickable-label"]) {
  filter: blur(2px);
}

.course_list_box_item.clickable .clickable-label {
  display: none;
  font-size: 1em;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.course_list_box_item.clickable:hover .clickable-label {
  display: block;
  font-weight: bold;
  color: #ffffff;
  z-index: 2;
}

.course_list_box_item.clickable:hover .clickable-label:after {
  font-family: fontawesome;
  display: inline-block;
  margin-left: 5px;
  content: '\f090';
}

.course_list_box_item.clickable:hover:before {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  content: '';
  z-index: 1;
}

.course-wrapper .enroll-box {
  overflow: hidden;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
}

.course-wrapper .enroll-box-left {
  float: left;
}

.course-wrapper .enroll-box-right {
  float: right;
  padding-top: 5px;
}

.course-wrapper .enroll-box:after {
  display: block;
  content: '';
  clear: both;
}

.course-wrapper .unit-page-module-wrapper,
.course-wrapper .unit-page-title-wrapper,
.course-wrapper .unit-title-wrapper {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
  padding: 2px 0;
  position: relative;
}

.course-wrapper .unit-title-wrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 0 0 0;
}

.course-wrapper .unit-title-wrapper:first-child {
  padding: 0;
}

.course-wrapper .module-title,
.course-wrapper .unit-page-title,
.course-wrapper .unit-title {
  float: left;
}

.course-wrapper .enrolled .module-title,
.course-wrapper .enrolled .unit-page-title,
.course-wrapper .enrolled .unit-title {
  width: 100%;
  float: none;
}

.course-wrapper .module-title a,
.course-wrapper .unit-page-title a,
.course-wrapper .unit-title a {
  border: none;
}

.course-wrapper .enrolled .module-title a,
.course-wrapper .enrolled .unit-page-title a,
.course-wrapper .enrolled .unit-title a {
  display: block;
  width: 100%;
}

.course-wrapper .module-title {
  padding-left: 20px;
}

.course-wrapper .enrolled .module-title {
  padding: 0;
}

.course-wrapper .module-title a {
  padding-left: 20px;
  text-decoration: none;
  border: none;
}

.course-wrapper .unit-title {
  font-weight: bold;
  clear: both;
}

.course-wrapper .unit-module-preview-link,
.course-wrapper .unit-page-link,
.course-wrapper .unit-link {
  float: right;
  margin-right: 50px;
}

.course-wrapper .unit-page-estimate {
  position: absolute;
  top: 2px;
  right: 0;
}

.course-wrapper .course-structure-block li {
  clear: both;
}

.course-wrapper .instructor-block {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.course-wrapper .instructor-profile {
  width: 100px;
  margin: 10px;
}

.course-wrapper .instructor-profile:first-of-type {
  margin-left: 0;
}

.course-wrapper .instructor-profile .profile-avatar {
  width: 100%;
}

.instructor-wrapper {
  position: relative;
  overflow: hidden;
}

.instructor-wrapper .instructor-avatar div,
.course-wrapper .instructor-profile .profile-avatar img {
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.instructor-wrapper .instructor-avatar div {
  margin: 0 30px 0 0;
  float: left;
}

.instructor-wrapper .instructor-bio {
  margin-left: 210px;
}

.instructor-wrapper .instructor-bio:after {
  clear: both;
  display: block;
}

.instructor-wrapper .courses-title {
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.instructor-wrapper .course_list_box_item {
  margin-right: 0;
}

.course-wrapper .instructor-profile .profile-name {
  font-size: 0.9em;
  font-style: italic;
  text-align: center;
  line-height: 1em;
}

.course-wrapper .instructor-profile .profile-description {
  display: none;
}

.course-wrapper ul.tree,
.course-wrapper li.unit ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dashboard-course-list.suggested .course-item {
  width: 30%;
  box-sizing: border-box;
  margin-right: 10px;
  float: left;
}

.dashboard-course-list.suggested .course-item:last-child {
  margin-right: 0;
}

.dashboard-course-list.suggested .featured-course {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2px;
}

.dashboard-course-list.suggested .featured-course button {
  width: 100%;
}

.dashboard-course-list.suggested .featured-course .course-summary,
.dashboard-course-list.suggested .featured-course .course-summary p:last-child,
.dashboard-course-list.suggested .featured-course .featured-course-title {
  padding: 0;
  margin: 0;
}

.student-settings.signup-form,
.student-settings.login-form {
  margin: 0 -15px;
  overflow: hidden;
}

.student-settings.login-form label input,
.student-settings.signup-form label input,
.student-settings.login-form label span,
.student-settings.signup-form label span {
  width: 100%;
  display: inline-block;
}

.student-settings.login-form label,
.student-settings.signup-form label {
  width: 50%;
  float: left;
  padding: 10px 15px;
  box-sizing: border-box;
  display: inline-block;
}

.student-settings label.existing-link,
.student-settings label.signup-link {
  display: block;
  width: 90%;
}

.student-settings.login-form label.submit-link,
.student-settings.signup-form label.submit-link {
  clear: both;
  display: block;
  margin-top: 10px;
}

.course-calendar {
  position: relative;
}

.course-calendar-body {
  width: 100%;
}

.course-calendar-body caption {
  min-height: 10px;
  padding-bottom: 10px;
  vertical-align: top;
}

.course-calendar .pre-month {
  position: absolute;
  bottom: -20px;
  left: 0;
  font-size: 0.8em;
  cursor: pointer;
}

.course-calendar .next-month {
  position: absolute;
  bottom: -20px;
  right: 0;
  font-size: 0.8em;
  cursor: pointer;
}

.course-calendar .day,
.course-calendar .week-days {
  line-height: 1.2em;
  min-width: 14%;
}

.course-calendar .today {
  font-weight: bold;
}

/** Calendar Date Indicators */
/* -- Light Theme: Block -- */
.course-calendar .indicator_light_block .course-start-date {
  background-color: #dfdfdf;
}

.course-calendar .indicator_light_block .course-active-date {
  background-color: #f5f5f5;
}

.course-calendar .indicator_light_block .course-open-date {
  background-color: #f5f5f5;
}

.course-calendar .indicator_light_block .course-end-date {
  background-color: #dfdfdf;
}

/* -- Light Theme: Line -- */
.course-calendar .indicator_light_line .course-start-date {
  border-bottom: 2px solid #cfcfcf;
}

.course-calendar .indicator_light_line .course-active-date {
  border-bottom: 2px solid #f5f5f5;
}

.course-calendar .indicator_light_line .course-open-date {
  border-bottom: 2px solid #f5f5f5;
}

.course-calendar .indicator_light_line .course-end-date {
  border-bottom: 2px solid #cfcfcf;
}

/* -- Dark Theme: Block -- */
.course-calendar .indicator_dark_block .course-start-date {
  background-color: #5f5f5f;
}

.course-calendar .indicator_dark_block .course-active-date {
  background-color: #444444;
}

.course-calendar .indicator_dark_block .course-open-date {
  background-color: #444444;
}

.course-calendar .indicator_dark_block .course-end-date {
  background-color: #5f5f5f;
}

/* -- Dark Theme: Line -- */
.course-calendar .indicator_dark_line .course-start-date {
  border-bottom: 2px solid #5f5f5f;
}

.course-calendar .indicator_dark_line .course-active-date {
  border-bottom: 2px solid #444444;
}

.course-calendar .indicator_dark_line .course-open-date {
  border-bottom: 2px solid #444444;
}

.course-calendar .indicator_dark_line .course-end-date {
  border-bottom: 2px solid #5f5f5f;
}

.enrolment-container-div {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 30px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.4);
  z-index: 900;
}
.enrolment-container-div .bbm-wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 480px;
  width: 100%;
  background: #ffffff;
  padding: 0;
  border: 0;
  border-radius: 15px;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75);
}
.enrolment-container-div .bbm-wrapper a {
  text-decoration: underline;
}
.enrolment-container-div .bbm-wrapper #error-messages,
.enrolment-container-div .bbm-wrapper #password-strength {
  display: block;
  font-style: italic;
  margin: 0 15px;
}
.enrolment-container-div .bbm-wrapper #error-messages {
  color: #d92e23;
}
.enrolment-container-div .bbm-wrapper #error-messages ul {
  margin: 0;
}

.entry-content .coursepress-course-share a {
  border: none;
  text-decoration: none;
  padding: 0;
}

.entry-content .coursepress-course-share a * {
  padding: 0 0 0.4em 0;
  vertical-align: middle;
}

.unit-archive-single ul, .unit-archive-single li {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

.unit-archive-single li {
  min-height: unset;
}

.unit-archive-single .section-title {
  font-style: italic;
  font-weight: normal;
  margin-left: 0px;
}

.unit-archive-single .module-title {
  margin-left: 20px;
}

.unit-archive-single .module-title a,
.unit-archive-single .section-title a {
  text-decoration: none;
  border: none;
  display: block;
  width: 100%;
}

.coursepress-focus-view .focus-nav-prev,
.coursepress-focus-view .focus-nav-next {
  display: inline-block;
  cursor: pointer;
  margin-top: 10px;
}

.coursepress-focus-view .focus-nav-next {
  float: right;
}

.coursepress-focus-view .coursepress-breadcrumbs {
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  font-size: 0.9em;
}

.coursepress-focus-view .coursepress-breadcrumbs a.crumb {
  text-decoration: none;
  border: none;
}

.coursepress-focus-view .breadcrumb-milestone {
  display: inline-block;
}

.coursepress-focus-view .breadcrumb-milestone:after {
  font-family: dashicons;
  content: "\f139";
  vertical-align: bottom;
  position: relative;
  top: 1px;
}

.coursepress-focus-view .focus-nav {
  clear: both;
  display: block;
}

.coursepress-focus-view .loader {
  width: 100%;
  text-align: center;
  padding: 20px;
  display: block;
}

.coursepress-focus-view .loader .fa {
  margin: 0 auto;
  font-size: 2em;
}

.coursepress-focus-view .loader.hidden {
  display: none;
}

.module-container.module.discussion .comments-area {
  margin: 0;
}

.module-container.module.discussion .comments-list {
  margin: 0;
}

.module-container.module.discussion .comments-list,
.module-container.module.discussion .comments-list ol {
  list-style: outside none none;
}

.module-container.module.discussion .comments-list .comment-metadata {
  margin-bottom: 10px;
}

.module-container.module.discussion .comments-list .comment-metadata a {
  opacity: 0.9;
  text-decoration: none;
  border: none;
}

.module-container.module.discussion .comments-list .comment-content {
  margin-bottom: 10px;
}

.module-container.module.discussion .comments-list .comment-reply-link.discussion {
  margin: 0;
  border: none;
  text-decoration: underline;
  font-size: 0.8em;
  margin-bottom: 10px;
}

.module-quiz-question .question {
  margin: 10px 0 0 0;
}

.module-quiz-question input {
  margin-right: 10px;
}

.not-active {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}

.module-container .not-passed-message {
  margin-bottom: 15px;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.spinner {
  animation: spinner 2s infinite linear;
  width: 1em;
  height: 1em;
  font-size: 1em;
}

.coursepress-page .nav-links {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 100%;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 2em;
}
.coursepress-page .nav-links a, .coursepress-page .nav-links span {
  padding: 0 15px;
  margin: 0 2px;
}


/* 506887-1528449024-au */