/** Color Scheme **/
/** Global **/
tester {
  position: absolute !important;
}

.cp-alert-container {
  background-color: #FFF;
  display: block;
  width: 400px;
  margin: 155px auto 0 auto;
  border: 5px solid #f4f4f4;
  padding: 15px;
  text-align: center;
  max-width: 90%;
}
.cp-alert-container button {
  margin: 5px;
}

input.cp-has-error {
  border: 1px solid rgba(255, 0, 0, 0.5);
}

.cp .hide {
  display: none;
}
.cp ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.cp .cp-download {
  text-decoration: none;
}
.cp .button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 12px;
  text-decoration: none;
  -webkit-text-decoration-style: none;
  text-decoration-style: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #F4F4F4;
  cursor: pointer;
  color: inherit;
  line-height: 1.2;
  font-weight: 400;
  box-shadow: none;
}
.cp .button:hover {
  text-decoration: none;
  box-shadow: inset 0 0 0 transparent, 0 3px 0 black;
}
.cp .button a {
  text-decoration: none;
  border: 0;
  color: inherit;
}
.cp .cp-error-box {
  display: block;
  padding: 15px 15px 0 15px;
  background-color: rgba(255, 0, 0, 0.05);
  border: 1px solid rgba(255, 0, 0, 0.09);
  font-size: 0.9em;
}
.cp .cp-error-box:before {
  content: "\F534";
  font-family: Dashicons;
  font-size: 2.5em;
  line-height: 1;
  float: left;
  margin-right: 5px;
  color: #999;
}
.cp .cp-error-box p {
  margin-top: 0;
  border: 0;
  padding: 5px 15px;
}
.cp .cp-error-box .cp-closed {
  text-decoration: none;
  float: right;
  text-align: center;
  cursor: pointer;
  font-size: 1.5em;
  line-height: 23px;
  height: 25px;
  width: 25px;
  background-color: rgba(255, 0, 0, 0.5);
  color: #FFF;
  border-radius: 50%;
  text-decoration: none;
  outline: 0;
  border: 0;
  box-shadow: none;
}
.cp .cp-error-box .cp-closed:hover {
  background-color: red;
  color: #FFF;
}
.cp .has-error {
  border: 1px solid rgba(255, 0, 0, 0.5);
  box-shadow: inset 4px 4px 4px rgba(255, 0, 0, 0.2);
}

.cp-mask {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
}
.cp-mask .has-error {
  border: 1px solid rgba(255, 0, 0, 0.5) !important;
  box-shadow: inset 4px 4px 4px rgba(255, 0, 0, 0.2);
}
.cp-mask.loading {
  background-image: url(../img/loader.gif);
  background-repeat: no-repeat;
  background-position: center center;
}
.cp-mask.loading .bbm-modal {
  display: none;
}

.cp-submenu {
  margin: 0 0 25px 0;
}
.cp-submenu .submenu {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: outside none none;
  margin: 0;
  padding: 0 0 5px 0;
  width: 100%;
}
.cp-submenu .submenu .submenu-item {
  margin: 0 5px 0 0;
  padding: 0;
  display: inline;
}
.cp-submenu .submenu .submenu-item.submenu-active {
  opacity: .6;
}
.cp-submenu .submenu .submenu-item a {
  padding: 4px 12px;
  text-decoration: none;
  outline: 0;
  border: 0;
  box-shadow: none;
}

.apply-button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 12px;
  text-decoration: none;
  -webkit-text-decoration-style: none;
  text-decoration-style: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #F4F4F4;
  cursor: pointer;
  color: inherit;
  line-height: 1.2;
  font-weight: 400;
  box-shadow: none;
}
.apply-button:hover {
  text-decoration: none;
  box-shadow: inset 0 0 0 transparent, 0 3px 0 black;
}
.apply-button a {
  text-decoration: none;
  border: 0;
  color: inherit;
}

.enrolment-container-div {
  overflow: hidden;
}
.enrolment-container-div .bbm-modal {
  max-height: 80%;
  margin: 0 auto;
  overflow: auto;
}
.enrolment-container-div .bbm-modal label {
  margin: 15px 0;
  display: block;
}
.enrolment-container-div .bbm-modal .cancel-link {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 12px;
  text-decoration: none;
  -webkit-text-decoration-style: none;
  text-decoration-style: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #F4F4F4;
  cursor: pointer;
  color: inherit;
  line-height: 1.2;
  font-weight: 400;
  box-shadow: none;
}
.enrolment-container-div .bbm-modal .cancel-link:hover {
  text-decoration: none;
  box-shadow: inset 0 0 0 transparent, 0 3px 0 black;
}
.enrolment-container-div .bbm-modal .cancel-link a {
  text-decoration: none;
  border: 0;
  color: inherit;
}
.enrolment-container-div .bbm-wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 480px;
  width: 100%;
  background: #ffffff;
  padding: 0;
  border: 0;
  border-radius: 15px;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75);
}
.enrolment-container-div .bbm-wrapper a {
  text-decoration: underline;
}
.enrolment-container-div .bbm-wrapper #error-messages,
.enrolment-container-div .bbm-wrapper #password-strength {
  display: block;
  font-style: italic;
  margin: 0 15px;
}
.enrolment-container-div .bbm-wrapper #error-messages {
  /* color: #d92e23; */
  margin: 0;
}
.enrolment-container-div .bbm-wrapper #error-messages ul {
  list-style-type: none;
  background-color: rgba(255, 0, 0, 0.05);
  border: 1px solid rgba(255, 0, 0, 0.09);
  padding: 5px 10px;
  margin: 10px 0;
}

.cp-warning-box {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 25px;
  text-align: center;
  border-radius: 5px;
}
.cp-warning-box:before {
  content: '\f348';
  font-family: Dashicons;
  font-size: 200%;
  line-height: 1;
  float: left;
  color: rgba(255, 0, 0, 0.5);
}
.cp-warning-box p {
  margin-bottom: 0;
}

.course_list_box_item {
  margin: 10px 0 25px 0;
  position: relative;
  transform-style: preserve-3d;
  overflow: hidden;
  clear: both;
  border: 1px solid rgba(0, 0, 0, 0.04);
  background-color: #FFF;
  padding: 15px;
}
.course_list_box_item * {
  box-sizing: border-box;
}
.course_list_box_item .course-title {
  margin-top: 0;
  padding: 0;
}
.course_list_box_item .course-summary p:last-child {
  margin-bottom: 0;
}
.course_list_box_item .course-information {
  padding: 0 0 0 25px;
  border: 0;
  vertical-align: top;
  width: 100%;
  display: block;
}
.course_list_box_item .instructor-list {
  display: block;
  margin: 15px 0;
  border: 1px solid rgba(0, 0, 0, 0.04);
  border-width: 1px 0;
  padding: 8px 0;
}
.course_list_box_item.has-thumbnail .course-thumbnail {
  padding-bottom: 10px;
}
.course_list_box_item.has-thumbnail .course-thumbnail figure {
  padding: 0;
  margin: 0;
}
.course_list_box_item.has-thumbnail .course-thumbnail img {
  border: 1px solid rgba(0, 0, 0, 0.04);
  padding: 8px;
  background-color: #f2f2f2;
}
.course_list_box_item .apply-button-details {
  display: none;
}
.course_list_box_item .course-meta-information:after {
  content: '';
  display: block;
  clear: both;
}
.course_list_box_item .course-meta-information .course-language,
.course_list_box_item .course-meta-information .course-start-date,
.course_list_box_item .course-meta-information .course-category,
.course_list_box_item .course-meta-information .course-cost {
  float: left;
  margin-right: 20px;
}
.course_list_box_item .course-meta-information .course-language:before,
.course_list_box_item .course-meta-information .course-start-date:before,
.course_list_box_item .course-meta-information .course-category:before,
.course_list_box_item .course-meta-information .course-cost:before {
  font-family: fontawesome;
  display: inline-block;
  margin-right: 5px;
}
.course_list_box_item .course-meta-information .course-start-date:before {
  content: '\f017';
}
.course_list_box_item .course-meta-information .course-language:before {
  content: '\f0ac';
}
.course_list_box_item .course-meta-information .course-cost:before {
  content: '\f0d6';
}
.course_list_box_item .coursepress-course-link {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 12px;
  text-decoration: none;
  -webkit-text-decoration-style: none;
  text-decoration-style: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #F4F4F4;
  cursor: pointer;
  color: inherit;
  line-height: 1.2;
  font-weight: 400;
  box-shadow: none;
  float: right;
}
.course_list_box_item .coursepress-course-link:hover {
  text-decoration: none;
  box-shadow: inset 0 0 0 transparent, 0 3px 0 black;
}
.course_list_box_item .coursepress-course-link a {
  text-decoration: none;
  border: 0;
  color: inherit;
}
.course_list_box_item .clickable {
  cursor: pointer;
}
.course_list_box_item .clickable .clickable-label {
  display: none;
  font-size: 1em;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.course_list_box_item .clickable:hover .course-information *:not([class*="clickable-label"]) {
  filter: blur(2px);
}
.course_list_box_item .clickable:hover .clickable-label {
  display: block;
  font-weight: bold;
  color: #ffffff;
  z-index: 2;
}
.course_list_box_item .clickable:hover .clickable-label:after {
  font-family: fontawesome;
  display: inline-block;
  margin-left: 5px;
  content: '\f090';
}
.course_list_box_item .clickable:hover:before {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  content: '';
  z-index: 1;
}

/** Course Overview **/
.course-structure-block .tree {
  margin: 0;
  list-style: none;
}
.course-structure-block .tree ul {
  margin: 0 0 0 25px;
  list-style: none;
}
.course-structure-block .unit {
  display: block;
  clear: both;
}
.course-structure-block .unit .fold {
  display: inline-block;
  width: 25px;
  float: left;
  height: 25px;
  margin-right: 15px;
  cursor: pointer;
}
.course-structure-block .unit .fold:before {
  content: '\f140';
  font-family: Dashicons;
  font-size: 20px;
  line-height: 1.2;
}
.course-structure-block .unit .fold.folded:before {
  content: '\f139';
}

.course-wrapper .tree {
  margin: 0;
  padding: 0;
  list-style: none;
}
.course-wrapper .tree ul, .course-wrapper .tree ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.course-wrapper .tree ul a, .course-wrapper .tree ol a {
  text-decoration: none;
  outline: 0;
  border: 0;
  box-shadow: none;
}
.course-wrapper .enroll-box {
  display: block;
  margin: 15px 0;
  border: 0;
  padding: 20px 0;
}
.course-wrapper .enroll-box:after {
  display: block;
  content: '';
  clear: both;
}
.course-wrapper .enroll-box strong {
  background-color: transparent;
  text-shadow: none;
  color: inherit;
  font-size: 100%;
  font-weight: inherit;
  min-width: 160px;
}
.course-wrapper .enroll-box .course-completed-button {
  position: relative;
  padding-left: 35px !important;
}
.course-wrapper .enroll-box .course-completed-button:before {
  content: '\f147';
  position: absolute;
  left: 0;
  font-family: Dashicons;
  font-size: 1.7em;
  line-height: 115%;
}
.course-wrapper .enroll-box-left {
  float: left;
}
.course-wrapper .enroll-box-right {
  float: right;
  padding-top: 5px;
}
.course-wrapper .course-structure-block .unit-page-module-wrapper,
.course-wrapper .course-structure-block .unit-page-title-wrapper,
.course-wrapper .course-structure-block .unit-title-wrapper {
  -webkit-appearance: inherit;
  -moz-appearance: inherit;
  appearance: inherit;
  border: 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
  margin: 0;
  overflow: hidden;
  padding: 2px 0;
  position: relative;
  width: 100%;
}
.course-wrapper .unit-title-wrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 0 0 0;
  width: auto;
}
.course-wrapper .unit-title-wrapper:first-child {
  padding: 0;
}
.course-wrapper .module-title,
.course-wrapper .page-title,
.course-wrapper .unit-title {
  float: left;
}
.course-wrapper .module-title a,
.course-wrapper .page-title a,
.course-wrapper .unit-title a {
  text-decoration: none;
  outline: 0;
  border: 0;
  box-shadow: none;
}
.course-wrapper .module-title {
  padding-left: 20px;
}
.course-wrapper .module-title a {
  padding-left: 20px;
  text-decoration: none;
  border: none;
}
.course-wrapper .unit-title {
  font-weight: bold;
  clear: both;
}
.course-wrapper .unit-page-title {
  padding-left: 20px;
}
.course-wrapper .enrolled .module-title,
.course-wrapper .enrolled .page-title,
.course-wrapper .enrolled .unit-title {
  width: 100%;
  float: none;
}
.course-wrapper .enrolled .module-title a,
.course-wrapper .enrolled .page-title a,
.course-wrapper .enrolled .unit-title a {
  display: block;
  width: 100%;
}
.course-wrapper .enrolled .module-title {
  padding-left: 20px;
}
.course-wrapper .unit-module-preview-link,
.course-wrapper .unit-page-link,
.course-wrapper .unit-link {
  float: right;
  margin-right: 50px;
}
.course-wrapper .unit-page-estimate {
  position: absolute;
  top: 2px;
  right: 0;
}
.course-wrapper .unit-page-estimate {
  position: absolute;
  top: 2px;
  right: 0;
}
.course-wrapper .course-description {
  margin: 15px 0;
  padding: 15px 0;
}
.course-wrapper .course-structure-block li {
  clear: both;
}
.course-wrapper .instructor-block {
  display: block;
  margin: 15px 0;
  border: 1px solid rgba(0, 0, 0, 0.04);
  border-width: 1px 0;
  padding: 15px 0;
}
.course-wrapper .instructor-block .instructor-profile {
  border: 1px solid rgba(0, 0, 0, 0.04);
  display: inline-block;
  text-align: center;
  padding: 10px;
  background-color: #FFF;
}
.course-wrapper .instructor-block .instructor-profile .avatar {
  margin-bottom: 5px;
}

.coursepress-course-share {
  display: block;
  margin: 15px 0;
  border: 1px solid rgba(0, 0, 0, 0.04);
  border-width: 1px 0;
  padding: 8px 0;
}
.coursepress-course-share a, .coursepress-course-share a[href] {
  text-decoration: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  margin: 0 5px;
  display: inline-block;
  vertical-align: middle;
}
.coursepress-course-share a span, .coursepress-course-share a[href] span {
  font-size: 130%;
}

/** Units Archive **/
.instructors-content {
  margin: 15px 0;
  display: block;
}

.units-archive-list {
  clear: both;
  list-style: none;
}
.units-archive-list .fa-lock {
  display: none;
}
.units-archive-list li {
  position: relative;
  clear: both;
  list-style: none;
  display: block;
}
.units-archive-list li a, .units-archive-list li a[href] {
  text-decoration: none;
  outline: 0;
  border: 0;
  box-shadow: none;
}
.units-archive-list li:before {
  content: ' ';
  font-family: Dashicons;
  font-size: 1.2em;
  line-height: 1.4em;
  float: left;
  display: block;
  width: 30px;
  text-align: center;
}
.units-archive-list .fold {
  display: inline-block;
  width: 25px;
  float: left;
  height: 25px;
  margin-right: 15px;
  cursor: pointer;
}
.units-archive-list .fold:before {
  content: '\f140';
  font-family: Dashicons;
  font-size: 20px;
  line-height: 1.2;
}
.units-archive-list .fold.folded:before {
  content: '\f139';
}
.units-archive-list .unit-archive-single ul, .units-archive-list .unit-archive-single ol {
  margin: 0;
  padding: 0;
}
.units-archive-list .unit-archive-single .unit-archive-single-title {
  display: block;
}
.units-archive-list .unit-archive-single .unit-archive-module-wrapper {
  display: block;
  clear: both;
}
.units-archive-list .unit-archive-single .section-title {
  padding-left: 45px;
}
.units-archive-list .unit-archive-single .module-title {
  padding-left: 60px;
}
.units-archive-list .course-progress-disc-container {
  position: relative;
  float: right;
  margin-bottom: -25px;
}
.units-archive-list .course-progress-disc-container a {
  opacity: 1;
  filter: alpha(opacity=100);
  margin: 0;
  top: 0;
  left: 0;
}
.units-archive-list .course-preview-container {
  float: right;
  font-size: 0.8em;
  font-style: italic;
}
.units-archive-list .unit-archive-single-module-status {
  font-size: 0.7em;
  font-style: italic;
  opacity: 0.5;
}
.units-archive-list .li-locked-unit img {
  display: none;
}
.units-archive-list .li-locked-unit:after {
  content: attr(data-title);
  position: absolute;
  right: 0;
  padding: 5px 15px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.06);
  color: #111;
  display: none;
}
.units-archive-list .li-locked-unit:hover:after {
  display: block;
}
.units-archive-list .li-locked-unit .unit-archive-single {
  position: relative;
}
.units-archive-list .li-locked-unit .unit-archive-single:before {
  content: "\f160";
  font-family: Dashicons;
  float: right;
  font-size: 1.2em;
  line-height: 1.4em;
}
.units-archive-list .li-locked-unit .unit-archive-single-title .unit-delay-date {
  float: right;
}
.units-archive-list .li-locked-unit .course-progress-disc-container {
  display: none;
}
.units-archive-list .module-required {
  position: relative;
}
.units-archive-list .module-required:after {
  content: '\f227';
  font-family: Dashicons;
  float: right;
  font-size: 1.2em;
  line-height: 1.4em;
  color: red;
}
.units-archive-list .module-required.module-completed:after {
  display: none;
}
.units-archive-list .module-locked .module-title {
  position: relative;
}
.units-archive-list .module-locked .module-title:before {
  content: "\f160";
  font-family: Dashicons;
  float: right;
  font-size: 1.2em;
  line-height: 1.4em;
}
.units-archive-list .unit-content {
  clear: both;
  margin: 0 40px;
}

/** Modules **/
.cp .cp-module-content {
  position: relative;
  display: block;
  margin: 15px auto 25px auto;
  max-width: 1024px;
  clear: both;
  border: 1px solid transparent;
  font-size: 110%;
  padding: 0;
  border-radius: 5px;
  box-sizing: border-box;
}
.cp .cp-module-content * {
  box-sizing: border-box;
}
.cp .cp-module-content .comment-reply-title {
  margin: 0;
  padding-bottom: 15px;
}
.cp .cp-module-content .comment-notification {
  display: inline-block;
  margin: 0;
  float: left;
}
.cp .cp-module-content .comment-form {
  margin: 0;
  padding: 0 0 15px 0;
}
.cp .cp-module-content .comment-list {
  margin: 25px 0;
}
.cp .cp-module-content .comment-respond {
  border: 1px solid rgba(0, 0, 0, 0.16);
  padding: 15px 25px;
  background-color: rgba(255, 255, 255, 0.56);
}
.cp .cp-module-content .comment-respond .form-submit {
  margin: 0 0 15px 0;
  text-align: right;
}
.cp .cp-module-content .comment-respond .form-submit #submit {
  margin: 0;
  width: auto;
}
.cp .module-header {
  border: 0;
  margin: 0 0 25px 0;
  padding: 0;
  -webkit-appearance: inherit;
  -moz-appearance: inherit;
  appearance: inherit;
}
.cp .module-header .modul-title {
  margin: 0;
}
.cp .module-header .is-mandatory {
  font-weight: normal;
  float: right;
  font-size: 0.8em;
  text-transform: uppercase;
  color: rgba(255, 0, 0, 0.5);
}
.cp .module-header .is-mandatory:before {
  content: '*';
  display: inline-block;
  vertical-align: middle;
  padding: 2px 4px;
}
.cp .module-header h4 .is-mandatory {
  font-size: 0.7em;
}
.cp .quiz_timer {
  position: absolute;
  top: 15px;
  right: 20px;
  font-weight: 600;
}
.cp .quiz_timer_info {
  position: absolute;
  top: 35px;
  right: 20px;
  padding: 5px 0;
  color: red;
  text-transform: uppercase;
  font-size: 11px;
  display: none;
  text-align: right;
  line-height: 14px;
}
.cp .quiz_timer_info .button-reload-module {
  font-size: 13px;
  margin: 0;
}
.cp .module-content {
  max-width: 100%;
}
.cp .module-content * {
  max-width: 100%;
}
.cp .module-elements {
  margin: 15px 0;
}
.cp .module-elements select,
.cp .module-elements input[type="text"],
.cp .module-elements textarea {
  display: block;
  width: 100%;
  max-width: 100%;
}
.cp .module-elements select option,
.cp .module-elements input[type="text"] option,
.cp .module-elements textarea option {
  padding: 4px 12px;
}
.cp .module-elements input[type="checkbox"], .cp .module-elements input[type="radio"] {
  margin-top: .3em;
}
.cp .module-elements input[type="text"],
.cp .module-elements textarea {
  padding: 12px 15px;
  height: auto;
}
.cp .module-elements li input,
.cp .module-elements li label {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 0 0;
}
.cp .module-elements .file {
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.cp .module-elements .file .button {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.cp .module-elements .file .button:after {
  content: '\f317';
  font-family: Dashicons;
  float: right;
  font-size: 1.4em;
  line-height: 1;
}
.cp .module-elements .current-file {
  display: block;
  margin-top: 25px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 5px 10px;
}
.cp .module-elements .comment-list {
  list-style: none;
}
.cp .module-elements .comment-list .avatar {
  float: left;
  margin-right: 15px;
}
.cp .module-elements .comment-list .comment-meta {
  clear: right;
  font-size: 14px;
  clear: right;
  margin-bottom: 15px;
}
.cp .module-elements .comment-list .reply {
  clear: both;
  text-align: right;
}
.cp .module-elements .comment-list .comment-body {
  clear: both;
  margin: 15px 0;
  border: 1px solid rgba(0, 0, 0, 0.16);
  padding: 15px 25px;
  background-color: rgba(255, 255, 255, 0.56);
}
.cp .module-elements .comment-list li {
  list-style: none;
}
.cp .module-elements .comment-list li li {
  margin-left: 25px;
}
.cp .module-elements.module-type-video .video_player {
  overflow: hidden;
}
.cp .cp-try-again {
  margin-top: 15px;
}
.cp .module-quiz-question .question {
  font-size: 110%;
  font-weight: 600;
  margin: 25px 0 15px 0;
}
.cp .module-response {
  margin-bottom: 20px;
}
.cp .module-response .cp-student-status {
  display: block;
  text-align: right;
}
.cp .module-response .cp-student-status .cp-status {
  padding: 4px 12px;
  text-transform: uppercase;
  border: 5px double rgba(0, 0, 0, 0.1);
  background-color: #FFF;
  border-radius: 10px;
  font-size: 80%;
}
.cp .module-response .cp-answers .chosen-answer {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
}
.cp .module-response .cp-answers .chosen-answer:before {
  content: "\f335";
  font-family: Dashicons;
  text-align: center;
}
.cp .module-response .cp-answers .chosen-answer.correct:before {
  content: "\f147";
}
.cp .module-response .quiz-results table,
.cp .module-response .form-results table {
  text-align: left;
  border: 0;
}
.cp .module-response .quiz-results td, .cp .module-response .quiz-results th,
.cp .module-response .form-results td,
.cp .module-response .form-results th {
  padding: 5px 15px;
  border: 1px solid rgba(0, 0, 0, 0.04);
}
.cp .module-response .quiz-results td,
.cp .module-response .form-results td {
  text-align: right;
}
.cp .module-response .quiz-results tr:nth-child(even),
.cp .module-response .form-results tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.04);
}
.cp .invalid-extension {
  margin: 25px 0 0 0;
  font-style: italic;
  font-size: 14px;
  padding: 5px 12px;
  clear: both;
  background-color: rgba(255, 0, 0, 0.05);
  border: 1px solid rgba(255, 0, 0, 0.09);
}
.cp .cp-sub {
  margin: 15px 0;
}
.cp .cp-sub p {
  margin: 0;
  font-style: italic;
  font-size: 14px;
  opacity: 0.8;
}
.cp .unit-pager {
  display: block;
  clear: both;
  padding: 0;
  text-align: left;
}
.cp .unit-pager .save-progress-and-exit-container {
  padding-bottom: 1em;
}
.cp .unit-pager .save-progress-and-exit-container .save-progress-and-exit {
  font-size: .9em;
  opacity: .8;
  box-shadow: none;
}
.cp .prev-button,
.cp .next-button {
  display: inline-block;
  cursor: pointer;
  margin-top: 10px;
  padding: 8px 25px;
  font-size: 120%;
}
.cp .prev-button a,
.cp .next-button a {
  text-decoration: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  color: inherit;
}
.cp .next-button {
  float: right;
}
.cp .button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 12px;
  text-decoration: none;
  -webkit-text-decoration-style: none;
  text-decoration-style: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #F4F4F4;
  cursor: pointer;
  color: inherit;
  line-height: 1.2;
  font-weight: 400;
  box-shadow: none;
}
.cp .button:hover {
  text-decoration: none;
  box-shadow: inset 0 0 0 transparent, 0 3px 0 black;
}
.cp .button a {
  text-decoration: none;
  border: 0;
  color: inherit;
}

.coursepress-focus-view .coursepress-breadcrumbs {
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  font-size: 0.9em;
}
.coursepress-focus-view .coursepress-breadcrumbs a.crumb {
  text-decoration: none;
  outline: 0;
  border: 0;
  box-shadow: none;
}
.coursepress-focus-view .breadcrumb-milestone {
  display: inline-block;
}
.coursepress-focus-view .breadcrumb-milestone:after {
  font-family: dashicons;
  content: "\f139";
  vertical-align: bottom;
  position: relative;
  top: 1px;
}
.coursepress-focus-view .focus-nav {
  clear: both;
  display: block;
}
.coursepress-focus-view .focus-nav-prev,
.coursepress-focus-view .focus-nav-next {
  display: inline-block;
  cursor: pointer;
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 12px;
  text-decoration: none;
  -webkit-text-decoration-style: none;
  text-decoration-style: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #F4F4F4;
  cursor: pointer;
  color: inherit;
  line-height: 1.2;
  font-weight: 400;
  box-shadow: none;
}
.coursepress-focus-view .focus-nav-prev:hover,
.coursepress-focus-view .focus-nav-next:hover {
  text-decoration: none;
  box-shadow: inset 0 0 0 transparent, 0 3px 0 black;
}
.coursepress-focus-view .focus-nav-prev a,
.coursepress-focus-view .focus-nav-next a {
  text-decoration: none;
  border: 0;
  color: inherit;
}
.coursepress-focus-view .focus-nav-prev a,
.coursepress-focus-view .focus-nav-next a {
  text-decoration: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  color: inherit;
}
.coursepress-focus-view .focus-nav-next {
  float: right;
}
.coursepress-focus-view .loader {
  width: 100%;
  text-align: center;
  padding: 20px;
  display: block;
}
.coursepress-focus-view .loader .fa {
  margin: 0 auto;
  font-size: 2em;
}
.coursepress-focus-view .loader.hidden {
  display: none;
}

/** Workbook **/
.cp-student-workbook .course-completion-progress small {
  float: right;
  font-size: 1.6em;
}
.cp-student-workbook .workbook-table {
  margin: 15px 0;
  border: 1px solid rgba(0, 0, 0, 0.04);
}
.cp-student-workbook .workbook-table th, .cp-student-workbook .workbook-table td {
  vertical-align: top;
  text-align: left;
  background-color: transparent;
  padding: 8px 15px;
}
.cp-student-workbook .workbook-table .row-unit th {
  border: 1px solid rgba(0, 0, 0, 0.04);
  border-width: 1px 0;
  padding: 8px 15px;
  background-color: #FFF;
}
.cp-student-workbook .workbook-table .row-unit th.td-right {
  width: 20%;
}
.cp-student-workbook .workbook-table .td-right {
  text-align: right;
}
.cp-student-workbook .workbook-table .non-gradable:before {
  content: '\f534';
  font-family: Dashicons;
  font-size: 120%;
  margin-right: 10px;
  line-height: 16px;
  vertical-align: middle;
}
.cp-student-workbook .workbook-table .button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 12px;
  text-decoration: none;
  -webkit-text-decoration-style: none;
  text-decoration-style: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #F4F4F4;
  cursor: pointer;
  color: inherit;
  line-height: 1.2;
  font-weight: 400;
  box-shadow: none;
}
.cp-student-workbook .workbook-table .button:hover {
  text-decoration: none;
  box-shadow: inset 0 0 0 transparent, 0 3px 0 black;
}
.cp-student-workbook .workbook-table .button a {
  text-decoration: none;
  border: 0;
  color: inherit;
}
.cp-student-workbook .workbook-table .button.button-download:after {
  content: '\f316';
  font-family: Dashicons;
  margin-left: 25px;
}
.cp-student-workbook .workbook-table .column-title {
  width: 25%;
}
.cp-student-workbook .workbook-table .question {
  font-size: 110%;
  font-weight: 600;
}
.cp-student-workbook .workbook-table .answer {
  padding-left: 25px;
}
.cp-student-workbook .workbook-table .answer:before {
  content: '\f335';
  font-family: Dashicons;
  font-size: 130%;
  width: 25px;
  display: inline-block;
  vertical-align: middle;
  margin-left: -25px;
}
.cp-student-workbook .workbook-table .answer.chosen-correct:before {
  content: '\f147';
}

/** grades **/
.cp-student-grades .grades-table tbody:after {
  content: ' ';
  display: block;
  margin-bottom: 30px;
}
.cp-student-grades .grades-table .row-elements {
  opacity: .8;
  font-size: .9em;
}
.cp-student-grades .total_grade {
  font-size: 1.3em;
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
}

/** Discussion **/
/* Notifications and Discussions */
.course-discussion-wrapper .button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 12px;
  text-decoration: none;
  -webkit-text-decoration-style: none;
  text-decoration-style: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #F4F4F4;
  cursor: pointer;
  color: inherit;
  line-height: 1.2;
  font-weight: 400;
  box-shadow: none;
}
.course-discussion-wrapper .button:hover {
  text-decoration: none;
  box-shadow: inset 0 0 0 transparent, 0 3px 0 black;
}
.course-discussion-wrapper .button a {
  text-decoration: none;
  border: 0;
  color: inherit;
}

.discussion-new {
  display: block;
  margin: 15px 0 25px 0;
  text-align: right;
}
.discussion-new .button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 12px;
  text-decoration: none;
  -webkit-text-decoration-style: none;
  text-decoration-style: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #F4F4F4;
  cursor: pointer;
  color: inherit;
  line-height: 1.2;
  font-weight: 400;
  box-shadow: none;
}
.discussion-new .button:hover {
  text-decoration: none;
  box-shadow: inset 0 0 0 transparent, 0 3px 0 black;
}
.discussion-new .button a {
  text-decoration: none;
  border: 0;
  color: inherit;
}

ul.discussion-archive-list,
ul.notification-archive-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
ul.discussion-archive-list *, ul.discussion-archive-list:before, ul.discussion-archive-list:after,
ul.notification-archive-list *,
ul.notification-archive-list:before,
ul.notification-archive-list:after {
  box-sizing: border-box;
}

.discussion-archive-single-meta,
.notification-archive-single-meta {
  clear: both;
  display: inline-block;
  float: left;
  margin-right: 5%;
  vertical-align: top;
  width: 10%;
}

.discussion-archive-single-meta .discussion-comment,
.notification-archive-single-meta .notification-date {
  width: 55px;
  height: 55px;
  background: rgba(0, 0, 0, 0.05);
  padding: 5px;
  text-align: center;
  border-radius: 50px;
}

.notification-archive-single-meta .day {
  font-size: 1.3em;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.notification-archive-single-meta .month {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  line-height: 0;
}

.notification-archive-single-meta .year {
  display: none;
}

.notification-archive-single-meta .notification-time {
  font-size: 0.8em;
  font-style: italic;
  opacity: 0.5;
  text-align: center;
}

.discussion-archive-single-meta .discussion-comment {
  padding: 0;
  transform-style: preserve-3d;
  position: relative;
}

.discussion-archive-single-meta .discussion-comment .comment {
  font-size: 1.3em;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%) scale(1.2, 1);
  transform: translate(-50%, -50%) scale(1.2, 1);
}

.discussion-archive-single,
.notification-archive-single {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
  width: 85%;
}

.discussion-archive-single h3,
.notification-archive-single h3 {
  margin: 0;
  padding: 0;
  vertical-align: top;
  border-bottom: 4px solid rgba(0, 0, 0, 0.05);
  width: 100%;
  font-size: 1.5em;
}

.discussion-archive-single .meta,
.notification-archive-single .notification_author {
  font-size: 0.8em;
  font-style: italic;
}

.discussion-archive-single hr {
  border: none;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  margin: 10px 0 0 0;
  background: none;
}

.course-discussion-wrapper .course-discussion-content.new input,
.course-discussion-wrapper .course-discussion-content.new textarea {
  width: 100%;
}
.course-discussion-wrapper .course-discussion-content.new textarea {
  min-height: 400px;
}
.course-discussion-wrapper .course-discussion-content.new .button-links {
  text-align: right;
  margin: 10px 0 0 0;
  padding: 0;
}
.course-discussion-wrapper .course-discussion-content.new .button-links a {
  cursor: pointer;
  margin-left: 20px;
}

.type-course_discussion_archive .cp-pager {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
}
.type-course_discussion_archive .cp-pager li {
  padding: 5px 10px;
}
.type-course_discussion_archive .cp-pager li a {
  box-shadow: none;
  display: block;
  padding: 5px;
  text-decoration: none;
}
.type-course_discussion_archive .cp-pager li.current {
  font-weight: 600;
}

/** Instructor Page **/
.cp-instructor-page .instructor-avatar {
  float: left;
  margin: 0 25px 25px 0;
}

/** Student Dashboard **/
.coursepress-dashboard-wrapper .cp-dashboard-table {
  border: 1px solid rgba(0, 0, 0, 0.04);
}
.coursepress-dashboard-wrapper .cp-dashboard-table th, .coursepress-dashboard-wrapper .cp-dashboard-table td {
  text-align: left;
  background-color: transparent;
  padding: 4px 15px;
}
.coursepress-dashboard-wrapper .cp-dashboard-table thead th, .coursepress-dashboard-wrapper .cp-dashboard-table thead td {
  background-color: #FFF;
}

/** Enrollment **/
.bbm-modal label span {
  display: block;
  padding-bottom: 5px;
}
.bbm-modal label.weak-password-confirm {
  display: none;
}

.password-strength-meter-container {
  float: right;
  display: inline-block;
  margin-bottom: 0;
}
.password-strength-meter-container .password-strength-meter.bad {
  color: red;
}
.password-strength-meter-container .password-strength-meter.good {
  color: orange;
}
.password-strength-meter-container .password-strength-meter.strong {
  color: green;
}

/** Media Queries **/
@media screen and (max-height: 800px) {
  body .enrolment-container-div .bbm-wrapper {
    top: 10px;
  }
}
@media screen and (min-width: 568px) {
  .enrolment-container-div .bbm-modal {
    margin: 0 auto;
  }
}
@media screen and (max-height: 650px) {
  body .enrolment-container-div {
    padding: 1em;
  }
  body .enrolment-container-div .bbm-wrapper {
    position: static;
    border-radius: 0;
  }
  body .enrolment-container-div .bbm-wrapper .bbm-modal {
    max-height: initial;
    width: auto;
  }
  body .enrolment-container-div.cp-mask {
    position: static;
    padding: 0;
    width: auto;
    height: auto;
    border-top: 4px solid #5dd5fb;
  }
}
@media screen and (min-height: 651px) {
  .cp-mask {
    position: fixed;
  }
}


/* 506887-1528449024-au */