/* Slush Pro Editor Styles
Loads in the WordPress editor to reflect front-end CSS. */

html {
	webkit-font-smoothing: antialiased;
}

body {
	color: #424242;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 26px;
}

a {
	color: #121212;
	text-decoration: none;
	-webkit-transition: 0.25s;
	-moz-transition:    0.25s;
	-o-transition:      0.25s;
	transition:         0.25s;
	-webkit-backface-visibility: hidden;
}

a:focus,
a:hover {
	color: #595959;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	color: #333;
	font-family: 'Lato', serif;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 20px;
	margin-top: 0;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 22px;
}

h6 {
	font-size: 20px;
}

blockquote {
	border-left: none;
	padding: 0 0 0 19px;
	position: relative;
}

blockquote:before {
	background-color: #ebedee;
	border-radius: 2px;
	bottom: 0;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 3px;
}

blockquote p {
	font-family: 'Lato', serif;
	font-size: 21px;
	font-style: italic;
	line-height: 30px;
	margin-bottom: 0.4em;
}

blockquote small {
	color: #34495e;
	font-size: 19px;
	font-style: italic;
	line-height: 2;
}

blockquote small:before {
	content: "";
}

address {
	line-height: 1.231;
	margin-bottom: 1.231;
}

code,
pre {
	background-color: #f5f5f5;
	border-color: #ebebeb;
	border-radius: 0;
	border-style: solid;
	border-width: 0 0 0 4px;
	color: #686868;
	display: block;
	font-family: monospace;
	padding: 10px;
}

p {
	margin: 0 0 20px;
}

p.lead {
	font-weight: 300;
	line-height: 30px;
	margin-bottom: 30px;
}

ul,
ol {
	margin-bottom: 10px;
	margin-left: 40px;
	margin-top: 0;
	padding: 0;
}

embed,
img,
object,
video {
	max-width: 100%;
}

img {
	height: auto;
}

.alignleft .avatar {
	margin-right: 24px;
	margin-right: 1.5rem;
}

.alignright .avatar {
	margin-left: 24px;
	margin-left: 1.5rem;
}

.author-box .avatar {
	float: left;
	margin-right: 24px;
	margin-right: 1.5rem;
}

.comment-list li .avatar {
	float: left;
	margin: 0 16px 24px 0;
	margin: 0 1rem 1.5rem 0;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 24px;
	margin: 0 auto 1.5rem;
}

img.alignnone {
	display: inline;
	margin-bottom: 12px;
	margin-bottom: 0.75rem;
}

img.alignleft,
.wp-caption.alignleft {
	display: inline;
	margin: 0 24px 24px 0;
	margin: 0 1.5rem 1.5rem 0;
}

img.alignright,
.wp-caption.alignright {
	display: inline;
	margin: 0 0 24px 24px;
	margin: 0 0 1.5rem 1.5rem;
}

p.wp-caption-text {
	line-height: 1.2;
	margin-top: 12px;
	margin-top: 0.75rem;
}

code {
	white-space: normal !important;
}

img.center-block {
	display: block;
	margin-bottom: 24px;
	margin-left: auto;
	margin-right: auto;
}

.alignnone {
	margin: 0 0 24px;
}

.aligncenter,
div.aligncenter {
	display: block;
	margin: 0 auto 24px auto;
}

.alignright {
	float: right;
	margin: 5px 0 24px 20px;
}

.alignleft {
	float: left;
	margin: 0 20px 24px 0;
}

.aligncenter {
	display: block;
	margin: 0 auto 24px auto;
}

a img.alignright {
	float: right;
	margin: 5px 0 24px 20px;
}

a img.alignnone {
	margin: 5px 20px 24px 0;
}

a img.alignleft {
	float: left;
	margin: 5px 20px 24px 0;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	background: #fff;
	border: 1px solid #eaeaea;
	max-width: 100%;
	padding: 10px 10px 0;
	text-align: center;
	overflow: hidden;
}

.wp-caption.alignnone {
	margin: 0 0 24px;
}

.wp-caption.alignleft {
	margin: 5px 20px 24px 0;
}

.wp-caption.alignright {
	margin: 5px 0 24px 20px;
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0 0 10px;
	max-width: 100%;
	padding: 0;
	width: auto;
}

.wp-caption img.wp-smiley {
	margin: 0;
}

.wp-caption p.wp-caption-text {
	font-size: 12px;
	margin: 0 0 10px;
	padding: 0 4px 5px;
}
