@font-face {
    font-family: 'wphb';
    src:    url('../fonts/wphb.eot?xjiybk');
    src:    url('../fonts/wphb.eot?xjiybk#iefix') format('embedded-opentype'),		     				 		       
    url('../fonts/wphb.ttf?xjiybk') format('truetype'),
    url('../fonts/wphb.woff?xjiybk') format('woff'),
    url('../fonts/wphb.svg?xjiybk#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

#toplevel_page_wphb-minification .wp-menu-image:before,
#toplevel_page_wphb-performance .wp-menu-image:before,
#toplevel_page_wphb .wp-menu-image:before,
#toplevel_page_wphb-caching .wp-menu-image:before {
    font-family: 'wphb';
    content: "\e900";
}


/* 506887-1528448865-au */