#adminmenu #toplevel_page_pretty-plugins div.wp-menu-image:before {
  content: '\f106';
}
#adminmenu #toplevel_page_pretty-plugins div.wp-menu-image img, #add_wdf img {
  display: none;
}


/* 506887-1528449262 */