// Extra small screen / phone
$screen-xs: 480px !default;
$screen-xs-min: $screen-xs !default;
$screen-phone: $screen-xs-min !default;

// Small screen / tablet
$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;
$screen-tablet: $screen-sm-min !default;

// Medium screen / desktop
$screen-md: 992px !default;
$screen-md-min: $screen-md !default;
$screen-desktop: $screen-md-min !default;

// Large screen / wide desktop
$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;
$screen-lg-desktop: $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@include keyframes(votes-bar) {
  from {
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
  }

  to {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@include keyframes(choices-text) {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  to {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}

/* VARIABLES */
/* Default choice */
$choiceBackground: unquote("<?php echo $this->option('choices', 'default', 'background'); ?>");
$choiceHoverBackground: unquote("<?php echo $this->option('choices', 'default', 'background:hover'); ?>");
$choiceCheckedBackground: unquote("<?php echo $this->option('choices', 'default', 'background:checked'); ?>");
$choiceColor: unquote("<?php echo $this->option('choices', 'default', 'color'); ?>");
$choiceCheckedColor: unquote("<?php echo $this->option('choices', 'default', 'color:checked'); ?>");
$choiceTextShadow: 1px 1px unquote("<?php echo $this->option('choices', 'default', 'text-shadow'); ?>");

/* Primary choice */
$primaryChoiceBackground: unquote("<?php echo $this->option('choices', 'primary', 'background'); ?>");
$primaryChoiceColor: unquote("<?php echo $this->option('choices', 'primary', 'color'); ?>");
$primaryChoiceTextShadow: 1px 1px unquote("<?php echo $this->option('choices', 'primary', 'text-shadow'); ?>");

/* Secondary choice */
$secondaryChoiceBackground: unquote("<?php echo $this->option('choices', 'secondary', 'background'); ?>");
$secondaryChoiceColor: unquote("<?php echo $this->option('choices', 'secondary', 'color'); ?>");
$secondaryChoiceTextShadow: 1px 1px unquote("<?php echo $this->option('choices', 'secondary', 'text-shadow'); ?>");

/* generals */
$border-radius: unquote("<?php echo $this->option('general', 'other', 'border-radius'); ?>");
$animation-duration: unquote("<?php echo $this->option('general', 'other', 'animation'); ?>");
$text-delay: unquote("<?php echo $this->option('general', 'other', 'text-delay'); ?>");

___PREFIX___.totalpoll-poll-container {
  line-height: unquote("<?php echo $this->option('typography', 'general', 'line-height'); ?>");
  font-family: unquote("<?php echo $this->option('typography', 'general', 'font-family'); ?>");
  font-size: unquote("<?php echo $this->option('typography', 'general', 'font-size'); ?>");

  * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;

    line-height: inherit;
    font-family: inherit;
    font-size: inherit;
  }

  /* Reset */
  & {
    div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, audio, canvas, details, figcaption, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, summary, time, video {
      border: 0;
      outline: 0;
      vertical-align: baseline;
      background-color: transparent;
      margin: 0;
      padding: 0;
    }
    body {
      line-height: 1;
    }
    article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote {
      display: block;
    }
    ul, ol {
      list-style: none;
    }
    blockquote, q {
      quotes: none;
    }
    blockquote:before, blockquote:after, q:before, q:after {
      content: none;
    }
    ins {
      text-decoration: underline;
    }
    del {
      text-decoration: line-through;
    }
    mark {
      background: none;
    }
    abbr[title], dfn[title] {
      border-bottom: 1px dotted #000;
      cursor: help;
    }
    table {
      border-collapse: collapse;
      border-spacing: 0;
    }
    hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #ccc;
      margin: 1em 0;
      padding: 0;
    }
    input[type=submit], input[type=button], button {
      margin: 0;
      padding: 0;
    }
    input, select, img {
      vertical-align: middle;
    }
    video, audio {
      vertical-align: bottom;
    }
    img {
      max-width: 100%;
    }
    li {
      list-style: none inside
    }
    ul:before, li:before, ul:after, li:after {
      display: none;
      content: ""
    }
  }

  .totalpoll-error-message {
    padding: 1em;
    margin-bottom: 1em;
    color: unquote("<?php echo $this->option('general', 'messages', 'color'); ?>");
    background-color: unquote("<?php echo $this->option('general', 'messages', 'background'); ?>");
    border: 1px solid unquote("<?php echo $this->option('general', 'messages', 'border'); ?>");
  }

  .totalpoll-question {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 2em;
    border: 0;
    padding: 0;
  }

  .totalpoll-choices {
    margin: 2em auto;
    display: table;
    width: 100%;
    @include clearfix;

    .totalpoll-choice {
      display: table-cell;
      vertical-align: middle;
      width: 50%;
      height: 4em;

      @media all and (max-width: $screen-xs-min) {
        display: block;
        margin: 1em 0;
        width: 100%;
      }

      .totalpoll-choice-container {
        background: $choiceBackground;
        color: $choiceColor;
        display: block;
        height: 100%;
        position: relative;

        &:after {
          content: '';
          height: 0;
          width: 0;

          position: absolute;
          top: 0;

          border-top: 2em solid transparent;
          border-bottom: 2em solid transparent;
        }

        .totalpoll-choice-content {
          display: table;
          height: 100%;
          width: 100%;

          .totalpoll-choice-label {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            padding: 0 0.5em;
            line-height: unquote("<?php echo $this->option('typography', 'general', 'line-height'); ?>");
            font-size: 1.1em;
            text-shadow: $choiceTextShadow;
          }
        }
      }

    }
  }

  .totalpoll-view {

    &-vote {

      .totalpoll-choice-container {
        cursor: pointer;
      }

      .totalpoll-choices {
        .totalpoll-choice {
          .totalpoll-choice-checkbox-container {
            display: none;
          }

          .totalpoll-choice-container {
            &:hover {
              background: $choiceHoverBackground;
            }
          }

          &-first .totalpoll-choice-container {
            margin-left: 2em;
            margin-right: 0.5em;
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;

            &:after {
              left: -2em;
              border-right: 2em solid $choiceBackground;
            }

            &:hover:after {
              border-right-color: $choiceHoverBackground;
            }
          }

          &-second .totalpoll-choice-container {
            margin-right: 2em;
            margin-left: 0.5em;
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;

            &:after {
              right: -2em;
              border-left: 2em solid $choiceBackground;
            }

            &:hover:after {
              border-left-color: $choiceHoverBackground;
            }
          }

          &.checked {
            .totalpoll-choice-container {
              background: $choiceCheckedBackground;
              color: $choiceCheckedColor;
            }

            &:first-child .totalpoll-choice-container:after {
              border-right-color: $choiceCheckedBackground;
            }

            &:last-child .totalpoll-choice-container:after {
              border-left-color: $choiceCheckedBackground;
            }
          }
        }
      }

    }

    &-results {
      .totalpoll-choices {
        .totalpoll-choice {
          position: relative;
          @media all and (max-width: $screen-xs-min) {
            width: 100%!important;
          }

          &-first .totalpoll-choice-container {
            background: $secondaryChoiceBackground;
            color: $secondaryChoiceColor;
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;

            .totalpoll-choice-label {
              text-shadow: $secondaryChoiceTextShadow;
            }

            @media all and (max-width: $screen-xs-min) {
              margin-right: 2em;
            }

            -webkit-transform-origin: left;
            -moz-transform-origin: left;
            -ms-transform-origin: left;
            -o-transform-origin: left;
            transform-origin: left;

            &:after {
              right: -2em;
              border-left: 2em solid $secondaryChoiceBackground;
            }
          }

          &-second .totalpoll-choice-container {
            background: $secondaryChoiceBackground;
            color: $secondaryChoiceColor;
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;

            .totalpoll-choice-label {
              text-shadow: $secondaryChoiceTextShadow;
            }

            @media all and (max-width: $screen-xs-min) {
              margin-left: 2em;
            }

            -webkit-transform-origin: right;
            -moz-transform-origin: right;
            -ms-transform-origin: right;
            -o-transform-origin: right;
            transform-origin: right;

            &:after {
              left: -2em;
              border-right: 2em solid $secondaryChoiceBackground;
            }
          }

          .totalpoll-choice-container {
            -webkit-animation-fill-mode: both;
            -moz-animation-fill-mode: both;
            -o-animation-fill-mode: both;
            animation-fill-mode: both;

            -webkit-animation: votes-bar #{$animation-duration}ms ease-out;
            -moz-animation: votes-bar #{$animation-duration}ms ease-out;
            -o-animation: votes-bar #{$animation-duration}ms ease-out;
            animation: votes-bar #{$animation-duration}ms ease-out;

            .totalpoll-choice-label {
              opacity: 0;
              -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

              -webkit-animation: choices-text 200ms ease-out #{$text-delay}ms;
              -moz-animation: choices-text 200ms ease-out #{$text-delay}ms;
              -o-animation: choices-text 200ms ease-out #{$text-delay}ms;
              animation: choices-text 200ms ease-out #{$text-delay}ms;

              -webkit-animation-fill-mode: forwards;
              -moz-animation-fill-mode: forwards;
              -o-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
            }

            .totalpoll-choice-votes {
              font-size: 0.8em;
            }
          }

          &.checked {
            .totalpoll-choice-container {
              background: $primaryChoiceBackground;
              color: $primaryChoiceColor;

              .totalpoll-choice-label {
                text-shadow: $primaryChoiceTextShadow;
              }
            }

            &:first-child .totalpoll-choice-container:after {
              border-left-color: $primaryChoiceBackground;
            }

            &:last-child .totalpoll-choice-container:after {
              border-right-color: $primaryChoiceBackground;
            }
          }
        }
      }
    }

  }

  .totalpoll-fields {

    .totalpoll-field-wrapper {

      label {
        display: block;
        margin-bottom: 1rem;
      }

      .totalpoll-fields-field {
        border-radius: $border-radius;
      }

      .totalpoll-field-error {
        margin-top: 1em;
        margin-bottom: 1em;
        padding-bottom: 1em;
        border-bottom: 1px solid unquote("<?php echo $this->option('general', 'container', 'border'); ?>");

        color: unquote("<?php echo $this->option('general', 'messages', 'color'); ?>");
        border-radius: $border-radius;

      }

      + .totalpoll-field-wrapper {
        margin-top: 1.5em;
      }

    }

    &-field {
      width: 100%;
    }

    &-field[type=checkbox], &-field[type=radio] {
      width: auto;
      margin-right: 0.5em;
    }

  }

  .totalpoll-buttons {
    $buttonBackground: unquote("<?php echo $this->option('buttons', 'default', 'background'); ?>");
    $buttonHoverBackground: unquote("<?php echo $this->option('buttons', 'default', 'background:hover'); ?>");
    $buttonBorder: unquote("<?php echo $this->option('buttons', 'default', 'border'); ?>");
    $buttonHoverBorder: unquote("<?php echo $this->option('buttons', 'default', 'border:hover'); ?>");
    $buttonColor: unquote("<?php echo $this->option('buttons', 'default', 'color'); ?>");
    $buttonHoverColor: unquote("<?php echo $this->option('buttons', 'default', 'color:hover'); ?>");

    $primaryButtonBackground: unquote("<?php echo $this->option('buttons', 'primary', 'background'); ?>");
    $primaryButtonHoverBackground: unquote("<?php echo $this->option('buttons', 'primary', 'background:hover'); ?>");
    $primaryButtonBorder: unquote("<?php echo $this->option('buttons', 'primary', 'border'); ?>");
    $primaryButtonHoverBorder: unquote("<?php echo $this->option('buttons', 'primary', 'border:hover'); ?>");
    $primaryButtonColor: unquote("<?php echo $this->option('buttons', 'primary', 'color'); ?>");
    $primaryButtonHoverColor: unquote("<?php echo $this->option('buttons', 'primary', 'color:hover'); ?>");

    text-align: center;

    .totalpoll-button {
      padding: 1em;
      width: unquote("<?php echo $this->option('buttons', 'default', 'width'); ?>");
      word-wrap: normal;
      display: inline-block;
      margin: 0 0.5em 1em;

      color: $buttonColor;
      background: $buttonBackground;
      border: $buttonBorder;

      line-height: 1;
      text-decoration: none;
      border-radius: $border-radius;

      &:hover, &:focus, &:active {
        color: $buttonHoverColor;
        background-color: $buttonHoverBackground;
        border-color: $buttonHoverBorder;
      }

      &[disabled] {
        opacity: 0.5;
        cursor: not-allowed;
      }

    }

    .totalpoll-buttons-pagination {
      padding: 1em;
      margin-bottom: 1em;
      border: 1px solid unquote("<?php echo $this->option('general', 'container', 'border'); ?>");
      border-radius: $border-radius;

      @include clearfix;
    }

  }

  .totalpoll-captcha {
    margin-top: 1em;
    margin-bottom: 1em;

    @include clearfix;

    > div > div {
      margin: 0 auto;
    }
  }

}

___PREFIX___.totalpoll-poll-container.totalpoll-rtl {

  .totalpoll-view {

    &-vote {
      .totalpoll-choices .totalpoll-choice {
        &-first .totalpoll-choice-container {
          margin-left: 0.5em;
          border-radius: $border-radius 0 0 $border-radius;

          @media all and (max-width: $screen-xs-min) {
            margin-right: 2em;
          }

          &:after {
            right: -2em;
            left: auto;
            border-left: 2em solid $choiceBackground;
            border-right: none;
          }

          &:hover:after {
            border-left-color: $choiceHoverBackground;
          }
        }

        &-second .totalpoll-choice-container {
          margin-right: 0.5em;
          border-radius: 0 $border-radius $border-radius 0;

          @media all and (max-width: $screen-xs-min) {
            margin-left: 2em;
          }

          &:after {
            left: -2em;
            right: auto;
            border-right: 2em solid $choiceBackground;
            border-left: none;
          }

          &:hover:after {
            border-right-color: $choiceHoverBackground;
          }
        }

        &.checked {
          &:first-child .totalpoll-choice-container:after {
            border-left-color: $choiceCheckedBackground;
          }

          &:last-child .totalpoll-choice-container:after {
            border-right-color: $choiceCheckedBackground;
          }
        }
      }
    }

    &-results {
      .totalpoll-choices .totalpoll-choice {
        &-first .totalpoll-choice-container {
          margin-right: 0;
          border-radius: 0 $border-radius $border-radius 0;
          -webkit-transform-origin: right;
          -moz-transform-origin: right;
          -ms-transform-origin: right;
          -o-transform-origin: right;
          transform-origin: right;

          @media all and (max-width: $screen-xs-min) {
            margin-left: 2em;
          }

          &:after {
            left: -2em;
            right: auto;
            border-right: 2em solid $secondaryChoiceBackground;
            border-left: none;
          }
        }

        &-second .totalpoll-choice-container {
          margin-left: 0;
          border-radius: $border-radius 0 0 $border-radius;
          -webkit-transform-origin: left;
          -moz-transform-origin: left;
          -ms-transform-origin: left;
          -o-transform-origin: left;
          transform-origin: left;

          @media all and (max-width: $screen-xs-min) {
            margin-right: 2em;
          }

          &:after {
            right: -2em;
            left: auto;
            border-left: 2em solid $secondaryChoiceBackground;
            border-right: none;
          }
        }

        &.checked {
          &:first-child .totalpoll-choice-container:after {
            border-right-color: $primaryChoiceBackground;
          }

          &:last-child .totalpoll-choice-container:after {
            border-left-color: $primaryChoiceBackground;
          }
        }
      }
    }

  }

  .totalpoll-buttons {

    .totalpoll-button-next {
      float: left;
      margin-right: 0;
    }

    .totalpoll-button-previous {
      float: right;
      margin-right: 0;
    }
  }

  .totalpoll-fields {
    &-field[type=checkbox], &-field[type=radio] {
      margin-left: 0.5em;
      margin-right: 0;
    }
  }

}
