
// These affect the admin area's content editor when adding or editing a post.
// This is compiled into style.css which is loaded in its entirety into the editor.
// See maranatha_add_editor_style() for how Customizer fonts and colors are added to editor's <head>.

.mce-content-body {

	margin: ct-em(30);

	> * {

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}

	}

}
