#upfront-popup .upfront-social-media-save_settings
{
    width: auto;
    font-family: 'Open Sans', Helvetica Neueu, Helvetica, Arial, sans-serif;
    background: #1fcd8f;
    border: none !important;
    border-radius:0;
    color: #fff;
    font-size: 18px;
    line-height: 35px;
    width: 101px;
    float: right;
}
.upfront-popup-social-media-meta
{
    background: #e5f3fe;
}
.alert-url
{
    color: #fff;
    background: #871b15;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    position: absolute;
    font-size: 12px;
    width: 15px;
    line-height: 15px;
    text-align: center;
    top: -4px;
    right: -4px;
}
.upfront-global-social-settings
{
    margin: 0;
    padding: 20px 32px 13px 32px;
}

.upfront-global-social-settings .upfront-settings-item
{
    width: 100%;
}

.location_top_box, .button_counter_top_box
{
    margin-bottom:12px ;
}

.upfront-social-popup-hd {
    color: #263a4d !important;
    font-size: 24px !important;
    font-weight: 200;
}
.usocial-inpost-center {
    text-align: center;
}

.usocial-inpost-right {
    text-align: right;
}

.usocial-button
{
    display: block;
}
.upfront-button-style-1 .usocial-button
{
    background: url("../images/SM_Sprite_Style_01-01.svg") no-repeat;
}
.upfront-button-style-2 .usocial-button
{
    background: url("../images/SM_Sprite_Style_02-01.svg") no-repeat;
}
.upfront-button-style-3 .usocial-button
{
    background: url("../images/SM_Sprite_Style_11-01.svg") no-repeat;
}
.usocial-button-small .usocial-button
{
    width: 16px;
    height: 16px;
    background-size: 40px 280px;
}
.usocial-button-medium .usocial-button
{
    width: 24px;
    height: 24px;
    background-size: 60px 420px;
}
.usocial-button-large .usocial-button
{
    width: 40px;
    height: 40px;
}
.usocial-button-large .usocial-button.facebook-link {
    background-position: -30px -30px;
}
.usocial-button-large .usocial-button.twitter-link {
    background-position: -30px -130px;
}
.usocial-button-large .usocial-button.google-link {
    background-position: -30px -230px;
}
.usocial-button-large .usocial-button.linked-in-link {
    background-position: -30px -430px;
}
.usocial-button-large .usocial-button.pinterest-link {
    background-position: -30px -630px;
}
.usocial-button-large .usocial-button.youtube-link {
    background-position: -30px -330px;
}

.usocial-button-medium .usocial-button.facebook-link {
    background-position: -18px -18px;
}
.usocial-button-medium .usocial-button.twitter-link {
    background-position: -18px -78px;
}
.usocial-button-medium .usocial-button.google-link {
    background-position: -18px -138px;
}
.usocial-button-medium .usocial-button.linked-in-link {
    background-position: -18px -258px;
}
.usocial-button-medium .usocial-button.pinterest-link {
    background-position: -18px -378px;
}
.usocial-button-medium .usocial-button.youtube-link {
    background-position: -18px -198px;
}


.usocial-button-small .usocial-button.facebook-link {
    background-position: -12px -12px;
}
.usocial-button-small .usocial-button.twitter-link {
    background-position: -12px -52px;
}
.usocial-button-small .usocial-button.google-link {
    background-position: -12px -92px;
}
.usocial-button-small .usocial-button.linked-in-link {
    background-position: -12px -172px;
}
.usocial-button-small .usocial-button.pinterest-link {
    background-position: -12px -252px;
}
.usocial-button-small .usocial-button.youtube-link {
    background-position: -12px -132px;
}

.upfront-fan-counts
{
    background: url("../images/SM_Sprite_Style_01-01.svg") no-repeat;
    min-height: 40px;
    min-width: 40px;
    display: inline-block;
}
.upfront-fan-count
{
    display: inline-block;
    vertical-align: middle;
}
.upfront-fan-counts {
    vertical-align: middle;
    padding-left: 50px;
    line-height: 40px;
}
.upfront-fan-counts .upfront-fan-count strong{
}
.upfront-fan-counts.facebook-count {
    background-position: -30px -30px;
}
.upfront-fan-counts.twitter-count {
    background-position: -30px -130px;
}
.upfront-fan-counts.google-count {
    background-position: -30px -230px;
}
/* New settings*/
/* TODO: Need to remove this width  */
#settings .upfront-settings-item-tab-radio .upfront-settings-item-tab {
    max-width: 75px !important;
}
.upfront-default-tabbed .upfront-field-multiple-vertical{
    min-width: 89px !important;
}
.social_media_services_list{
    padding: 0;
}
.social_media_services_list li{
    border-top: solid 1px #e3edf6;
    /*height: 30px;*/
    margin: 0 !important;
    padding: 0 0 0 0px !important;
    cursor:pointer;
}
.social_media_services_list li.ui-sortable-helper{
    background-color: #e3edf6;
}
.social_media_services_list .upfront-field-multiple{
    margin: 0;
}
.social_media_services_list .upfront-field-multiple label{
    height: 30px;
}
.social_media_services_list li.upfront-field-multiple input.upfront-field-checkbox{
    position: static;
    margin-top: 8px;
    float: left;
}
.upfront-field-icon-social-sort {
    float: right;
    cursor: move;
    margin-right: 0 !important;
    margin-top: 3px !important;
    width: 18px;
}
.upfront-field-icon-social-down{
    cursor: pointer;
}
#settings .upfront-social-services-item .upfront-settings-item {
    margin-bottom:0;
}
.upfront-social-back .upfront-field-wrap{
    font-size: 10px;
    color: #6386a6;
}
.upfront-social-back .upfront-field-wrap .upfront-back-global-settings-info{
    line-height: 22px;
}
.upfront-social-back .upfront-field-wrap .upfront-back-global-settings-info a{
    color: #30475e;
    text-decoration: underline;
}
.upfront-field-icon-social-back {
    height: 25px;
}
.upfront-social-back{
    margin-top: 4px;
}
.social-toggle,
.social-sort{
    font-size: 12px;
    color: #263a4d;
}
.social-toggle{
    cursor: pointer;
}
.social-sort{
    float: right;
}
.upfront-global-social-settings .social_media_services_list .upfront-field-multiple label{
    height: 35px;
}
.upfront-global-social-settings .social_media_services_list li.upfront-field-multiple input.upfront-field-checkbox {
    margin-top: 11px;
}
.upfront-global-social-settings .upfront-field-icon-social-sort {
    margin-top: 6px !important;
}
.upfront-global-social-settings .social_media_services_list{
    margin: 2px 0 1px 0;
}
.upfront-global-social-settings .social_media_services_list li{
    border-top: solid 1px #b3cbdf;
    padding-bottom: 10px !important;
}
.upfront-global-social-settings .social_media_services_list li:first-child{
    border-top: none;
}
.social-global-in-post{
    font-weight: bold;
    color: #6b8399;
    font-size: 15px;
    font-family: 'Open Sans', Helvetica Neueu, Helvetica, Arial, sans-serif;
    margin-top: 9px;
    margin-bottom: 15px;
}
.social-add-float-left{
    float: left;
    height: 30px;
}
.upfront-global-social-settings div:nth-child(2) .upfront-settings-item{
    display: inline-block;
}
.social-global-in-post + .upfront-field-wrap,
.social-global-in-post + .upfront-field-wrap + .upfront-field-wrap + .upfront-field-wrap{
    width: 135px;
}
.social-global-in-post + .upfront-field-wrap + .upfront-field-wrap + .upfront-field-wrap + .upfront-field-wrap + .upfront-field-wrap{
    width: 100%;
    height: auto;
}
.social-global-in-post + .upfront-field-wrap + .upfront-field-wrap .upfront-field-multiple,
.social-global-in-post + .upfront-field-wrap + .upfront-field-wrap + .upfront-field-wrap + .upfront-field-wrap .upfront-field-multiple{
    margin-right: 9px;
}
.social-global-in-post + .upfront-field-wrap + .upfront-field-wrap,
.social-global-in-post + .upfront-field-wrap + .upfront-field-wrap + .upfront-field-wrap + .upfront-field-wrap{
    width: 240px;
}
.social-alignment-detail
{
    float: right;
    line-height: 23px;
    text-align: left;
    width: 155px;
}
.upfront-field-wrap-checkboxes-float{
    float: left;
    height: 27px;
}
.upfront-field-wrap-select-inline{
    display: inline-block;
}
.upfront-social-services-item .upfront-field-icon-social-add{
    cursor: pointer;
    margin: 2px 0 0 190px;
}
.upfront-field-wrap-text-inline{
    display: inline-block;
    width: 190px;
}
.upfront-social-icon {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    margin-bottom: 5px;
    vertical-align: top;
}



.usocial-global-triangle {
    float: right;
    cursor: pointer;
}

.usocial-global-triangle:before{
    content: '▼';
    margin-top:10px;
    display: block;
    text-align: center;
    width: 30px;
    font-size: 8px;
}
.open .usocial-global-triangle:before{
    content: '▲';
}

i.usocial-align-icon {
    display: block;
    height: 30px;
}

.usocial-global-align {
    clear: both;
    opacity: 0.8;
}

.usocial-global-align.align-active{
    opacity:1;
}

.usocial-global-add-post {
    float:left;
    width: 30%;
    margin-bottom: 20px;
}

.upfront-global-social-settings .upfront-field-label-block {
    clear: both;
}

.upfront-global-social-settings .upfront-field-multiple-horizontal-inline {
    margin-right: 9px;
}

.upfront-global-social-settings .upfront-field-multiple {
    opacity: 1;
}

.upfront-social-services-item .usocial-select {
    max-height: none;
    position: absolute;
    height:auto;
}
.upfront-social-services-item .usocial-select.usocial-select-closed {
    max-height: 26px;
}
.usocial-select-list {
    margin:0;
    padding:0;
    width:180px;
}

.usocial_service_meta {
    margin-top: 10px;
}

.usocial-select-label {
    display: block;
}

.social-frame {
    max-width:100px;
}

.social-frame.vertical{
    width:70px;
}
.social-frame.horizontal{
    width:100px;
    height: 23px;
}
.usocial-google.vertical{
    margin-top: 2px;
    height: 60px;
}
.usocial-fb.vertical{
    margin-top: 1px;
    height: 65px;
}
.usocial-twitter.vertical{
    height: 63px;
}
.usocial-twitter.horizontal{
    width: 90px;
}
.usocial-google.horizontal{
    width: 70px;
}


.upfront-global-social-settings label.upfront-field-label-block {
	margin: 20px 0 0;
}


/* 378760-1512586674-ai */