div.upfront-navigation ul, div.upfront-navigation ul li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.upfront-navigation ul.sub-menu {
	display: none;
	z-index:2;
}
ul.menu {
	background-color:transparent;
}
.triggered-menu ul.menu, .upfront-navigation[data-style="burger"] ul.menu {
	background: #333;
}
ul.sub-menu {
	/* background-color:#262626; */
}
ul.menu li a {
	color:#fff;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

/*div.upfront-navigation div[data-style="burger"] ul.sub-menu {
  display: block;
}*/

div.upfront-navigation div[data-style="horizontal"]:not([data-style="burger"]) li.menu-item:hover > ul.sub-menu,
div.upfront-navigation div[data-style="horizontal"]:not([data-style="burger"]) li.menu-item a:focus + ul.sub-menu,
div.upfront-navigation div[data-style="vertical"]:not([data-style="burger"]) li.menu-item:hover > ul.sub-menu,
div.upfront-navigation div[data-style="vertical"]:not([data-style="burger"]) li.menu-item a:focus + ul.sub-menu {
	display: block;
}

li.burger_sub_display > ul {
	display: block !important;
}

div.upfront-navigation div[data-style="burger"] ul.sub-menu > li {
	display: block;
}


div.upfront-navigation li.menu-item a:not(.js-ulinkpanel-input-entry) {
	display: block;
	padding: 6px 20px;
	font-size: 16px;
	text-decoration: none;
}


div.upfront-navigation ul.menu li {
	position: relative;
}
div.upfront-navigation ul.sub-menu > li {
	min-width:176px;
}

div.upfront-navigation div[data-alignment="center"] ul.menu {
	text-align: center;
}

div.upfront-navigation div[data-alignment="right"] ul.menu  {
	text-align: right;
}
div.upfront-navigation li.menu-item:before,
div.upfront-navigation li.menu-item:after {
	content:normal;
	background:transparent;
}

/* Has sub-menu, indicator */


li.menu-item-has-children > a:after,
li.menu-item.parent > a:after {
	content:'';
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #999;
	position: absolute;
	right: 6px;
	top: 45%;
}

li.menu-item-has-children:hover > a:after,
li.parent:hover > a:after,
li.menu-item.burger_sub_display > a:after
{
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 4px solid #999;
	top: 40%;
	right: 4px;
}

div.upfront-navigation div[data-style="burger"] li.menu-item-has-children > a:after,
div.upfront-navigation div[data-style="burger"] li.parent > a:after {
	right: inherit;
	margin-left:20px;
	top: inherit;
	margin-top:10px;
}

div.upfront-navigation div[data-style="burger"] li.menu-item-has-children:hover > a:after,
div.upfront-navigation div[data-style="burger"] li.parent:hover > a:after,
div.upfront-navigation div[data-style="burger"] li.menu-item-has-children.burger_sub_display > a:after,
div.upfront-navigation div[data-style="burger"] li.parent.burger_sub_display > a:after {
	margin-top:6px;
}

/* HORIZONTAL */

div.upfront-navigation div[data-style="horizontal"] ul.menu > li {
	display: inline-block;
}

div.upfront-navigation div[data-style="horizontal"] ul.sub-menu {
	position: absolute;
}

div.upfront-navigation div[data-style="horizontal"] ul.sub-menu > li > ul {
	left: 100%;
	top: 0;
}

div.upfront-navigation div[data-style="horizontal"] ul.sub-menu > li > ul > li a {
	/* border-left:1px #dadee1 solid; */
}

/* VERTICAL */
div.upfront-navigation div[data-style="vertical"] ul.menu > li {
	display: block;
}
div.upfront-navigation div[data-style="vertical"] ul.sub-menu {
	position: absolute;
}
div.upfront-navigation div[data-style="vertical"] ul.sub-menu {
	left: 100%;
	top: 0;
}
div.upfront-navigation div[data-style="vertical"] ul.sub-menu > li > ul > li a {
	/* border-left:1px #dadee1 solid; */
}

/* BURGER */

div.upfront-navigation div[data-style="burger"] ul.menu {
	position:fixed;
	top:0;
	z-index:2020;
	max-height: 100%;
	overflow-y: auto !important;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

div.upfront-navigation div[data-style="burger"][data-burger_over="pushes"][data-burger_alignment="top"] ul.menu, div.upfront-navigation div[data-style="burger"][data-burger_over="pushes"][data-burger_alignment="whole"] ul.menu {
	position: absolute;
	max-height: inherit;
}

div.upfront-navigation div[data-style="burger"][ data-burger_alignment="top"] ul.menu,
div.upfront-navigation div[data-style="burger"][ data-burger_alignment="whole"] ul.menu {
	left:0;
	right:0;
}


div.upfront-navigation div[data-style="burger"][ data-burger_alignment="whole"] ul.menu {
	height: 100%;
}


div.upfront-navigation div[data-style="burger"][ data-burger_alignment="left"] ul.menu {
	width:30%;
	height: 100%;
	left:0;
}

div.upfront-navigation div[data-style="burger"][ data-burger_alignment="right"] ul.menu {
	width:30%;
	height: 100%;
	right:0;
}

div.upfront-newnavigation_module:hover  div[data-style="burger"] .responsive_nav_toggler {
	margin-right:20px;
}

.responsive_nav_toggler {
	float:right;
	position:relative;
	z-index: 2000;
	width:40px;
	height:40px;
	border:1px solid #d8d8d8;
	border-radius:6px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding:6px 7px;
	-webkit-transition: border .25s;
	-moz-transition: border .25s;
	-ms-transition: border .25s;
	-o-transition: border .25s;
	transition: border .25s;
}

.responsive_nav_toggler:focus {
	outline: #2ea3f2 auto 5px;
}

.upfront-module-disabled-edit .responsive_nav_toggler {
	z-index: 2000 !important;
}

.responsive_nav_toggler:hover {
	cursor:pointer;
	border-color:#B3B3B3;
}
.responsive_nav_toggler:hover > div {
	background:#B3B3B3;
}

.responsive_nav_toggler > div {
	width:24px;
	height:6px;
	background:#d8d8d8;
	border-radius:4px;
	margin-bottom:4px;
	-webkit-transition: background .25s;
	-moz-transition: background .25s;
	-ms-transition: background .25s;
	-o-transition: background .25s;
	transition: background .25s;
}

div.upfront-navigation div[data-style="burger"] ul.menu li {
	padding: 0;
}

div.upfront-navigation div[data-style="burger"] ul.menu > li {
	display: block;
}
div.upfront-navigation div[data-style="burger"] ul.sub-menu {
	position: relative;
}
div.upfront-navigation div[data-style="burger"] ul.menu {

	border-bottom:1px #dadee1 solid;
	overflow: hidden;
}

div[data-style="burger"] a {
	border:none;
}

div[data-style="burger"][data-alignment="left"] ul li ul {
	padding-left:15px;
}
div[data-style="burger"][data-alignment="right"] ul li ul {
	padding-right:15px;
}
div[data-style="burger"][data-alignment="center"] ul li ul {
	padding:10px;
}

.on_the_top {
	z-index:99999;
}

.upfront-region-container-has-nav > .upfront-region-container-bg > .upfront-grid-layout {
	z-index: 12;
}

/* Accomodate Floating Nav */
[data-already_floating="yes"] {
	position: fixed !important;
	top: 0px !important;
	z-index: 99999999;
}

div[data-style="burger"] div[data-already_floating="yes"] {
	z-index: inherit;
}

div.upfront-navigation-float[data-style="burger"][data-burger_over="pushes"][data-burger_alignment="top"] ul.menu {
	position:fixed !important;
	top: 0 !important;
	left: 0 !important;
}

div.upfront-navigation div[data-isfloating="yes"][data-style="burger"][data-burger_over="pushes"][data-burger_alignment="top"] ul.menu {
	position: fixed;
	top: 0 !important;
}

li.wrap_burger_nav_close {
	text-align:right;
}

.burger_nav_close {
	z-index:2001;
	width:28px;
	height: 28px;
	display: inline-block;
	border-radius: 50%;
	text-align: center;
	line-height: 28px;
	font-size: 28px;
	font-style: normal;
	cursor: pointer;
	color:#fff;
	position: relative;
}

.burger_nav_close:before {
	content: '\00d7';
}

div.burger_overlay {
	position: fixed;
	background-color:rgba(0, 0, 0, 0.2);
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index: 2010;
}


.burger-menu li.menu-item .uimage-controls.image-element-controls,
.burger-menu .delete_menu_item,
.burger-menu .navigation-add-item,
.burger-menu li.menu-item .open-item-controls {
	display: none!important;
}

div.upfront-navigation div[data-style="burger"] ul.sub-menu {
	display:block;
}

/* breakpoint menu */
div.upfront-breakpoint-navigation {
	display: none;
}


/* 378760-1512586674-ai */