.text-core .text-wrap .text-focus {
  -webkit-box-shadow: 0px 0px 6px #6d84b4;
  -moz-box-shadow: 0px 0px 6px #6d84b4;
  box-shadow: 0px 0px 6px #6d84b4;
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}
.text-core .text-wrap .text-focus.text-show-focus {
  display: block;
}


/* 506887-1520104529-au */