/*!
 * Theme Name: Genesis Starter
 * Theme URI: http://www.seothemes.com/themes/genesis-starter/
 * Description: Starter theme for the Genesis Framework.
 * Author: Seo Themes
 * Author URI: http://www.seothemes.com/
 * Version: 2.1.0
 * Text Domain: genesis-starter
 * Tags: one-column, two-columns, left-sidebar, right-sidebar, accessibility-ready, custom-logo, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready.
 * Template: genesis
 * Template Version: 2.5.2
 * License: GPL-2.0+
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * GitHub Theme URI: https://github.com/seothemes/genesis-starter
 */
html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}
body {
	margin: 0
}
article,
aside,
footer,
header,
nav,
section {
	display: block
}
h1 {
	font-size: 2em;
	margin: .67em 0
}
figcaption,
figure,
main {
	display: block
}
figure {
	margin: 1em 40px;
	margin: 1em 4rem
}
hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
	overflow: visible
}
pre {
	font-family: monospace,monospace;
	font-size: 1em
}
a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects
}
abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted
}
b,
strong {
	font-weight: inherit
}
b,
strong {
	font-weight: bolder
}
code,
kbd,
samp {
	font-family: monospace,monospace;
	font-size: 1em
}
dfn {
	font-style: italic
}
mark {
	background-color: #ff0;
	color: #000
}
small {
	font-size: 80%
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}
sub {
	bottom: -.25em
}
sup {
	top: -.5em
}
audio,
video {
	display: inline-block
}
audio:not([controls]) {
	display: none;
	height: 0
}
img {
	border-style: none
}
svg:not(:root) {
	overflow: hidden
}
button,
input,
optgroup,
select,
textarea {
	font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0
}
button,
input {
	overflow: visible
}
button,
select {
	text-transform: none
}
[type=reset],
[type=submit],
button,
html [type=button] {
	-webkit-appearance: button
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
	border-style: none;
	padding: 0
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
	outline: 1px dotted ButtonText;
	outline: .1rem dotted ButtonText
}
fieldset {
	padding: .35em .75em .625em
}
legend {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal
}
progress {
	display: inline-block;
	vertical-align: baseline
}
textarea {
	overflow: auto
}
[type=checkbox],
[type=radio] {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
	height: auto
}
[type=search] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
	outline-offset: -.2rem
}
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit
}
details,
menu {
	display: block
}
summary {
	display: list-item
}
canvas {
	display: inline-block
}
template {
	display: none
}
[hidden] {
	display: none
}
html,
input[type=search] {
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
*,
:after,
:before {
	-moz-box-sizing: inherit;
	box-sizing: inherit
}
.author-box,
.clearfix,
.entry,
.entry-content,
.footer-widgets,
.nav-primary,
.nav-secondary,
.pagination,
.site-container,
.site-footer,
.site-header,
.site-inner,
.widget,
.wrap {
	clear: both
}
.author-box:after,
.author-box:before,
.clearfix:after,
.clearfix:before,
.entry-content:after,
.entry-content:before,
.entry:after,
.entry:before,
.footer-widgets:after,
.footer-widgets:before,
.nav-primary:after,
.nav-primary:before,
.nav-secondary:after,
.nav-secondary:before,
.pagination:after,
.pagination:before,
.site-container:after,
.site-container:before,
.site-footer:after,
.site-footer:before,
.site-header:after,
.site-header:before,
.site-inner:after,
.site-inner:before,
.widget:after,
.widget:before,
.wrap:after,
.wrap:before {
	clear: both;
	display: block;
	content: ''
}
* {
	-webkit-tap-highlight-color: transparent
}
::-moz-selection {
	background-color: #30353a;
	color: #fff
}
::selection {
	background-color: #30353a;
	color: #fff
}
html {
	font-size: 62.5%;
	max-width: 100vw;
	overflow-x: hidden
}
body {
	background-color: #f4f5f6;
	color: #30353a;
	font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.618;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: grayscale;
	margin: 0;
	max-width: 100vw;
	overflow-x: hidden
}
body > div {
	font-size: 18px;
	font-size: 1.8rem
}
p {
	margin: 0 0 1.382em;
	padding: 0
}
a {
	color: #a0a8af;
	word-wrap: break-word
}
a:hover {
	color: #30353a
}
ol,
ul {
	margin: 0;
	padding: 0
}
li {
	list-style-type: none
}
hr {
	border: 0;
	border-collapse: collapse;
	border-bottom: 1px solid #f4f5f6;
	border-bottom: .1rem solid #f4f5f6;
	clear: both;
	padding: 1em 0 0;
	margin: 0 0 2em
}
b,
strong {
	font-weight: 600
}
blockquote,
cite,
em,
i {
	font-style: italic
}
blockquote {
	border-left: 1px solid #f4f5f6;
	border-left: .1rem solid #f4f5f6;
	margin: 1em 0;
	padding: 0 1em
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
	font-weight: 600;
	line-height: 1.236;
	margin: 0 0 .618em
}
h1 {
	font-size: 2em
}
h2 {
	font-size: 1.6em
}
h3 {
	font-size: 1.4em
}
h4 {
	font-size: 1.2em
}
h5 {
	font-size: 1.1em
}
h6 {
	font-size: 1em
}
input,
select,
textarea {
	background-color: #fff;
	border: 1px solid #f4f5f6;
	border: .1rem solid #f4f5f6;
	border-radius: .1rem;
	padding: .5em 1em;
	width: 100%;
	line-height: 2
}
input:focus,
select:focus,
textarea:focus {
	outline: 0;
	border: 1px solid #f4f5f6;
	border: .1rem solid #f4f5f6
}
:focus {
	outline: 1px solid #f4f5f6;
	outline: .1rem solid #f4f5f6
}
input[type=checkbox],
input[type=image],
input[type=radio] {
	width: auto
}
input[type=search] {
	-webkit-appearance: none
}
::-moz-placeholder {
	color: #30353a;
	opacity: 1
}
::-webkit-input-placeholder {
	color: #30353a
}
.button,
button,
input[type=button],
input[type=reset],
input[type=submit] {
	background-color: #30353a;
	border: 0;
	border-radius: .1rem;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 700;
	padding: 1em 2em;
	text-decoration: none;
	display: inline-block;
	width: auto;
	height: auto;
	line-height: 1;
	-webkit-transition: background-color .25s ease,color .25s ease;
	transition: background-color .25s ease,color .25s ease
}
.button:hover,
button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
	color: #fff;
	background-color: #a0a8af
}
.button.secondary,
button.secondary,
input[type=button].secondary,
input[type=reset].secondary,
input[type=submit].secondary {
	background-color: #a0a8af
}
.button.secondary:hover,
button.secondary:hover,
input[type=button].secondary:hover,
input[type=reset].secondary:hover,
input[type=submit].secondary:hover {
	background-color: #30353a
}
.button.small,
button.small,
input[type=button].small,
input[type=reset].small,
input[type=submit].small {
	font-size: 12px;
	font-size: 1.2rem
}
.button:disabled,
.button:disabled:hover,
button:disabled,
button:disabled:hover,
input[type=button]:disabled,
input[type=button]:disabled:hover,
input[type=reset]:disabled,
input[type=reset]:disabled:hover,
input[type=submit]:disabled,
input[type=submit]:disabled:hover {
	background-color: #f4f5f6;
	border-width: 0;
	color: #6a7681;
	cursor: not-allowed
}
.button + .button,
.button + button,
button + .button,
button + button,
input[type=button] + .button,
input[type=button] + button,
input[type=reset] + .button,
input[type=reset] + button,
input[type=submit] + .button,
input[type=submit] + button {
	margin-top: 1em;
	clear: both
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button {
	display: none
}
fieldset {
	margin-bottom: 1em
}
.wp-caption,
.wp-video-shortcode,
embed,
iframe,
img,
object,
video {
	max-width: 100%;
	display: block
}
img {
	height: auto
}
figure {
	margin: 0
}
video {
	-o-object-fit: cover;
	object-fit: cover
}
.wp-video-shortcode {
	width: auto!important
}
table {
	background-color: #fff;
	border: 1px solid #f4f5f6;
	border: .1rem solid #f4f5f6;
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 1;
	margin-bottom: 40px;
	margin-bottom: 4rem;
	width: 100%
}
tbody {
	border-bottom: 1px solid #f4f5f6;
	border-bottom: .1rem solid #f4f5f6
}
td,
th {
	text-align: left;
	padding: .618em;
	border-top: 1px solid #f4f5f6;
	border-top: .1rem solid #f4f5f6;
	border-right: 1px solid #f4f5f6;
	border-right: .1rem solid #f4f5f6
}
.screen-reader-shortcut,
.screen-reader-text,
.screen-reader-text span,
.wp-custom-logo .site-description,
.wp-custom-logo .site-title {
	position: absolute!important;
	clip: rect(0,0,0,0);
	height: 1px;
	height: .1rem;
	width: 1px;
	width: .1rem;
	border: 0;
	overflow: hidden
}
.screen-reader-shortcut:focus,
.screen-reader-text:focus {
	clip: auto!important;
	height: auto;
	width: auto;
	display: block;
	padding: 10px 20px;
	padding: 1rem 2rem;
	z-index: 100000;
	text-decoration: none;
	box-shadow: 0 0 .2rem .2rem rgba(48,53,58,.1)
}
.more-link {
	position: relative;
	font-style: normal
}
.genesis-skip-link {
	margin: 0
}
.genesis-skip-link li {
	height: 0;
	width: 0;
	list-style: none
}
.wrap {
	margin: 0 auto;
	padding-left: 5%;
	padding-right: 5%
}
.wrap .wrap {
	max-width: 100%;
	width: auto;
	padding: 0
}
.site-inner {
	clear: both;
	padding: 5vw 0;
	word-wrap: break-word
}
.page-builder .site-inner {
	padding: 0;
	border-top: 1px solid #f4f5f6;
	border-top: .1rem solid #f4f5f6;
	border-bottom: 1px solid #f4f5f6;
	border-bottom: .1rem solid #f4f5f6
}
.site-inner .wrap {
	max-width: 1280px
}
.gallery,
.gallery-row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between
}
.gallery a {
	display: block;
	min-height: 100%
}
.gallery img {
	height: auto;
	width: 100%;
	display: block
}
.gallery-caption {
	display: block
}
.gallery-item {
	width: 100%;
	margin: 0 0 5vw;
	text-align: center;
	display: block
}
.avatar {
	border-radius: 50%;
	margin-right: 20px;
	margin-right: 2rem;
	float: left
}
.alignright .avatar {
	margin-left: 20px;
	margin-left: 2rem
}
.breadcrumb {
	padding: 1em 7.5vw;
	background-color: #fff;
	border-bottom: 1px solid #f4f5f6;
	border-bottom: .1rem solid #f4f5f6;
	font-size: 14px;
	font-size: 1.4rem;
	width: 100%
}
.breadcrumb a {
	text-decoration: underline
}
.after-entry,
.author-box {
	margin-bottom: 5%
}
.archive-description p:last-of-type,
.author-box p:last-of-type {
	margin-bottom: 0
}
.archive-description {
	background-color: #fff;
	padding: 7.5vw;
	margin-bottom: 5vw;
	font-size: 18px;
	font-size: 1.8rem;
	clear: both
}
.archive-description:after,
.archive-description:before {
	clear: both;
	display: block;
	content: ''
}
.archive-title {
	font-size: 20px;
	font-size: 2rem;
	margin-bottom: 0
}
.archive-title + p {
	margin-top: 1em
}
.search-form {
	display: block;
	width: 100%;
	position: relative;
	clear: both
}
.search-form:after,
.search-form:before {
	clear: both;
	display: block;
	content: ''
}
.search-form input[type=search] {
	width: 100%
}
.search-form input[type=submit] {
	display: none
}
.entry-content .search-form {
	margin-bottom: 1em
}
.author-box-title {
	font-size: 20px;
	font-size: 2rem
}
.entry-title a {
	color: #30353a;
	text-decoration: none;
	font-family: "Source Sans Pro",Helvetica,Arial,sans-serif
}
.entry-title a:hover {
	color: #a0a8af
}
a.aligncenter img {
	display: block;
	margin: 0 auto
}
a.alignnone {
	display: inline-block
}
.alignleft {
	float: left;
	text-align: left
}
.alignright {
	float: right;
	text-align: right
}
a.alignleft,
a.alignnone,
a.alignright {
	max-width: 100%
}
.aligncenter,
img.centered {
	display: block;
	margin: 0 auto 1em
}
.alignnone,
img.alignnone {
	margin-bottom: 1em
}
.wp-caption.alignleft,
a.alignleft,
img.alignleft {
	margin: 0 1em 1em 0
}
.wp-caption.alignright,
a.alignright,
img.alignright {
	margin: 0 0 1em 1em
}
.wp-caption-text {
	font-size: 14px;
	font-size: 1.4rem;
	margin: 0;
	text-align: center
}
.entry-content p.wp-caption-text {
	margin-bottom: 0
}
.entry-content .wp-audio-shortcode,
.entry-content .wp-playlist,
.entry-content .wp-video {
	margin: 0 0 1em
}
.bypostauthor,
.sticky {
	background-color: transparent
}
.site-header {
	position: relative;
	width: 100%;
	z-index: 100;
	background-color: #fff;
	border-bottom: 1px solid #f4f5f6;
	border-bottom: .1rem solid #f4f5f6
}
.site-header > .wrap {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}
.title-area {
	margin: 0 auto 0 0;
	position: relative;
	height: 100%;
	display: block;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: .618em 0;
	max-width: 180px;
	max-width: 18rem
}
.site-title {
	font-size: 24px;
	font-size: 2.4rem;
	font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 0
}
.site-title a {
	color: #30353a;
	text-decoration: none
}
.site-description {
	font-size: 14px;
	font-size: 1.4rem;
	margin-bottom: 0;
	line-height: 1
}
.menu {
	width: 100%;
	font-weight: 600;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1;
	text-align: left;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	clear: both
}
.menu:after,
.menu:before {
	clear: both;
	display: block;
	content: ''
}
.menu-item {
	display: block;
	padding: 5px 0;
	padding: .5rem 0;
	width: 100%;
	position: relative
}
.menu-item.right {
	margin-left: auto
}
.menu-item a {
	text-decoration: none;
	display: block;
	padding: .5em 0;
	color: #30353a
}
.menu-item a:hover,
.menu-item.current-menu-item > a {
	color: #a0a8af
}
.sub-menu {
	display: none;
	font-size: 14px;
	font-size: 1.4rem;
	clear: both
}
.sub-menu:after,
.sub-menu:before {
	clear: both;
	display: block;
	content: ''
}
.sub-menu li {
	width: 100%
}
.sub-menu li:first-of-type {
	margin-top: .5em
}
.sub-menu li:first-of-type a {
	padding-left: 1em
}
.sub-menu a {
	padding-left: 1em
}
.sub-menu .sub-menu {
	padding-left: 1em
}
.nav-primary,
.nav-secondary {
	width: 100vw;
	margin: 0 -5vw;
	padding: 0 5vw;
	background-color: #fff;
	border-top: 1px solid #f4f5f6;
	border-top: .1rem solid #f4f5f6;
	border-bottom: 1px solid #f4f5f6;
	border-bottom: .1rem solid #f4f5f6;
	display: none;
	position: absolute;
	left: 0;
	top: 100%
}
.no-js .nav-primary,
.no-js .nav-secondary {
	width: 100%;
	position: relative;
	display: block
}
.no-js .nav-primary .wrap,
.no-js .nav-secondary .wrap {
	padding: 0 5%
}
.no-js .nav-primary .menu-item,
.no-js .nav-secondary .menu-item {
	display: inline-block;
	width: auto;
	margin: 0 .5em
}
.nav-primary .menu,
.nav-secondary .menu {
	padding: .5em 0
}
.nav-secondary {
	width: 100%
}
.nav-footer .menu {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: 1em
}
.nav-footer .menu-item {
	width: auto
}
.nav-footer .menu-item a {
	padding: 0;
	margin: 0 1em
}
.menu-toggle {
	padding: 27px 0;
	padding: 2.7rem 0;
	cursor: pointer;
	background-color: transparent;
	display: block;
	position: relative;
	line-height: 1;
	color: #30353a
}
.menu-toggle:hover {
	background: 0 0;
	outline: 0;
	box-shadow: none;
	color: #30353a
}
.menu-toggle:focus {
	outline: 1px solid #f4f5f6;
	outline: .1rem solid #f4f5f6;
	background: 0 0
}
.menu-toggle span {
	display: block;
	float: right;
	position: relative;
	height: 2px;
	height: .2rem;
	background: #30353a;
	-webkit-transition: background 0s .2s;
	transition: background 0s .2s;
	width: 25px;
	width: 2.5rem;
	margin-left: .236em;
	margin-top: 7px;
	margin-top: .7rem;
	border-radius: .1rem
}
.menu-toggle span::after,
.menu-toggle span::before {
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 2px;
	height: .2rem;
	background-color: #30353a;
	border-radius: .1rem;
	content: " "
}
.menu-toggle span::before {
	top: -7px;
	top: -.7rem;
	-webkit-transition: top .2s .2s,-webkit-transform .2s 0s;
	transition: top .2s .2s,-webkit-transform .2s 0s;
	transition: top .2s .2s,transform .2s 0s;
	transition: top .2s .2s,transform .2s 0s,-webkit-transform .2s 0s
}
.menu-toggle span::after {
	bottom: -7px;
	bottom: -.7rem;
	-webkit-transition: bottom .2s .2s,-webkit-transform .2s 0s;
	transition: bottom .2s .2s,-webkit-transform .2s 0s;
	transition: bottom .2s .2s,transform .2s 0s;
	transition: bottom .2s .2s,transform .2s 0s,-webkit-transform .2s 0s
}
.menu-toggle.activated span {
	background: 0 0
}
.menu-toggle.activated span::before {
	top: 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: top .2s 0s,-webkit-transform .2s .2s;
	transition: top .2s 0s,-webkit-transform .2s .2s;
	transition: top .2s 0s,transform .2s .2s;
	transition: top .2s 0s,transform .2s .2s,-webkit-transform .2s .2s
}
.menu-toggle.activated span::after {
	bottom: 0;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transition: bottom .2s 0s,-webkit-transform .2s .2s;
	transition: bottom .2s 0s,-webkit-transform .2s .2s;
	transition: bottom .2s 0s,transform .2s .2s;
	transition: bottom .2s 0s,transform .2s .2s,-webkit-transform .2s .2s
}
.sub-menu-toggle {
	position: absolute;
	right: 0;
	top: .5em;
	background: 0 0;
	padding: .5em;
	margin: 0 -.5em
}
.sub-menu-toggle:focus,
.sub-menu-toggle:hover {
	background: 0 0
}
.sub-menu-toggle:before {
	content: "";
	display: block;
	margin: 2px 0 -2px;
	margin: .2rem 0 -.2rem;
	border: 4px solid transparent;
	border: .4rem solid transparent;
	border-top-color: #30353a
}
.sub-menu-toggle.activated:before {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	margin: -2px 0 2px;
	margin: -.2rem 0 .2rem
}
.entry {
	background-color: #fff;
	margin-bottom: 5vw;
	padding: 7.5vw
}
.entry:last-of-type {
	margin-bottom: 0
}
.entry-content {
	clear: both
}
.entry-content:after,
.entry-content:before {
	clear: both;
	display: block;
	content: ''
}
.entry-content ol,
.entry-content ul {
	margin-bottom: 1em;
	margin-left: 40px;
	margin-left: 4rem
}
.entry-content ol > li {
	list-style-type: decimal
}
.entry-content ul > li {
	list-style-type: disc
}
.entry-content ol ol,
.entry-content ul ul {
	margin-bottom: 0
}
.entry-content li li {
	list-style-type: circle
}
.entry-content code {
	background-color: #f4f5f6;
	display: block;
	padding: 10px 20px;
	padding: 1rem 2rem;
	border: 1px solid #f4f5f6;
	border: .1rem solid #f4f5f6;
	margin-top: 1em
}
.entry-content > :last-child {
	margin-bottom: 0
}
.entry-image-link {
	display: block;
	margin-bottom: 1em
}
.entry-image-link img {
	display: block
}
p.entry-meta {
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 0
}
.entry-header p.entry-meta {
	margin-bottom: 1em
}
.entry-categories,
.entry-tags {
	display: block
}
.entry-author-name {
	text-transform: capitalize
}
.entry-footer {
	border-top: 1px solid #f4f5f6;
	border-top: .1rem solid #f4f5f6;
	margin-top: 5vw;
	padding-top: 5vw
}
.pagination {
	margin: 5vw 0;
	clear: both
}
.pagination:after,
.pagination:before {
	clear: both;
	display: block;
	content: ''
}
.adjacent-entry-pagination {
	margin-bottom: 0
}
.archive-pagination ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex
}
.archive-pagination li {
	margin: 0 .25em 0 0
}
.archive-pagination a {
	background-color: #fff;
	color: #30353a;
	font-size: 16px;
	font-size: 1.6rem;
	padding: 7.5px 10px;
	padding: .75rem 1rem;
	border-radius: .1rem;
	text-decoration: none;
	display: block
}
.archive-pagination .active a,
.archive-pagination a:hover {
	background-color: #a0a8af;
	color: #fff
}
.comment-respond,
.entry-comments,
.entry-pings {
	background-color: #fff;
	font-size: 16px;
	font-size: 1.6rem;
	margin-top: 40px;
	margin-top: 4rem;
	padding: 7.5vw
}
.comment-respond .form-submit {
	margin-bottom: 0
}
.comment-list li {
	padding: 40px 0 0 5vw;
	padding: 4rem 0 0 5vw
}
.comment-list .depth-1 {
	padding-left: 0
}
.comment-list .comment-respond {
	padding: 0 0 0 1em
}
.comment-list > .comment-respond {
	padding: 0
}
.comment-header {
	margin-bottom: 5vw
}
.comment-header p {
	margin-bottom: 0
}
.comment-edit-link {
	padding-left: -webkit-calc(4.8rem + 1em);
	padding-left: calc(4.8rem + 1em)
}
.entry-pings .comment-edit-link {
	padding: 0;
	clear: both;
	display: block
}
.comment-meta {
	padding-left: -webkit-calc(4.8rem + 1em);
	padding-left: calc(4.8rem + 1em);
	word-break: break-all
}
.entry-pings .comment-meta {
	padding: 0 0 1em
}
.comment-content {
	clear: both
}
.comment-content ul > li {
	list-style-type: disc
}
.comment-respond input[type=email] label,
.comment-respond input[type=text] label,
.comment-respond input[type=url] label {
	display: block;
	margin-right: 10px;
	margin-right: 1rem
}
.entry-pings .reply {
	display: none
}
.pingback:last-of-type p {
	margin-bottom: 0
}
.widget {
	margin-bottom: 7.5vw;
	word-wrap: break-word;
	background-color: #fff
}
.widget:last-of-type {
	margin-bottom: 0
}
.sidebar .widget {
	margin-bottom: 0;
	margin-top: 5vw;
	font-size: 16px;
	font-size: 1.6rem;
	padding: 7.5vw
}
.widget p:last-of-type {
	margin-bottom: 0
}
.widget ul > li:last-of-type:not(.gfield) {
	margin-bottom: 0
}
.widget ul > li {
	margin-bottom: .5em;
	padding-bottom: .5em
}
.widget ul > li:last-of-type {
	padding-bottom: 0
}
.widget ol > li {
	list-style-position: inside;
	list-style-type: decimal;
	padding-left: 1em;
	text-indent: -1em
}
.widget li li {
	border: 0;
	margin: 0 0 0 1em;
	padding: 0
}
.widget-title {
	font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
	font-size: 20px;
	font-size: 2rem
}
.widget_calendar table {
	width: 100%
}
.widget_calendar td,
.widget_calendar th {
	text-align: center
}
.sidebar-primary .widget:first-of-type {
	background-color: #30353a;
	color: #fff
}
.sidebar-primary .widget:first-of-type .widget-title,
.sidebar-primary .widget:first-of-type h3 {
	color: #fff;
	margin-bottom: .5em
}
.sidebar-primary .widget:first-of-type input {
	width: 100%
}
.sidebar-primary .widget:first-of-type input[type=button],
.sidebar-primary .widget:first-of-type input[type=submit] {
	background-color: #a0a8af;
	width: 100%
}
.sidebar-primary .widget:first-of-type input[type=button]:hover,
.sidebar-primary .widget:first-of-type input[type=submit]:hover {
	color: #30353a;
	background-color: #fff
}
.site-footer {
	width: 100%;
	background-color: #fff;
	font-size: 18px;
	font-size: 1.8rem
}
.site-footer > .wrap {
	text-align: center;
	position: relative;
	padding: 5vw;
	font-size: 16px;
	font-size: 1.6rem
}
.site-footer p:last-of-type {
	margin-bottom: 0
}
.footer-widgets {
	padding: 60px 0;
	padding: 6rem 0;
	border-bottom: 1px solid #f4f5f6;
	border-bottom: .1rem solid #f4f5f6;
	background-color: #fff
}
.footer-widgets .widget-area {
	margin: 0 auto 40px;
	margin: 0 auto 4rem
}
.footer-widgets .widget-area:last-of-type {
	margin-bottom: 0
}
.footer-widgets .widget-area .widget {
	width: 100%;
	display: block;
	margin: 0 auto 2em
}
.footer-widgets .widget-area .widget:last-of-type {
	margin-bottom: 0
}
.simple-social-icons {
	overflow: hidden
}
.simple-social-icons svg[class*=" social-"],
.simple-social-icons svg[class^=social-] {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor
}
.simple-social-icons ul {
	margin: -.5em -.5em 0 0;
	padding: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start
}
.simple-social-icons ul li {
	background: 0 0;
	border: none;
	list-style-type: none;
	margin: .5em .5em 0 0;
	padding: 0
}
.simple-social-icons ul li a {
	border: none;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	height: 1em;
	line-height: 1em;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	width: 1em
}
.simple-social-icons ul.aligncenter {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center
}
.simple-social-icons ul.alignleft {
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start
}
.simple-social-icons ul.alignright {
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end
}
.gform_body,
.gform_footer,
.gform_heading {
	clear: both
}
.gform_heading {
	padding-bottom: 1em
}
.gform_wrapper .gform_fields {
	list-style: none;
	margin: 0 -10px;
	margin: 0 -1rem;
	padding: 0
}
.gform_wrapper .gform_fields li {
	list-style-type: none
}
.gform_wrapper .gfield_checkbox,
.gform_wrapper .gfield_radio {
	list-style: none;
	padding: 0
}
.ginput_container span {
	margin-bottom: 10px;
	margin-bottom: 1rem
}
.ginput_container input,
.ginput_container select,
.ginput_container textarea {
	width: 100%
}
.ginput_container input,
.ginput_container textarea {
	margin: 0
}
.gfield_label {
	display: inline-block;
	padding-bottom: 10px;
	padding-bottom: 1rem
}
.gfield_label:empty {
	display: none
}
.left_label .gfield_label {
	float: left
}
.right_label .gfield_label {
	float: right
}
.gfield_required {
	padding-left: .1em
}
.gfield_checkbox li,
.gfield_radio li {
	width: 100%
}
.gfield_checkbox input,
.gfield_radio input {
	width: auto;
	float: left;
	margin-right: 10px;
	margin-right: 1rem
}
.gfield_checkbox label,
.gfield_radio label {
	float: left;
	line-height: 1
}
.gsection {
	margin: 10px 0;
	margin: 1rem 0
}
.gsection h2 {
	border-bottom: 1px solid #f4f5f6;
	border-bottom: .1rem solid #f4f5f6;
	padding-bottom: 10px;
	padding-bottom: 1rem
}
.gf_progressbar_wrapper,
.validation_error {
	padding-bottom: 1em
}
.gf_progressbar {
	background: #f4f5f6
}
.gf_progressbar_percentage {
	background: #30353a;
	padding: 5px 10px;
	padding: .5rem 1rem;
	text-align: right
}
.gfield_time_ampm,
.gfield_time_hour,
.gfield_time_minute {
	display: inline-block
}
.gfield_time_hour label,
.gfield_time_minute label {
	display: block
}
.gfield_time_ampm {
	vertical-align: top
}
.gfield {
	width: 100%;
	list-style-type: none;
	clear: both;
	overflow: auto;
	padding: 0 10px 15px;
	padding: 0 1rem 1.5rem;
	margin: 0
}
.gfield .validation_message {
	margin-top: 10px;
	margin-top: 1rem
}
.gfield li {
	list-style-type: none
}
.gform_validation_container {
	display: none
}
.gform_footer .gform_button {
	width: auto
}
.ginput_full input,
.ginput_full select,
.ginput_full textarea,
.ginput_left input,
.ginput_left select,
.ginput_left textarea,
.ginput_right input,
.ginput_right select,
.ginput_right textarea {
	margin-bottom: 5px;
	margin-bottom: .5rem;
	width: 100%
}
.ginput_full label,
.ginput_left label,
.ginput_right label {
	display: block
}
.ginput_full {
	display: block
}
.ginput_left {
	float: left;
	padding-right: 10px;
	padding-right: 1rem
}
.ginput_right {
	float: right
}
.gf_first_quarter,
.gf_left_half,
.gf_left_third,
.gf_middle_third,
.gf_second_quarter {
	clear: none;
	float: left;
	padding-right: 10px;
	padding-right: 1rem;
	padding-bottom: 10px;
	padding-bottom: 1rem
}
.gf_fourth_quarter,
.gf_right_half,
.gf_right_third {
	clear: none;
	float: right;
	padding-bottom: 10px;
	padding-bottom: 1rem
}
.gf_third_quarter {
	clear: none;
	float: left;
	padding-bottom: 10px;
	padding-bottom: 1rem
}
.gf_list_2col li,
.gf_list_3col li,
.gf_list_4col li,
.gf_list_5col li {
	float: left;
	padding-bottom: 10px;
	padding-bottom: 1rem
}
.gf_list_inline li {
	display: inline-block;
	padding-right: 10px;
	padding-right: 1rem;
	padding-bottom: 10px;
	padding-bottom: 1rem
}
.front-page-1,
.front-page-2,
.front-page-3,
.front-page-4,
.front-page-5 {
	padding: 60px 0;
	padding: 6rem 0;
	background-color: #fff;
	border-bottom: 1px solid #f4f5f6;
	border-bottom: .1rem solid #f4f5f6
}
.front-page-1 {
	padding: 20vw 0;
	position: relative;
	clear: both
}
.front-page-1:after,
.front-page-1:before {
	clear: both;
	display: block;
	content: ''
}
.front-page-1 .wrap {
	position: relative;
	text-align: center
}
.front-page-1 .widget {
	background-color: transparent
}
.front-page-1 .widget p:last-of-type {
	margin-bottom: 1.382em
}
.wp-custom-header {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	overflow: hidden
}
.wp-custom-header iframe,
.wp-custom-header img,
.wp-custom-header video {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: auto;
	height: auto;
	min-height: 100%;
	min-width: 100%;
	max-width: 100%;
	max-height: none;
	-o-object-fit: cover;
	object-fit: cover
}
.wp-custom-header iframe {
	left: -25%;
	right: -25%;
	height: 150%;
	width: 150%
}
@media (min-width:512px) {
	.button + .button,
	.button + button,
	button + .button,
	button + button,
	input[type=button] + .button,
	input[type=button] + button,
	input[type=reset] + .button,
	input[type=reset] + button,
	input[type=submit] + .button,
	input[type=submit] + button {
		margin-top: 0;
		clear: none
	}
	.gallery-item {
		width: 48.717948717948715%;
		margin-bottom: 2.564102564102564%
	}
	.sidebar-primary {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: stretch;
		-webkit-align-items: stretch;
		-ms-flex-align: stretch;
		align-items: stretch
	}
	.sidebar-primary .widget {
		width: 42.5vw
	}
	.ginput_container input.large,
	.ginput_container select.large,
	.ginput_container textarea.large {
		width: 100%
	}
	.ginput_container input.medium,
	.ginput_container select.medium,
	.ginput_container textarea.medium {
		width: 66%
	}
	.ginput_container input.small,
	.ginput_container select.small,
	.ginput_container textarea.small {
		width: 33%
	}
	.ginput_left,
	.ginput_right {
		width: 50%
	}
	.left_label label.gfield_label,
	.right_label label.gfield_label {
		width: 25%
	}
	.gf_list_2col li,
	li.gf_left_half,
	li.gf_right_half {
		width: 50%
	}
	.gf_list_3col li,
	li.gf_left_third,
	li.gf_right_third {
		width: 33%
	}
	li.gf_middle_third {
		width: 34%
	}
	.gf_list_4col li,
	li.gf_first_quarter,
	li.gf_fourth_quarter,
	li.gf_second_quarter,
	li.gf_third_quarter {
		width: 25%
	}
	.gf_list_5col li {
		width: 20%
	}
}
@media (min-width:768px) {
	body {
		font-size: 2rem
	}
	body > div {
		font-size: 2rem
	}
	.wrap {
		width: 90%;
		max-width: 1280px;
		padding: 0
	}
	.five-sixths,
	.four-fifths,
	.four-sixths,
	.one-fifth,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fifths,
	.three-fourths,
	.three-sixths,
	.two-fifths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		float: left;
		margin-left: 2.564102564102564%
	}
	.one-half,
	.three-sixths,
	.two-fourths {
		width: 48.717948717948715%
	}
	.gallery-columns-3 .gallery-item,
	.one-third,
	.two-sixths {
		width: 31.623931623931625%
	}
	.four-sixths,
	.two-thirds {
		width: 65.81196581196582%
	}
	.gallery-columns-4 .gallery-item,
	.one-fourth {
		width: 23.076923076923077%
	}
	.three-fourths {
		width: 74.35897435897436%
	}
	.gallery-columns-5 .gallery-item,
	.one-fifth {
		width: 17.9487179487179488%
	}
	.two-fifths {
		width: 38.4615384615384616%
	}
	.three-fifths {
		width: 58.9743589743589744%
	}
	.four-fifths {
		width: 79.4871794871794872%
	}
	.gallery-columns-6 .gallery-item,
	.one-sixth {
		width: 14.52991452991453%
	}
	.five-sixths {
		width: 82.90598290598291%
	}
	.first {
		clear: both;
		margin-left: 0
	}
	.breadcrumb {
		padding: 1em 6rem
	}
	.after-entry,
	.author-box {
		margin-bottom: 4rem
	}
	.archive-description {
		padding: 6rem;
		margin-bottom: 4rem
	}
	.nav-footer .menu {
		margin-bottom: 1.5em
	}
	.entry {
		padding: 6rem;
		margin-bottom: 4rem
	}
	.entry-footer {
		margin-top: 4rem;
		padding-top: 4rem
	}
	.comment-respond,
	.entry-comments,
	.entry-pings {
		padding: 6rem
	}
	.comment-header {
		margin-bottom: 2em
	}
	.sidebar .widget {
		margin-top: 4rem;
		padding: 4rem
	}
	.site-footer > .wrap {
		padding: 6rem 0
	}
	.site-footer .widget-area {
		margin-bottom: 0
	}
	.footer-widgets .wrap {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap
	}
	.footer-widgets .widget-area {
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
		margin-left: 2.564102564102564%
	}
	.footer-widgets .widget-area:first-of-type {
		margin-left: 0
	}
	.front-page-1 .wrap,
	.front-page-2 .wrap,
	.front-page-3 .wrap,
	.front-page-4 .wrap,
	.front-page-5 .wrap {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap
	}
	.front-page-1 {
		padding: 15vh 0
	}
}
@media (min-width:896px) {
	.site-inner {
		padding: 4rem 0
	}
	.site-inner .wrap {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between
	}
	.site-inner .wrap:after,
	.site-inner .wrap:before {
		display: none
	}
	.sidebar-content .site-inner .wrap {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
		-webkit-flex-direction: row-reverse;
		-ms-flex-direction: row-reverse;
		flex-direction: row-reverse
	}
	.content {
		width: 100%
	}
	.sidebar-primary {
		width: 25%
	}
	.content-sidebar .content,
	.sidebar-content .content {
		width: -webkit-calc(75% - 4rem);
		width: calc(75% - 4rem)
	}
	.site-header > .wrap {
		padding: 0;
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap
	}
	.title-area {
		padding: 1.382em 0;
		max-width: 24rem
	}
	.site-title {
		font-size: 3rem
	}
	.site-description {
		text-align: left;
		font-size: 1.6rem;
		line-height: 1.382
	}
	.menu-item {
		display: inline-block;
		padding: 0;
		width: auto
	}
	.menu-item:first-of-type > a {
		padding-left: 0
	}
	.menu-item:last-of-type a {
		padding-right: 0
	}
	.menu-item a {
		padding: 1.6em 1em
	}
	.sub-menu {
		top: 100%;
		position: absolute;
		width: 20rem;
		z-index: 99;
		background-color: #fff;
		border: .1rem solid #f4f5f6;
		padding: .5em 0
	}
	.sub-menu li:first-of-type {
		margin-top: 0
	}
	.sub-menu a {
		padding: 1em;
		position: relative;
		word-wrap: break-word
	}
	.sub-menu .sub-menu {
		margin: -.1rem 0 0 19.9rem;
		padding-left: 0;
		left: -.1rem;
		top: -.5em;
		border: .1rem solid #f4f5f6
	}
	.nav-primary,
	.nav-secondary {
		border: none;
		position: relative;
		left: auto;
		width: auto;
		display: block;
		margin: 0;
		padding: 0
	}
	.no-js .nav-primary,
	.no-js .nav-secondary {
		display: block;
		width: auto
	}
	.nav-primary .menu,
	.nav-secondary .menu {
		padding: 0
	}
	.nav-secondary {
		width: 100%;
		border-bottom: .1rem solid #f4f5f6
	}
	.menu-toggle {
		display: none
	}
	.sub-menu-toggle {
		display: none
	}
	.pagination {
		margin: 4rem 0 0
	}
	.widget {
		margin-bottom: 0
	}
	.sidebar-primary {
		display: block
	}
	.sidebar-primary .widget {
		width: 100%
	}
	.sidebar-primary .widget:first-of-type {
		margin-top: 0
	}
	.front-page-1 .widget,
	.front-page-2 .widget,
	.front-page-3 .widget,
	.front-page-4 .widget,
	.front-page-5 .widget {
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
		margin-left: 2.564102564102564%
	}
	.front-page-1 .widget:first-of-type,
	.front-page-2 .widget:first-of-type,
	.front-page-3 .widget:first-of-type,
	.front-page-4 .widget:first-of-type,
	.front-page-5 .widget:first-of-type {
		margin-left: 0
	}
	.front-page-1 .wrap {
		max-width: 768px
	}
}
@media (min-width:1152px) {
	.title-area {
		padding: 1.618em 0;
		max-width: 24rem
	}
	.menu-item a {
		padding: 1.82em 1.25em
	}
}
@media (min-width:1280px) {
	.sub-menu a {
		padding: 1em
	}
	.comment-respond input[type=email],
	.comment-respond input[type=text],
	.comment-respond input[type=url] {
		width: 50%
	}
}
@media print {
	*,
	:after,
	:before {
		background: 0 0!important;
		box-shadow: none!important;
		color: #30353a!important;
		text-shadow: none!important
	}
	a,
	a:visited {
		text-decoration: underline
	}
	a[href]:after {
		content: " (" attr(href) ")"
	}
	abbr[title]:after {
		content: " (" attr(title) ")"
	}
	.site-title > a:after,
	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: ""
	}
	thead {
		display: table-header-group
	}
	img,
	tr {
		page-break-inside: avoid
	}
	img {
		max-width: 100%!important
	}
	@page {
		margin: 2cm .5cm
	}
	h2,
	h3,
	p {
		orphans: 3;
		widows: 3
	}
	blockquote,
	pre {
		border: .1rem solid #f4f5f6;
		page-break-inside: avoid
	}
	.content,
	.content-sidebar {
		width: 100%
	}
	.breadcrumb,
	.comment-edit-link,
	.comment-form,
	.comment-list .reply a,
	.comment-reply-title,
	.edit-link,
	.entry-comments-link,
	.entry-footer,
	.genesis-box,
	.header-widget-area,
	.hidden-print,
	.home-top,
	.nav-primary,
	.nav-secondary,
	.post-edit-link,
	.sidebar,
	button,
	input,
	select,
	textarea {
		display: none!important
	}
	.title-area {
		text-align: center;
		width: 100%
	}
	.site-title > a {
		margin: 0;
		text-decoration: none;
		text-indent: 0
	}
	.site-inner {
		padding-top: 0;
		position: relative;
		top: -10rem
	}
	.author-box {
		margin-bottom: 0
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		orphans: 3;
		page-break-after: avoid;
		page-break-inside: avoid;
		widows: 3
	}
	img {
		page-break-after: avoid;
		page-break-inside: avoid
	}
	blockquote,
	pre,
	table {
		page-break-inside: avoid
	}
	dl,
	ol,
	ul {
		page-break-before: avoid
	}
}