/*
	Theme Name: Authority Pro
	Theme URI: https://my.studiopress.com/themes/authority/
	Description: Authority Pro is perfect for establishing trust and building your online business.
	Author: StudioPress
	Author URI: https://www.studiopress.com/

	Version: 1.0.3

	Tags: one-column, two-columns, left-sidebar, right-sidebar, e-commerce, accessibility-ready, custom-colors, custom-header, custom-menu, featured-images, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready

	Template: genesis
	Template Version: 2.5.1

	License: GPL-2.0+
	License URI: http://www.gnu.org/licenses/gpl-2.0.html

	Text Domain: authority-pro
*/

/* Table of Contents
	- HTML5 Reset
		- Baseline Normalize
		- Box Sizing
		- Float Clearing
	- Defaults
		- Typographical Elements
		- Headings
		- Objects
		- Gallery
		- Forms
		- Tables
		- Screen Reader Text
	- Structure and Layout
		- Site Containers
		- Column Widths and Positions
		- Column Classes
	- Common Classes
		- Avatar
		- Genesis
		- Search Form
		- Titles
		- WordPress
	- Widgets
		- Flexible Widgets
		- Featured Content
	- Plugins
		- Genesis eNews Extended
		- Jetpack
	- Skip Links
	- Site Header
		- Title Area
	- Site Navigation
		- Accessible Menu
		- Site Header Navigation
		- Footer Navigation
		- Social Navigation
	- Content Area
		- Featured Image
		- Entries
		- Entry Messages
		- Grid Entries
		- Entry Meta
		- Pagination
		- Comments
		- Pricing Page
	- Sidebar
	- Top Banner
	- Footer Widgets
	- Site Footer
	- Media Queries
		- Max-width: 1360px
		- Max-width: 1250px
		- Max-width: 1075px
		- Max-width: 860px
		- Max-width: 800px
		- Max-width: 600px
	- Print Styles
*/


/* HTML5 Reset
---------------------------------------------------------------------------------------------------- */

/* Baseline Normalize
--------------------------------------------- */
/* normalize.css v4.1.1 | MIT License | http://necolas.github.io/normalize.css/ */

html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block}audio:not([controls]){display:none;height:0}progress{vertical-align:baseline}template,[hidden]{display:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}dfn{font-style:italic}h1{font-size:2em;margin:0.67em 0}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}img{border-style:none}svg:not(:root){overflow:hidden}code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em}figure{margin:1em 35px}hr{box-sizing:content-box;height:0;overflow:visible}button,input,optgroup,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}button,input{overflow:visible}button,select{text-transform:none}button,html [type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-input-placeholder{color:inherit;opacity:0.54}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}

/* Box Sizing
--------------------------------------------- */

html,
input[type="search"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}


/* Float Clearing
--------------------------------------------- */

.author-box::before,
.clearfix::before,
.entry::before,
.entry-content::before,
.footer-widgets::before,
.nav-primary::before,
.nav-secondary::before,
.pagination::before,
.site-container::before,
.site-footer::before,
.site-header::before,
.site-inner::before,
.widget::before,
.wrap::before {
	content: " ";
	display: table;
}

.author-box::after,
.clearfix::after,
.entry::after,
.entry-content::after,
.footer-widgets::after,
.nav-primary::after,
.nav-secondary::after,
.pagination::after,
.site-container::after,
.site-footer::after,
.site-header::after,
.site-inner::after,
.widget::after,
.wrap::after {
	clear: both;
	content: " ";
	display: table;
}


/* Defaults
---------------------------------------------------------------------------------------------------- */

/* Typographical Elements
--------------------------------------------- */

html {
	font-size: 62.5%; /* 10px browser default */
}

/* Chrome fix */
body > div {
	font-size: 1.6rem;
}

body {
	background-color: #fff;
	color: #333;
	font-family: 'Libre Baskerville', Georgia, serif;
	font-size: 16px;
	font-size: 1.6rem;
	-webkit-font-smoothing: antialiased;
	font-weight: 500;
	line-height: 1.75;
	margin: 0;
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img,
.more-link {
	-webkit-transition: background-color .25s ease-in, border-color ease-in, transform .75s cubic-bezier(.44,.51,.24,.99), box-shadow 1s cubic-bezier(.44,.51,.24,.99);
	-moz-transition:    background-color .25s ease-in, border-color ease-in, transform .75s cubic-bezier(.44,.51,.24,.99), box-shadow 1s cubic-bezier(.44,.51,.24,.99);
	-ms-transition:     background-color .25s ease-in, border-color ease-in, transform .75s cubic-bezier(.44,.51,.24,.99), box-shadow 1s cubic-bezier(.44,.51,.24,.99);
	-o-transition:      background-color .25s ease-in, border-color ease-in, transform .75s cubic-bezier(.44,.51,.24,.99), box-shadow 1s cubic-bezier(.44,.51,.24,.99);
	transition:         background-color .25s ease-in, border-color ease-in, transform .75s cubic-bezier(.44,.51,.24,.99), box-shadow 1s cubic-bezier(.44,.51,.24,.99);
}

a {
	color: #000cff;
	text-decoration: underline;
}

a:focus,
a:hover {
	color: #333;
	text-decoration: none;
}

p {
	margin: 0 0 28px;
	padding: 0;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

hr {
	border: 0;
	border-collapse: collapse;
	border-top: 1px solid #eee;
	clear: both;
	margin: 1em 0;
}

b,
strong {
	font-weight: 700;
}

blockquote,
cite,
em,
i {
	font-style: italic;
}

mark {
	background: #ddd;
	color: #000;
}

blockquote {
	color: #555;
	font-size: 18px;
	font-size: 1.8rem;
	line-height: 1.67;
	margin: 35px;
	position: relative;
}

blockquote::before {
	color: #ddd;
	content: "\201C";
	display: block;
	font-size: 80px;
	font-size: 8rem;
	height: 0;
	left: -.75em;
	position: absolute;
	top: -.5em;
}

blockquote cite {
	color: #707070;
	display: block;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
	font-size: 13px;
	font-size: 1.3rem;
	font-style: normal;
	font-weight: 900;
	letter-spacing: 0.08em;
	margin-top: 24px;
	text-transform: uppercase;
}

.flexible-widgets blockquote,
.flexible-widgets blockquote p {
	font-size: 22px;
	font-size: 2.2rem;
	line-height: 1.66;
}

/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #111;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
	font-weight: 900;
	line-height: 1.2;
	margin: 0 0 20px;
}

h3,
h4,
h5,
h6 {
	font-weight: 700;
}

h1 {
	font-size: 56px;
	font-size: 5.6rem;
	letter-spacing: -.03em;
	line-height: 1;
}

h2 {
	font-size: 40px;
	font-size: 4rem;
	letter-spacing: -.02em;
	line-height: 1.1;
}

h3 {
	color: #111;
	font-size: 28px;
	font-size: 2.8rem;
	letter-spacing: -.01em;
	line-height: 1.23;
}

.entry-content h2,
.entry-content h3,
.entry-content h4 {
	margin-bottom: 20px;
	margin-top: 40px;
}

h4 {
	color: #000cff;
	font-size: 24px;
	font-size: 2.4rem;
	line-height: 1.2;
}

h5,
h6 {
	color: #000cff;
	font-size: 18px;
	font-size: 1.8rem;
	letter-spacing: .1em;
	line-height: 1.5;
	text-transform: uppercase;
}

h6 {
	color: #555;
}

/* Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
}

figure {
	margin: 0;
}

/* Gallery
--------------------------------------------- */

.gallery {
	overflow: hidden;
}

.gallery-item {
	float: left;
	margin: 0 0 28px;
	text-align: center;
}

.gallery-columns-1 .gallery-item {
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	width: 50%;
}

.gallery-columns-3 .gallery-item {
	width: 33%;
}

.gallery-columns-4 .gallery-item {
	width: 25%;
}

.gallery-columns-5 .gallery-item {
	width: 20%;
}

.gallery-columns-6 .gallery-item {
	width: 16.6666%;
}

.gallery-columns-7 .gallery-item {
	width: 14.2857%;
}

.gallery-columns-8 .gallery-item {
	width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	width: 11.1111%;
}

.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
	clear: left;
}

.gallery img {
	border: 1px solid #eee;
	height: auto;
	padding: 4px;
}

.gallery img:focus,
.gallery img:hover {
	border: 1px solid #999;
}

/* Forms
--------------------------------------------- */

input,
select,
textarea {
	background-color: #fff;
	border: 2px solid #ccc;
	color: #111;
	font-size: 18px;
	font-size: 1.8rem;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
	font-weight: 600;
	padding: 16px;
	width: 100%;
}

input:focus,
textarea:focus {
	border: 2px solid #999;
	outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

::-moz-placeholder {
	color: #333;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: #333;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.genesis-nav-menu .highlight a,
.more-link {
	background-color: #fff;
	border: 2px solid #000cff;
	box-shadow: 0 0 0 rgba(0,0,0,.24);
	color: #000cff;
	cursor: pointer;
	display: inline-block;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 1;
	padding: 16px 20px;
	text-align: center;
	text-decoration: none;
	transform: translate3d(0,0,0);
	white-space: normal;
	width: auto;
}

a.button:focus,
a.button:hover,
button:focus,
button:hover,
input:focus[type="button"],
input:hover[type="button"],
input:focus[type="reset"],
input:hover[type="reset"],
input:focus[type="submit"],
input:hover[type="submit"],
.genesis-nav-menu .highlight a:focus,
.genesis-nav-menu .highlight a:hover,
.more-link:focus,
.more-link:hover {
	background: #000be6;
	border-color: #000be6;
	box-shadow: 0 6px 24px rgba(0,0,0,.14);
	color: #f4f4f4;
	text-decoration: none;
	transform: translate3d(0,-3px,0);
}

.entry-content .button:focus,
.entry-content .button:hover {
	color: #f4f4f4;
}

.button {
	display: inline-block;
}

button.primary,
input[type="button"].primary,
input[type="reset"].primary,
input[type="submit"].primary,
.button.primary,
.more-link {
	background-color: #000cff;
	color: #f4f4f4;
}

button.secondary,
input[type="button"].secondary,
input[type="reset"].secondary,
input[type="submit"].secondary,
.button.secondary {
	background-color: #111;
	border-color: #111;
	color: #f4f4f4;
}

button.secondary:focus,
button.secondary:hover,
input[type="button"].secondary:focus,
input[type="button"].secondary:hover,
input[type="reset"].secondary:focus,
input[type="reset"].secondary:hover,
input[type="submit"].secondary:focus,
input[type="submit"].secondary:hover,
.button.secondary:focus,
.button.secondary:hover {
	background-color: #333;
	border-color: #333;
	color: #f4f4f4;
}

a.button.small,
button.small,
input[type="button"].small,
input[type="reset"].small,
input[type="submit"].small {
	font-size: 14px;
	font-size: 1.4rem;
	padding: 9px 24px;
}

a.button.large,
button.large,
input[type="button"].large,
input[type="reset"].large,
input[type="submit"].large {
	font-size: 20px;
	font-size: 2rem;
	padding: 24px;
}

.site-container button:disabled,
.site-container button:disabled:hover,
.site-container input:disabled,
.site-container input:disabled:hover,
.site-container input[type="button"]:disabled,
.site-container input[type="button"]:disabled:hover,
.site-container input[type="reset"]:disabled,
.site-container input[type="reset"]:disabled:hover,
.site-container input[type="submit"]:disabled,
.site-container input[type="submit"]:disabled:hover {
	background-color: #eee;
	box-shadow: none;
	border-width: 0;
	color: #666;
	cursor: not-allowed;
	transform: none;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

/* Tables
--------------------------------------------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: 35px;
	width: 100%;
	word-break: break-all;
}

tbody {
	border-bottom: 1px solid #eee;
}

td,
th {
	text-align: left;
}

td {
	border-top: 1px solid #eee;
	padding: 6px;
}

th {
	font-weight: 400;
	padding: 0 6px;
}

td:first-child,
th:first-child {
	padding-left: 0;
}

/* Screen Reader Text
--------------------------------------------- */

.screen-reader-shortcut,
.screen-reader-text,
.screen-reader-text span {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.genesis-nav-menu .search input[type="submit"]:focus,
.screen-reader-shortcut:focus,
.screen-reader-text:focus,
.widget_search input[type="submit"]:focus {
	background: #f4f4f4;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
	clip: auto !important;
	color: #333;
	display: block;
	font-size: 1em;
	font-weight: bold;
	height: auto;
	padding: 15px 23px 14px;
	text-decoration: none;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

.more-link {
	position: relative;
}

.more-link-wrap a:not(.more-link) {
	border-bottom: 1px solid currentColor;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
	font-size: 13px;
	font-size: 1.3rem;
	font-weight: 700;
	letter-spacing: 0.08em;
	text-decoration: none;
	text-transform: uppercase;
}


/* Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* Site Containers
--------------------------------------------- */

.site-inner,
.wrap {
	margin: 0 auto;
	max-width: 1200px;
}

.site-inner {
	clear: both;
	padding-top: 70px;
	word-wrap: break-word;
}

.single.has-featured-image .site-inner {
	padding-top: 20px;
}

.landing-page .site-inner {
	max-width: 800px;
}

/* Column Widths and Positions
--------------------------------------------- */

/* Content */

.content {
	float: right;
	width: 880px;
}

.content-sidebar .content,
.sidebar-content .content {
	max-width: 680px;
}

.content-sidebar .content {
	float: left;
}

.authority-grid .content,
.full-width-content .content {
	width: 100%;
}

.full-width-content.single .content,
.full-width-content.page .content {
	float: none;
	margin: 45px auto 140px;
	max-width: 680px;
}

.full-width-content.page .content {
	margin-top: 0;
}

/* Primary Sidebar */

.sidebar-primary {
	float: right;
	width: 375px;
}

.sidebar-content .sidebar-primary {
	float: left;
}

/* Column Classes
--------------------------------------------- */
/* Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css */

.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin-left: 2.564102564102564%;
}

.one-half,
.three-sixths,
.two-fourths {
	width: 48.717948717948715%;
}

.one-third,
.two-sixths {
	width: 31.623931623931625%;
}

.four-sixths,
.two-thirds {
	width: 65.81196581196582%;
}

.one-fourth {
	width: 23.076923076923077%;
}

.three-fourths {
	width: 74.35897435897436%;
}

.one-sixth {
	width: 14.52991452991453%;
}

.five-sixths {
	width: 82.90598290598291%;
}

.first {
	clear: both;
	margin-left: 0;
}


/* Common Classes
---------------------------------------------------------------------------------------------------- */

/* Avatar
--------------------------------------------- */

.avatar {
	float: left;
	position: relative;
	z-index: 2;
}

.alignleft .avatar {
	margin-right: 24px;
}

.alignright .avatar {
	margin-left: 24px;
}

.comment .avatar {
	margin-right: 20px;
}

/* Genesis
--------------------------------------------- */

.breadcrumb {
	border-bottom: 1px solid #eee;
	font-size: 14px;
	font-size: 1.4rem;
	margin-bottom: 35px;
	padding-bottom: 20px;
}

.author-box {
	background-color: #f4f4f4;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1.87;
	margin-bottom: 70px;
	padding: 35px 70px;
}

.after-entry {
	margin-bottom: 70px;
}

.archive-description p:last-child,
.author-box p:last-child {
	margin-bottom: 0;
}

.archive-description {
	border-bottom: 1px solid #eee;
	overflow: hidden;
	padding: 0 0 35px 0;
	margin-bottom: 70px;
}

.full-width-content .archive-description {
	margin-bottom: 40px;
}

.author-box .avatar {
	border: 7px solid #fff;
	border-radius: 0;
	box-shadow: 0 9px 45px rgba(0,0,0,.14);
	transform: translate3d(-35px, 0, 0);
	margin: 0 15px 35px -70px;
}

/* Search Form
--------------------------------------------- */

.search-form {
	overflow: hidden;
}

.entry-content .search-form,
.site-header .search-form {
	margin-bottom: 35px;
	width: 50%;
}

.post-password-form input[type="submit"],
.search-form input[type="submit"] {
	margin-top: 10px;
}

.genesis-nav-menu .search input[type="submit"],
.widget_search input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* Titles
--------------------------------------------- */

.archive-description .entry-title,
.author-box-title {
	color: #111;
	font-size: 26px;
	font-size: 2.6rem;
	line-height: 1.23;
	margin-bottom: 20px;
}

.archive-title {
	font-size: 56px;
	font-size: 5.6rem;
	margin: 0 0 30px 0;
}

.entry-title {
	font-size: 42px;
	font-size: 4.2rem;
}

.single .entry-title {
	font-size: 52px;
	font-size: 5.2rem;
	line-height: 1;
	letter-spacing: -.03em;
}

.authority-subtitle {
	color: #000cff;
	display: block;
	font-size: 13px;
	font-size: 1.3rem;
	font-weight: 700;
	letter-spacing: .07em;
	line-height: 1.5;
	margin-bottom: 24px;
	text-transform: uppercase;
}

.entry-title a,
.sidebar .widget-title a {
	color: #111;
	text-decoration: none;
}

.entry-title a:focus,
.entry-title a:hover {
	color: #000cff;
}

.widget-title {
	clear: both;
	font-size: 18px;
	font-size: 1.8rem;
	margin-bottom: 20px;
}

.sidebar .featured-content .entry-title {
	font-size: 20px;
	font-size: 2rem;
}

.flexible-widgets .widget-title,
.flexible-widgets .entry-title {
	font-size: 42px;
	font-size: 4.2rem;
	font-weight: 900;
	line-height: 1.1;
	letter-spacing: -0.02em;
}

.flexible-widgets .featuredpost .widget-title {
	padding: 0 0 10px;
}

.flexible-widgets .featuredpost .more-posts-title {
	display: block;
	margin-top: 20px;
}

.footer-widgets .featured-content .entry-title,
.flexible-widgets .featuredpost .entry-title,
.authority-grid.archive:not(.woocommerce-page) .entry-title {
	font-size: 26px;
	font-size: 2.6rem;
	letter-spacing: -.01em;
}

.enews-widget .widget-title {
	color: #111;
	font-size: 32px;
	font-size: 3.2rem;
	font-weight: 900;
	line-height: 1.1;
	letter-spacing: -.01em;
}

/* WordPress
--------------------------------------------- */

a.aligncenter img {
	display: block;
	margin: 0 auto;
}

a.alignnone {
	display: inline-block;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
	max-width: 100%;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 24px;
}

img.alignnone,
.alignnone {
	margin-bottom: 24px;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
	margin: 0 24px 24px 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
	margin: 0 0 24px 24px;
}

.gallery-caption,
.wp-caption-text {
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 600;
	margin: 0;
	text-align: center;
}

.entry-content p.wp-caption-text {
	margin-bottom: 0;
}

.entry-content .wp-audio-shortcode,
.entry-content .wp-playlist,
.entry-content .wp-video {
	margin: 0 0 24px;
}


/* Widgets
---------------------------------------------------------------------------------------------------- */

.sidebar .widget {
	padding: 50px;
}

.after-entry .widget {
	margin-bottom: 35px;
}

.widget {
	word-wrap: break-word;
}

.widget p:last-child,
.widget ul > li:last-of-type {
	margin-bottom: 0;
}

.widget ul > li {
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.widget ul > li:last-of-type {
	padding-bottom: 0;
}

.widget ol > li {
	list-style-position: inside;
	list-style-type: decimal;
	padding-left: 20px;
	text-indent: -20px;
}

.widget li li {
	border: 0;
	margin: 0 0 0 30px;
	padding: 0;
}

.widget_calendar table {
	width: 100%;
}

.widget_calendar td,
.widget_calendar th {
	text-align: center;
}

.sidebar .widget:first-of-type {
	background-color: #fff;
	box-shadow: 0 15px 80px rgba(0,0,0,.14);
	margin-bottom: 20px;
}

.single .sidebar .widget:first-of-type {
	margin-top: -60px;
}

/* Flexible Widgets
--------------------------------------------- */

.flexible-widgets > .wrap {
	padding: 35px 0;
}

.flexible-widgets .widget {
	padding: 35px;
	width: 48%;
}

.flexible-widgets .widget:nth-child(odd) {
	clear: both;
	float: left;
}

.flexible-widgets .widget:nth-child(even) {
	float: right;
}

.flexible-widgets.widget-odd .widget:last-of-type {
	clear: both;
	float: none;
	margin-left: auto;
	margin-right: auto;
	max-width: 75%;
	text-align: center;
	width: 100%;
}

.flexible-widgets .entry-content,
.flexible-widgets .textwidget {
	margin-left: 35px;
}

.flexible-widgets.widget-odd .widget:last-of-type .entry-content,
.flexible-widgets.widget-odd .widget:last-of-type .textwidget {
	margin-left: 0;
}

.flexible-widgets .featuredpost .entry-content {
	margin-left: 0;
}

.flexible-widgets.widget-odd .featuredpost:last-of-type {
	max-width: none;
	padding: 70px 0 0;
	text-align: left;
}

/* Featured Content
--------------------------------------------- */

.featured-content .entry {
	background: none;
	margin-bottom: 35px;
	padding: 0;
}

.featured-content .entry:last-of-type {
	margin-bottom: 0;
}

.content .featuredpage .entry-image {
	box-shadow: 0 20px 80px rgba(0,0,0,.2);
	box-sizing: content-box;
	border: 10px solid #fff;
	vertical-align: middle;
}


/* Plugins
---------------------------------------------------------------------------------------------------- */

/* Genesis eNews Extended
--------------------------------------------- */

.enews-widget {
	background: #fff;
	box-shadow: 0 15px 80px rgba(0,0,0,.14);
	padding: 40px 60px;
	position: relative;
	text-align: center;
}

.flexible-widgets .enews-widget {
	padding: 60px 100px;
}

.footer-widgets .enews-widget:nth-child(1),
.footer-widgets .enews-widget:nth-child(2) {
	margin: -60px 0;
}

.footer-widgets .widget-odd .enews-widget:nth-child(1),
.footer-widgets .widget-odd .enews-widget:nth-child(2) {
	margin-bottom: 35px;
}

.footer-widgets .widget-odd .enews-widget:last-child {
	margin-bottom: -60px;
}

.enews-widget::after,
.sidebar .enews-widget:nth-child(2n+1)::after {
	background: #000cff;
	content: "";
	display: block;
	height: 5px;
	left: auto;
	position: absolute;
	right: 0;
	top: 70px;
	transform: translateX(50%);
	width: 40px;
}

.enews-widget:nth-child(odd)::after {
	right: auto;
	left: 0;
	transform: translateX(-50%);
}

.enews-widget p:first-of-type {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 700;
	line-height: 1.2;
}

.enews-widget .enews form + p {
	color: #707070;
	font-family: 'Libre Baskerville', Georgia, serif;
	font-size: 16px;
	font-size: 1.6rem;
	font-style: italic;
	font-weight: normal;
	margin-top: 12px;
}

.enews-widget form {
	margin-left: auto;
	margin-right: auto;
	max-width: 400px;
}

.enews-widget input[type="submit"] {
	background-color: #000cff;
	color: #f4f4f4;
}

.enews-widget input[type="submit"]:focus,
.enews-widget input[type="submit"]:hover {
	background-color: #000be6;
}

.enews-widget input {
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 16px;
	text-align: center;
}

.enews-widget input[type="submit"] {
	margin: 0;
	width: 100%;
}

/* Jetpack
--------------------------------------------- */

#wpstats {
	display: none;
}


/* Skip Links
---------------------------------------------------------------------------------------------------- */

.genesis-skip-link {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 14px;
	font-size: 1.4rem;
	margin: 0;
}

.genesis-skip-link li {
	height: 0;
	width: 0;
	list-style: none;
}

/* Display outline on focus */
:focus {
	color: #111;
	outline: #ccc solid 1px;
}


/* Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	background-color: #fff;
}

.site-header > .wrap {
	padding: 20px 0;
}

/* Title Area
--------------------------------------------- */

.title-area {
	float: left;
	padding: 10px 0;
}

.header-image .title-area {
	margin: 0 auto;
	max-width: 300px;
	padding: 0;
	width: 300px;
}

.site-title {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
	font-size: 28px;
	font-size: 2.8rem;
	font-weight: 900;
	line-height: 1;
	letter-spacing: -.03em;
}

.site-title a,
.site-title a:focus,
.site-title a:hover {
	color: #111;
	text-decoration: none;
}

.header-image .site-title > a {
	background-size: contain !important;
	float: left;
	min-height: 80px;
	width: 100%;
}

.site-description {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.site-description,
.site-title {
	margin-bottom: 0;
}

.header-image .site-title {
	display: block;
	text-indent: -9999px;
}


/* Site Navigation
---------------------------------------------------------------------------------------------------- */

.genesis-nav-menu {
	clear: both;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.75;
	letter-spacing: -.01em;
	width: 100%;
}

.genesis-nav-menu .menu-item {
	display: inline-block;
	margin-bottom: 0;
	padding-bottom: 0;
	text-align: left;
}

.genesis-nav-menu a {
	color: #111;
	text-decoration: none;
	display: block;
	padding: 12px 20px;
}

.genesis-nav-menu .highlight {
	margin-left: 20px;
}

.genesis-nav-menu a:focus,
.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:focus,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover {
	color: #000cff;
	text-decoration: none;
}

.genesis-nav-menu .sub-menu {
	box-shadow: 0 16px 45px rgba(0,0,0,.18);
	left: -9999px;
	opacity: 0;
	position: absolute;
	-webkit-transition: opacity 0.4s ease-in-out;
	-moz-transition:    opacity 0.4s ease-in-out;
	-ms-transition:     opacity 0.4s ease-in-out;
	-o-transition:      opacity 0.4s ease-in-out;
	transition:         opacity 0.4s ease-in-out;
	width: 200px;
	z-index: 99;
}

.genesis-nav-menu .sub-menu a {
	background-color: #fff;
	border-top: 1px solid #eee;
	font-size: 14px;
	font-size: 1.4rem;
	padding: 16px 20px;
	position: relative;
	width: 200px;
	word-wrap: break-word;
}

.genesis-nav-menu .sub-menu .sub-menu {
	margin: -56px 0 0 199px;
}

.genesis-nav-menu .menu-item:hover {
	position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
	left: auto;
	opacity: 1;
}

.genesis-nav-menu > .first > a {
	padding-left: 0;
}

.genesis-nav-menu > .last > a {
	padding-right: 0;
}

.genesis-nav-menu > .right {
	float: right;
}

/* Accessible Menu
--------------------------------------------- */

.menu .menu-item:focus {
	position: static;
}

.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.sfHover > ul.sub-menu {
	left: auto;
	opacity: 1;
}

.menu-toggle,
.sub-menu-toggle {
	display: none;
	visibility: hidden;
}

/* Site Header Navigation
--------------------------------------------- */

.site-header .nav-primary {
	float: right;
	max-width: 940px;
}

.site-header .genesis-nav-menu li li {
	margin-left: 0;
}

/* Footer Navigation
--------------------------------------------- */

.site-footer .genesis-nav-menu {
	padding-bottom: 20px;
}

.site-footer .genesis-nav-menu a {
	padding: 0 20px;
}

/* Social Navigation
--------------------------------------------- */

.nav-social {
	left: 35px;
	position: fixed;
	top: 0;
	transform: rotate(-90deg) translateX(-100%);
	transform-origin: 0 100%;
	z-index: 999;
}

.admin-bar .nav-social {
	top: 22px;
}

.top-banner-visible .nav-social {
	top: 70px;
}

.admin-bar.top-banner-visible .nav-social {
	top: 105px;
}

.nav-social a {
	color: #707070;
	font-size: 12px;
	font-size: 1.2rem;
	letter-spacing: 0.03em;
	padding: 0 12px;
	position: relative;
	text-transform: uppercase;
}

.nav-social li:not(:first-child) a::before {
	background: #999;
	content: "";
	display: inline-block;
	height: 2px;
	left: -2px;
	position: absolute;
	top: .8em;
	width: 2px;
}

.nav-social li:first-child a::before {
	background: #ddd;
	content: "";
	display: inline-block;
	height: 1px;
	left: -100vh;
	position: absolute;
	top: .8em;
	width: 100vh;
}


/* Content Area
---------------------------------------------------------------------------------------------------- */

/* Featured Images
--------------------------------------------- */

.authority-featured-image {
	margin: 0 0 24px;
	padding: 0;
}

.authority-featured-image,
.featuredpost .has-post-thumbnail > a {
	position: relative;
	z-index: 1;
}

.authority-featured-image::before,
.featuredpost .has-post-thumbnail > a::before {
	background: #f4f4f4;
	content: "";
	left: -30px;
	height: calc(100% + 20px);
	position: absolute;
	top: 30px;
	width: calc(100% + 60px);
	z-index: -1;
}

.single .authority-featured-image::before {
	height: calc(100% + 45px);
}

.authority-grid.archive:not(.woocommerce-page) .authority-featured-image::before,
.featuredpost .has-post-thumbnail > a::before {
	height: calc(100% + 10px);
}

.sidebar-content.single .authority-featured-image::before {
	left: auto;
	right: 0;
}

.featuredpost .alignnone {
	margin-bottom: 24px;
}

.authority-featured-image.authority-image-alignleft {
	float: left;
	margin: 0 24px 24px 0;
}

.authority-featured-image.authority-image-alignright {
	float: right;
	margin: 0 0 24px 24px;
}

.authority-featured-image.authority-image-alignleft img,
.authority-featured-image.authority-image-alignright img {
	margin: 0;
}

.authority-featured-image img,
.featuredpost .has-post-thumbnail img {
	box-shadow: 0 16px 65px rgba(0,0,0,.18);
	vertical-align: middle;
}

.authority-featured-image img,
.featuredpost .has-post-thumbnail img {
	-webkit-transition: transform .5s cubic-bezier(.44,.51,.24,.99), box-shadow .75s cubic-bezier(.44,.51,.24,.99);
	-moz-transition:    transform .5s cubic-bezier(.44,.51,.24,.99), box-shadow .75s cubic-bezier(.44,.51,.24,.99);
	-ms-transition:     transform .5s cubic-bezier(.44,.51,.24,.99), box-shadow .75s cubic-bezier(.44,.51,.24,.99);
	-o-transition:      transform .5s cubic-bezier(.44,.51,.24,.99), box-shadow .75s cubic-bezier(.44,.51,.24,.99);
	transition:         transform .5s cubic-bezier(.44,.51,.24,.99), box-shadow .75s cubic-bezier(.44,.51,.24,.99);
	transform: translate3d(0,0,0);
}

.authority-featured-image a:focus img,
.authority-featured-image a:hover img,
.featuredpost .has-post-thumbnail > a:focus img,
.featuredpost .has-post-thumbnail > a:hover img {
	box-shadow: 0 6px 15px rgba(0,0,0,.30);
	transform: translate3d(0,10px,0);
}

.has-featured-image .content {
	margin-top: 24px;
}

.has-featured-image .content,
.has-featured-image .sidebar,
.has-post-thumbnail .entry-content,
.has-post-thumbnail .entry-header {
	position: relative;
	z-index: 2;
}


/* Entries
--------------------------------------------- */

.entry {
	margin-bottom: 70px;
}

.entry-header {
	margin-bottom: 35px;
}

.entry-content .intro {
	color: #111;
	font-size: 20px;
	font-size: 2rem;
	font-style: italic;
	line-height: 1.7;
}

.entry-content ol,
.entry-content ul {
	margin-bottom: 28px;
	margin-left: 35px;
}

.entry-content ol > li {
	list-style-type: decimal;
}

.entry-content ul > li {
	list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
	margin-bottom: 0;
}

.entry-content code {
	background-color: #111;
	color: #eee;
}

p.center {
	text-align: center;
}

/* Entry Messages
--------------------------------------------- */

.message {
	background-color: #111;
	padding: 25px 30px;
}

.message,
.message a {
	color: #fff;
}

.message.green {
	background-color: #00a86d;
}

.message.orange {
	background-color: #cc4b00;
}

.message.red {
	background-color: #be0040;
}

/* Grid Entries
--------------------------------------------- */

.flexible-widgets.widget-odd .featuredpost:last-of-type .entry,
.authority-grid.archive:not(.woocommerce-page) .content .entry {
	float: left;
	padding: 0 35px;
	width: 33.3%;
}

.flexible-widgets.widget-odd .featuredpost:last-of-type .entry {
	padding-bottom: 35px;
}

.flexible-widgets.widget-odd .featuredpost:last-of-type .entry:nth-of-type(3n+1),
.authority-grid.archive:not(.woocommerce-page) .content .entry:nth-of-type(3n+1) {
	clear: left;
}

.featuredpost .entry-header,
.authority-grid.archive:not(.woocommerce-page) .entry-header {
	margin-bottom: 24px;
}

.featuredpost .entry-content p,
.authority-grid.archive:not(.woocommerce-page) .entry-content p {
	margin-bottom: 12px;
}

.flexible-widgets.widget-odd .featuredpost:last-of-type .widget-title,
.flexible-widgets.widget-odd .featuredpost:last-of-type .more-posts {
	padding-left: 35px;
	padding-right: 35px;
}


/* Entry Meta
--------------------------------------------- */

.entry-meta {
	color: #707070;
	font-size: 12px;
	font-size: 1.2rem;
	font-style: italic;
	line-height: 1.3;
	margin-bottom: 10px;
}

.entry-meta > * {
	color: #555;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
	font-style: normal;
	font-weight: 700;
	letter-spacing: .08em;
	line-height: 1.5;
	text-transform: uppercase;
	margin: 0 5px 0 0;
}

.entry-meta > .entry-author {
	margin-left: 5px;
}

.entry-categories,
.entry-tags {
	display: block;
	margin-left: 0;
}

.entry-comments-link::before {
	content: "\2014";
	margin: 0 6px 0 2px;
}

.entry-footer {
	position: relative;
	z-index: 2;
}

/* Pagination
--------------------------------------------- */

.pagination {
	clear: both;
	margin: 35px 0 70px;
}

.adjacent-entry-pagination {
	margin-bottom: 0;
}

.archive-pagination li {
	display: inline;
}

.archive-pagination a {
	color: #111;
	cursor: pointer;
	display: inline-block;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 600;
	padding: 8px 20px;
	text-decoration: none;
}

.archive-pagination .pagination-next > a,
.archive-pagination .pagination-previous > a {
	border: 2px solid #000cff;
	color: #000cff;
	padding: 6px 20px;
}

.archive-pagination a:focus,
.archive-pagination a:hover,
.archive-pagination .active a {
	background-color: #000cff;
	color: #fff;
}

/* Comments
--------------------------------------------- */

.entry-comments > h3,
.entry-pings > h3,
.comment-respond > h3 {
	color: #111;
	font-size: 42px;
	font-size: 4.2rem;
	font-weight: 900;
	line-height: 1.1;
	letter-spacing: -1px;
}

.comment-respond,
.entry-comments,
.entry-pings {
	background-color: #fff;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1.85;
	margin-bottom: 70px;
}

.comment-list li {
	border-left: 2px solid #eee;
	margin: 35px 0 0 15px;
	padding: 0 0 0 35px;
}

.comment-list .depth-1 {
	border-left: none;
	margin-left: 0;
	padding: 0;
}

.comment-header {
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1.5;
	margin-bottom: 20px;
	overflow: hidden;
}

.comment-header a {
	color: #555;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
	font-weight: 700;
	letter-spacing: 0.03em;
	text-decoration: none;
	text-transform: uppercase;
}

.comment-header p {
	margin-bottom: 0;
}

.says {
	color: #707070;
	font-style: italic;
	margin-left: 5px;
}

.comment-content {
	clear: both;
}

.comment-content p {
	margin-bottom: 15px;
}

.comment-content ul > li {
	list-style-type: disc;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
	width: 50%;
}

.comment-respond label {
	display: block;
	margin-right: 12px;
}

.comment-reply {
	color: #000cff;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
	font-weight: 700;
	letter-spacing: .08em;
	text-transform: uppercase;
}

.entry-pings .reply {
	display: none;
}

/* Pricing Page
--------------------------------------------- */

.pricing-page.full-width-content .content {
	max-width: none;
}

.pricing-page .entry {
	margin-bottom: 0;
	text-align: center;
}

.pricing-page .entry-header::after {
	margin-left: auto;
	margin-right: auto;
}

.pricing-table {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.pricing-table .one-fifth,
.pricing-table .one-fourth,
.pricing-table .one-half,
.pricing-table .one-third {
	background: #f4f4f4;
	border: 10px solid #fff;
	float: left;
	margin-left: 0;
	padding: 50px 60px;
}

.pricing-table .one-fifth {
	width: 20%;
}

.pricing-table .one-fourth {
	width: 25%;
}

.pricing-table .one-half {
	width: 50%;
}

.pricing-table .one-third {
	width: 33.333333333333333%;
}

.pricing-table .featured {
	background-color: #fff;
	border-top: none;
	border-bottom: none;
	box-shadow: 0 20px 80px rgba(0,0,0,.2);
	position: relative;
}

.pricing-table h4 {
	color: #111;
	margin-bottom: 10px;
	margin-top: 0;
}

.pricing-table p {
	margin-bottom: 0;
}

.pricing-table .description {
	color: #555;
	font-size: 14px;
	font-size: 1.4rem;
	font-style: italic;
}

.pricing-table .price {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
	font-size: 48px;
	font-size: 4.8rem;
	font-weight: 900;
}

.pricing-table ul {
	margin-left: 0;
}

.pricing-table ul li {
	font-size: 15px;
	font-size: 1.5rem;
	list-style-type: none;
}


/* Sidebar
---------------------------------------------------------------------------------------------------- */

.sidebar {
	font-size: 15px;
	font-size: 1.5rem;
	margin-bottom: 35px;
}


/* Top Banner
---------------------------------------------------------------------------------------------------- */

.authority-top-banner {
	background: #000cff;
	display: none;
	padding: 24px 80px 24px 24px;
	position: relative;
	text-align: center;
}

.authority-top-banner,
.authority-top-banner a {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 700;
	letter-spacing: -0.03em;
	line-height: 1.55;
}

.authority-top-banner,
.authority-top-banner a,
.authority-top-banner a:focus,
.authority-top-banner a:hover {
	color: #fff;
}

#authority-top-banner-close,
#authority-top-banner-close:focus,
#authority-top-banner-close:hover {
	background: transparent;
	border: 0;
	box-shadow: none;
	color: #fff;
	height: 100%;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform: none;
}

#authority-top-banner-close {
	padding-left: 35px;
	padding-right: 35px;
}


/* Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
	background-color: #f4f4f4;
	clear: both;
}

.footer-widgets .widget_media_image::after {
	display: none;
}


/* Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background-color: #fff;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1.5;
	letter-spacing: .08em;
	margin-top: 70px;
	padding: 35px 0;
	text-transform: uppercase;
}

.site-footer p {
	margin-bottom: 0;
	margin-top: 7px;
}

.site-footer .nav-secondary {
	float: right;
}

.site-footer .genesis-nav-menu a {
	font-size: 12px;
	font-size: 1.2rem;
	letter-spacing: .08em;
}


/* Media Queries
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1360px) {

	.site-inner,
	.wrap {
		max-width: 1140px;
	}

	.content {
		width: 800px;
	}

	.sidebar-primary {
		width: 300px;
	}

	.site-header .nav-primary {
		max-width: 800px;
	}

}


@media only screen and (max-width: 1250px) {

	.site-inner,
	.wrap {
		max-width: 960px;
	}

	.content {
		width: 620px;
	}

	.site-header .nav-primary {
		max-width: 620px;
	}

	.author-box .avatar {
		margin-left: -60px;
	}

}

@media only screen and (max-width: 1075px) {

	.site-inner,
	.wrap {
		max-width: 800px;
	}

	.content,
	.content-sidebar .content,
	.sidebar-content .content,
	.genesis-responsive-menu .genesis-nav-menu .sub-menu a,
	.genesis-responsive-menu .genesis-nav-menu .sub-menu,
	.sidebar-primary,
	.site-header .nav-primary {
		float: none;
		max-width: 100%;
		width: 100%;
	}

	.title-area {
		float: left;
		margin-right: 10px;
		width: 300px;
	}

	.header-image .title-area,
	.title-area {
		max-width: 50%;
	}

	.archive-description {
		margin-bottom: 35px;
		padding-bottom: 20px;
	}

	.archive-description,
	.entry {
		margin-left: auto;
		margin-right: auto;
		max-width: 680px;
	}

	.pricing-page .entry {
		max-width: none;
	}

	.authority-grid .archive-description {
		max-width: none;
	}

	.genesis-nav-menu li,
	.site-header ul.genesis-nav-menu {
		float: none;
	}

	/* Genesis Responsive Menus */
	.genesis-responsive-menu .wrap {
		padding: 0;
	}

	.genesis-responsive-menu {
		display: none;
		position: relative;
	}

	.genesis-skip-link .skip-link-hidden {
		display: none;
		visibility: hidden;
	}

	.genesis-responsive-menu .highlight a,
	.genesis-responsive-menu .highlight a:focus,
	.genesis-responsive-menu .highlight a:hover {
		background: transparent;
		box-shadow: none;
		color: #111;
		transform: none;
	}

	.genesis-responsive-menu .highlight a:focus,
	.genesis-responsive-menu .highlight a:hover {
		color: #000cff;
	}

	.menu-toggle,
	.sub-menu-toggle {
		border: 2px solid #000cff;
		background-color: #fff;
		color: #000cff;
		display: block;
		margin: 0 auto;
		overflow: hidden;
		text-align: center;
		visibility: visible;
	}

	.menu-toggle:focus,
	.menu-toggle:hover,
	.sub-menu-toggle:focus,
	.sub-menu-toggle:hover {
		background: #000cff;
		color: #fff;
	}

	.menu-toggle {
		float: right;
		line-height: 20px;
		position: relative;
		z-index: 1000;
	}

	.menu-toggle::before {
		font-size: 1.5em;
		margin-right: 10px;
		text-rendering: auto;
		vertical-align: top;
	}

	.sub-menu-toggle {
		float: right;
		padding: 15px 10px;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 100;
	}

	.sub-menu-toggle::before {
		display: inline-block;
		text-rendering: auto;
		-webkit-transform: rotate( 0 );
		-ms-transform:     rotate( 0 );
		transform:         rotate( 0 );
		-webkit-transition: transform 0.25s ease-in-out;
		-ms-transition:     transform 0.25s ease-in-out;
		transition:         transform 0.25s ease-in-out;
	}

	.sub-menu-toggle.activated::before {
		-webkit-transform: rotate( 180deg );
		-ms-transform:     rotate( 180deg );
		transform:         rotate( 180deg );
	}

	.genesis-responsive-menu .genesis-nav-menu .menu-item {
		display: block;
		float: none;
		position: relative;
		text-align: left;
	}

	.genesis-responsive-menu .genesis-nav-menu .menu-item:focus,
	.genesis-responsive-menu .genesis-nav-menu .menu-item:hover {
		position: relative;
	}

	.genesis-responsive-menu .genesis-nav-menu a:focus,
	.genesis-responsive-menu .genesis-nav-menu a:hover {
		color: #000cff;
	}

	.genesis-responsive-menu .genesis-nav-menu .menu-item a {
		border: none;
		margin-bottom: 1px;
		padding: 15px 20px 15px 0;
		text-align: left;
		width: 100%;
	}

	.genesis-responsive-menu .genesis-nav-menu .sub-menu {
		border: none;
	}

	.genesis-responsive-menu .genesis-nav-menu .menu-item > a:focus ul.sub-menu,
	.genesis-responsive-menu .genesis-nav-menu .menu-item > a:focus ul.sub-menu .sub-menu,
	.genesis-nav-menu .highlight {
		left: 0;
		margin-left: 0;
	}

	.genesis-responsive-menu .genesis-nav-menu > .menu-item-has-children > a::after {
		content: none;
	}

	.genesis-responsive-menu .genesis-nav-menu .sub-menu {
		box-shadow: none;
		clear: both;
		display: none;
		margin: 0;
		opacity: 1;
		padding-left: 15px;
		position: static;
		width: 100%;
	}

	.genesis-responsive-menu .genesis-nav-menu .sub-menu .sub-menu {
		margin: 0;
	}

	.flexible-widgets .widget {
		padding-left: 25px;
		padding-right: 25px;
	}

	.flexible-widgets .entry-content,
	.flexible-widgets .textwidget {
		margin-left: 0;
	}

	.enews-widget {
		padding: 20px 40px;
	}

	.flexible-widgets .enews-widget {
		padding: 40px 60px;
	}

	.authority-featured-image::before,
	.featuredpost .has-post-thumbnail > a::before {
		left: -20px;
		width: calc(100% + 40px);
	}

	.flexible-widgets.widget-odd .featuredpost:last-of-type .entry,
	.authority-grid.archive:not(.woocommerce-page) .content .entry {
		padding: 0 25px;
	}

	.flexible-widgets.widget-odd .featuredpost:last-of-type .widget-title,
	.flexible-widgets.widget-odd .featuredpost:last-of-type .more-posts {
		padding-left: 25px;
		padding-right: 25px;
	}

	.single .sidebar  .widget:first-of-type {
		margin-top: 0;
	}

	.site-footer {
		margin-top: 20px;
		text-align: center;
	}

	.site-footer .nav-secondary {
		float: none;
	}

	.pricing-table .one-fifth,
	.pricing-table .one-fourth,
	.pricing-table .one-half,
	.pricing-table .one-third {
		padding: 30px 40px;
	}

	.pricing-table .one-fourth,
	.pricing-table .one-fifth {
		width: 50%;
	}

}

@media only screen and (max-width: 860px) {

	.author-box .avatar {
		margin-left: 35px;
	}

	.site-inner {
		padding: 5% 5% 0;
	}

	.site-header .wrap,
	.wrap,
	#footer {
		padding-left: 5%;
		padding-right: 5%;
	}

	.after-entry,
	.archive-description,
	.author-box,
	.sidebar .widget {
		padding: 30px;
		margin-bottom: 5%;
	}

	.authority-featured-image,
	.entry,
	.comment-respond,
	.entry-comments,
	.entry-pings {
		padding: 0;
	}

	.entry-footer {
		margin-left: 0;
	}

	.archive-description {
		text-align: center;
	}

	.archive-title {
		font-size: 32px;
		font-size: 3.2rem;
	}

	.enews-widget .widget-title {
		font-size: 28px;
		font-size: 2.8rem;
	}

	.sidebar {
		margin-bottom: 5%;
	}

	.pagination {
		margin: 5% auto;
	}

	.archive-pagination li a {
		margin-bottom: 4px;
	}

	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.pricing-table .one-fifth,
	.pricing-table .one-fourth,
	.pricing-table .one-half,
	.pricing-table .one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		margin: 0;
		width: 100%;
	}

	#authority-top-banner-close {
		padding-left: 20px;
		padding-right: 20px;
	}

	.authority-top-banner {
		padding-left: 18px;
		padding-right: 60px;
	}

	.enews-widget::after {
		display: none;
	}

	.flexible-widgets .widget-title,
	.flexible-widgets .entry-title {
		font-size: 32px;
		font-size: 3.2rem;
	}

	.flexible-widgets.widget-odd .featuredpost:last-of-type {
		padding-top: 20px;
	}

	.authority-featured-image::before,
	.featuredpost .has-post-thumbnail > a::before {
		left: -15px;
		width: calc(100% + 30px);
	}

	.flexible-widgets.widget-odd .featuredpost:last-of-type .entry,
	.authority-grid.archive:not(.woocommerce-page) .content .entry {
		padding: 0 20px;
	}

	.flexible-widgets.widget-odd .featuredpost:last-of-type .widget-title {
		padding-left: 20px;
		padding-right: 20px;
	}

	.flexible-widgets.widget-odd .featuredpost:last-of-type .more-posts {
		padding: 0 20px 10px;
	}

	.flexible-widgets .featuredpost .entry-title,
	.footer-widgets .featured-content .entry-title,
	.authority-grid.archive:not(.woocommerce-page) .entry-title {
		font-size: 22px;
		font-size: 2.2rem;
	}

}

@media only screen and (max-width: 800px) {

	h2,
	.entry-comments > h3,
	.entry-pings > h3,
	.comment-respond > h3,
	.entry-title {
		font-size: 32px;
		font-size: 3.2rem;
	}

	h1,
	.single .entry-title {
		font-size: 42px;
		font-size: 4.2rem;
	}

	.full-width-content.single .content {
		margin-top: 20px;
	}

	.flexible-widgets .widget,
	.flexible-widgets .widget:nth-child(odd),
	.flexible-widgets.widget-odd .widget:last-of-type,
	.flexible-widgets.widget-odd .featuredpost:last-of-type .entry,
	.authority-grid.archive:not(.woocommerce-page) .content .entry {
		clear: both;
		float: none;
		position: static;
		text-align: center;
		max-width: none;
		padding: 20px 0;
		width: 100%;
	}

	.footer-widgets .enews-widget:nth-child(1),
	.footer-widgets .enews-widget:nth-child(2) {
		margin: 0;
	}

	blockquote {
		margin-left: 15px;
		margin-right: 15px;
		margin-top: 0;
	}

	blockquote::before {
		position: relative;
		left: -8px;
		height: 80px;
		top: auto;
	}

	.flexible-widgets blockquote p {
		font-size: 18px;
		font-size: 1.8rem;
	}

	.flexible-widgets.widget-odd .featuredpost:last-of-type .entry,
	.authority-grid.archive:not(.woocommerce-page) .content .entry {
		max-width: 450px;
		margin-left: auto;
		margin-right: auto;
		padding: 0;
	}

	.flexible-widgets .featuredpost .more-posts,
	.flexible-widgets .featuredpost .widget-title {
		padding-left: 0;
		padding-right: 0;
	}

	.authority-featured-image::before,
	.featuredpost .has-post-thumbnail > a::before {
		display: none;
	}

	.flexible-widgets .enews-widget,
	.flexible-widgets .enews-widget:last-of-type,
	.flexible-widgets.widget-odd .enews-widget:last-of-type {
		padding: 30px 40px;
	}

}

@media only screen and (max-width: 600px) {

	.wrap {
		padding: 0;
	}

	.flexible-widgets > .wrap {
		padding: 15px 0;
	}

	.enews-widget,
	.flexible-widgets .enews-widget,
	.flexible-widgets .enews-widget:last-of-type,
	.flexible-widgets.widget-odd .enews-widget:last-of-type {
		padding: 20px;
	}

}


/* Print Styles
---------------------------------------------------------------------------------------------------- */

@media print {

	*,
	*::before,
	*::after {
		background: transparent !important;
		box-shadow: none !important;
		color: #000 !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]::after {
		content: " (" attr(href) ")";
	}

	abbr[title]::after {
		content: " (" attr(title) ")";
	}

	a[href^="javascript:"]::after,
	a[href^="#"]::after,
	.site-title > a::after {
		content: "";
	}

	thead {
		display: table-header-group;
	}

	img,
	tr {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	p {
		orphans: 3;
		widows: 3;
	}

	blockquote,
	pre {
		clear: both;
		padding: 20px;
	}

	.authority-grid.archive .content .entry,
	.content,
	.content-sidebar,
	.flexible-widgets .featured-content .entry,
	.flexible-widgets .widget,
	.header-image .title-area,
	.title-area,
	.woocommerce.archive .content .entry {
		max-width: 100% !important;
		width: 100% !important;
	}

	.flexible-widgets .widget,
	.flexible-widgets .widget:nth-child(2n) {
		float: none;
	}

	button,
	input,
	select,
	textarea,
	.breadcrumb,
	.comment-edit-link,
	.comment-form,
	.comment-list .reply a,
	.comment-reply-title,
	.edit-link,
	.entry-comments-link,
	.entry-footer,
	.genesis-box,
	.hidden-print,
	.home-top,
	.nav-primary,
	.nav-secondary,
	.nav-social,
	.pagination,
	.post-edit-link,
	.sidebar {
		display: none !important;
	}

	.author-box {
		margin-bottom: 0;
	}

	.hero-section {
		margin-top: 0;
	}

	.title-area {
		text-align: center;
		width: 100%;
	}

	.site-title > a {
		margin: 0;
		text-decoration: none;
		text-indent: 0;
	}

	.site-inner {
		padding-top: 0;
		position: relative;
	}

	.more-link {
		border-width: 0;
		display: block;
		margin-bottom: 20px;
		position: static;
	}

	.more-link-wrap {
		border-width: 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		orphans: 3;
		page-break-after: avoid;
		page-break-inside: avoid;
		widows: 3;
	}

	img {
		page-break-after: avoid;
		page-break-inside: avoid;
	}

	blockquote,
	pre,
	table {
		page-break-inside: avoid;
	}

	dl,
	ol,
	ul {
		page-break-before: avoid;
	}

}
