/* Common */

.upfront_code-editor {
	position: fixed;
	width: 100%;
	cursor: auto;
	right: 0;
	bottom: 0;
	z-index: 99;
	min-height: 200px;
	display: none
}

.upfront_code-editor button {
	background: #2ecc90;
	color: #fff;
	position: absolute;
	bottom: 10px;
	right: 25px;
	padding: 5px 10px;
	border: 0;
	border-radius: 0;
	font-size: 14px;
	z-index: 2;
}
.upfront_code-editor button:hover {
	background: #3ea;
}

.upfront-icon-button.re-edit:before {
	/*
	background-position: -701px -710px;
	*/
	display: none;
}
.upfront-icon-button.re-edit {
	background: #515b65; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #515b65 47%, #454e56 49%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(47%,#515b65), color-stop(49%,#454e56)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #515b65 47%,#454e56 49%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #515b65 47%,#454e56 49%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #515b65 47%,#454e56 49%); /* IE10+ */
	background: linear-gradient(135deg,  #515b65 47%,#454e56 49%); /* W3C */

	color: #97b8da;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
}

/* Simple */
.upfront_code-editor.upfront_code-editor-simple {
	padding: 10px;
}
.upfront_code-editor.upfront_code-editor-simple h3 {
	margin: 0;
	text-transform: none;
}

.upfront_code-editor-simple textarea {
	min-height: 80px;
}

/* Complex */
.upfront_code-editor.upfront_code-editor-complex textarea {
	color: white;
	background: #454e58;
	border: none;
	outline: none;
}
.upfront_code-editor .upfront_code-editor-complex-wrapper {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	background: #3d5266;
	min-height: 200px;
}

.upfront_code-switches {
	margin: 2px 15px 0 20px;
	float: left;
}


.upfront_code-switch {
	color: #cbe5ff;
	float: left;
	padding: 2px 10px;
	margin: 2px 5px 0 0;
	cursor: pointer;
}

.upfront_code-switch:hover {
	color: #dae6f2;
	background: #2E3D4C;
}

.upfront_code-switch.active {
	background: #26333F ;
}

.upfront_code-jsalert {
	display: inline-block;
	margin: 0 5px 0;
	padding: 0 5px;
	color: #444d56;
	display: none;
	float: left;
}

.upfront_code-jsalert .upfront-icon-button:before {
	margin-top: 7px;
}

.upfront_code-editor-section {
	height: 100%;
}

.upfront_code-editor.upfront_code-editor-complex .upfront_code-editor-complex-wrapper .upfront_code-editor-section {
	display: none;
}
.upfront_code-editor.upfront_code-editor-complex .upfront_code-editor-complex-wrapper .upfront_code-editor-section.active {
	display: block;
}
.upfront_code-editor.upfront_code-editor-complex .handle.ui-resizable-handle.ui-resizable-s {
	text-align: center;
	font-size: 18px;
	line-height: 7px;
	bottom: 5px;
}

.ace_editor.upfront_code-ace {
	height: 100%;
	width: 100%;
}


/* Missing defaults */
.upfront-code_element-module button.embed,
.upfront-code_element-module button.create,
.upfront_code-editor-simple button
{
	border: 0;
	border-radius: 2px;
	padding: 10px 30px;
	cursor: pointer;
}
.upfront_code-editor-simple textarea {
	width: 98%;
}

/* Image editable */
.upfront-code-editable-image {
	position: absolute;
	display: none;
	background: white;
	z-index: 999999999999999;
	opacity: 0.75;
	text-align: center;
}

/* Color picker */
.upfront_code-editor .upfront-css-color {
	display: inline-block;
}
.upfront_code-editor .upfront-css-color .upfront-field-wrap,
.upfront_code-editor .upfront-css-color .upfront-field-wrap label
{
	margin: 0;
}
.upfront_code-editor .upfront-css-color .upfront-field-wrap .sp-button-container.sp-cf {
	position: absolute;
	bottom: -48px;
	right: -15px;
}


/* 378760-1512586674-ai */