.unslider{max-width:700px;position:relative;overflow:visible;margin-bottom:50px;border:1px solid #adadad}.unslider-wrap li p{padding:1em 20px;margin:0;background:#14485f;color:#fff;min-height:45px}.unslider-wrap li p a{color:#fff;font-weight:700}.unslider-arrow{display:block;width:32px;height:32px;top:50%;right:-50px;left:auto;margin-top:-16px;overflow:hidden;background:rgba(0,0,0,.2) no-repeat 50% 50%;background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAQCAQAAABuQZ3IAAAAi0lEQVR4AU3OISBEQQBAwS0AACS9NxqQgCZpkiYBVddFvWhAAUABAPQCAGC4g/0vTnrBqCfDIZl70J+kMUBPpEwT4FNXxBxz4F1HxHyr4EVTxBLb4EFNxEon4CJSlVNw9AcV9sC16h8osgke1P1ArgXwouVvdQq86ww/GQefusNf7kBviBlxpT8k+gL/Wox4r1d4MwAAAABJRU5ErkJggg==");background-size:7px 11px;border-radius:32px;text-indent:-999em;opacity:.8;transition:opacity .2s}.unslider-arrow:hover{opacity:1}.unslider-arrow.next{right:20px}.unslider-arrow.prev{-ms-transform:rotate(-180deg);transform:rotate(-180deg);left:20px}
/*# sourceMappingURL=unslider.css.map*/


/* 506887-1528449210-au */