.upfront_admin * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.uf-thx-themes_container,
.uf-thx-theme a img {
	width:100%;
}
.uf-thx-theme a img {
	position: absolute;
	top:0;bottom:0;left:0;right:0;
	margin:auto;
}

.upfront_admin.upfront-builder .upfront-thx-create_new {
	font-size: .5em;
}

.upfront_admin.upfront-builder .postbox-container {
	float: none;
	width: auto;
}
.uf-thx-theme {
	width:100%;
	display:inline-block;
	margin-bottom: 30px;
	line-height: 0;
}
.uf-thx-theme img {
	margin-bottom:0;
}
.uf-thx-theme a {
	text-decoration:none;
	position: relative;
	width:100%;
	height:0;
	display:block;
	padding-bottom: 66%;
	overflow: hidden;
	text-align: center;
	cursor: default;
	background: #f1f1f1;
}
.uf-thx-theme a:focus {
	box-shadow: none;
}
.uf-thx-theme a:hover button.edit.info {
	display: inline-block;
}
.postbox.themes .uf-thx-theme a:hover .uf-thx-caption button.download,
.postbox.themes .uf-thx-theme a:hover .uf-thx-caption button {
	display: block;
}

.uf-thx-caption {
	position: absolute;
	width:100%;
	bottom:0;
	display:block;
	padding:10px;
	background:rgba(0,0,0,.5);
	color:rgba(255,255,255,.95);
	font: bold 16px/2 'Roboto Condensed', Helvetica Neueu, Helvetica, Arial, sans-serif;
	height: 50px;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	z-index: 1;
}

.uf-thx-caption span {
	float: left;
}
.postbox.themes .uf-thx-caption button.download,
.postbox.themes .uf-thx-caption button {
	float: right;
	background-color: transparent;
	display: none;
	opacity: .8;
}
.postbox.themes .uf-thx-caption button:hover {
	opacity: 1;
}
.postbox.themes .uf-thx-caption button.edit.theme {
	border: 2px solid #fff;
}
.postbox.themes .uf-thx-caption button.edit.theme:hover {
	background-color: transparent;
}
.postbox.themes button.edit.info {
	background: rgb(136,136,136);
    width: auto;
    position: relative;
    margin-top: 28%;
	display: none;
	box-shadow: 0 0 0 500px rgba(0,0,0,.3);
	font: normal 16px/1.37 'Roboto Condensed', Helvetica Neueu, Helvetica, Arial, sans-serif;
	padding: 10px 25px;
	letter-spacing: 0;
}
.postbox.themes button.edit.info:hover {
	background: rgb(136,136,136);
	cursor: pointer;
}
.uf-thx-caption:after {
	content: ' ';
	display: table;
	clear: both;
}

.uf-thx-themes_container,
.uf-thx-theme_info {
	padding:30px;
}

/* Form Styling */

.postbox-modal-container {
	position: fixed;
    top: 0;
	bottom: 0;
    left: 150px;
    right: 0;
	display: none;
	font-family: 'Roboto';
	color: #848484;
	z-index: 1;
}
.postbox-modal-container .postbox h2.title {
	font-family: 'Roboto Condensed';
    font-weight: 600;
    font-size: 18px;
}
.postbox-modal-container .postbox.edit-theme {
	width: 700px;
    margin: 135px auto;
	-moz-box-shadow: 0 0 10px 4999px rgba(26, 45, 64, .9);
	-webkit-box-shadow: 0 0 10px 4999px rgba(26, 45, 64, .9);
	box-shadow: 0 0 10px 4999px rgba(26, 45, 64, .9);
	border-bottom: 0;
}
.postbox-modal-container .postbox.edit-theme #postbox-modal-close {
	position: absolute;
    right: 25px;
    top: 20px;
    font-size: 23px;
    cursor: pointer;
    color: #bababa;
}
.postbox-modal-container .postbox.edit-theme .uf-thx-theme_info {
	overflow-y: scroll;
    height: 390px;
	padding-right: 10px;
}
.postbox-modal-container .postbox.edit-theme .buttons {
	text-align: right;
    padding: 15px 40px;
    border-top: 1px solid #eee;
}
.postbox-modal-container .postbox.edit-theme .buttons button {
	background-color: #00cf8d;
}
.postbox-modal-container .postbox.edit-theme button.change-image,
.postbox-modal-container .postbox.edit-theme button.edit {
	font: normal 12px/1.5 'Roboto Condensed', Helvetica Neueu, Helvetica, Arial, sans-serif;
}

.postbox-modal-container .postbox.edit-theme button.change-image {
	background-color: #888888;
}
.postbox-modal-container .uf-thx-theme_screenshot {
	width: 35%;
}
.postbox-modal-container .uf-thx-theme_meta {
	width: 60%;
	padding-left: 10px;
}
.postbox-modal-container .uf-thx-theme_meta label input[type="text"],
.postbox-modal-container .uf-thx-theme_meta label textarea {
	color: #4d4d4d;
}
.postbox-modal-container .uf-thx-theme_meta label input[readonly]:hover {
	cursor: not-allowed;
}

.postbox-modal-container .uf-thx-theme_meta label textarea {
	margin-bottom: 10px;
	min-height: 80px;
}


.uf-thx-theme_meta,
.uf-thx-theme_screenshot {
	display:inline-block;
	vertical-align: top;
}

.uf-thx-theme_screenshot {
	width:40%;
	margin-right:15px;
}
.uf-thx-theme_screenshot label {
	cursor: initial;
}
.uf-thx-theme_screenshot .description {
	line-height: 1;
}
.uf-thx-theme_screenshot img {
	width:100%;
	height:auto;
	background:#c0c0c0;
	margin-top: 10px;
	margin-bottom: 10px;
    text-align: center;
    padding: 80px 0;
    border-radius: 3px;
    color:#fff;
    text-transform: uppercase;
    font-family: 'Roboto Condensed';
    font-size:18px;
    line-height: 1;
    box-shadow:inset 0 0 15px rgba(0,0,0,.25);
    display: block;
}
.uf-thx-theme_screenshot img.nostyle {
	background:transparent;
    text-align: center;
    padding: 0;
    border-radius: 0;
    box-shadow: none
}

.uf-thx-theme_meta {
	width:56%;
}
.uf-thx-theme {
	position: relative;
}
.uf-thx-theme.selected {
	box-shadow:0 0 0 3px #00cf8d;
	opacity: 1;
}
.uf-thx-theme.current:after {
	content:'Active';
	position: absolute;
	font-size:14px;
	background-color: #00cf8d;
	color:#fff;
	top:2px;
	left:2px;
	display: block;
	height: 1px;
	padding: 10px;
	text-transform: uppercase;
    font-family: 'Roboto Condensed';
    -webkit-font-smoothing: antialiased;

}

/* WP.org naming conflicts info */
.uf-thx-theme.wporg-conflict {
	border: 5px solid #ffb900;
}
.uf-thx-theme.wporg-conflict:before {
	content:'Conflict';
	position: absolute;
	font-size:14px;
	background-color: #fff8e5;
	color:rgb(68, 68, 68);
	top:2px;
	right:2px;
	display: block;
	height: 1px;
	padding: 10px;
	text-transform: uppercase;
    font-family: 'Roboto Condensed';
    -webkit-font-smoothing: antialiased;
	z-index: 1;
}
.uf-thx-theme.wporg-conflict .uf-thx-conflict_info {
	font-size: 0.8em;
}


.uf-thx-theme_meta span,
.uf-thx-theme_meta input {
	margin-bottom:15px;
	display:block;
	line-height: 1;
}
.uf-thx-theme_meta input[type="text"] {
	height:40px;
}
.uf-thx-theme_meta .check {
	display: inline-block;
	width:49%;
	padding-top: 10px;
}
.uf-thx-theme_meta .check span,
.uf-thx-theme_meta .check input {
	display:inline-block;
	vertical-align: top;
}

.uf-thx-theme_meta label input[type="text"],
 .uf-thx-theme_meta label textarea {
	width: 100%;
	border-radius:3px;
}
.uf-thx-theme_meta label span,
.uf-thx-theme_screenshot span {
	margin-bottom:5px;
	font-style: normal;
	font-size:13px;
}
.postbox .buttons {
	padding:0 30px 30px 30px;
	text-align: center;
}
/*.postbox .edit.theme {
	margin-right:30px;
}*/
.postbox.newtheme .uf-thx-theme_meta {
	width: 100%;
}
.postbox.newtheme .buttons {
	padding:0 30px 30px 30px;
}
.postbox.newtheme .buttons .create.theme {
	margin: 0;
}
.postbox.newtheme .uf-thx-theme_meta label span,
.postbox.newtheme .uf-thx-theme_screenshot span {
	margin-bottom: 10px;
    font: normal 24px/1.5 'Roboto Condensed', Helvetica Neueu, Helvetica, Arial, sans-serif;	 		 	 	 		  		 					
    color: #636363;
    -webkit-font-smoothing: antialiased;
}
.postbox.newtheme .uf-thx-theme_info {
	padding-bottom: 15px;
}

.postbox.themes .buttons {
	border-radius:0 0 3px 3px;
	background: #F5F5F5;
	padding:15px 30px;
	text-align: right;
	position: relative;
}
.postbox.themes .btn-wrap {
	background: #999;
	width:auto;
	display: inline-block;
	padding:1px;
	border-radius: 4px;
	/* hack for shifting margins for display:inline-block items */;
	font-size:0;
	line-height:0;

}
.postbox.themes .btn-wrap button {
	margin:0;
	display: inline-block;
	border-radius: 0;
	letter-spacing: 0px;
	font:400 13px/1.16 'Roboto', Helvetica Neueu, Helvetica, Arial, sans-serif;
}
.postbox.themes .edit.theme:hover {
	background: #999;
}

.postbox.themes .btn-wrap button:nth-child(2) {
	margin-right:1px;
	margin-left:1px;
}
.postbox.themes .btn-label-hidden {
	font-size: 0;
    height: 1px;
    overflow: hidden;
    display: block;
}
.postbox.themes .theme-name {
	text-align: left;
	position: absolute;
	left:30px;
	top:18px;
	text-transform: uppercase;
	font:400 18px/1.2 'Roboto Condensed', Helvetica Neueu, Helvetica, Arial, sans-serif;
	color:#777;
}

.postbox.newtheme {
	display: flex;
	flex-flow: row wrap;
	flex-wrap: wrap;
	align-items: center;
}
.postbox.newtheme h2.title {
	flex:100%;
	width: 100%;
}

.postbox.newtheme .newtheme-form {
	flex:auto;
}
.postbox.newtheme .character {
	width: 400px;
	height:260px;
	background-position: -130px 15px;
    background-size: 123%;
}

/* Media Queries */

@media (min-width: 768px) {
	.uf-thx-theme {
		width: 47%;
		margin-right: 30px;
	}
	.uf-thx-theme:nth-child(2n) {
		margin-right: 0;
	}
	.uf-thx-theme a:hover .uf-thx-caption span {
		text-overflow: ellipsis;
		width: 40%;
		overflow: hidden;
		text-align: left;
		white-space: nowrap;
	}
}
@media (min-width: 1024px) {
	.uf-thx-theme a:hover .uf-thx-caption span {
		width: 47%;
	}
}
@media (min-width: 1300px) {
	.uf-thx-theme {
		width: 30%;
	}
	.uf-thx-theme:nth-child(2n) {
		margin-right: 30px;
	}
	.uf-thx-theme:nth-child(3n) {
		margin-right: 0;
	}

	.uf-thx-theme a:hover .uf-thx-caption span {
		width: 40%;
	}
}
@media (min-width: 1600px) {
	.uf-thx-theme a:hover .uf-thx-caption span {
		width: 55%;
	}
}
@media (min-width: 1920px) {
	.uf-thx-theme {
		width: 23.4%;
	}
	.uf-thx-theme:nth-child(3n) {
		margin-right: 30px;
	}
	.uf-thx-theme:nth-child(4n) {
		margin-right: 0;
	}
	.uf-thx-theme a:hover .uf-thx-caption span {
		width: 50%;
	}
}
@media (min-width: 2200px) {
	.uf-thx-theme {
		width: 18.5%;
	}
	.uf-thx-theme:nth-child(4n) {
		margin-right: 30px;
	}
	.uf-thx-theme:nth-child(5n) {
		margin-right: 0;
	}

}


/* 378760-1512586688-ai */