/* icomoon fonts */
@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot?taxgy5');
	src: url('../fonts/icomoon.eot?taxgy5#iefix') format('embedded-opentype'),
	url('../fonts/icomoon.woff?taxgy5') format('woff'),
	url('../fonts/icomoon.ttf?taxgy5') format('truetype'),
	url('../fonts/icomoon.svg?taxgy5#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
.uf_font_icon, .uf_font_icon *{
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#wpadminbar .upfront-edit_layout .ab-icon:before,
.toplevel_page_upfront .dashicons-admin-generic:before {
    font-family: icomoon;
    content: "\e900";
    font-size: 20px;
    top: 1px;
}


/* 378760-1512586674-ai */