/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background:0 0}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:700}
dfn{font-style:italic}
h1{font-size:2em;margin:.67em 0}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}
textarea{overflow:auto}
optgroup{font-weight:700}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}

/* ==|== non-semantic helper classes ========== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden, .screen-reader-text { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* ==|== media queries ======================== */
@media only screen and (min-width: 480px) {}
@media only screen and (min-width: 768px) {}

/* ==|== print styles ========================= */
@media print {
	* { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: none; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; }
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
}

/* ==|== default typography styles ========================= */
p, h1, h2, h3, h4, h5, h6, ul, ol, pre, blockquote {
	margin-top: 15px;
	margin-bottom: 15px;
}

ul, ol {
	margin-left: 15px;
}
ul ul, ul ol, ol ul, ol ol {
	margin-top: 0;
	margin-bottom: 0;
}

blockquote {
	padding: 15px;
}

del {
	text-decoration: line-through;
}

.upfront-quote-alternative {
	text-align: center;
}

/* ==|== accessibility focus styles ==================== */

*:focus {
	outline: 0;
}

*:active.keyboard-outline,
*:focus.keyboard-outline {
	outline: #2ea3f2 auto 5px;
}

/* ==|== grid requirements ==================== */

#page {
	width:100%;
}

.upfront-grid-layout {
	margin:0 auto;
	position: relative;
}
.upfront-output-region-container .upfront-grid-layout {
	pointer-events: none;
}

.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12, .c13, .c14, .c15, .c16, .c17, .c18, .c19, .c20, .c21, .c22, .c23, .c24 {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	max-width: 100%;
}
.clr {
	clear: both;
}

.upfront-output-wrapper, .upfront-wrapper { float: left; }
.upfront-output-module-group {
	float: left;
	pointer-events: auto;
}
.upfront-output-module {
	position: relative;
	z-index: 1;
	pointer-events: auto;
}

.upfront-output-region {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.upfront-output-region, .upfront-region-wrapper {
	width: 100%;
}

.upfront-output-region.upfront-region-fixed {
	position: fixed;
	z-index: 25;
}
.upfront-output-region.upfront-region-fixed .upfront-region-wrapper {
	margin: 0 auto;
}

.upfront-module {}

/* Clearfix for object container */
.upfront-output-module:before,
.upfront-editable_entities_container>div:before,
.upfront-output-module:after,
.upfront-editable_entities_container>div:after {
	content: " ";
	display: table;
}
.upfront-output-module:after,
.upfront-editable_entities_container>div:after {
	clear: both;
}

.upfront-output-region:before, .upfront-output-region:after { content: ""; display: table; }
.upfront-output-region:after { clear: both; }
.upfront-output-region { zoom: 1; position: relative; }

.upfront-region-container-bg {
	position: relative;
	margin: 0 auto;
	width: 100%;
}

.upfront-output-region-container {
	position: relative;
}
.upfront-output-region-sub-container {
	position: relative;
	z-index: 11;
}
.upfront-output-region-container-sticky {
	z-index: 30;
}
.upfront-output-module-group {
	position: relative;
	z-index: 1;
}
.upfront-output-module-group > .upfront-module-group-bg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}
.upfront-output-bg-overlay,
.upfront-output-bg-overlay > .upfront-bg-image {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 0;
	display: none;
}
.upfront-output-bg-overlay {
	overflow: hidden;
}
.upfront-region-container-full .upfront-output-bg-overlay {
	will-change: top;
}
.upfront-output-bg-overlay > .upfront-bg-image {
	display: block;
}
.upfront-output-layout > .upfront-output-bg-overlay {
	position: fixed;
	z-index: -1;
}

/* Object */
.upfront-object,
.upfront-output-object,
.upfront-output-object-group {
	float:left;
	width:100%;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.upfront-output-object>*:first-child,
.plain-text-container>*:first-child{
	margin-top: 0;
}
.upfront-output-object>*:last-child,
.plain-text-container>*:last-child,
.upfront-image-caption-container .wp-caption div>*:last-child,
.upfront-output-object .wp-caption div>*:last-child,
.upfront-default-slider .uslide-caption div>*:last-child{
	margin-bottom: 0;
}

.upfront-output-object.upfront-postpart-object {
	padding-top:0;
	padding-bottom:0;
}
.upfront-output-object.upfront-postpart-contents {
	/*padding-left:0;*/
	/*padding-right:0;*/
}

.upfront-postpart-object.hide-featured_image {
	display: none;
}
.upfront-postpart-object.full-featured_image {
	max-height: none !important;
}

/* Post Inserts */

.ueditor-insert {
	margin-bottom: 15px;
	/*max-width: 100%;*/
	padding-left: 0px !important;
	padding-right: 0px !important;
	position: relative;
}
.ueditor-insert div, .ueditor-insert a, .ueditor-insert img {
	max-width: 100%;
}
.ueditor-insert .ueditor-insert-remove {
	position: absolute;
	right: 10px;
	top: 10px;
	display: none;
}
.ueditor-insert:hover .ueditor-insert-remove {
	display: block;
}
.ueditor-insert-variant-group.ueditor-insert-float-left {
	float: left;
	margin-right: 15px;
}
.ueditor-insert-variant-group.ueditor-insert-float-right {
	float: right;
	margin-left: 15px;
}
.ueditor-insert-variant-group.ueditor-image-style-center {
	margin-left: auto !important;
	margin-right: auto !important;
}
.uinsert-image-wrapper img {
	width: 100%;
	height: 100%;
}

/* Post paddings */
.alignleft,
.alignright,
.alignfull {
	/*padding-left: 0 !important;*/
	/*padding-right: 0 !important;*/
}

.alignfull{
	width: 100%;
}

.inserted_code_rendered{
	display: inline-block;
}

.aligncenter {
	margin: auto;
}


/* hack to fix empty paragraphs collapsing on each other
   note: Commented out since redactor no longer has that bug,
   so this fix is now redundant...

.upfront-plain_txt p:after {
  content:'\00a0';
}
*/

/* post elements need no padding, because their elements have the padding */
.upfront-output-object.upfront-output-uposts,
.upfront-output-object.upfront-output-this_post {
	padding-left: 0;
	padding-right: 0;
}

/* Image insert captions */
.uinsert-image-caption-left {
	min-width: 100px;
	float: right;
	margin-left: 15px;
}
.uinsert-image-caption-right {
	min-width: 100px;
	float: left;
	margin-right: 15px;
}
.uinsert-image-caption-bottom,
.uinsert-caption-bottom  {
	display: block;
	clear: both;
}

.uinsert-image-external {
	position: relative;
	display: inline-block;
	overflow: hidden;
}

.uinsert-image-external img {
	position: absolute;
	max-width: none !important;
	max-height: none !important;
}

.upfront-postpart-featured_image, .upostdata-part.thumbnail {
	overflow: hidden;
	position: relative;
}

.upfront-output-object.part-featured_image {
	position: relative;
}

.upfront-output-object.part-featured_image .upostdata-part.thumbnail {
	height: inherit;
}

.upfront-postpart-featured_image img, .upostdata-part.thumbnail img, .upfront-editable_entity .upostdata-part.thumbnail img {
	max-width: 100%;
	/* min-width: 100%; */
	margin: 0px;
	height: auto;
}

.upfront-output-image .upfront-image-container img {
	/*max-width: 100%;*/
	max-width: none;
}
.uf-responsive .upfront-output-image .upfront-image-container {
	max-width: 100%;
}
.uf-responsive .upfront-output-image .upfront-image-container img {
	max-width: 100%;
}

.uf-responsive #page .post_content > * {
	padding-left: 0;
	padding-right: 0;
}
.uf-responsive .upfront-inserted_image-wrapper {
	text-align: center;
}
.uf-responsive .ueditor-insert-variant-group {
	margin-left: 0 !important;
	margin-right: 0 !important;
	min-height: 0 !important;
	float: none !important;
	display: inline-block;
	width: auto;
	text-align: center;
}
.uf-responsive .ueditor-insert-variant-group.ueditor-image-style-center {
	margin-left: auto !important;
	margin-right: auto !important;
}
.uf-responsive .upfront-inserted_image-wrapper .wp-caption-text,
.uf-responsive .upfront-inserted_image-wrapper .uinsert-image-wrapper {
	min-height: 0 !important;
	margin-top: 0;
	width: auto;
	float: none;
}
.uf-responsive .uimage-stretch .upfront-image-caption-container {
	width: 100%;
}
.uf-responsive .uimage-stretch .upfront-image-container {
	width: 100% !important;
}

/* Flexbox experiments *//* */
.flexbox-support .upfront-output-region,
.flexbox-support .upfront-output-region > .upfront-region-wrapper,
.flexbox-support .upfront-output-module-group,
.flexbox-support .upfront-output-object-group,
.flexbox-support .upfront-output-wrapper,
.flexbox-support .upfront-output-region-container > .upfront-region-container-bg > .upfront-grid-layout {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-align-content: flex-start;
	-ms-flex-line-pack: start;
	align-content: flex-start;
}
.flexbox-support .upfront-output-region-container > .upfront-region-container-bg > .upfront-grid-layout {
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}
.flexbox-support .upfront-output-region {
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: none;
	flex-wrap: nowrap;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}
.flexbox-support .upfront-output-region:before,
.flexbox-support .upfront-output-region:after {
	content: none;
}
.flexbox-support .upfront-output-region > .upfront-region-wrapper > .upfront-output-wrapper,
.flexbox-support .upfront-output-module-group > .upfront-output-wrapper,
.flexbox-support .upfront-output-object-group > .upfront-output-wrapper,
.flexbox-support .upfront-output-wrapper > .upfront-output-module,
.flexbox-support .upfront-output-wrapper > .upfront-output-module-group,
.flexbox-support .upfront-output-wrapper > .upfront-output-object {
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
}
/* End flexbox */

/* Lightbox Frontend rendering */
div.close_lightbox {
	top: -45px;
	position: absolute;
	right: 0px;
	pointer-events: auto;
}
div.close_lightbox h3 {
	cursor:pointer;
	text-transform:none;
	color:#cee1f2;
	font-size: 26px;
	line-height: 40px;
	font-weight: normal;
	margin: 0;
}
.upfront-region-container-lightbox {
	position:fixed;
	z-index:99;
	top:0;
}
div.upfront-region-container-lightbox .upfront-grid-layout {
	max-height:1px;
	max-width: 1px;
}
div[data-bg-type-desktop="video"] .upfront-grid-layout,
div[data-bg-type-tablet="video"] .upfront-grid-layout,
div[data-bg-type-mobile="video"] .upfront-grid-layout {
	z-index: 10;
}
div.upfront-region-lightbox, div.upfront-region-side-lightbox,
.flexbox-support div.upfront-region-lightbox, .flexbox-support div.upfront-region-side-lightbox {
	position:fixed;
	display:none;
	top: 50% !important;
	left: 50% !important;
	max-height: 80vh;
	max-width: 80%;
}
.upfront-region-side-lightbox .upfront-region-wrapper,
.upfront-region-lightbox .upfront-region-wrapper {
	overflow: auto;
	max-height: 100%;
	max-height: 80vh;
	height: inherit;
	pointer-events: auto;
}
.upfront-lightbox-bg {
	position:fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: auto;
}
div.upfront-region-lightbox .upfront-icon-popup-close, div.upfront-region-side-lightbox .upfront-icon-popup-close {
	position: absolute;
	top: 10px;
	right: 0px;
	cursor: pointer;
	font-family: Helvetica Neue, Helvetica,Arial, sans-serif;
	color:#fff;
	font-size:28px;
}
/*
.upfront-ui .upfront-icon-popup-close:before {
	content: " ";
	background-image: url('../img/uf-ui-sprite.svg?v=20131127');
	background-repeat: no-repeat;
	float: left;
	display: block;
	width: 17px;
	height: 17px;
	background-position: -1080px -85px;
}
*/

/* resets to match the editor exp */
* {
	font-weight: inherit;
	/*font-style: inherit;*/
	text-transform: inherit;
	text-decoration: inherit;
	border: none;
	outline: none;
	margin: 0;
	padding: 0;
}
.upfront-inserted_image-wrapper{
	position: relative;
}
.upfront-object-content p,
.upfront-output-object p{
	margin:0 0 15px 0;
}
/* upfront element output resets – defaults */

.upfront-navigation li { display: inline-block;  list-style:none; }

/* Lightbox close button icon at smaller screen size. */
@media only screen and (max-height: 500px) {
	div.close_lightbox {
		top: -40px;
	}
	.close_lightbox .upfront-icon-popup-close:before {
		font-size: 35px;
	}
}

.close_lightbox > .upfront-icon-popup-close {

	font: 100 30px/16px Helvetica Neue, Helvetica, sans-serif;
	color: #FFF;
}
.close_lightbox > .upfront-icon-popup-close:before {
	content:"\00d7";
	font-size:40px;
	font-weight:normal;
	color:#fff;
	text-shadow:0 1px 1px rgba(0,0,0,.1);
}

/* Edior button faded out before editor is loaded */
body .upfront-edit_layout a {
	-webkit-transition: opacity 300ms ease-in !important;
	transition: opacity 300ms ease-in !important;
}
body .upfront-edit_layout a:not(.active) {
	opacity: 0.5;
	cursor: default;
}
body .upfront-edit_layout:hover a:not(.active) {
	color: inherit !important;
	background-color: inherit !important;
}

/* Edior button faded in after editor is loaded */
body .upfront-edit_layout a {
	opacity: 1;
	cursor: pointer;
}

/* This one ensures that the an anchor inside a heading does not vary too much if a specific font style is applied on an anchor */

.upfront-object h1 a, .upfront-output-object h1 a,
.upfront-object h2 a, .upfront-output-object h2 a,
.upfront-object h3 a, .upfront-output-object h3 a,
.upfront-object h4 a, .upfront-output-object h4 a,
.upfront-object h5 a, .upfront-output-object h5 a,
.upfront-object h6 a, .upfront-output-object h6 a,
.upfront-object h1 a:link, .upfront-output-object h1 a:link,
.upfront-object h2 a:link, .upfront-output-object h2 a:link,
.upfront-object h3 a:link, .upfront-output-object h3 a:link,
.upfront-object h4 a:link, .upfront-output-object h4 a:link,
.upfront-object h5 a:link, .upfront-output-object h5 a:link,
.upfront-object h6 a:link, .upfront-output-object h6 a:link,
.upfront-object h1 a:hover, .upfront-output-object h1 a:hover,
.upfront-object h2 a:hover, .upfront-output-object h2 a:hover,
.upfront-object h3 a:hover, .upfront-output-object h3 a:hover,
.upfront-object h4 a:hover, .upfront-output-object h4 a:hover,
.upfront-object h5 a:hover, .upfront-output-object h5 a:hover,
.upfront-object h6 a:hover, .upfront-output-object h6 a:hover {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
}

.upfront-bumped-z-index{
	z-index: 2;
}
/* Firefox checkboxes and radios are styled to match the rest of the browsers */
@-moz-document url-prefix() {
	input[type=checkbox] {
		/* original check box are push outside the viexport */
		position: relative;
		z-index: 9999999;
		margin-left: 0px;
		margin-top: 14px;
	}

	#element-settings-sidebar .border_radius_lock input[type=checkbox] + label:before,
	#element-settings-sidebar .border_radius_lock input[type=checkbox]:checked + label:before {
		display: none;
	}

	#element-settings-sidebar .padding-lock input[type=checkbox] + label:before,
	#element-settings-sidebar .gallery-padding-lock input[type=checkbox] + label:before {
		display: none;
	}

	input[type=radio] {
		/* original check box are push outside the viexport */
		position: absolute ;
		left: -1000em !important;
	}

	input[type=radio] + label:before {
		content: "";
		display: inline-block;
		width  : 12px;
		height : 12px;
		margin : 0 -1em 0 0;
		background: url("../img/radio_firefox.png") no-repeat 0 0;

		/* The following is used to adjust the position of
		   the check boxes on the text baseline */

		vertical-align: bottom;
		position: relative;
		bottom: 0;
		top: -3px;
		right: 17px;
		cursor: pointer;
	}

	#post-visibility-select {
		padding: 5px 0px 5px 25px;
	}

	#sticky-span {
		margin-left: -14px;
		margin-top: 5px;
		padding-left: 25px !important;
	}

	input[type=radio]:checked + label:before {
		background-position: -24px 0;
	}

	input[type=radio]:disabled + label:before {
		background-position: -12px 0;
	}

	input[type=radio]:checked:disabled + label:before {
		background-position: 0 0;
	}

	.upfront-field-wrap-radios-inline input[type=radio] + label:before,
	.upfront-field-wrap-radios-inline input[type=radio]:checked + label:before,
	.upfront-field-wrap-radios-inline input[type=radio]:disabled + label:before,
	.upfront-field-wrap-radios-inline input[type=radio]:checked:disabled + label:before,
	.upfront-filter_selection-control input[type=radio] + label:before,
	.upfront-filter_selection-control input[type=radio]:checked + label:before,
	.additional_sizes input[type=radio] + label:before,
	.additional_sizes input[type=radio]:checked + label:before
	{
		display: none;
	}

	.upfront-output-upfront-map_element {
		overflow: hidden;
	}
}


/* 378760-1512586674-ai */