
.upfront-edit-layout #page, .upfront-edit-theme #page, .upfront-edit-responsive #page, .upfront-edit-postlayout #page{
    margin: 0 260px 0 0;
}
/*
#upfront-popup-top.upfront-popup-meta .upload{
    float: right;
}
.upfront-logo, .upfront-ui .upfront-icon:before, .region-lock-switch:before, .upfront-icon-control-region:before, .panel-setting-dialog-region:before, .panel-setting-dialog-info:before, .position-select-wrap .position-select:checked, .upfront-field-checkbox:checked, .upfront-ui .upfront-region-field-icon:before, #upfront-popup-top.upfront-popup-meta .upload:before, .upfront-icon-button-hide:before, .upfront-entity-hide_trigger:before{
    float: right;
}
*/
/*-------------- General --------------*/
.border_radius_lock label {
	margin-left: 13px;
}
.upfront-region-bg-setting-name-edit .upfront-field-wrap{
    float: right;
}
.upfront-region-bg-setting-name-edit .upfront-field-wrap-text{
    margin-left:10px;
    margin-right: auto;
}
.upfront-region-bg-setting-name-edit .upfront-field-wrap.upfront-region-bg-setting-name-save{
    float: left;
}
.upfront-element-controls .upfront-inline-panel .upfront-inline-panel-item .upfront-padding-control span.upfront-padding-value{
    padding-right: 5px;
    padding-left: 0;
}
.upfront_code-editor{
    left: 0;
    right: auto;
}
.chosen-container-multi .chosen-choices li.search-choice{
    margin: 3px 5px 3px 0;
    padding: 3px 5px 3px 20px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close{
    left: 3px;
    right: auto;
}
div.preset-manager-panel .color-module.two{
    float: right;
}
.colors_settings_item .upfront-field-wrap-color{
    margin-left: 10px;
    margin-right: auto;
    float: right;
}
.upfront-field-select-option label{
    padding: 2px 10px 2px 20px;
}
.upfront-field-select-option-selected label{
    padding-left: 4px;
    padding-right: 20px;
}
.js-ulinkpanel-input-url,
.upfront-like-box_url{
    direction: ltr;
}
::-webkit-input-placeholder {
    direction: rtl;
}

:-moz-placeholder { /* Firefox 18- */
    direction: rtl;
}

::-moz-placeholder {  /* Firefox 19+ */
    direction: rtl;
}

:-ms-input-placeholder {
    direction: rtl;
}
.upfront-field-multiple-horizontal-inline{
    margin: 0 0 0 15px;
}
div.preset-manager-panel div.fontColor label, div.preset-manager-panel div.borderColor label{
    left: auto;
    right: 25px;
}
.edit_preset_css input, #element-settings-sidebar .upfront-css-edit input{
    padding-right:32px;
    padding-left: inherit;
}
.chosen-container-single .chosen-single span{
    margin-left: 26px;
    margin-right: 10px !important;
}
#element-settings-sidebar .upfront-css-edit, div.preset-manager-panel .edit_preset_css{
    right:90px;
    left: auto;
}
div.preset-manager-panel .upfront-settings-post-wrapper .edit_preset_css {
	position: relative;
	top: 10px;
	right: 10px;
	left: auto;
	margin-bottom: 10px;
}
div.preset-manager-panel .edit_preset_css:before, #element-settings-sidebar .upfront-css-edit:before{
    left: auto;
    right: 8px;
}
.upfront-cancel_settings{
    float: left;
    margin-left: 5%;
    margin-top: 5px;
}
#settings .upfront-cancel_settings:before{
    right: -20px;
    left: auto;
}
.chosen-container-multi:after{
    left: 11px;
    right: auto;
}
.chosen-container-multi .chosen-choices li{
    float: right !important;
}
.chosen-container-single .chosen-single div{
    left: 0;
    right: auto !important;
}
.upfront-field-multiple{
    padding: 0 17px 0 0;
}
.upfront-field-checkbox, .upfront-field-radio{
    margin: 0 0 0 10px;
}
.upfront-popup-meta .use_selection_container{
    float: left;
}
.upfront-popup-meta .search_container{
    float: left;
}
.upfront-field-select .upfront-field-select-value{
    padding: 0px 10px 1px 20px;
}
.upfront-field-select .upfront-field-select-value .upfront-field-icon, .upfront-field-select-option label .upfront-field-icon{
    margin-left: auto;
    margin-right: -10px;
}
.upfront-field-select:after{
    left: 0px;
    right: auto;
	border-left: 0px;
	border-right: 1px solid #909090;
}
.chosen-container-single .chosen-single div{
    left: 0;
    right: auto;
}
a.upfront-region-name-edit-trigger{
    margin: 0 25px 0 0;
}
.upfront-region-bg-setting-auto-resize{
    float: left;
}
.uf-bgsettings-image-color{
    float: left;
}
.uf-bgsettings-imageitem .uf-bgsettings-image-pos-y{
    float: right;
}
.uf-bgsettings-imageitem .uf-bgsettings-image-pos-y-num{
    margin: -90px 30px 5px 0;
}
.uf-bgsettings-imageitem .uf-bgsettings-image-pos-x-num{
    margin: 0 30px 0 0;
}
.upfront-bg-setting-tab-primary .uf-bgsettings-image-pick{
    float: left;
}
.upfront-bg-setting-type{
    float: right;
    margin-left: 6px;
}
div.preset-manager-panel .checkbox-tooltip{
    left: auto;
    right: 8px;
}
.upfront-element-controls .upfront-inline-panel .padding-lock{
    left: auto;
    right: 45px;
}
.upfront-element-controls .upfront-inline-panel .upfront-padding-container-left{
    float: left;
}
.upfront-post_data-part.part-module-panel .upfront-settings-item-title .toggle{
    right: auto;
    left: 0;
}
/*-------------- End of General --------------*/

/*-------------- Sidebar --------------*/
#sidebar-ui .sidebar-commands-control .command-start-responsive{
    margin: 0 8px 0 14px;
}
#sidebar-ui{
    left: auto;
    right: 0;
    border-left: none;
    border-right: none;
}
#sidebar-ui .command-logo{
    float: right;
}
#sidebar-ui .command-exit{
    float: left;
}
#sidebar-ui .sidebar-panel-title{
    padding: 0 15px 0 0;
}
#sidebar-ui .sidebar-panel-title:before{
    right: auto;
    left: 15px;
}
#sidebar-ui .sidebar-panel.expanded .sidebar-panel-title:after{
    right: auto;
    left: 21px;
}
#sidebar-ui .sidebar-panel-title:after{
    right: auto;
    left: 19px;
}
#sidebar-ui .sidebar-commands-primary .command-open-media-gallery{
    float: left;
}
#sidebar-ui .sidebar-profile-edit{
    float: left;
}
#sidebar-ui .sidebar-profile-detail{
    float: right;
    margin: 0 10px 0 0;
}
#sidebar-ui .sidebar-profile-avatar{
    float: right;
}
#sidebar-ui .sidebar-profile-edit a{
    margin: 0 5px 0 0;
}
#sidebar-ui .sidebar-commands-control .command-grid{
    margin: 0px 6px 8px 12px;
}
#sidebar-ui ul.sidebar-panel-tabspane{
    padding: 0 10px 5px 0;
}
#element-settings-sidebar .upfront-settings-title{
    padding-right: 45px;
}
.draggable-element{
    float: right;
}
.upfront-popup-meta .upfront-tabs{
    left: auto;
    right: 0;
}
.upfront-ui .upfront-icon-popup-close{
    left: 0;
    right: auto;
}
#upfront-list .upfront-list_item .upfront-list_item-component{
    float: right;
}
#upfront-list .upfront-list_item .upfront-list_item-component.upfront-editactions{
    float: left;
}
.upfront-list_item-component.upfront-editactions a.editaction{
    float: left;
}
.upfront-list_item-post.upfront-list_item:hover .upfront-list_item-component.upfront-editactions{
    padding-right: auto !important;
    padding-left: 0 !important;
}

#upfront-entity_list-search{
    float: left;
}
#upfront-entity_list-pagination{
    float: right;
}
#upfront-search_action,
#upfront-search_container{
    float: left !important;
}
.upfront-pagination_navigation .upfront-pagination_page-item{
    margin-right:5px;
    margin-left: auto;
    float: left;
}
#sidebar-ui #theme-colors-swatches span.theme-colors-color-picker, #sidebar-ui #theme-colors-swatches span.theme_colors_empty_picker, #sidebar-ui #theme-colors-swatches span.theme_colors_unset_color{
    float: right;
}
.global-region-manager-list .region-list-control{
    left: 20px;
    right: auto;
}
.upfront-inline-modal-save, .upfront-inline-modal-save:hover{
    right: auto;
    left: 0;
}
.upfront-field-select-option{
    margin: 0 0 0 10px !important;
}
/*
.upfront-icon-redo:before, .upfront-icon-undo:before{
    right: 7px;
    left: auto;
}
*/
#sidebar-ui .sidebar-commands-control .command-save{
    margin: 10px 0 0 15px;
    float: left;
}
#sidebar-ui .sidebar-commands-control.sidebar-commands-responsive-control .command-save{
    margin-top: 44px;
}
#sidebar-ui .sidebar-commands-control li{
    margin: 0 6px 8px 6px;
}

/*-------------- End of Sidebar --------------*/

/*-------------- Element Settings --------------*/
#element-settings-sidebar{
    right: 0;
    left: auto;
}
#element-settings-sidebar .upfront-settings-title:before{
    right: 10px;
    left: auto;
}
#element-settings-sidebar .uf-settings-panel__title{
    padding-left: auto;
    padding-right: 15px;
}
#element-settings-sidebar .uf-settings-panel__title:before,
#element-settings-sidebar .uf-settings-panel--expanded .uf-settings-panel__title:before{
    left: 15px;
    right: auto;
}
div.preset-manager-panel div.global_modules{
    padding-left: auto;
    padding-right: 15px;
}
div.preset-manager-panel .settings_module{
    padding-right: 10px;
    padding-left: auto;
}
div.preset-manager-panel .module-color-field .sp-replacer{
    float: right;
}
div.preset-manager-panel .module-color-field .upfront-field-label-inline{
    padding-right: 5px;
    padding-left: auto;
}
.upfront-field-multiple input.upfront-field-checkbox, .upfront-field-multiple input.upfront-field-radio{
    left: auto;
    right: 0;
}
div.preset-manager-panel .delete_preset input, #settings .delete-menu-button input{
    float: left;
}

/*-------------- End of Element Settings --------------*/
#page.upfront-region-editing{
    margin-right: 0;
}
#upfront-ui-topbar{
    right: 260px;
    left: 0;
}
li.activate-breakpoints-dropdown{
    margin: 15px 15px 10px 0;
}


/*color-picker*/
.sp-input-container{
    right: 215px;
}
.sp-hue{
    margin-right: 14px;
}
.sp-alpha{
    margin-right: 42px;
}
.sp-slider{
    right: -2px;
}
.sp-picker-container .sp-choose{
    margin-right: 232px;
}

/*Responsive*/
.breakpoints-toggler li:first-child{
    margin-left: 23px;
}

/*Post element*/
#settings .upfront-settings-item-content{
    /*padding: 2px 23px;*/
}
.upfront-settings-item-content .post_parts.ui-sortable li .name_action_wrapper span{
    margin-right:18px;
    margin-left: auto;
    float: right;
}
.upfront-settings-item-content .post_parts.ui-sortable li .part_action{
    left: 24px;
    right: auto;
}
.upfront-settings-item-content .post_parts.ui-sortable li .options .edit_part{
    left: 4px;
    right: auto;
}
.upfront-field-wrap-multiple{
    margin-left: -15px;
    margin-right: auto;
}
.upfront-post_data-part.part-module-panel.preset_specific .upfront-settings-item-title .upfront-field-wrap-checkboxes label span{
    padding: 0 15px 0 0;
}
.upfront-settings-item-title span, .upfront-global-social-settings .upfront-settings-item-title span{
    margin-right: 0;
}
/*Element Setting*/
#element-settings-sidebar .padding-settings .padding-top,
#element-settings-sidebar .padding-settings .padding-bottom{
    padding-left: inherit;
    padding-right:60px;
}
#element-settings-sidebar .padding-lock{
    right: 165px;
    left: auto;
}
#element-settings-sidebar .padding-bottom label{
    right: 10px;
    left: auto;
}
.upfront-settings-item-title span, .upfront-global-social-settings .upfront-settings-item-title span{
    margin-right: 10px;
    margin-left: auto;
}
.upfront-settings-padding .upfront-settings-item-title:before{
    left: 16px;
    right: auto;
}
.upfront-settings-padding .upfront-settings-item-title:after{
    left: 11px;
    right: auto;
}
#sidebar-ui .apply-post-template, #sidebar-ui .save-post-template{
    float: left;
}
/*CSS Editor*/
#upfront-csseditor, #upfront-general-csseditor{
    left: 0;
    right: auto;
}
.ace_content{
    direction: ltr;
}
.ace_line{
    /*text-align: left;*/
}
/*Slider El*/
.upfront-default-slider-nav-prev{
    right:50px;
    left: auto;
}
.upfront-default-slider-nav-next{
    right: auto;
    left: 50px;
}
.uimage-control-panel .upfront-field-wrap{
    margin-left: auto;
    text-align: right;
}
.ulinkpanel .upfront-field-wrap-radios > label, .ulinkpanel-dark .upfront-field-wrap-radios > label{
    margin: 0 0 0 15px;
}
.uslider-slides-setting .upfront-bg-slider-add-image{
    float: right;
}

/*uGallery*/
#element-settings-sidebar .padding-settings .padding-top,
#element-settings-sidebar .padding-settings .padding-bottom,
#element-settings-sidebar .padding-settings .padding-right
{
    border-right:2px solid #dae6f2 ;
    border-left: none;
    left: auto;
}
#element-settings-sidebar .padding-settings .padding-right{
    right: 10px;
    padding-right: 10px;
    margin-right: -10px;
    left: auto;
    padding-top: 5px;
    top: -2px;
    width: 55px;
}
#element-settings-sidebar .padding-settings .padding-left{
    right: 102px;
    left: auto;
    top: 2px;
}

/*uImage El*/
.uimage-control-panel-content{
    text-align: right;
}

/*umenu*/
.menu-structure-header .add-menu-item{
    float: left;
}
.menu-item-header .menu-item-type{
    float: left;
}
/*umap*/
.uf_el_map_initial-overlay button{
    left: 0;
    right: auto;
}
.upfront_map-editor{
    left: 0;
    right: auto;
}
/*tabs*/
.tabs-tab{
    float: right;
}
/*code el*/
.code-element-choose{
    direction: ltr;
}
.upfront_code-editor .upfront-css-color{
    float: left;
}

/*contact el*/
div.preset-manager-panel div.preset_specific div.transition{
    margin-right: 80px;
    margin-left: auto;
}
/*uyoutube*/
.upfront-youtube-box-wrapper{
    float: right;
}
.upfront-youtube-starting-text{
    text-align: right;
}
.upfront-youtube-url,
.multiple_video_section input[type="text"]{
    direction: ltr;
}
.upfront-youtube-url::-webkit-input-placeholder ,
.upfront-youtube-url::-moz-placeholder,
.upfront-youtube-url:-ms-input-placeholder,
.upfront-youtube-url:-moz-placeholder {
    direction: rtl;
}

/*login el*/
div.upfront-output-upfront-login_element form#loginform p{
    text-align: right;
}
/*accordion el*/
#page .upfront-accordion-container .accordion-panel-active .accordion-panel-title:after,
#page .upfront-accordion-container .accordion-panel-title:after{
    left: 22px;
    right: auto;
}
#page .upfront-accordion-container .accordion-panel>i { /* Direct descendents only */
    right:auto;
    left: 20px;
}
div#page.upfront-layout-view .upfront-editable_entity.upfront-module .upfront-accordion .upfront-accordion-container .accordion-panel .accordion-panel-title:after{
    left: 15px;
    right: auto;
}
/*Regions*/
.upfront-region-finish-edit, .upfront-region-finish-edit-fixed, .upfront-region-finish-edit-lightbox, .upfront-module-group-finish-edit{
    left: 0;
    right:auto;
}
.upfront-add-region-choice .upfront-field-multiple .upfront-field-radio {
    right: 20px;
    left: auto;
}
.upfront-add-region-choice .upfront-field-multiple {
    padding-right: 37px;
}
.upfront-region-bg-setting-name-edit .upfront-region-bg-setting-localize:before {
    left: -20px;
    right: auto;
}
.uf-bgsettings-slideritem .uf-bgsettings-slider-time {
    margin-right: 5px;
    margin-left: auto;
}
.upfront-bg-slider-image,
.upfront-bg-slider-add-image {
    float: right;
    margin: 0 7px 15px 7px;
}

/*Theme font manager*/
#text-fonts-manager .panel {
    float: right;
}
#text-fonts-manager .add-font-button{
    left: auto;
    right: 410px;
}
#text-fonts-manager .theme-font-list-item{
    padding-left: auto;
    padding-right: 20px;
}
#text-fonts-manager .choose-font{
    margin: 20px 15px 10px 0px;
}
.preview-size-p{
    margin-right: auto;
    margin-left: 21px;
}
.font-variant-preview{
    padding: 0 10px 10px 0;
}
.font-variant-selected:after{
    right: auto;
    left: 10px;
}
#text-fonts-manager .theme-font-list-item .delete{
    left: 10px;
    right: auto;
}
.theme-fonts-ok-button, .breakpoint-edit-ok-button{
    float: left;
}

/*Inserts*/
.upfront-image-attachment-bits{
    right: -60px;
    left: auto;
}
.uinsert-selector{
    margin-right: 15px;
}
.uinsert-selector:before{
    right: -8px;
    left: auto;
    border-left-color: rgba(31, 48, 63, 0.95);
    border-right-color: transparent;
}
.upfront-inserts-markup-editor{
    right: auto;
    left: 0;
}
.upfront-inserts-markup-apply{
    right: auto;
    left: 20px;
}

/*Media gallery*/
.upfront-media_manager .upfront-media-controls{
    right: auto;
    left: 0;
}
.upfront-media-aux_controls .select_control_container{
    float: right;
}
.upfront-media_manager .upfront-media_collection{
    right: 0;
    left: auto;
}
.upfront-media-controls a.all_filters, .upfront-media-controls a.clear_search{
    margin-left: 100px;
    margin-right: auto;
}
#upfront-popup .upfront-popup-meta .search_container input{
    left: auto;
    right: 100%;
    transition: right .3s;
}
#upfront-popup .upfront-popup-meta .search_container:hover input,
#upfront-popup .upfront-popup-meta .search_container.has_search input,
#upfront-popup .upfront-popup-meta .search_container input:focus{
    left: auto;
    right: 0;
}

/*Text element*/
.upfront-inline-panel-item i.upfront-icon.upfront-icon-region-caption:before{
    background-position: -804px -74px;
}
.upfront-ui .upfront-icon-region-link:before{
    background-position: -254px -249px;
}
.upfront-ui .upfront-icon-region-crop:before{
    background-position: -256px -221px;
}
.upfront-ui .upfront-icon-region-nocaption:before{
    background-position: -697px -458px!important;
}
.upfront-ui .upfront-icon-region-nocaption:hover:before{
    background-position: -804px -458px!important;
}
/*Single post*/
.ueditor-box-wrapper label{
    float: right;
}
.ueditor-box-wrapper .ueditor-button-cancel-edit{
    float: left;
    clear: both;
    display: block;
    width: 120px;
    text-align: center;
}
.ueditor-box-wrapper .ueditor-action-publish{
    float: left;
}
.ueditor-action-trash.ueditor-box-icon.ueditor-box-icon-text{
    float: right;
}
.ueditor-box-wrapper label{
    margin-left: 3px;
}
.ueditor-post-url-root{
    float: left;
    direction: ltr;
    text-align: left;
}
.upfront-field-text.ueditor-post-url-text{
    float: right;
    direction: rtl;
    text-align: right;
    margin-top: 5px;
}
#sidebar-ui .ueditor-save-post-data, #sidebar-ui #upfront-tax-add_term{
    top: 2px;
}
.ueditor-box-title{
    padding: 0 10px 0 0;
    text-align: right;
}
.ueditor-box-section .ueditor-box-title:after{
    border-left: none;
    border-right: 4px solid #85aacc;
    left: 14px;
    right: auto;
}
.ueditor-box-section.show .ueditor-box-title:after{
    left: 14px;
    right: auto;
}
.ueditor-box-wrapper label#post-status-display-label:before{
    background-position: -556px -385px;
}
.ueditor-box-wrapper label#post-visibility-display:before{
    background-position: -600px -385px;
}
.ueditor-box-wrapper label#publication-time:before{
    background-position: -640px -385px;
}
#insert-font-widget .chosen-container-single .chosen-single div, #settings .chosen-container-single .chosen-single div, #sidebar-ui .chosen-container-single .chosen-single div, #sidebar-ui .upfront-taxonomy-chosen .chosen-container-single .chosen-single div, #upfront-popup .chosen-container-single .chosen-single div, .preset-manager-panel .chosen-container-single .chosen-single div {
	border-right: 1px solid #909090;
	border-left: none;
}
.upfront-field-number[type=number]::-webkit-inner-spin-button,
.upfront-field-number-unit[type=number]::-webkit-inner-spin-button,
.typography-panel .upfront-field-number[type=number]::-webkit-inner-spin-button {
	border-right: 1px solid rgb(144, 144, 144);
	border-left: none;
	width: 10px;
	background-position: -520px -73px;
}
.upfront-field-number-unit[type=number], .upfront-field-number[type=number] {
	padding-right: 5px !important;
}
.upfront-field-wrap-select.upfront-number-unit-select {
	left: 22px;
	right: initial;
}
.color_picker_rgb_preview {
	padding-right: 5px;
}
#element-settings-sidebar .sidebar-commands-header {
	right: initial;
	left: 0px;
	margin-left: 15px;
}
.upfront-field-wrap-radios-wrapper .upfront-field-multiple:first-child label {
	border-radius: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.upfront-field-wrap-radios-wrapper .upfront-field-multiple:last-child label {
	border-radius: 0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

/* Shrink Sidebar for Low Resolutions */
@media screen and (max-width: 1366px) {
	.rtl #sidebar-ui.upfront-sidebar-hover,
	.rtl #element-settings-sidebar.upfront-sidebar-hover,
	.rtl #region-settings-sidebar.upfront-sidebar-hover .upfront-region-modal-bg {
		transform: translateX(0);
		transition: transform 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
		overflow: hidden;
		box-shadow: none;
	}

	.rtl #sidebar-ui, #element-settings-sidebar,
	.rtl #region-settings-sidebar .upfront-region-modal-bg {
		transform: translateX(130px);
		transition: transform .2s cubic-bezier(0.47, 0, 0.75, 0.72);
	}

	.upfront-edit-layout #page {
		margin: 0 130px 0 0;
	}
}


/* 378760-1512586674-ai */