.multiple_radio_no_padding .upfront-field-wrap-optional span {
	margin: 0px;
}

.contact_label_position {
	margin-top: 20px;
}

.contact_label_position label {
	font-weight: normal;
	margin-bottom: 3px;
}

.inline-radios {
	margin: 5px 0 0;
}

div.no-title div.upfront-settings-item-title {
  display: none;
}

.smtp-secure.plaintext-settings.upfront-field-wrap.inline-radios {
	margin: 13px 0;
    width: 120%;
    border-bottom: 1px solid #e5ecf4;
    padding-bottom: 15px;
    margin-left: -15px;
    padding-left: 15px;
}

.smtp-secure.plaintext-settings.upfront-field-wrap.inline-radios > label {
	margin-bottom: 10px;
}

.smtp-secure.plaintext-settings.upfront-field-wrap.inline-radios > span.upfront-field-multiple {
	margin-right: 30px;
}
.smtp-secure.plaintext-settings.upfront-field-wrap.inline-radios > span.upfront-field-multiple:last-child {
	margin-right: 0;
}

.enable-authentication label span.upfront-field-label-text {
  font-weight: bold;
  text-transform: uppercase;
}

.smtp_settings_item {
	margin: 0 15px 0px 15px;
}

.smtp_settings_item .smtp_username {
	margin-top: -5px;
}

.smtp-configuration .upfront-field-wrap-text label.upfront-field-label-block {
  font-weight:normal;
}

/* pixel perfection for SMTP settings*/
#settings .general_settings_item.smtp-authentication {
  padding-bottom: 8px;
}

#settings .smtp_wrapper_settings_item {
	margin: 0 15px 0px 15px;
}

#settings .general_settings_item.smtp-authentication input {
  width: 95%;
}

.general_smtp_settings {
  padding-top: 11px
}

.general_smtp_settings .upfront-settings-item-title {
  line-height: 24px
}

.general_smtp_settings .upfront-settings-item-content .inline-radios {
  margin-top: 0;
}

.general_smtp_settings .upfront-settings-item-content .inline-radios > span:first-child {
  margin-right: 20px;
}

.smtp-configuration .upfront-settings-item-content .upfront-field-wrap-text {
    margin-top:11px;
}

.smtp-configuration .upfront-settings-item-content .upfront-field-wrap-text .upfront-field-label {
    margin-bottom:4px;
}

.inline-radios.smtp-secure.plaintext-settings.upfront-field-wrap {
  margin-top:16px;
  padding-bottom: 10px
}

.inline-radios.smtp-secure.plaintext-settings.upfront-field-wrap .upfront-field-label {
  margin-bottom:15px;
}

.inline-checkbox.plaintext-settings.upfront-field-wrap.enable-authentication {
  margin-top:2px;
}

.inline-checkbox.plaintext-settings.upfront-field-wrap.enable-authentication > span {
  margin-bottom: 0;
}

.general_settings_item.smtp-authentication .upfront-settings-item > .upfront-settings-item-content > div:first-child {
  margin-top:2px;

}
.general_settings_item.smtp-authentication .upfront-settings-item > .upfront-settings-item-content > div > .upfront-field-label {
  margin-bottom:4px;
}

#settings .general_settings_item.smtp-authentication {
  padding-bottom: 17px;
}

.upfront-field-name-container {
	margin-top: 25px;
}


/* 378760-1512586674-ai */