/*
.appointments-wrapper, .app_timetable {
padding: 0.3em;
}
 */
.wait_img{
    z-index:1000;
}
.app_timetable_cell .wait_img {
    float: right;
}
.app_timetable {
    margin-left:20px;
}
.app_monthly_schedule_wrapper, .app_timetable_wrapper{
    float:left;
    width:50%;
}
aside.widget .app_monthly_schedule_wrapper { width: 100%; }
.app_timetable_cell{
    float:left;
    width:25%;
    border:1px solid grey;
    font-size: 0.8em;
    text-align:left;
    padding:3px;
    overflow:hidden;
}
.app_timetable_cell div:hover{
    opacity:0.6;
}
.app_timetable_title{
    /*text-align:center;*/
    font-weight:bold;
    margin-bottom: 1em;
}
.appointments-pagination .previous{
    float:left;
}

td.today {
    opacity: 0.6;
}

.appointments-pagination .next{
    float:right;
}
.appointments-paypal{
    display:none;
}
.appointments-list {
    clear: both;
    padding: 0;
    margin-top: 20px;
}
.appointments-list table {
    width: 100%;
    border-collapse: collapse;
    /* table-layout:fixed; */
}
.appointments-list table th {
    width: 12%;
    background: #333;
    color: #ddd;
    /*padding: .2em .4em .2em .4em;*/
    cursor: default;
}
.appointments-list table td {
    border: 1px solid #ddd;
    height: 14px;
    padding: 0;
}
.appointments-list table td:hover{
    opacity:0.6;
}
.appointments-list table td.free, .app_timetable div.free {
    cursor: pointer;
}
.appointments-legend-table{
    font-size: 0.75em;
    table-layout:auto;
    overflow: hidden;
    border: 0 !important;
}
table.appointments-legend-table {
    width: auto;
}
table.appointments-legend-table  td{
    padding-right: 10px;
    padding-left: 10px;
    text-align:right;
    height: 20px;
    min-width: 30px;
    border: none !important;
    cursor:default;
    width: auto;
}
.appointments-weekly-calendar-hours-mins{
    font-weight:bold;
    font-size:0.65em;
    text-align:center;
    min-width: 110px;
}

.appointments-confirmation-wrapper{
    display:none;
}
.appointments-confirmation-wrapper b.required {
    color: #f20;
    font-weight: 700;
}

.appointments-confirmation-wrapper label{
    display:block;
}
.appointments-confirmation-wrapper input[type="text"]{
    width: 60%;
}

.appointments-confirmation-wrapper span{
    margin-right: 10px;
    width: 30%;
    display:block;
    float:left
}

.appointments-confirmation-text{
    font-weight:bold;
}

/* Login */

.app_form_container{padding:20px;margin:10px;text-align:left;}
.appointments_login{margin-bottom:0.6em; border:none;}
.app_or{font-size:16px;margin:10px 0;letter-spacing: 1px;}
.app_inner1{}
.app_inner2{ margin-bottom: 0;}
.app_inner3{}
.app_login_submit{display:none;}
.app_login_submit input{margin-right:10px;width:100px;}
.app_wait_img img{border:none;}
.app_login_submit input[type="password"]{
    padding: 0.5em;
    background: white;
    border: 1px solid #EEE;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* Buttons
====================  */

.app_submit_btn{
    width:auto;
}

a.appointments-login_link-cancel {
    margin-top: 20px;
}

a.appointments-login_link-cancel, .app_submit_btn {
    color: #4e4d4d;
    font-size: 13px;
    cursor: pointer;
    display: inline-block;
    background-color: #f6f6f6;
    background-repeat: no-repeat;
    font-family: Lucida Grande, Helvetica Neue, Helvetica, Arial;
    text-shadow: 0 1px 0 #ffffff;
    background: #f8f8f8; /* Old browsers */
    background: -moz-linear-gradient(top,  #f8f8f8 0%, #eae9e9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#eae9e9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f8f8f8 0%,#eae9e9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f8f8f8 0%,#eae9e9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f8f8f8 0%,#eae9e9 100%); /* IE10+ */
    background: linear-gradient(top,  #f8f8f8 0%,#eae9e9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#eae9e9',GradientType=0 ); /* IE6-9 */
    padding: 6px 14px 6px;
    line-height: normal;
    border: 1px solid #e3e3e3;
    border-bottom-color: #d1d1d1;
    border-radius: 3px;

    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 1);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 1);

    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    -ms-transition: 0.1s linear all;
    -o-transition: 0.1s linear all;
    transition: 0.1s linear all;

    text-decoration:none;
}

a.appointments-login_link-cancel:hover,  .app_submit_btn:hover {
    border: 1px solid #c9c9c9;
    color: #1a1a1a;

    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    -ms-transition: 0.1s linear all;
    -o-transition: 0.1s linear all;
    transition: 0.1s linear all;
}

a.appointments-login_link-cancel:active,  .app_submit_btn:active {
    border: 1px solid #b1b1b1;
    color: #7f7f7f;
    background: #d0d0d0; /* Old browsers */
    background: -moz-linear-gradient(top,  #d0d0d0 0%, #dfdfdf 60%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d0d0d0), color-stop(60%,#dfdfdf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d0d0d0 0%,#dfdfdf 60%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d0d0d0 0%,#dfdfdf 60%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d0d0d0 0%,#dfdfdf 60%); /* IE10+ */
    background: linear-gradient(top,  #d0d0d0 0%,#dfdfdf 60%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0d0d0', endColorstr='#dfdfdf',GradientType=0 ); /* IE6-9 */

    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);

    -webkit-transition: 0s linear all;
    -moz-transition: 0s linear all;
    -ms-transition: 0s linear all;
    -o-transition: 0s linear all;
    transition: 0s linear all;
}

.app_form_container {
    text-align: center;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
}


.appointments-login_links {
    margin: 0;
    padding: 0;
    list-style: none !important;
}

ul.appointments-login_links li {
    text-align: center;
}

ul.appointments-login_links li a {
    text-decoration: none;
}


a.appointments-login_link-facebook {
    cursor: pointer;
    display: inline-block;
    background: #3B5998 url(../images/app-sprite01.png) 5px 5px no-repeat !important;
    padding: 5px 14px 6px 30px;
    text-shadow: 0 1px 1px #333;
    color: #fff;
    font-size: 13px;
    line-height: normal;
    border: 1px solid #2a406d;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    -ms-transition: 0.1s linear all;
    -o-transition: 0.1s linear all;
    transition: 0.1s linear all;
    margin-top: 20px;
}
a.appointments-login_link-facebook:hover, a.appointments-login_link-facebook.active {
    background: #2a406d url(../images/app-sprite01.png) 5px 5px no-repeat !important;
    color: #fff;
    text-decoration: none;
}

a.appointments-login_link-twitter {
    cursor: pointer;
    display: inline-block;
    background: #439eb8 url(../images/app-sprite01.png) 5px -17px no-repeat !important;
    padding: 5px 14px 6px 30px;
    text-shadow: 0 1px 1px #333;
    color: #fff;
    font-size: 13px;
    line-height: normal;
    border: 1px solid #39859b;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    -ms-transition: 0.1s linear all;
    -o-transition: 0.1s linear all;
    transition: 0.1s linear all;
    margin-top: 10px;
}
a.appointments-login_link-twitter:hover, a.appointments-login_link-twitter.active {
    color: #fff;
    text-decoration: none;
    background: #338ba4 url(../images/app-sprite01.png) 5px -17px no-repeat !important;
}

a.appointments-login_link-google {
    cursor: pointer;
    display: inline-block;
    background: #94E3F9 url(../images/google.png) 5px 5px no-repeat;
    padding: 5px 14px 6px 30px;
    text-shadow: 0 1px 1px #333;
    color: #fff;
    font-size: 13px;
    line-height: normal;
    border: 1px solid #439eb8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    -ms-transition: 0.1s linear all;
    -o-transition: 0.1s linear all;
    transition: 0.1s linear all;
    margin-top: 10px;
}
a.appointments-login_link-google:hover, a.appointments-login_link-google.active {
    background: #439eb8 url(../images/google.png) 5px 5px no-repeat;
    color: #fff;
    text-decoration: none;
}

a.appointments-login_link-wordpress {
    cursor: pointer;
    display: inline-block;
    background: #777 url(../images/app-sprite01.png) 5px -38px no-repeat !important;
    padding: 5px 14px 6px 30px;
    text-shadow: 0 1px 1px #111;
    color: #fff;
    font-size: 13px;
    line-height: normal;
    border: 1px solid #444;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    -ms-transition: 0.1s linear all;
    -o-transition: 0.1s linear all;
    transition: 0.1s linear all;
    margin: 10px 0;
}
a.appointments-login_link-wordpress:hover, a.appointments-login_link-wordpress.active {
    background: #444 url(../images/app-sprite01.png) 5px -38px no-repeat !important;
    color: #fff;
    text-decoration: none;
}

a.appointments-register_link-wordpress {
    font-size: 13px;
}

a.appointments-login_link-facebook, a.appointments-login_link-twitter, a.appointments-login_link-wordpress, a.appointments-register_link-wordpress {
    font-family:  Lucida Grande, Helvetica Neue, Helvetica, Arial;
    text-shadow: 0 1px 0px rgba(0,0,0,0.4);
    font-weight: normal;
}

a.appointments-login_link-submit {
    /*width: 50px;*/
    cursor: pointer;
    display: inline-block;
    background: #999;
    padding: 5px 14px 6px 20px;
    text-shadow: 0 1px 1px #111;
    color: #fff;
    font-size: 13px;
    line-height: normal;
    border: 1px solid #444;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    -ms-transition: 0.1s linear all;
    -o-transition: 0.1s linear all;
    transition: 0.1s linear all;
    margin-bottom: 5px;
}
a.appointments-login_link-submit:hover, a.appointments-login_link-submit.active {
    background: #444 ;
    color: #fff;
    text-decoration: none;
}
/* _________________________
added css 20 Aug, @victor */

.appointments-list table {
    padding: 0;
    margin: 0;
    table-layout: fixed;
}

.appointments-list table td { border: 1px solid #d0d0d0; color:#333; }
.app_timetable_cell { color:#333; }
.appointments-list table th {
    width:10%;
    background-color: transparent;
    text-align: center;
    text-transform: none;
    font-size: 1em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    border: 1px solid #d0d0d0;
    color: #474747;
}
.entry-content .appointments-list td.appointments-weekly-calendar-hours-mins { width:30%; }
.entry-content .appointments-list td {
    width:10%;
    vertical-align: middle;
}
.appointments-list table th.hourmin_column { width:30%; }
.appointments-list table tbody tr:nth-child(2n+1) { background-color: rgba(247,247,247,0.2); }
.appointments-list table td { height:3em; font-size:0.7em; }
.appointments-list table td.busy:after,
.appointments-list table td.notpossible:after {
    content: '\00D7';
    position: relative;
    text-align: center;
    vertical-align: middle;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 2.1em;
    display: block;
    color: #d1d1d1;
}
.appointments-list table td:hover { opacity: 1;}
.appointments-list table td.free:hover,
.appointments-list table td.free.today { opacity: 0.7; font-weight: bold; }
.busy, .notpossible { cursor:not-allowed; }
#content tr td.free.selected,
tr td.free.selected { border-top:none; border:2px solid #fff; opacity: 0.5; }
.app_timetable_cell.free.selected { opacity: 0.5; }

/* month view */
.app_monthly_schedule_wrapper table th {
    width: 14%;
}

.app_monthly_schedule_wrapper table td.busy:after,
.app_monthly_schedule_wrapper table td.notpossible:after{
    content: '';
    line-height: 0;
}
.app_monthly_schedule_wrapper table tbody tr:nth-child(2n+1) { background-color: inherit; }
.app_monthly_schedule_wrapper table td p { margin-bottom: 0.5em; margin-left: 4px; }
.app_timetable_cell { text-align: center; width: 30%; border: none; margin:1px; }
.appointments-my-appointments  { font-size: 0.8em; }
/* text layout */
.appointments-my-appointments table,
.appointments-my-appointments,
.appointments-all-appointments table,
.appointments-all-appointments,
.appointments-wrapper {
    width: 100%;
}
.appointments-my-appointments table th { font-size: 1.2em; background-color: rgba(230, 230, 230, 0.2); }
.appointments-my-appointments table th,
.appointments-my-appointments table td { width:15%; padding:1.5%; }
.appointments-my-appointments .my-appointments-status { width:15%; }
.appointments-my-appointments .my-appointments-date { width:25%; }

.appointments-all-appointments  { font-size: 0.8em; }
.appointments-all-appointments table th { font-size: 1.2em; background-color: rgba(230, 230, 230, 0.2); }
.appointments-all-appointments table th,
.appointments-all-appointments table td { width:20%; padding:1.5%; }
.appointments-all-appointments .all-appointments-status { width:15%; }
.appointments-all-appointments .all-appointments-date { width:25%; }

.appointments-wrapper { margin-top:10px; }
.appointments-wrapper h2 { font-size: 1.9em; }

.app_services_dropdown_title,
.app_workers_dropdown_title,
.app_service_locations_dropdown_title,
.app_provider_locations_dropdown_title
{ font-size:1.4em; margin:10px 0; font-weight: bold; }

.app_service_excerpts { margin: 0.5em 0; }
.appointments-wrapper h3,
.appointments-confirmation-wrapper h3 { font-size: 0.8em; font-weight: 500; text-transform: uppercase; }
.appointments-legend { margin:1em 0; }
.appointments-legend-table { float: left; clear: both; }
.appointments-pagination { clear:both; }

/* form elements */
.app_services_dropdown_select,
.app_workers_dropdown_select,
.app_service_locations_dropdown,
.app_provider_locations_dropdown
{ padding: 0.4em 0; }
.app_services_dropdown_select select,
.app_workers_dropdown_select select,
.app_service_locations_dropdown select,
.app_provider_locations_dropdown select
{ margin-right: 1em; }

.appointments-pagination {
    /*border-top:1px solid rgba(100,100,100, 0.1);*/
    padding:1.2em 0;
}
.appointments-pagination a {
    color: #474747;
    text-decoration: none;
    text-shadow:0 1px 0 #fff;
    padding:0.2em 1.2em;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fff;
    box-shadow:
    0 1px 1px #b2b2b2,
    inset 0 -1px 2px #f9f9f9,
    0 0 0 1px #9b9b9b;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(90deg, #ededed 0%, #ededed 0.24%, #fff 70.17%, #fff 100%);
    background-image: -o-linear-gradient(90deg, #ededed 0%, #ededed 0.24%, #fff 70.17%, #fff 100%);
    background-image: -webkit-linear-gradient(90deg, #ededed 0%, #ededed 0.24%, #fff 70.17%, #fff 100%);
    background-image: linear-gradient(90deg, #ededed 0%, #ededed 0.24%, #fff 70.17%, #fff 100%);
}
.appointments-pagination a:hover {
    text-decoration: none;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwZTBlMCIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNlMGUwZTAiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);	  	    		 			 	 	   
    background-image: -moz-linear-gradient(90deg, #e0e0e0 0%, #e0e0e0 0.24%, #fff 70.17%, #fff 100%);
    background-image: -o-linear-gradient(90deg, #e0e0e0 0%, #e0e0e0 0.24%, #fff 70.17%, #fff 100%);
    background-image: -webkit-linear-gradient(90deg, #e0e0e0 0%, #e0e0e0 0.24%, #fff 70.17%, #fff 100%);
    background-image: linear-gradient(90deg, #e0e0e0 0%, #e0e0e0 0.24%, #fff 70.17%, #fff 100%);
}

a#app_schedule { height:0; padding: 0; width: 0; line-height: 0; font-size: 0; position: absolute; }

.appointments-confirmation-wrapper fieldset { border:1px solid #999; padding: 20px; }
.appointments-confirmation-wrapper fieldset div { margin:0 0 10px 0; }
.app_worker_excerpts { margin:10px 0; }
/* helpers */
.app-clearfix:before,.app-clearfix:after{content:"\0020";display:block;height:0;overflow:hidden;}
.app-clearfix:after{clear:both;}
.app-clearfix{zoom:1;}

/* animation */
.appointments-confirmation-start label {
    -webkit-transition: 0.3s linear all;
    -moz-transition: 0.3s linear all;
    -ms-transition: 0.3s linear all;
    -o-transition: 0.3s linear all;
    transition: 0.3s linear all;
}

/* error box */
.error {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    background-color: #FFEBE8;
    border-color: #C00;
}

div.error {
    padding: 0 0.6em;
    margin: 5px 15px 2px;
}

div.error p {
    margin: 0.5em 0;
    padding: 2px;
}
.wrap div.error {
    margin: 5px 0 15px;
}

/* tablesorter */
table.tablesorter thead tr .header {
    /*background-image: url(../images/bg.gif); No such thing*/
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
    /*background-image: url(../images/asc.gif); No such thing*/
}
table.tablesorter thead tr .headerSortDown {
    /*background-image: url(../images/desc.gif); No such thing*/
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    opacity: 0.5;
}

.app-scheduled_appointment {
    cursor: pointer;
    padding: 0 2px;
}
.app-scheduled_appointment.app-is_service {
    opacity: .7;
}
.app-scheduled_appointment.app-is_mine {
    font-weight: bold;
}
.app-worker_monthly_calendar td {
    height: 6em;
    width: 14.2%;
    vertical-align: top;
    padding: 5px !important;
}
.app-worker_monthly_calendar td.app-today, .app-worker_monthly_calendar td.app-today:hover {
    background: rgba(164,33,33,.2);
}
.app-worker_monthly_calendar td .app-end_time {
    display: none;
}
.app-worker_monthly_calendar td p {
    margin: 0; padding: 0;
    opacity: .5;
    font-size: 2em;
}
.app-worker_monthly_calendar-out {
    clear: both;
}
.app-worker_monthly_calendar-out ul, .app-worker_monthly_calendar-out ul li {
    list-style: none !important;
    background-image: none !important;
    margin: 0 !important; padding: 0 !important;
}
.app-worker_monthly_calendar-out ul li {
    float: left;
    width: 24%;
    margin-right: 1% !important;
}
.app-worker_monthly_calendar-out ul li b {
    display: block;
}

/* ----- Breakpoints ----- */
@media screen and (max-width : 768px) {
    .app_monthly_schedule_wrapper, .app_timetable_wrapper {
        width: 100%;
    }
    .app_monthly_schedule_wrapper table th {
        white-space: nowrap;
        overflow: hidden;
        text-overflow:ellipsis;
    }
    .appointments-confirmation-wrapper span {
        float: none;
        width: auto;
    }
}


/* 506887-1528449210-au */