@-webkit-keyframes votes-bar {
  from {
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0); }
  to {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1); } }
@-moz-keyframes votes-bar {
  from {
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0); }
  to {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1); } }
@-ms-keyframes votes-bar {
  from {
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0); }
  to {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1); } }
@keyframes votes-bar {
  from {
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0); }
  to {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1); } }
/* VARIABLES */
___PREFIX___.totalpoll-poll-container {
  line-height: <?php echo $this->option('typography', 'general', 'line-height'); ?>;
  font-family: <?php echo $this->option('typography', 'general', 'font-family'); ?>;
  font-size: <?php echo $this->option('typography', 'general', 'font-size'); ?>;
  /* Reset */ }
  ___PREFIX___.totalpoll-poll-container * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    line-height: inherit;
    font-family: inherit;
    font-size: inherit; }
  ___PREFIX___.totalpoll-poll-container div, ___PREFIX___.totalpoll-poll-container span, ___PREFIX___.totalpoll-poll-container applet, ___PREFIX___.totalpoll-poll-container object, ___PREFIX___.totalpoll-poll-container iframe, ___PREFIX___.totalpoll-poll-container h1, ___PREFIX___.totalpoll-poll-container h2, ___PREFIX___.totalpoll-poll-container h3, ___PREFIX___.totalpoll-poll-container h4, ___PREFIX___.totalpoll-poll-container h5, ___PREFIX___.totalpoll-poll-container h6, ___PREFIX___.totalpoll-poll-container p, ___PREFIX___.totalpoll-poll-container blockquote, ___PREFIX___.totalpoll-poll-container pre, ___PREFIX___.totalpoll-poll-container a, ___PREFIX___.totalpoll-poll-container abbr, ___PREFIX___.totalpoll-poll-container acronym, ___PREFIX___.totalpoll-poll-container address, ___PREFIX___.totalpoll-poll-container big, ___PREFIX___.totalpoll-poll-container cite, ___PREFIX___.totalpoll-poll-container code, ___PREFIX___.totalpoll-poll-container del, ___PREFIX___.totalpoll-poll-container dfn, ___PREFIX___.totalpoll-poll-container em, ___PREFIX___.totalpoll-poll-container font, ___PREFIX___.totalpoll-poll-container img, ___PREFIX___.totalpoll-poll-container ins, ___PREFIX___.totalpoll-poll-container kbd, ___PREFIX___.totalpoll-poll-container q, ___PREFIX___.totalpoll-poll-container s, ___PREFIX___.totalpoll-poll-container samp, ___PREFIX___.totalpoll-poll-container small, ___PREFIX___.totalpoll-poll-container strike, ___PREFIX___.totalpoll-poll-container strong, ___PREFIX___.totalpoll-poll-container sub, ___PREFIX___.totalpoll-poll-container sup, ___PREFIX___.totalpoll-poll-container tt, ___PREFIX___.totalpoll-poll-container var, ___PREFIX___.totalpoll-poll-container b, ___PREFIX___.totalpoll-poll-container i, ___PREFIX___.totalpoll-poll-container center, ___PREFIX___.totalpoll-poll-container dl, ___PREFIX___.totalpoll-poll-container dt, ___PREFIX___.totalpoll-poll-container dd, ___PREFIX___.totalpoll-poll-container ol, ___PREFIX___.totalpoll-poll-container ul, ___PREFIX___.totalpoll-poll-container li, ___PREFIX___.totalpoll-poll-container fieldset, ___PREFIX___.totalpoll-poll-container form, ___PREFIX___.totalpoll-poll-container label, ___PREFIX___.totalpoll-poll-container legend, ___PREFIX___.totalpoll-poll-container table, ___PREFIX___.totalpoll-poll-container caption, ___PREFIX___.totalpoll-poll-container tbody, ___PREFIX___.totalpoll-poll-container tfoot, ___PREFIX___.totalpoll-poll-container thead, ___PREFIX___.totalpoll-poll-container tr, ___PREFIX___.totalpoll-poll-container th, ___PREFIX___.totalpoll-poll-container td, ___PREFIX___.totalpoll-poll-container article, ___PREFIX___.totalpoll-poll-container aside, ___PREFIX___.totalpoll-poll-container audio, ___PREFIX___.totalpoll-poll-container canvas, ___PREFIX___.totalpoll-poll-container details, ___PREFIX___.totalpoll-poll-container figcaption, ___PREFIX___.totalpoll-poll-container figure, ___PREFIX___.totalpoll-poll-container footer, ___PREFIX___.totalpoll-poll-container header, ___PREFIX___.totalpoll-poll-container hgroup, ___PREFIX___.totalpoll-poll-container mark, ___PREFIX___.totalpoll-poll-container menu, ___PREFIX___.totalpoll-poll-container meter, ___PREFIX___.totalpoll-poll-container nav, ___PREFIX___.totalpoll-poll-container output, ___PREFIX___.totalpoll-poll-container progress, ___PREFIX___.totalpoll-poll-container section, ___PREFIX___.totalpoll-poll-container summary, ___PREFIX___.totalpoll-poll-container time, ___PREFIX___.totalpoll-poll-container video {
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background-color: transparent;
    margin: 0;
    padding: 0; }
  ___PREFIX___.totalpoll-poll-container body {
    line-height: 1; }
  ___PREFIX___.totalpoll-poll-container article, ___PREFIX___.totalpoll-poll-container aside, ___PREFIX___.totalpoll-poll-container dialog, ___PREFIX___.totalpoll-poll-container figure, ___PREFIX___.totalpoll-poll-container footer, ___PREFIX___.totalpoll-poll-container header, ___PREFIX___.totalpoll-poll-container hgroup, ___PREFIX___.totalpoll-poll-container nav, ___PREFIX___.totalpoll-poll-container section, ___PREFIX___.totalpoll-poll-container blockquote {
    display: block; }
  ___PREFIX___.totalpoll-poll-container ul, ___PREFIX___.totalpoll-poll-container ol {
    list-style: none; }
  ___PREFIX___.totalpoll-poll-container blockquote, ___PREFIX___.totalpoll-poll-container q {
    quotes: none; }
  ___PREFIX___.totalpoll-poll-container blockquote:before, ___PREFIX___.totalpoll-poll-container blockquote:after, ___PREFIX___.totalpoll-poll-container q:before, ___PREFIX___.totalpoll-poll-container q:after {
    content: none; }
  ___PREFIX___.totalpoll-poll-container ins {
    text-decoration: underline; }
  ___PREFIX___.totalpoll-poll-container del {
    text-decoration: line-through; }
  ___PREFIX___.totalpoll-poll-container mark {
    background: none; }
  ___PREFIX___.totalpoll-poll-container abbr[title], ___PREFIX___.totalpoll-poll-container dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help; }
  ___PREFIX___.totalpoll-poll-container table {
    border-collapse: collapse;
    border-spacing: 0; }
  ___PREFIX___.totalpoll-poll-container hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; }
  ___PREFIX___.totalpoll-poll-container input[type=submit], ___PREFIX___.totalpoll-poll-container input[type=button], ___PREFIX___.totalpoll-poll-container button {
    margin: 0;
    padding: 0; }
  ___PREFIX___.totalpoll-poll-container input, ___PREFIX___.totalpoll-poll-container select, ___PREFIX___.totalpoll-poll-container img {
    vertical-align: middle; }
  ___PREFIX___.totalpoll-poll-container video, ___PREFIX___.totalpoll-poll-container audio {
    vertical-align: bottom; }
  ___PREFIX___.totalpoll-poll-container img {
    max-width: 100%; }
  ___PREFIX___.totalpoll-poll-container li {
    list-style: none inside; }
  ___PREFIX___.totalpoll-poll-container ul:before, ___PREFIX___.totalpoll-poll-container li:before, ___PREFIX___.totalpoll-poll-container ul:after, ___PREFIX___.totalpoll-poll-container li:after {
    display: none;
    content: ""; }
  ___PREFIX___.totalpoll-poll-container .totalpoll-error-message {
    padding: 1em;
    margin-bottom: 1em;
    color: <?php echo $this->option('general', 'messages', 'color'); ?>;
    background-color: <?php echo $this->option('general', 'messages', 'background'); ?>;
    border: 1px solid <?php echo $this->option('general', 'messages', 'border'); ?>;
    border-radius: <?php echo $this->option('general', 'other', 'border-radius'); ?>; }
  ___PREFIX___.totalpoll-poll-container .totalpoll-question {
    font-weight: bold;
    font-size: 1.25em;
    border: 0;
    margin: 0;
    padding: 0; }
  ___PREFIX___.totalpoll-poll-container .totalpoll-choices {
    margin: 2em auto;
    padding: <?php echo $this->option('general', 'container', 'padding'); ?>;
    border: 1px solid <?php echo $this->option('general', 'container', 'border'); ?>;
    border-radius: <?php echo $this->option('general', 'other', 'border-radius'); ?>;
    overflow: hidden; }
    ___PREFIX___.totalpoll-poll-container .totalpoll-choices:after {
      content: "";
      display: table;
      clear: both; }
    ___PREFIX___.totalpoll-poll-container .totalpoll-choices .totalpoll-choice {
      vertical-align: top; }
      ___PREFIX___.totalpoll-poll-container .totalpoll-choices .totalpoll-choice + .totalpoll-choice {
        margin-top: <?php echo $this->option('general', 'container', 'padding'); ?>; }
      @media all and (min-width: 992px) {
        ___PREFIX___.totalpoll-poll-container .totalpoll-choices .totalpoll-choice {
          width: <?php echo number_format(100 / absint($this->option('general', 'other', 'per-row')), 2) . '%'; ?>; } }
      ___PREFIX___.totalpoll-poll-container .totalpoll-choices .totalpoll-choice .totalpoll-choice-container {
        display: block;
        color: <?php echo $this->option('choices', 'default', 'color:normal'); ?>;
        background-color: <?php echo $this->option('choices', 'default', 'background:normal'); ?>; }
      ___PREFIX___.totalpoll-poll-container .totalpoll-choices .totalpoll-choice .totalpoll-choice-checkbox-container {
        display: none; }
      ___PREFIX___.totalpoll-poll-container .totalpoll-choices .totalpoll-choice .totalpoll-choice-content {
        position: relative;
        border-radius: <?php echo $this->option('general', 'other', 'border-radius'); ?>;
        padding: 0.5em;
        word-break: break-word;
        border: 2px solid <?php echo $this->option('choices', 'default', 'border:normal'); ?>; }
        ___PREFIX___.totalpoll-poll-container .totalpoll-choices .totalpoll-choice .totalpoll-choice-content input {
          width: 100%;
          margin: 0;
          border: 0; }
      ___PREFIX___.totalpoll-poll-container .totalpoll-choices .totalpoll-choice.checked .totalpoll-choice-content {
        color: <?php echo $this->option('choices', 'checked', 'color:normal'); ?>;
        background-color: <?php echo $this->option('choices', 'checked', 'background:normal'); ?>;
        border-color: <?php echo $this->option('choices', 'checked', 'border:normal'); ?>; }
        ___PREFIX___.totalpoll-poll-container .totalpoll-choices .totalpoll-choice.checked .totalpoll-choice-content:hover {
          color: <?php echo $this->option('choices', 'checked', 'color:hover'); ?>;
          background-color: <?php echo $this->option('choices', 'checked', 'background:hover'); ?>;
          border-color: <?php echo $this->option('choices', 'checked', 'border:hover'); ?>; }
  ___PREFIX___.totalpoll-poll-container .totalpoll-view-vote .totalpoll-choices .totalpoll-choice-content {
    text-align: center;
    cursor: pointer; }
    ___PREFIX___.totalpoll-poll-container .totalpoll-view-vote .totalpoll-choices .totalpoll-choice-content:hover {
      color: <?php echo $this->option('choices', 'default', 'color:hover'); ?>;
      background-color: <?php echo $this->option('choices', 'default', 'background:hover'); ?>;
      border-color: <?php echo $this->option('choices', 'default', 'border:hover'); ?>; }
  ___PREFIX___.totalpoll-poll-container .totalpoll-view-results .totalpoll-choices .totalpoll-choice .totalpoll-choice-container {
    padding: 0 0.25em; }
  ___PREFIX___.totalpoll-poll-container .totalpoll-view-results .totalpoll-choices .totalpoll-choice .totalpoll-choice-content {
    border: 0; }
  ___PREFIX___.totalpoll-poll-container .totalpoll-view-results .totalpoll-choices .totalpoll-choice .totalpoll-choice-label {
    padding: 0 0.5em;
    position: relative;
    z-index: 1;
    color: <?php echo $this->option('votes-bar', 'text', 'color'); ?>; }
  ___PREFIX___.totalpoll-poll-container .totalpoll-view-results .totalpoll-choices .totalpoll-choice .totalpoll-choice-votes {
    font-weight: bold;
    margin-right: 0.5em; }
  ___PREFIX___.totalpoll-poll-container .totalpoll-view-results .totalpoll-choices .totalpoll-choice .totalpoll-choice-votes-bar {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    -webkit-animation: votes-bar <?php echo $this->option('general', 'other', 'animation'); ?>ms ease-out;
    -o-animation: votes-bar <?php echo $this->option('general', 'other', 'animation'); ?>ms ease-out;
    animation: votes-bar <?php echo $this->option('general', 'other', 'animation'); ?>ms ease-out;
    border-radius: <?php echo $this->option('general', 'other', 'border-radius'); ?>;
    color: <?php echo $this->option('votes-bar', 'text', 'color'); ?>;
    background: <?php echo $this->option('votes-bar', 'bar', 'color:start'); ?>;
    background: -moz-linear-gradient(left, <?php echo $this->option('votes-bar', 'bar', 'color:start'); ?> 0%, <?php echo $this->option('votes-bar', 'bar', 'color:end'); ?> 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, <?php echo $this->option('votes-bar', 'bar', 'color:start'); ?>), color-stop(100%, <?php echo $this->option('votes-bar', 'bar', 'color:end'); ?>));
    background: -webkit-linear-gradient(left, <?php echo $this->option('votes-bar', 'bar', 'color:start'); ?> 0%, <?php echo $this->option('votes-bar', 'bar', 'color:end'); ?> 100%);
    background: -o-linear-gradient(left, <?php echo $this->option('votes-bar', 'bar', 'color:start'); ?> 0%, <?php echo $this->option('votes-bar', 'bar', 'color:end'); ?> 100%);
    background: -ms-linear-gradient(left, <?php echo $this->option('votes-bar', 'bar', 'color:start'); ?> 0%, <?php echo $this->option('votes-bar', 'bar', 'color:end'); ?> 100%);
    background: linear-gradient(to right, <?php echo $this->option('votes-bar', 'bar', 'color:start'); ?> 0%, <?php echo $this->option('votes-bar', 'bar', 'color:end'); ?> 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='<?php echo $this->option('votes-bar', 'bar', 'color:start'); ?>', endColorstr='<?php echo $this->option('votes-bar', 'bar', 'color:end'); ?>', GradientType=1); }
  ___PREFIX___.totalpoll-poll-container .totalpoll-view-results .totalpoll-choices .totalpoll-choice.totalpoll-choice-winner .totalpoll-choice-votes-bar {
    background: <?php echo $this->option('votes-bar', 'bar', 'color:winner:start'); ?>;
    background: -moz-linear-gradient(left, <?php echo $this->option('votes-bar', 'bar', 'color:winner:start'); ?> 0%, <?php echo $this->option('votes-bar', 'bar', 'color:winner:end'); ?> 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, <?php echo $this->option('votes-bar', 'bar', 'color:winner:start'); ?>), color-stop(100%, <?php echo $this->option('votes-bar', 'bar', 'color:winner:end'); ?>));
    background: -webkit-linear-gradient(left, <?php echo $this->option('votes-bar', 'bar', 'color:winner:start'); ?> 0%, <?php echo $this->option('votes-bar', 'bar', 'color:winner:end'); ?> 100%);
    background: -o-linear-gradient(left, <?php echo $this->option('votes-bar', 'bar', 'color:winner:start'); ?> 0%, <?php echo $this->option('votes-bar', 'bar', 'color:winner:end'); ?> 100%);
    background: -ms-linear-gradient(left, <?php echo $this->option('votes-bar', 'bar', 'color:winner:start'); ?> 0%, <?php echo $this->option('votes-bar', 'bar', 'color:winner:end'); ?> 100%);
    background: linear-gradient(to right, <?php echo $this->option('votes-bar', 'bar', 'color:winner:start'); ?> 0%, <?php echo $this->option('votes-bar', 'bar', 'color:winner:end'); ?> 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='<?php echo $this->option('votes-bar', 'bar', 'color:winner:start'); ?>', endColorstr='<?php echo $this->option('votes-bar', 'bar', 'color:winner:end'); ?>', GradientType=1); }
  ___PREFIX___.totalpoll-poll-container .totalpoll-fields .totalpoll-field-wrapper label {
    display: block;
    margin-bottom: 1rem; }
  ___PREFIX___.totalpoll-poll-container .totalpoll-fields .totalpoll-field-wrapper .totalpoll-fields-field {
    border-radius: <?php echo $this->option('general', 'other', 'border-radius'); ?>; }
  ___PREFIX___.totalpoll-poll-container .totalpoll-fields .totalpoll-field-wrapper .totalpoll-field-error {
    margin-bottom: 1em;
    padding-bottom: 1em;
    color: <?php echo $this->option('general', 'messages', 'color'); ?>;
    border-radius: <?php echo $this->option('general', 'other', 'border-radius'); ?>; }
  ___PREFIX___.totalpoll-poll-container .totalpoll-fields .totalpoll-field-wrapper + .totalpoll-field-wrapper {
    margin-top: 1.5em; }
  ___PREFIX___.totalpoll-poll-container .totalpoll-fields-field {
    width: 100%; }
  ___PREFIX___.totalpoll-poll-container .totalpoll-fields-field[type=checkbox], ___PREFIX___.totalpoll-poll-container .totalpoll-fields-field[type=radio] {
    width: auto;
    margin-right: 0.5em; }
  ___PREFIX___.totalpoll-poll-container .totalpoll-buttons {
    margin-top: 1em;
    text-align: right; }
    ___PREFIX___.totalpoll-poll-container .totalpoll-buttons .totalpoll-button {
      display: block;
      padding: 1em 2em;
      margin-bottom: 1em;
      width: 100%;
      color: <?php echo $this->option('buttons', 'default', 'color:normal'); ?>;
      background-color: <?php echo $this->option('buttons', 'default', 'background:normal'); ?>;
      border: 1px solid <?php echo $this->option('buttons', 'default', 'border:normal'); ?>;
      line-height: 1;
      text-decoration: none;
      border-radius: <?php echo $this->option('general', 'other', 'border-radius'); ?>; }
      ___PREFIX___.totalpoll-poll-container .totalpoll-buttons .totalpoll-button:hover, ___PREFIX___.totalpoll-poll-container .totalpoll-buttons .totalpoll-button:focus, ___PREFIX___.totalpoll-poll-container .totalpoll-buttons .totalpoll-button:active {
        color: <?php echo $this->option('buttons', 'default', 'color:hover'); ?>;
        background-color: <?php echo $this->option('buttons', 'default', 'background:hover'); ?>;
        border-color: <?php echo $this->option('buttons', 'default', 'border:hover'); ?>; }
      ___PREFIX___.totalpoll-poll-container .totalpoll-buttons .totalpoll-button.totalpoll-button-primary {
        color: <?php echo $this->option('buttons', 'primary', 'color:normal'); ?>;
        background-color: <?php echo $this->option('buttons', 'primary', 'background:normal'); ?>;
        border-color: <?php echo $this->option('buttons', 'primary', 'border:normal'); ?>; }
        ___PREFIX___.totalpoll-poll-container .totalpoll-buttons .totalpoll-button.totalpoll-button-primary:hover, ___PREFIX___.totalpoll-poll-container .totalpoll-buttons .totalpoll-button.totalpoll-button-primary:focus, ___PREFIX___.totalpoll-poll-container .totalpoll-buttons .totalpoll-button.totalpoll-button-primary:active {
          color: <?php echo $this->option('buttons', 'primary', 'color:hover'); ?>;
          background-color: <?php echo $this->option('buttons', 'primary', 'background:hover'); ?>;
          border-color: <?php echo $this->option('buttons', 'primary', 'border:hover'); ?>; }
      ___PREFIX___.totalpoll-poll-container .totalpoll-buttons .totalpoll-button.totalpoll-button-primary {
        color: <?php echo $this->option('buttons', 'primary', 'color:normal'); ?>;
        background-color: <?php echo $this->option('buttons', 'primary', 'background:normal'); ?>;
        border-color: <?php echo $this->option('buttons', 'primary', 'border:normal'); ?>; }
        ___PREFIX___.totalpoll-poll-container .totalpoll-buttons .totalpoll-button.totalpoll-button-primary:hover, ___PREFIX___.totalpoll-poll-container .totalpoll-buttons .totalpoll-button.totalpoll-button-primary:focus, ___PREFIX___.totalpoll-poll-container .totalpoll-buttons .totalpoll-button.totalpoll-button-primary:active {
          color: <?php echo $this->option('buttons', 'primary', 'color:hover'); ?>;
          background-color: <?php echo $this->option('buttons', 'primary', 'background:hover'); ?>;
          border-color: <?php echo $this->option('buttons', 'primary', 'border:hover'); ?>; }
      ___PREFIX___.totalpoll-poll-container .totalpoll-buttons .totalpoll-button.totalpoll-button-link {
        background: transparent;
        border: 0; }
        ___PREFIX___.totalpoll-poll-container .totalpoll-buttons .totalpoll-button.totalpoll-button-link:hover, ___PREFIX___.totalpoll-poll-container .totalpoll-buttons .totalpoll-button.totalpoll-button-link:focus, ___PREFIX___.totalpoll-poll-container .totalpoll-buttons .totalpoll-button.totalpoll-button-link:active {
          text-decoration: underline; }
      ___PREFIX___.totalpoll-poll-container .totalpoll-buttons .totalpoll-button[disabled] {
        opacity: 0.5;
        cursor: not-allowed; }
      @media all and (min-width: 992px) {
        ___PREFIX___.totalpoll-poll-container .totalpoll-buttons .totalpoll-button {
          display: inline-block;
          width: auto;
          margin-bottom: 0; }
          ___PREFIX___.totalpoll-poll-container .totalpoll-buttons .totalpoll-button + .totalpoll-button {
            margin-left: 1em; }
          ___PREFIX___.totalpoll-poll-container .totalpoll-buttons .totalpoll-button.totalpoll-button-next {
            float: right;
            margin-left: 0; }
          ___PREFIX___.totalpoll-poll-container .totalpoll-buttons .totalpoll-button.totalpoll-button-previous {
            float: left;
            margin-left: 0; } }
    ___PREFIX___.totalpoll-poll-container .totalpoll-buttons .totalpoll-buttons-pagination {
      padding: 1em;
      margin-bottom: 1em;
      border: 1px solid <?php echo $this->option('general', 'container', 'border'); ?>;
      border-radius: <?php echo $this->option('general', 'other', 'border-radius'); ?>; }
      ___PREFIX___.totalpoll-poll-container .totalpoll-buttons .totalpoll-buttons-pagination:after {
        content: "";
        display: table;
        clear: both; }
  ___PREFIX___.totalpoll-poll-container .totalpoll-captcha {
    margin-top: 1em;
    margin-bottom: 1em; }
    ___PREFIX___.totalpoll-poll-container .totalpoll-captcha:after {
      content: "";
      display: table;
      clear: both; }
    ___PREFIX___.totalpoll-poll-container .totalpoll-captcha > div {
      float: right; }

___PREFIX___.totalpoll-poll-container.totalpoll-rtl .totalpoll-view-results .totalpoll-choices .totalpoll-choice .totalpoll-choice-votes-bar {
  right: 0;
  left: auto;
  -webkit-transform-origin: right;
  -moz-transform-origin: right;
  -ms-transform-origin: right;
  -o-transform-origin: right;
  transform-origin: right; }
___PREFIX___.totalpoll-poll-container.totalpoll-rtl .totalpoll-buttons {
  text-align: left; }
  ___PREFIX___.totalpoll-poll-container.totalpoll-rtl .totalpoll-buttons .totalpoll-button-next {
    float: left;
    margin-right: 0; }
  ___PREFIX___.totalpoll-poll-container.totalpoll-rtl .totalpoll-buttons .totalpoll-button-previous {
    float: right;
    margin-right: 0; }
  ___PREFIX___.totalpoll-poll-container.totalpoll-rtl .totalpoll-buttons .totalpoll-button + .totalpoll-button {
    margin-left: 0;
    margin-right: 1em; }
___PREFIX___.totalpoll-poll-container.totalpoll-rtl .totalpoll-fields-field[type=checkbox], ___PREFIX___.totalpoll-poll-container.totalpoll-rtl .totalpoll-fields-field[type=radio] {
  margin-left: 0.5em;
  margin-right: 0; }
___PREFIX___.totalpoll-poll-container.totalpoll-rtl .totalpoll-choice-votes {
  margin-right: 0;
  margin-left: 0.5em; }

/*# sourceMappingURL=style.css.map */
