.draggable-checkbox {
	margin-right: 25px;
}

.custom-map-code {
	margin-top: -1px;
}

.map_location {
	margin-top: 10px;
}

.map-style, .map-zoom-level {
	width: 225px;
}


.upfront_map-fields-simple_location .upfront-field-wrap-refresh button {
	background: rgb(251, 251, 251) !important;
	border: 1px solid rgb(169, 169, 169);
	border-left: none;
	height: 22px;
	display: inline-block;
	width: 30px;
}

.upfront_map-fields-simple_location .upfront-field-wrap-refresh button:before {
	content: " ";
	background-image: url('../../../img/uf-core-el-sprite_new.png');
	background-image: url('../../../img/uf-core-el-sprite_new.svg');
	background-repeat: no-repeat;
	background-position: -477px -73px;
	width: 25px;
	height: 20px;
	display: block;
	position: relative;
}

.upfront_map-fields-simple_location .upfront-field-wrap-refresh button img {
	opacity: 0.7;
	width: 15px;
	margin-top: 2px;
}

#upfront_map-location_overlay-use_location {
	right: 25px;
}


/* 378760-1512586674-ai */