#posts-list li,
#users-list li,
#blogs-list li {
	border-bottom: 1px solid #AAA;
	list-style: none;
	margin-bottom:0;
}

#posts-list li:first-child,
#users-list li:first-child,
#blogs-list li:first-child {
	border-top:none;
}

#posts-list,
#users-list,
#blogs-list {
	margin: 20px 0;
}

#posts-list li span,
#users-list li span,
#blogs-list li span {
	padding: 2px 10px;
	display: inline-block;
}

#posts-list li span.id-box,
#users-list li span.id-box,
#blogs-list li span.id-box {
	min-width: 20px;
	width: 60px;
}

#posts-list li span.remove-box,
#users-list li span.remove-box,
#blogs-list li span.remove-box {
	font-size: 11px;
}

#posts-list li span.remove-box a,
#users-list li span.remove-box a,
#blogs-list li span.remove-box a {
	text-decoration: none;
	font-weight: bold;
}


#blogs-list-wrap {
	margin-left: 15px;
}

.ui-progressbar {
	position: relative;
}

.progress-label {
	position: absolute;
	left: 50%;
	top: 4px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
}

.mcc-wizard-breadcrumbs {
	margin-bottom: 2em;
}

.mcc-wizard-breadcrumbs ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.mcc-wizard-breadcrumbs ul {
	overflow: hidden;
	width: 100%;
}

.mcc-wizard-breadcrumbs ul li {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	float: left;
}

.mcc-wizard-breadcrumbs ul li.first {
	border-left: 1px solid #ccc;
}

.mcc-wizard-breadcrumbs ul a {
	padding: 0.4em 1em 0.4em 2em;
	float: left;
	text-decoration: none;
	color: #444;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	background: #F1F1F1;
	position: relative;
}

.mcc-wizard-breadcrumbs ul li.disabled a {
	color: #A2A2A2;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background: #F5F5F5;
}

.mcc-wizard-breadcrumbs ul a .badge {
	background: #DDD;
	padding: 0.2em 0.6em;
	border-radius: 25px;
	border: 1px solid #B8B8B8;
}

.mcc-wizard-breadcrumbs ul li:first-child {
	border-radius: 5px 0 0 5px;
}

.mcc-wizard-breadcrumbs ul li:first-child a {
	padding-left: 1em;
	border-radius: 5px 0 0 5px;
}

.mcc-wizard-breadcrumbs ul a:hover {
	background: #E2E2E2;
	cursor: pointer;
}

.mcc-wizard-breadcrumbs ul a:hover .badge {
	background: #EEE;
	border-color: #FFF;
}

.mcc-wizard-breadcrumbs ul li.disabled a:hover {
	cursor: pointer;
}

.mcc-wizard-breadcrumbs ul li.disabled a:hover .badge {
	background: #DDD;
	padding: 0.2em 0.6em;
	border-radius: 25px;
	border: 1px solid #B8B8B8;
}

.mcc-wizard-breadcrumbs ul a::after,.mcc-wizard-breadcrumbs ul a::before {
	content: "";
	position: absolute;
	top: 50%;
	margin-top: -1.5em;
	border-top: 1.5em solid transparent;
	border-bottom: 1.5em solid transparent;
	border-left: 1em solid;
	right: -1em;
}

.mcc-wizard-breadcrumbs ul a::after {
	z-index: 2;
	border-left-color: #F1F1F1;
}

.mcc-wizard-breadcrumbs ul a::before {
	border-left-color: #ccc;
	right: -1.1em;
	z-index: 1;
}

.mcc-wizard-breadcrumbs ul a:hover::after {
	border-left-color: #E2E2E2;
}

.mcc-wizard-breadcrumbs ul li.disabled a:hover::after {
	border-left-color: #F5F5F5;
}

.mcc-wizard-breadcrumbs ul .current,.mcc-wizard-breadcrumbs ul .current:hover {
	font-weight: bold;
	background: none;
}

.mcc-wizard-breadcrumbs ul .current::after,.mcc-wizard-breadcrumbs ul .current::before {
	content: normal;
}

#mcc-posts-list table .column-date {
	width: 20%;
}

#mcc-panel .about-description {
	margin-bottom: 30px;
}


/* 506887-1520105400-ai */