.upfront_posts-list > ul, .upfront_posts-list > ul li,
.upfront_posts-single > ul, .upfront_posts-single > ul li
{
	list-style: none;
	margin: 0;
	padding: 0;
}
.upfront_posts-list > ul li,
.upfront_posts-single > ul li {
    padding: 15px;
}

.upfront_posts-list *,
.upfront_posts-single * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* --- Initial screen --- */
.upfront-output-posts {
	min-height: 220px;
}
.upfront_posts-initial-wrapper {
    height: 150px;
}
.upfront_posts-initial-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 300px;
    max-height: 120px;
    text-align: center;
}
.upfront_posts-initial-content .upfront-field-wrap {
    margin: 0;
}
.upfront_posts-initial-content .upfront-field-wrap-radios .upfront-field-label-block {
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 20px;
}
.upfront_posts-initial-content .upfront-field-multiple-horizontal-inline {
    margin: 0 20px;
}
.upfront_posts-initial-content .options {
    padding: 8px 0 0;
    margin: 0 0 15px;
}
.upfront-object-content .upfront_posts-initial-content a.continue,
.upfront-object-content .upfront_posts-initial-content a.continue:link,
.upfront-object-content .upfront_posts-initial-content a.continue:visited {
    display: inline-block;
    border: 2px solid #99c3e9;
    padding: 8px 25px;
    color: #284662;
    font-size: 11px;
    text-decoration: none;
	font-family: 'Open Sans', Helvetica Neueu, Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-style: normal;
}

/* --- Custom posts list --- */
.upfront-settings-item-content .custom_posts ul {
    margin: 10px 0px 0px 0px;
    padding: 0px;
}
.upfront-settings-item-content .custom_posts ul li {
    color: #a7bfde;
	height: 20px;
	line-height: 20px;
	margin: 0px -15px;
	padding: 0px 15px;
}
.upfront-settings-item-content .custom_posts ul li .post-count {
	color: #44698d;
	font-weight: bold;
	padding-right: 6px;
}
.upfront-settings-item-content .custom_posts ul li .permalink {
    color: #30475e;
}
.upfront-settings-item-content .custom_posts ul li a {
	display: none;
	border-bottom: none;
}
.upfront-settings-item-content .custom_posts ul li:hover a {
	display: inline;
}
.upfront-settings-item-content .custom_posts ul li a i {
	display: inline-block;
	color: white;
	background: red;
	height: 14px;
	width: 14px;
	line-height: 14px;
	font-size: 12px;
	border-radius: 7px;
	margin-left: 1em;
	text-align: center;
	float: right;
	position: relative;
	top: 3px;
}

/* --- Post settings styles --- */

#sidebar-scroll-wrapper .upfront-display-type-section {
	border-bottom: 1px solid #e5ecf4;
	padding-bottom: 5px;
}

#sidebar-scroll-wrapper .upfront-posts-settings-wrapper {
	margin: 0px 15px;
}

#sidebar-scroll-wrapper .upfront-posts-settings-wrapper .upfront-field-label-inline {
	font-size: 11px;
	display: block;
	height: auto;
	line-height: 1;
	margin-bottom: 3px;
}

#sidebar-scroll-wrapper .upfront-display-type-section .upfront-settings-item-content .upfront-field-wrap,
#sidebar-scroll-wrapper .upfront-list-type-section .upfront-settings-item-content .upfront-field-wrap {
	margin: 0px;
}

#sidebar-scroll-wrapper .custom_posts li:hover {
	background: #e6edf2;
}

/* --- Post parts list --- */
.uposts-parts-picker-setting {
    margin: 0 0 5px;
}
.uposts-parts-picker-setting .upfront-field-multiple-horizontal-inline {
    margin: 0 15px 5px 0;
}
.upfront-settings-item-content .post_parts.ui-sortable {
	margin-top: 1em;
}
.upfront-settings-item-content .post_parts.ui-sortable li {
	border: 1px solid rgb(160, 160, 160);
	margin: 2px;
	border-radius: 4px;
	cursor: move;
	position: relative;
}
.upfront-settings-item-content .post_parts.ui-sortable li:before {
	display: block;
	position: absolute;
	content: "\22EE";
	background: rgb(160, 160, 160);
	width: 13px;
	height: 20px;
	line-height: 18px;
	font-size: 18px;
	color: #f1f9ff;
	padding: 0 0 0 2px;
}
.upfront-settings-item-content .post_parts.ui-sortable li:hover {
    border-color: rgb(130, 130, 130);
}
.upfront-settings-item-content .post_parts.ui-sortable li:hover:before {
    background: rgb(130, 130, 130);
}
.upfront-settings-item-content .post_parts.ui-sortable li .name_action_wrapper {
	clear: both;
	height: 22px;
	margin-left: 12px;
    height: 20px;
    overflow: hidden;
}
.upfront-settings-item-content .post_parts.ui-sortable li .name_action_wrapper span {
	display: block;
	float: left;
	margin-left: 8px;
	line-height: 19px;
}

.upfront-settings-item-content .post_parts.ui-sortable li .options {
	min-height: 30px;
	padding: 10px;
	background: rgb(231, 231, 231);
}
.upfront-settings-item-content .post_parts.ui-sortable li .options .option {
	width: 65%;
}
.upfront-settings-item-content .post_parts.ui-sortable li .options .edit_part {
	display: block;
	position: absolute;
	right: 12px;
	bottom: 10px;
	background: #00a167;
	border-radius: 4px;
	padding: 0 3px;
    max-width: 62px;
    overflow: hidden;
    height: 16px;
    white-space: nowrap;
}
.upfront-settings-item-content .post_parts.ui-sortable li .options .edit_part a {
	color: white;
}
.upfront-settings-item-content .post_parts.ui-sortable li .options  .upfront-field-label-inline {
	padding-right: 4px;
}
.upfront-settings-item-content .post_parts.ui-sortable li .options input { max-width: 50%; }
.upfront-settings-item-content .post_parts.ui-sortable li .options.categories-options input { max-width: 25%; }
.upfront-settings-item-content .post_parts.ui-sortable li .options.tags-options input { max-width: 25%; }
.upfront-settings-item-content .post_parts.ui-sortable li .options.content-options input { max-width: 40%; }
.upfront-settings-item-content .post_parts.ui-sortable li .options.gravatar-options input { max-width: 40%; }
.upfront-settings-item-content .post_parts.ui-sortable li .options.date_posted-options input { max-width: 60%; }

.upfront-settings-item-content .post_parts.ui-sortable li .part_action {
	position: absolute;
	right: 24px;
}
.upfront-settings-item-content .post_parts.ui-sortable li .part_action a {
	margin-right: 3px;
	display: none;
	color: rgb(0, 0, 0);
}
.upfront-settings-item-content .post_parts.ui-sortable li:hover .part_action a {
	display: inline;
}


/* --- Icons --- */
.upfront-field-icon.upfront-posts-display_type {
	background-image: url(../../../img/uf-core-el-sprite.png);
	background-repeat: no-repeat;
	height: 18px;
	width: 22px;
}
.upfront-field-icon.upfront-posts-display_type.upfront-posts-display_type-upfront-posts-single {
	background-position: -480px -490px;
}
.upfront-field-icon.upfront-posts-display_type.upfront-posts-display_type-upfront-posts-list {
	background-position: -570px -490px;
}

.upfront-posts-custom-add_post {
	background-image: url(../../../img/uf-ui-sprite.png);
	background-repeat: no-repeat;
	background-position: -728px -74px;
	height: 14px;
	width: 18px;
	display: none;
}

.upfront-display-type-section .upfront-posts-display-type {
	margin-top: -7px;
}

.upfront-display-type-single .upfront-settings-item-content .upfront-post-term,
.upfront-display-type-single .upfront-settings-item-content .upfront-post-type,
.upfront-display-type-single .upfront-settings-item-content .upfront-post-taxonomy {
	margin-top: 10px;
}

.upfront-display-type-list .upfront-settings-item-content .upfront-post-term {
	margin-top: 5px;
}

.upfront-display-type-list .upfront-settings-item-content .upfront-post-limit,
.upfront-display-type-list .upfront-settings-item-content .upfront-post-type {
	margin-top: 15px;
}

.upfront-settings-item-content .upfront-post-limit,
.upfront-settings-item-content .upfront-post-type,
.upfront-display-type-list .upfront-settings-item-content .upfront-offset-number,
.upfront-display-type-list .upfront-settings-item-content .upfront-post-taxonomy {
	display: inline-block;
}

.upfront-display-type-single .upfront-settings-item-content .upfront-post-term,
.upfront-display-type-single .upfront-settings-item-content .upfront-post-type,
.upfront-display-type-single .upfront-settings-item-content .upfront-post-taxonomy,
.upfront-display-type-single .upfront-settings-item-content .upfront-post-term{
	margin-top: 10px;
}

.upfront-post-limit .upfront-field-label-block,
.upfront-post-type .upfront-field-label-block,
.upfront-offset-number .upfront-field-label-block,
.upfront-post-taxonomy .upfront-field-label-block,
.upfront-post-term .upfront-field-label-block {
	margin-bottom: 3px !important;
}

.upfront-settings-item-content .upfront-post-limit input,
.upfront-display-type-list .upfront-settings-item-content .upfront-offset-number input {
	font-size: 12px;
	height: 26px;
}

.upfront-settings-item-content .upfront-post-limit,
.upfront-display-type-list .upfront-settings-item-content .upfront-offset-number {
	width: 65px;
	position: relative;
	top: -6px;
}

.upfront-settings-item-content .upfront-post-type,
.upfront-display-type-list .upfront-settings-item-content .upfront-post-taxonomy {
	width: 150px;
	margin-top: 5px;
	margin-left: 15px;
}

.upfront-display-type-single .upfront-post-type {
	margin-left: 0px;
}

.upfront-add-posts {
	margin-left: 0px !important;
}

.upfront-settings-item-content .post_parts.ui-sortable li .part_action:after {
	display: inline-block;
	background-image: url(../../../img/uf-core-el-sprite_new.png);
	background-repeat: no-repeat;
	background-position: -320px -251px;
	top: 1px;
	position: absolute;
	width: 18px;
	height: 18px;
	content: "";
}
.upfront-settings-item-content .post_parts.ui-sortable li.active .part_action:after {
	transform: rotate(90deg);
	background-position: -321px -251px;
}


/* 378760-1512586674-ai */