.upfront-output-posts > ul, .upfront-output-posts > ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.upfront-output-posts > ul li {
    padding: 15px;
}

.upfront-output-posts * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.uposts-part {
    margin: 0 0 15px;
}
.uposts-part.gravatar img {
    max-width: 100%;
}
.uposts-part.thumbnail {
    overflow: hidden;
}
.uposts-part.thumbnail img {
    display: block;
    max-width: 100%;
    max-height: none;
    height: auto;
    margin: 0 auto;
}
.uposts-part.thumbnail[data-resize="1"] img {
    max-width: none;
}


/* 378760-1512586674-ai */