.upfront_login-settings-panel .upfront-settings_panel {
	width: 290px;
}

.upfront_login-fields-complex_boolean {
	width: 48%;
	float: left;
}
.upfront_login-fields-complex_boolean .upfront-field-wrap-radios {
	float: left;
}
.upfront_login-fields-complex_boolean .upfront-field-wrap-text {
	width: 80%;
	float: left;
}
.upfront_login-fields-complex_boolean.upfront_login-appearance-icon {
	width: 60%;
}
.upfront_login-fields-complex_boolean.upfront_login-appearance-icon .upfront-field-text {
	width: 80%;
}
.upfront_login-fields-complex_boolean.upfront_login-appearance-label {
	width: 40%;
}
.upfront_login-fields-complex_boolean.upfront_login-appearance-icon .upfront_login-icon {
	float: left;
	width: 85%;
}
.upfront_login-fields-complex_boolean.upfront_login-appearance-icon .upfront_login-icon input {
	width: 80%;
}

.upfront_login-item-display_behavior .upfront-settings-item-title {
	padding-bottom: 8px;
}

.upfront_login-logout_text {
	clear:both;
}

/*div.upfront_login-item-display_behavior div.upfront-settings-item-title > span {
  display: block;
  color: #7d99b3;
  font-size: 11px;
  font-weight: bold;
  font-family: verdana, sans-serif;
  line-height: 1;
  margin-bottom: 0 !important;
  text-transform: none;
}


div.upfront_login-item-display_behavior div.upfront-settings-item-title:after {
  display:none;
}*/

div.upfront_login-item-display_trigger div.upfront-field-wrap-text {
  margin-top:0 !important;
}

div.upfront_login-item-display_trigger div.upfront-settings-item {
  padding-top: 0;
}

div.upfront-login_element-module,
div.upfront-login_element-module.upfront-module-active {
  z-index: 80;
}

div.upfront-login_element-module .upfront_login.upfront_login-hover,
div.upfront-login_element-module.upfront-module-active .upfront_login.upfront_login-hover,
div.upfront-login_element-module .upfront_login.upfront_login-click,
div.upfront-login_element-module.upfront-module-active .upfront_login.upfront_login-click {
  z-index: 15;
}

.upfront_login form#loginform .login-remember .redactor-box {
	display: inline-block;
}

.upfront_login form#loginform .login-submit {
	position: relative;
}

.upfront_login form#loginform .login-submit span.login-submit-label-container {
	position: absolute;
	width: 100%;
	display: table;
	text-align: center;
}

.upfront_login form#loginform .login-submit .redactor-box {
	width: 100%;
	display: table;
}

.upfront_login form#loginform .login-submit span.login-submit-label {
	display: table-cell;
	vertical-align: middle;
}

.upfront_login p.login-lostpassword {
	margin: 3px;
}

.upfront_login form#loginform p input.upfront-input-labels[type="text"],
.upfront_login p.login-lostpassword input.upfront-input-labels[type="text"] {
	background: transparent;
	border: 0;
	border-radius: 0;
	height: auto;
	width: 100%;
}

.upfront_login form#loginform p.login-remember input.upfront-input-labels[type="text"] {
	width: auto;
	padding: 0;
}

.upfront_login.upfront_login-click form#loginform p.login-remember input.upfront-input-labels[type="text"],
.upfront_login.upfront_login-hover form#loginform p.login-remember input.upfront-input-labels[type="text"] {
	width: 80%;
}

.upfront_login form#loginform p.login-submit input.upfront-input-labels[type="text"],
.upfront_login p.login-lostpassword input.upfront-input-labels[type="text"] {
	text-align: center;
}

.upfront_login form#loginform p.login-submit input.upfront-input-labels[type="text"] {
	background: #1b7bd7;
	-webkit-box-shadow: 0 0 0px 1000px rgb(27, 123, 215) inset;
	color: #fff;
	-webkit-text-fill-color: rgb(255, 255, 255);
	width: 100%;
	text-align: center;
	height: 40px;
	font:16px/2.2 Arial;
	color: #fff;
}

.upfront_login form#loginform p.login-submit input.upfront-input-labels[type="text"]:hover {
	background-color: #1770c5;
}

.upfront_login p.login-lostpassword input.upfront-input-labels.lostpassword-link[type="text"] {
	color: #1b7bd7;
	-webkit-text-fill-color: rgb(27, 123, 215);
}

#element-settings-sidebar .upfront-settings-item.relative {
	position: relative;
}

#element-settings-sidebar .upfront_login-settings-panel .upfront-field-wrap {
	margin-top: 0;
}

#element-settings-sidebar .upfront_login-settings-panel .upfront-field-wrap.upfront_login-logout_style {
	margin-bottom: 15px;
}

#element-settings-sidebar .upfront_login-settings-panel .upfront-field-wrap.float-right {
	position: absolute;
	top: 13px;
	right: 30px;
}

#element-settings-sidebar .upfront-settings-item .login-general-settings-description {
	color: #30475e;
	font-size: 11px;
	font-weight: normal;
	font-family: verdana, sans-serif;
	padding: 15px 0px 5px 0px;
	opacity: .8;
	line-height: 1.7;
}

#element-settings-sidebar .upfront-settings-item .clear-after:after {
	content: ' ';
	display: table;
	clear: both;
}

#element-settings-sidebar .upfront-settings-item .login-general-settings-description span {
	float: left;
  width: 90%;
}


#element-settings-sidebar .upfront-field-wrap.offset {
	width: 50%;
	float: left;
	margin-top: 10px;
	margin-bottom: 5px;
}

#element-settings-sidebar .upfront-field-wrap.offset input {
	max-width: 70px;
}

#element-settings-sidebar .upfront-field-wrap.offset label {
	font-weight: 300;
}


/* 378760-1512586674-ai */