/**
 * Theme Customizer Controls
 */

/* Hide upload "Default" button on upload field when have presets should use a preset instead) */

#customize-control-background_image .actions .default-button {
	display: none !important;
}

/* Background Image Presets */

.ctfw-customize-image-presets { /* ul */
	margin: 0 0 10px 0;
	list-style: none;
}

	.ctfw-customize-image-presets li {
		width: 46px !important;
		height: 46px !important;
		display: inline-block !important;
		margin: 0 2px 2px 0 !important;
		outline: 0;

	}

		.ctfw-customize-image-presets li .ctfw-customize-thumbnail-wrapper {
			overflow: hidden;
			display: inline-block;
			height: 40px;
			width: 40px;
		}

			.ctfw-customize-image-presets li img {
				max-width: 150% !important;
				padding: 0 !important;
				margin: 0 !important;
				border: 0 !important;
				cursor: pointer;
			}

			.ctfw-customize-image-presets li:hover .ctfw-customize-thumbnail-wrapper,
			.ctfw-customize-image-presets li.ctfw-customize-image-preset-selected .ctfw-customize-thumbnail-wrapper {
				border-width: 2px !important;
				border-style: solid !important;
				border-color: #bbb !important; /* IE8 */
				border-color: rgba(0, 0, 0, 0.3) !important;
				margin: -2px !important;
			}

/* Background Image Colorable Note */

.ctfw-customize-background-image-preset-colorable {
	clear: both;
	display: block;
	margin: 6px 0 12px 0;
	font-style: italic;
}

/* Tooltip for "Colorable" background images */

li[data-customize-image-preset-colorable="1"] {
	position: relative;
}

li[data-customize-image-preset-colorable="1"]:hover:after {
	content: attr(data-customize-image-title);
	position: absolute;
	top: -20px;
	left: -16px;
	z-index: 100;
	background: #fff;
	border: 1px solid #bbb;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
	padding: 4px 8px;
	color: #777;
	font-style: italic;
}

/* Logo Text */

#customize-control-resurrect_customizations-logo_text textarea {
	height: 40px;
}

/* Social Media Icons */

#resurrect-customize-icons-description code {
	font-style: normal;
}

#customize-section-resurrect_icons textarea {
	white-space: nowrap;
	overflow: auto;
	height: 105px;
}

/* Slider Speed */

#customize-control-resurrect_customizations-slider_speed input[type=number] {
	width: 40px;
}
