#wpmudevevents-wrapper {
	padding: 1em;
}
.wpmudevevents-list {
	clear: both;
	padding: 1em;
}
.wpmudevevents-list table {
	width: 100%;
	border-collapse: collapse;
}
.wpmudevevents-list table th {
	width: 14.285%;
	background: #333;
	color: #ddd;
	padding: .4em;
	cursor: default;
}
.wpmudevevents-list table td {
	border: 1px solid #ddd;
	height: 120px;
    width: auto; /* fix a+ conflict */
}
.wpmudevevents-list table td .eab-date-full {
	display: none;
}

.wpmudevevents-list table td.no-left-border {
	border-left: none;
}

.wpmudevevents-list table td.no-right-border {
	border-right: none;
}

.wpmudevevents-list table td.today {
	background: #ddd;
}

a.wpmudevevents-calendar-event {
	display: block;
	margin: .2em;
	padding: .1em .4em;
	background: #75AB24;
	color: #fff;
	text-decoration: none;
	border: 1px solid #558B04;
	border-radius: 5px;
}
a.wpmudevevents-calendar-event:hover {
	background: #659B14;
	text-decoration: none;
}

.wpmudevevents-calendar-event-info {
	display: none;
	position: absolute;
	padding: .4em;
	min-width: 200px;
	background: #464646;
	margin-top: 1em;
	border: 1px solid #262626;
	border-radius: 5px;
}

.wpmudevevents-calendar-event-info img{
	display: block
}

/* ----- Shortcode ----- */

.eab-shortcode_calendar .eab-shortcode_calendar-title-top,
.eab-shortcode_calendar .eab-shortcode_calendar-title-bottom
{
	background: transparent;
	height: auto;
	border: none;
}
.eab-shortcode_calendar .eab-shortcode_calendar-title-top td,
.eab-shortcode_calendar .eab-shortcode_calendar-title-bottom td
{
	height: auto;
	border: none;
	text-align: center;
}
.eab-shortcode_calendar .eab-shortcode_calendar-title-top td a,
.eab-shortcode_calendar .eab-shortcode_calendar-title-bottom td a
{
	text-decoration: none;
}
.eab-shortcode_calendar .eab-shortcode_calendar-title-top h4 {
	margin: 0;
	padding: 0;
}
.eab-shortcode_calendar .eab-shortcode_calendar-title-top .eab-navigation-prev,
.eab-shortcode_calendar .eab-shortcode_calendar-title-top .eab-navigation-next
{
	font-size: 1.6em;
}

.eab-shortcode_calendar .wpmudevevents-calendar-event-info img,
.eab-shortcode_calendar .wpmudevevents-calendar-event-info .eab-calendar-event_excerpt
{
	display: block;
}

/* ----- Breakpoints ----- */

@media screen and (max-width : 768px) {
	/* force old browsers, such as legacy droid */
	.wpmudevevents-list table.eab-monthly_calendar,
	.wpmudevevents-list table.eab-monthly_calendar tr,
	.wpmudevevents-list table.eab-monthly_calendar th,
	.wpmudevevents-list table.eab-monthly_calendar td
	{
		display: block;
	}

	.wpmudevevents-list table.eab-monthly_calendar td {
		display: block;
		height: auto;
		padding: 5px;
	}
	.wpmudevevents-list table.eab-monthly_calendar tbody td[colspan],
	.wpmudevevents-list table.eab-monthly_calendar thead th,
	.wpmudevevents-list table.eab-monthly_calendar tfoot th
	{
		display: none;
	}

	.wpmudevevents-list table.eab-monthly_calendar thead h4 span,
	.wpmudevevents-list table.eab-monthly_calendar tfoot b span {
		display: none;
	}
	.wpmudevevents-list table.eab-monthly_calendar thead h4 time:after,
	.wpmudevevents-list table.eab-monthly_calendar tfoot b time:after {
		content: attr(datetime);
	}

	.wpmudevevents-list table.eab-monthly_calendar thead td,
	.wpmudevevents-list table.eab-monthly_calendar tfoot td
	{
		float: left;
		width: 20%;
		padding: 0;
	}
	.wpmudevevents-list table.eab-monthly_calendar .wpmudevevents-calendar-event {
		font-weight: bold;
	}
	.wpmudevevents-list table.eab-monthly_calendar .wpmudevevents-calendar-event-info {
		position: static;
		display: inline!important;
		background: none;
		border: none;
		font-weight: normal;
		font-size: .9em;
	}
	.wpmudevevents-list table.eab-monthly_calendar .wpmudevevents-calendar-event-info:before {
		content: ' ';
		display: block;
	}
	.wpmudevevents-list table.eab-monthly_calendar td .eab-date-full {
		display: block !important;
	}
	.wpmudevevents-list table.eab-monthly_calendar td .eab-date-ordinal {
		display: none;
	}
} /* end 768px break */


/* 378760-1512586810-ai */