.gallery-padding-lock input[type=checkbox] {
	position: relative;
	left: 36px;
	top: 6px;
}
.gallery-padding-lock input[type=checkbox]:checked {
	float:none !important;
	left: 38px;
	top: 7px;
}
.gallery-padding-lock input[type=checkbox]:after {
	content: '';
	display: block;
	height: 18px;
	width: 18px;
	background-image: url('../../../img/uf-core-el-sprite_new.png');
	background-image: url('../../../img/uf-core-el-sprite_new.svg'), none;
	background-position: -661px -170px;
	background-color: rgb(242, 242, 242);
	left: -3px;
	top: -3px;
	position: relative;
}
.gallery-padding-lock input[type=checkbox]:checked:after {
	background-position: -661px -138px;
}
.gallery-padding-lock {
	position: relative;
	margin-top: -19px;
	left: 100px;
}

.thumb-size-slider,
.thumb-padding-slider,
.thumb-bottom-padding-slider,
.thumb-side-padding-slider  {
	width: 150px;
	float: left;
	margin-top: 10px;
}

@-moz-document url-prefix() {
	.thumb-size-slider,
	.thumb-padding-slider,
	.thumb-bottom-padding-slider,
	.thumb-side-padding-slider  {
		width: 140px;
		float: left;
		margin-top: 10px;
	}
}

.thumb-size-number,
.thumb-padding-number,
.thumb-bottom-padding-number,
.thumb-side-padding-number  {
	margin-top: 15px;
	width: 50px;
	float: left;
	position: relative;
	margin-left: 25px;
}

.thumb-size-number input,
.thumb-padding-number input,
.thumb-bottom-padding-number input,
.thumb-side-padding-number  input {
	width: 50px !important;
}

.thumb-size-slider label,
.thumb-padding-slider label,
.thumb-bottom-padding-slider label,
.thumb-side-padding-slider label {
	margin-bottom: 15px;
}

.thumb-size-slider .upfront-field-slider-value,
.thumb-padding-slider .upfront-field-slider-value,
.thumb-bottom-padding-slider .upfront-field-slider-value,
.thumb-side-padding-slider .upfront-field-slider-value {
	display: none;
}

.thumb-propostions {
	margin-top: 10px;
}
.upfront-object-content .ugallery-thumb-title p {
	margin-bottom: 0;
	line-height: inherit;
}
.ugallery-magnific-panel .labels_filter ul li {
	position: relative;
}
.ugallery-magnific-panel .labels_filter ul li:after {
	position: absolute;
	right: 4px;
	top: 0px;
}
.ugallery-magnific-panel .labels_filter ul li label {
	margin-right: 4px;
}
.ugallery-magnific-panel.upfront-additive_multiselection .labels_filter input[type=text] {
    background: #fff;
    border: 1px solid #e5e5e5;
    height: 22px;
    font-size: 11px;
    opacity: 1;
    border-radius: 3px;
	width: auto;
	margin-top: 2px;
}
.ugallery-magnific-panel.upfront-additive_multiselection .labels_filter.empty input[type=text] {
	margin-top: 0px;
}
.ugallery-magnific-panel .new_labels {
	position: relative;
}
.ugallery-magnific-panel .new_labels.active .submit-label {
	position: absolute;
	top: 0px;
	right: 0px;
}
.ugallery-magnific-add .new_labels {
	margin-top: 5px;
}
.ugallery-magnific-panel .new_labels.active .submit-label {
	height: 22px;
}
.ugallery-controls .uimage-control-panel-item {
	z-index: 60;
}
.ugallery-magnific-panel input.add-label {
	height: 22px;
	border: none;
}
.ugallery-magnific-panel .labels_list {
    position: absolute;
    width: 90%;
    z-index: 999;
	margin-top: -3px;
}


/* 378760-1512586674-ai */