/**.unslider{overflow:auto;margin:0;padding:0}.unslider-wrap{position:relative}.unslider-wrap.unslider-carousel>li{float:left}.unslider-vertical>ul{height:100%}.unslider-vertical li{float:none;width:100%}.unslider-fade{position:relative}.unslider-fade .unslider-wrap li{position:absolute;left:0;top:0;right:0;z-index:8}.unslider-fade .unslider-wrap li.unslider-active{z-index:10}.unslider li,.unslider ol,.unslider ul{list-style:none;margin:0;padding:0;border:none}.unslider-arrow{position:absolute;left:20px;z-index:2;cursor:pointer}.unslider-arrow.next{left:auto;right:20px}

 */
.unslider {
    max-width: 700px;
    position: relative;
    overflow:visible;
    margin-bottom:50px;
    border:1px solid #ADADAD;
}

.unslider-wrap li p {
    padding:1em 20px 1em 20px;
    margin:0;
    background: #14485F;
    color: white;
    min-height: 45px;
}

.unslider-wrap li p a {
    color:white;
    font-weight: bold;
}

.unslider-arrow {
    display: block;
    width: 32px;
    height: 32px;
    top: 50%;
    right: -50px;
    left: auto;
    margin-top: -16px;
    overflow: hidden;
    background: rgba(0,0,0,.2) no-repeat 50% 50%;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAQCAQAAABuQZ3IAAAAi0lEQVR4AU3OISBEQQBAwS0AACS9NxqQgCZpkiYBVddFvWhAAUABAPQCAGC4g/0vTnrBqCfDIZl70J+kMUBPpEwT4FNXxBxz4F1HxHyr4EVTxBLb4EFNxEon4CJSlVNw9AcV9sC16h8osgke1P1ArgXwouVvdQq86ww/GQefusNf7kBviBlxpT8k+gL/Wox4r1d4MwAAAABJRU5ErkJggg==');
    background-size: 7px 11px;
    border-radius: 32px;
    text-indent: -999em;
    opacity: 0.8;
    transition: opacity .2s;
}

.unslider-arrow:hover {
    opacity: 1;
}

.unslider-arrow.next {
    right:20px;
}

.unslider-arrow.prev {
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    left:20px;
}


/* 506887-1528449210-au */