/*
    Created on : 14 May, 2014, 4:08:11 PM
    Author     : umesh
*/
.email-templates-wrapper{
    max-height: 300px;
    overflow: hidden;
    padding: 0 30px 20px;
}
/* Templates Wrapper */
.template-wrapper {
    display: none;
    padding: 10px 0;
}
.template-toggle{
    font-size: 13px;
    font-weight: normal;
    text-decoration: none;
}
.template-toggle:active, .template-toggle:focus {
    outline: none;
}
.toggle-indicator{
    display: inline-block;
}
/* Slider Styling */
.template-holder {
    float: left;
    text-align: center;
    padding-bottom: 10px;
}

.template-holder:hover{
    opacity: 1;
    transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    -webkit-transition: opacity .25s ease;
    background: #ddd;
}

.template-holder img.theme-preview {
    max-width: 220px;
    max-height: 220px;
}
.template-holder a{
    font-size: medium;
    line-height: 1.5;
}
.template-selector{
    float: none;
    display: block;
    margin: 0 10px;
    text-align: center;
    text-decoration: none;
    color: #555;
    font-weight: bold;
}

.template-holder a img {
    border: 2px solid transparent;
    margin: 5px 0 0 0;
    display: inline-block;
}
.template-holder.active-theme {
    opacity: 1;
}
.template-holder.active-theme img {
    border: 2px solid #2ea2cc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.6);
}
/* Fixes arrow position */
.slick-next {
    margin-right: 22px;
}
.slick-prev:before, .slick-next:before {
    color: #2ea2cc;
    font-size: 30px;
}
.slick-list {
    /*margin-left: 12px;*/
}
.slick-slide {
    opacity: 0.6;
}
.template-holder.slick-slide a:focus, .template-holder.slick-slide a:active {
    box-shadow: none;
    outline: 0;
}
/*Refernce Link */
.list-ref {
    display: none;
}
/* Buttons Styling*/
.action-wrapper {
    overflow: hidden;
}
.action-wrapper .spinner {
    float: none;
    margin-top: 4px;
    margin-bottom: 0;
}
.action-wrapper .button-primary, .action-wrapper .button-secondary, .action-wrapper #preview_template {
    float: left;
}
.action-wrapper .button-secondary, .action-wrapper #preview_template {
    margin-left: 5px;
}
.load_template.button-primary {
    margin: 0 auto;
    margin-top: 10px;
    width: 80%;
    display: block;
    text-align: center;
}
.preview-email {
    clear: left;
    display: none;
    float: left;
    margin-top: 25px;
    overflow: hidden;
}
.preview-email .button-primary {
    float: none;
}
.preview-email .button-primary:active, .preview-email .button-primary:focus {
    vertical-align: 0;
}
.preview-email input[name="preview_html_email_address"] {
    line-height: 1.5;
    padding: 4px;
    width: 220px;
}

.template-settings-options .options-label{
    display: inline-block;
    width: 180px;
}
.wrap .updated.preview-email-status, .wrap .error.preview-email-status {
    margin: 20px 0 0;
}
/* Placeholder list table styling */
#placeholder-list-wrapper,
#template-images-wrapper {
    display: none;
}
.template-placeholders-list {
    background: white;
    border: 1px solid #c1c1c1;
    width: 60%;
}
.template-placeholders-list tr:nth-child(even) {
    background: #F3F3F3;
}
.template-placeholders-list tr:nth-child(odd) {
    background: white;
}
.template-placeholders-list th, .template-placeholders-list td {
    padding: 5px;
    text-align: left;
}
.template-placeholders-list td:first-child {
    width: 24%;
}
/*Configuration guide */
.config-guide {
    padding: 1px 5px;
}
.config-guide h3 {
    padding: 4px 4px 4px 0;
}
li.config-step {
    display: inline-block;
    overflow: hidden;
    margin: 0 5px 0 0;
    padding: 5px 0;
    vertical-align: top;
    width: 24%;
}
li.config-step:last-child{
    margin: 0;
}
li .step-count {
    display: block;
    font-weight: bold;
    padding: 5px 0;
    width: 45px;
}


/* 506887-1528448982-au */