/*!
* Combobox Plugin for jQuery, version 0.5.0
*
* Copyright 2012, Dell Sala
* http://dellsala.com/
* https://github.com/dellsala/Combo-Box-jQuery-Plugin
* Dual licensed under the MIT or GPL Version 2 licenses.
* http://jquery.org/license
*
* Date: 2012-01-15
*/
.combobox {
	margin-right: 0.1em;
}
.combobox_arrow{

	background: transparent url("down-arrow.png") no-repeat center center;
	display: block;
	height: 100%;
	width: 100%;

}
.combobox_button {

	-webkit-border-radius: 0 2px 2px 0;
	-moz-border-radius   : 0 2px 2px 0;
	border-radius        : 0 2px 2px 0;
	-moz-background-clip   : padding;
	-webkit-background-clip: padding-box;
	background-clip        : padding-box;
	background: #ccc;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eeeeee));
	background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eeeeee 60%);
	background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eeeeee 60%);
	background-image: -o-linear-gradient(bottom, #ccc 0%, #eeeeee 60%);
	background-image: -ms-linear-gradient(top, #cccccc 0%,#eeeeee 60%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=0 );
	background-image: linear-gradient(top, #cccccc 0%,#eeeeee 60%);
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	height: 100%;
	width: 12px;
	border: 1px solid #bbb;
}

.combobox_button:hover {
	text-decoration: none;
}

.combobox_button {
	top: 2px !important;
}

.combobox_selector {
	background-color: #fff;
	font-family: Helvetia, Arial, sans-serif;
	font-size: 12px;
	z-index: 1000;
	max-height: 280px;
	overflow: auto;
}

.combobox_selector ul {
	padding: 0;
	margin: 0;
	list-style: none;
	border:1px solid #bbb;
	line-height:.6em;
}

.combobox_selector li {
	padding: 5px 5px;
	margin:0;
}

.combobox_selector li:hover,
.combobox_selector li.selected {
	background-color: Highlight;
	color: #fff;
}


/* 378760-1512586824-ai */