@CHARSET "UTF-8";
.marker-icon,
.marker-icon-32 {
  border: 1px solid #EEE;
}

.marker-icon-32 {
  max-width: 32px;
  max-height: 32px;
}

button .dashicons,
.button-primary .dashicons,
.button-secondary .dashicons {
  line-height: 26px;
}

.agm-editor .maps_existing_result > ul {
  border-top: 1px solid #eee;
  margin: 0;
}
.agm-editor h3 {
  margin-top: 0;
}
.agm-editor .wpmui-tip {
  text-align: center;
}
.agm-editor .tc {
  text-align: center;
}
.agm-editor .agm-status-text {
  margin-right: 10px;
}
.agm-editor .existing_map_item {
  margin: 0;
  background: none;
  padding: .3em 5px;
  border-bottom: 1px solid #eee;
  position: relative;
  border-left: 4px solid transparent;
}
.agm-editor .existing_map_item:nth-child(even) {
  background: #F9F9F9;
}
.agm-editor .existing_map_item.selected {
  background: #F7FCFE;
  border-bottom: 1px solid #DDD;
  border-left-color: #2EA2CC;
}
.agm-editor .existing_map_item.agm_active_item, .agm-editor .existing_map_item.agm_active_item.selected {
  background: #FFFFD0;
}
.agm-editor .existing_map_item.agm_active_item .map-shortcode, .agm-editor .existing_map_item.agm_active_item.selected .map-shortcode {
  color: #333;
}
.agm-editor .existing_map_item.agm_active_item .map_item_actions, .agm-editor .existing_map_item.agm_active_item.selected .map_item_actions {
  opacity: 1;
}
.agm-editor .existing_map_item.advanced-mode .map-shortcode {
  right: 50px;
}
.agm-editor .existing_map_item.advanced-mode .map_item_actions {
  padding-right: 250px;
}
.agm-editor .existing_map_item .map_item_title {
  font-weight: bold;
}
.agm-editor .existing_map_item .map-shortcode {
  font-size: .85em;
  position: absolute;
  right: 10px;
  bottom: .3em;
  color: #AAA;
}
.agm-editor .existing_map_item .map-shortcode strong {
  color: #000;
  font-size: 1em;
}
.agm-editor .existing_map_item .map-shortcode:hover, .agm-editor .existing_map_item .map-shortcode:hover strong {
  color: inherit;
}
.agm-editor .existing_map_item .map_item_actions {
  font-size: .9em;
  color: #DDD;
  opacity: 0;
  padding-right: 200px;
}
.agm-editor .existing_map_item .map_item_actions,
.agm-editor .existing_map_item .map_item_actions .dashicons {
  font-size: 12px;
  line-height: 16px;
}
.agm-editor .existing_map_item a {
  text-decoration: none;
}
.agm-editor .existing_map_item .delete_map_item {
  float: right;
  color: #A00;
}
.agm-editor .existing_map_item .delete_map_item:hover {
  color: #F00;
}
.agm-editor .existing_map_item .map_advanced_checkbox_container {
  position: absolute;
  right: 0;
  top: 0;
}
.agm-editor .existing_map_item .map_advanced_checkbox_container input {
  margin: 1em;
}
.agm-editor .buttons .maps_advanced_container {
  float: left;
}
.agm-editor .buttons button.button-secondary {
  margin-right: 5px;
}
.agm-editor .buttons .agm_go_back {
  float: left;
}
.agm-editor .agm_mh_container button.button-secondary {
  margin-left: 5px;
}
.agm-editor .marker-buttons {
  margin: 5px 0 10px;
}
.agm-editor .agm-preview,
.agm-editor .agm-options {
  width: 700px;
  float: left;
}
.agm-editor #agm_mh_markers > ul {
  border-top: 1px solid #EEE;
}
.agm-editor #agm_mh_markers li {
  padding: 5px;
  margin: 0;
  border-bottom: 1px solid #EEE;
  min-height: 36px;
}
.agm-editor #agm_mh_markers li:after {
  content: '';
  clear: both;
  display: block;
  display: table;
}
.agm-editor #agm_mh_markers li:hover .action, .agm-editor #agm_mh_markers li:hover .marker-infos {
  opacity: 1;
}
.agm-editor #agm_mh_markers li:nth-child(even) {
  background: #F8F8F8;
}
.agm-editor #agm_mh_markers li:hover {
  background: #FFFFd0;
}
.agm-editor #agm_mh_markers li .action {
  float: right;
  opacity: 0;
}
.agm-editor #agm_mh_markers li .marker-infos {
  display: block;
  padding-left: 40px;
  margin-top: -16px;
  font-size: 0.9em;
  color: #999;
  opacity: 0;
}
.agm-editor #agm_mh_markers li .agm_mh_marker_item .marker-icon,
.agm-editor #agm_mh_markers li .agm_mh_marker_item .marker-icon-32 {
  vertical-align: top;
}
.agm-editor #agm_mh_markers li a {
  text-decoration: none;
}
.agm-editor .agm_mh_info_content {
  width: 350px;
}
.agm-editor .agm_mh_info_icon_switch {
  display: block;
  float: left;
  text-decoration: none;
  text-align: center;
}
.agm-editor .agm_mh_info_text {
  float: left;
  width: 300px;
  margin-left: 5px;
}
.agm-editor .agm_mh_info_text input, .agm-editor .agm_mh_info_text textarea {
  width: 100%;
}
.agm-editor .agm_less_important {
  color: #999;
  font-size: .8em;
  font-style: italic;
}
.agm-editor .agm-options {
  font-size: 1em;
}
.agm-editor .agm-options ul.agm_associated_list {
  list-style-type: disc;
  margin-left: 2em;
  margin-top: .4em;
}
.agm-editor .agm-options ul.agm_associated_list li {
  font-size: .8em;
  font-weight: bold;
  line-height: .8em;
}
.agm-editor .agm-options fieldset {
  border: 1px solid #ccc;
  padding: 1em;
  padding-top: .2em;
  margin-top: .2em;
}
.agm-editor .agm-options legend {
  padding: .4em;
  font-size: .8em;
  font-weight: bold;
  font-style: italic;
  color: #999;
}
.agm-editor #agm_mh_header {
  margin-bottom: .4em;
}
.agm-editor #agm_mh_footer {
  margin-top: .4em;
}
.agm-editor .agm-paging_bar {
  overflow: hidden;
  background-color: #eee;
  padding: 4px;
}
.agm-editor .agm-paging_bar .agm-load_prev_maps {
  text-decoration: none;
  color: #666;
  display: block;
  float: left;
}
.agm-editor .agm-paging_bar .agm-load_next_maps {
  text-decoration: none;
  color: #666;
  display: block;
  float: right;
}

.agm_mh_marker_item .marker-icon,
.agm_mh_marker_item .marker-icon-32 {
  margin-right: 5px;
  vertical-align: middle;
}

.plugins .example {
  font-size: 12px;
  border-left: 3px solid #F0F0F0;
  padding: 5px 10px;
  background: rgba(200, 200, 200, 0.1);
}
.plugins .example code {
  font-size: 12px;
}


/* 506887-1520105431-ai */