@CHARSET "UTF-8";
.agm_google_maps img {
  background: none repeat scroll 0 0 transparent !important;
  border: medium none !important;
  /* Removed "!importan" to enforce propper size of marker icons */
  max-width: none;
  max-height: none;
  padding: 0 !important;
  margin: 0 !important;
}

.agm_mh_container ul.agm_mh_marker_list {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
}

.agm_mh_container ul li {
  margin-top: .2em;
  padding: .2em;
  border: 1px solid #ccc;
  background-color: #eef;
  list-style: none;
  overflow: hidden;
}

a.agm_mh_marker_item {
  text-decoration: none;
  color: #333;
}

a.agm_mh_marker_item img {
  float: left;
}

a.agm_mh_marker_item .agm_mh_marker_item_content {
  margin-left: 5px;
}

.agm_mh_container input {
  margin: 0;
}

.agm_mh_info_content {
  font-size: 11px;
}

.agm_mh_info_content a {
  color: #00F;
}

.agm_mh_info_title {
  font-weight: bold;
}

img.agm_mh_info_icon {
  float: right;
}

.agm_post_links_container {
  font-size: .9em;
}

.agm_post_links_container ul {
  list-style-type: none !important;
}

.agm_post_links_container ul li {
  margin: 0;
  padding: 0;
  border: none;
}

.agm_google_maps-loading_message {
  margin: .1em;
  padding: 2em;
  background: #eee;
  color: #ccc;
  font-style: italic;
  text-align: center;
}

.marker-icon-32 {
  max-width: 32px !important;
  max-height: 32px !important;
}

.agm-modal-back {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: #000;
  opacity: .4;
}

.agm-map-box {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 400px;
  margin-left: -300px;
  margin-top: -200px;
  background: #FFF;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
  z-index: 11;
  overflow: auto;
}

.agm-map-box .agm_mh_footer {
  position: absolute;
  left: 0;
  right: 0;
  width: auto;
  height: auto;
  overflow: auto;
}


/* 506887-1520105431-ai */