/**
 * Plugin Name: Custom icons
 * Author:      Philipp Stracker (Incsub)
 *
 * CSS styles for ADMIN page of the custom icons addon.
 */
.marker-icon,
.marker-icon-32 {
  border: 1px solid #EEE;
}

.marker-icon-32 {
  max-width: 32px;
  max-height: 32px;
}


/* 506887-1520105431-ai */