/**
 * Plugin Name: User check-ins
 * Author:      Philipp Stracker (Incsub)
 *
 * CSS styles for ADMIN page of the user-check-in addon.
 */
.lst-checkins {
  border: 1px solid #E5E5E5;
  bottom: 0;
  background: #FFF;
}

.lst-checkins .item {
  padding: 5px;
  padding-bottom: 1px;
  min-height: 54px;
  border-bottom: 1px solid #E5E5E5;
  margin: 0;
  position: relative;
}

.lst-checkins .item:after {
  content: '';
  clear: both;
  display: table;
}

.lst-checkins .item.alternate {
  background: #F9F9F9;
}

.item.del .infos {
  text-decoration: line-through;
  color: #AAA;
}

.item.del .infos .dashicons {
  text-decoration: none;
}

.item .small {
  text-decoration: none;
  height: 24px;
  line-height: 22px;
  padding: 0 8px 1px;
  font-size: 11px;
  vertical-align: middle;
}

.item label {
  display: inline-block;
  width: 120px;
}

.item .button-small {
  vertical-align: middle;
}

.item-actions {
  text-decoration: none;
  margin-top: 5px;
  display: none;
  height: 28px;
}

.item:hover .item-actions {
  display: block;
}

.item-actions .trash {
  color: #A00;
}

.item-actions .trash:hover,
.item-actions .trash:focus,
.item-actions .trash:active {
  color: #F00;
}

.item .form-actions {
  margin-top: 10px;
}

.item .form .row {
  min-height: 28px;
  line-height: 28px;
}

.lst-checkins .the-preview {
  float: right;
  margin: -6px -5px;
  border-top: 1px solid #CCC;
}


/* 506887-1520105431-ai */