// Extra small screen / phone
$screen-xs: 480px !default;
$screen-xs-min: $screen-xs !default;
$screen-phone: $screen-xs-min !default;

// Small screen / tablet
$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;
$screen-tablet: $screen-sm-min !default;

// Medium screen / desktop
$screen-md: 992px !default;
$screen-md-min: $screen-md !default;
$screen-desktop: $screen-md-min !default;

// Large screen / wide desktop
$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;
$screen-lg-desktop: $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@include keyframes(tp-vs-up) {
  from {
    margin-bottom: -2em;
  }

  to {
    margin-bottom: 0;
  }
}

@include keyframes(tp-vs-down) {
  from {
    bottom: 50%;
  }

  to {
    bottom: -3.25em;
  }
}

@include keyframes(tp-vs-down-xs) {
  from {
    bottom: 50%;
  }

  to {
    bottom: -1.25em;
  }
}

@include keyframes(tp-vs-hide) {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@include keyframes(tp-slide-down) {
  from {
    height: 0;
    padding: 0 1em;
  }

  to {
    height: auto;
    padding: 1em;
  }
}

@include keyframes(tp-show-text) {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@include keyframes(tp-votes-bar) {
  from {
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
  }

  to {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
  }
}

/* VARIABLES */
$startColor: unquote("<?php echo $this->option('results', 'bar', 'color:start'); ?>");
$endColor: unquote("<?php echo $this->option('results', 'bar', 'color:end'); ?>");

___PREFIX___.totalpoll-poll-container {

  $border-radius: unquote("<?php echo $this->option('general', 'other', 'border-radius'); ?>");

  line-height: unquote("<?php echo $this->option('typography', 'general', 'line-height'); ?>");
  font-family: unquote("<?php echo $this->option('typography', 'general', 'font-family'); ?>");
  font-size: unquote("<?php echo $this->option('typography', 'general', 'font-size'); ?>");

  padding: unquote("<?php echo $this->option('general', 'container', 'padding'); ?>");

  * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;

    line-height: inherit;
    font-family: inherit;
    font-size: inherit;
  }

  /* Reset */
  & {
    div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, audio, canvas, details, figcaption, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, summary, time, video {
      border: 0;
      outline: 0;
      vertical-align: baseline;
      background-color: transparent;
      margin: 0;
      padding: 0;
    }
    body {
      line-height: 1;
    }
    article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote {
      display: block;
    }
    ul, ol {
      list-style: none;
    }
    blockquote, q {
      quotes: none;
    }
    blockquote:before, blockquote:after, q:before, q:after {
      content: none;
    }
    ins {
      text-decoration: underline;
    }
    del {
      text-decoration: line-through;
    }
    mark {
      background: none;
    }
    abbr[title], dfn[title] {
      border-bottom: 1px dotted #000;
      cursor: help;
    }
    table {
      border-collapse: collapse;
      border-spacing: 0;
    }
    hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #ccc;
      margin: 1em 0;
      padding: 0;
    }
    input[type=submit], input[type=button], button {
      margin: 0;
      padding: 0;
    }
    input, select, img {
      vertical-align: middle;
    }
    video, audio {
      vertical-align: bottom;
    }
    img {
      max-width: 100%;
    }
  }
  li {
    list-style: none inside
  }
  ul:before, li:before, ul:after, li:after {
    display: none;
    content: ""
  }

  .totalpoll-error-message {
    padding: 1em;
    margin-bottom: 1em;
    color: unquote("<?php echo $this->option('general', 'messages', 'color'); ?>");
    background-color: unquote("<?php echo $this->option('general', 'messages', 'background'); ?>");
    border: 1px solid unquote("<?php echo $this->option('general', 'messages', 'border'); ?>");
    border-radius: $border-radius;
  }

  .totalpoll-question {
    text-align: center;
    font-weight: bold;
    font-size: unquote("<?php echo $this->option('general', 'question', 'font-size'); ?>");
    margin-bottom: unquote("<?php echo $this->option('general', 'question', 'margin-bottom'); ?>");
    color: unquote("<?php echo $this->option('general', 'question', 'color'); ?>");
    border: 0;
    padding: 0;
  }

  .totalpoll-choices {
    margin: 0 auto 2em;
    display: table;
    transition: opacity 0.5s;
    table-layout: fixed;
    width: 100%;
    height: 100%;

    .totalpoll-choice {
      width: 49%;
      display: table-cell;
      padding: unquote("<?php echo $this->option('layout', 'choices', 'padding'); ?>");
      border: 1px solid unquote("<?php echo $this->option('layout', 'choices', 'border'); ?>");
      background: unquote("<?php echo $this->option('layout', 'choices', 'background'); ?>");
      transition: opacity 0.5s;
      vertical-align: middle;
      position: relative;
      height: 100%;

      &.totalpoll-choice-image-type img {
        pointer-events: none;
        display: block;
      }

      .totalpoll-check-indicator {
        position: absolute;
        cursor: pointer;
        bottom: 5%;
        padding: 1em;
        border-radius: 5em;
        line-height: 0;
        box-shadow: -5px 0 10px unquote("<?php echo $this->option('layout', 'check', 'shadow'); ?>"), 5px 0 10px unquote("<?php echo $this->option('layout', 'check', 'shadow'); ?>");
        opacity: 0.5;
        transition: opacity 0.25s;
        background: unquote("<?php echo $this->option('layout', 'check', 'background'); ?>");
        color: unquote("<?php echo $this->option('layout', 'check', 'color'); ?>");
        border: 1px solid unquote("<?php echo $this->option('layout', 'check', 'border'); ?>");
        z-index: 3;

        svg {
          fill: unquote("<?php echo $this->option('layout', 'check', 'background:sign'); ?>");
          vertical-align: middle;
        }

        &:hover {
          opacity: 0.9;
        }
      }

      &:first-child {
        border-right: none;
        box-shadow: inset -5px 0 10px 0 unquote("<?php echo $this->option('layout', 'choices', 'shadow'); ?>");
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        .totalpoll-check-indicator {
          left: 5%;
        }
      }

      &:last-child {
        border-left: none;
        box-shadow: inset 5px 0 10px 0 unquote("<?php echo $this->option('layout', 'choices', 'shadow'); ?>");
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        .totalpoll-check-indicator {
          right: 5%;
        }
      }

      a.totalpoll-choice-overlay {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0;
        z-index: 2;
        transition: opacity 0.5s;
        background-color: rgba(0, 0, 0, 0.5) !important;
        cursor: pointer;
        border-radius: $border-radius;

        &-image {
          background: url(unquote("'<?php echo $this->asset('assets/images/magnify.png'); ?>'")) no-repeat center center;
          background-size: auto 35%;
        }

        &-video {
          background: url(unquote("'<?php echo $this->asset('assets/images/play.png'); ?>'")) no-repeat center center;
          background-size: auto 35%;
        }

        &:hover {
          opacity: 1;
        }
      }

      img {
        vertical-align: middle;
        display: block;
        margin: 0 auto;
      }

      audio {
        width: 100%;
        transition: opacity 0.5s;
        opacity: 0.7;
        cursor: pointer;
      }

      .totalpoll-video-hidden-content {
        display: none;
      }

      &:hover {
        a {
          .totalpoll-choice-overlay {
            opacity: 0.8;
          }
        }

        audio {
          opacity: 1;
        }
      }

      &.checked {
        .totalpoll-check-indicator {
          opacity: 1;
          background: unquote("<?php echo $this->option('layout', 'check:selected', 'background'); ?>");
          border-color: unquote("<?php echo $this->option('layout', 'check:selected', 'border'); ?>");

          svg {
            fill: unquote("<?php echo $this->option('layout', 'check:selected', 'background:sign'); ?>");
          }
        }
      }
    }

    .totalpoll-separator {
      display: table-cell;
      width: 2%;
      background: none;
      padding: 0;
      position: relative;
      z-index: 49;

      .totalpoll-vs {
        position: absolute;
        height: 4em;
        width: 4em;
        text-align: center;
        background: unquote("<?php echo $this->option('layout', 'vs', 'background'); ?>");
        color: unquote("<?php echo $this->option('layout', 'vs', 'color'); ?>");
        line-height: 4em;
        bottom: 50%;
        margin-bottom: -2em;
        left: 50%;
        margin-left: -2em;
        font-weight: bold;
        border-radius: 50px;
        border: 1px solid unquote("<?php echo $this->option('layout', 'vs', 'border'); ?>");
        box-shadow: 0 0 20px unquote("<?php echo $this->option('layout', 'vs', 'shadow'); ?>");
        z-index: 50;
      }
    }
  }

  .totalpoll-view {

    &-vote {
      .totalpoll-choices {

        .totalpoll-choice {
          cursor: pointer;

          &-container a {
            cursor: pointer;
          }

          .totalpoll-choice-checkbox {
            display: none;
          }
        }
      }

    }

    &-results {

      .totalpoll-choices {
        margin: 0 auto 5em;

        .totalpoll-choice {
          .totalpoll-choice-result {
            padding: 1em !important;
            line-height: 1em;
            text-align: center;
            position: absolute;
            bottom: -3em;
            left: 0;
            right: 0;
            z-index: 5;
            border-top: 1px solid unquote("<?php echo $this->option('layout', 'results', 'border'); ?>");
            background: unquote("<?php echo $this->option('layout', 'results', 'background'); ?>");

            .totalpoll-choice-progress {
              background: unquote("<?php echo $this->option('layout', 'results', 'progress-bg'); ?>");
              width: 33.33%;
              position: absolute;
              height: 100%;
              top: 0;
              z-index: 51;

              -webkit-animation-fill-mode: both;
              -moz-animation-fill-mode: both;
              -o-animation-fill-mode: both;
              animation-fill-mode: both;

              -webkit-transform: scaleX(0);
              -moz-transform: scaleX(0);
              -ms-transform: scaleX(0);
              -o-transform: scaleX(0);
              transform: scaleX(0);

              -webkit-animation: tp-votes-bar 0.4s 1.5s ease-out forwards;
              -o-animation: tp-votes-bar 0.4s 1.5s ease-out forwards;
              animation: tp-votes-bar 0.4s 1.5s ease-out forwards;
            }

            &-text {
              position: relative;
              z-index: 52;
              opacity: 0;
              -webkit-animation: tp-show-text 0.4s 1.5s ease-out forwards;
              -o-animation: tp-show-text 0.4s 1.5s ease-out forwards;
              animation: tp-show-text 0.4s 1.5s ease-out forwards;
            }
          }

          &:first-child {
            .totalpoll-choice-result {
              .totalpoll-choice-progress {
                right: 0;
                -webkit-transform-origin: right;
                -moz-transform-origin: right;
                -ms-transform-origin: right;
                -o-transform-origin: right;
                transform-origin: right;
              }
            }
          }

          &:last-child {
            .totalpoll-choice-result {
              .totalpoll-choice-progress {
                left: 0;
                -webkit-transform-origin: left;
                -moz-transform-origin: left;
                -ms-transform-origin: left;
                -o-transform-origin: left;
                transform-origin: left;
              }
            }
          }

          .totalpoll-check-indicator {
            opacity: 1 !important;
            background: unquote("<?php echo $this->option('layout', 'check:selected', 'background'); ?>");
            border-color: unquote("<?php echo $this->option('layout', 'check:selected', 'border'); ?>");

            svg {
              fill: unquote("<?php echo $this->option('layout', 'check:selected', 'background:sign'); ?>");
            }
          }
        }

        .totalpoll-separator {

          .totalpoll-vs {
            -webkit-animation: tp-vs-up 0.5s ease-out forwards, tp-vs-down 0.4s 0.7s ease-out forwards, tp-vs-hide 0.5s 1.5s ease-out forwards;
            -o-animation: tp-vs-up 0.5s ease-out forwards, tp-vs-down 0.4s 0.7s ease-out forwards, tp-vs-hide 0.5s 1.5s ease-out forwards;
            animation: tp-vs-up 0.5s ease-out forwards, tp-vs-down 0.4s 0.7s ease-out forwards, tp-vs-hide 0.5s 1.5s ease-out forwards;
          }
        }

      }

    }
  }

  .totalpoll-fields {
    margin: 1em 0;

    .totalpoll-field-wrapper {

      label {
        display: block;
        margin-bottom: 1rem;
      }

      .totalpoll-fields-field {
        border-radius: $border-radius;
        margin-right: 5px;
      }

      .totalpoll-field-error {
        margin: 0.5em 0 1em;
        padding: 0.8em;
        border: 1px solid unquote("<?php echo $this->option('general', 'container', 'border'); ?>");
        color: unquote("<?php echo $this->option('general', 'messages', 'color'); ?>");
        border-radius: $border-radius;
      }

      + .totalpoll-field-wrapper {
        margin-top: 1.5em;
      }

    }

    &-field {
      width: 100%;

      &[type=checkbox], &[type=radio] {
        width: auto;
      }
    }

  }

  /** BUTTONS **/
  .totalpoll-buttons {
    text-align: unquote("<?php echo $this->option('buttons', 'general', 'align'); ?>");
    margin: 1em 0;

    .totalpoll-button {
      display: inline-block;
      padding: unquote("<?php echo $this->option('buttons', 'general', 'padding'); ?>");
      min-width: 100px;
      font-weight: unquote("<?php echo $this->option('buttons', 'general', 'font-weight'); ?>");
      color: unquote("<?php echo $this->option('buttons', 'default', 'color:normal'); ?>");
      background: unquote("<?php echo $this->option('buttons', 'default', 'background:normal'); ?>");
      border: 1px solid unquote("<?php echo $this->option('buttons', 'default', 'border:normal'); ?>");
      line-height: 1;
      text-decoration: none;
      margin: 0 10px;
      border-radius: $border-radius;

      @media all and (max-width: $screen-sm-min) {
        width: 100%;
        margin: 10px 0;
      }

      &:hover, &:focus, &:active {
        color: unquote("<?php echo $this->option('buttons', 'default', 'color:hover'); ?>");
        background-color: unquote("<?php echo $this->option('buttons', 'default', 'background:hover'); ?>");
        border-color: unquote("<?php echo $this->option('buttons', 'default', 'border:hover'); ?>");
      }

      &.totalpoll-button-primary {
        color: unquote("<?php echo $this->option('buttons', 'primary', 'color:normal'); ?>");
        background-color: unquote("<?php echo $this->option('buttons', 'primary', 'background:normal'); ?>");
        border: 1px solid unquote("<?php echo $this->option('buttons', 'primary', 'border:normal'); ?>");

        &:hover, &:focus, &:active {
          background-color: unquote("<?php echo $this->option('buttons', 'primary', 'background:hover'); ?>");
          border-color: unquote("<?php echo $this->option('buttons', 'primary', 'border:hover'); ?>");
          color: unquote("<?php echo $this->option('buttons', 'primary', 'color:hover'); ?>");
        }
      }

      &.totalpoll-button-link {

      }

      &[disabled] {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    .totalpoll-buttons-pagination {
      padding: 1em;
      margin: 0 0.8em 1em;
      border: 1px solid unquote("<?php echo $this->option('general', 'container', 'border-color'); ?>");
      border-radius: $border-radius;
      @include clearfix;
    }
  }

  @media all and (max-width: $screen-sm-min) {
    .totalpoll-choices {
      display: block;

      .totalpoll-choice {
        width: 100%;
        display: block;
        border: 1px solid #E0E0E0 !important;
      }

      .totalpoll-separator {
        width: 100%;
        display: block;
        height: 1em;
        box-shadow: none;
      }
    }

    .totalpoll-view {
      &-vote {
        .totalpoll-choices {
          .totalpoll-choice {
            &:first-child {
              box-shadow: inset 0 -5px 10px 0 rgba(0, 0, 0, 0.1) !important;
            }

            &:last-child {
              box-shadow: inset 0 5px 10px 0 rgba(0, 0, 0, 0.2) !important;
            }
          }
        }
      }

      &-results {
        .totalpoll-choices {
          .totalpoll-choice-result {
            .totalpoll-choice-progress {
              left: 0 !important;
              right: auto !important;
              -webkit-transform-origin: left !important;
              -moz-transform-origin: left !important;
              -ms-transform-origin: left !important;
              -o-transform-origin: left !important;
              transform-origin: left !important;
            }
          }

          @media all and (max-width: $screen-sm-min) {
            .totalpoll-separator {
              margin-top: 3em;

              .totalpoll-vs {
                -webkit-animation: tp-vs-up 0.5s ease-out forwards, tp-vs-down-xs 0.4s 0.7s ease-out forwards, tp-vs-hide 0.5s 1.5s ease-out forwards;
                -o-animation: tp-vs-up 0.5s ease-out forwards, tp-vs-down-xs 0.4s 0.7s ease-out forwards, tp-vs-hide 0.5s 1.5s ease-out forwards;
                animation: tp-vs-up 0.5s ease-out forwards, tp-vs-down-xs 0.4s 0.7s ease-out forwards, tp-vs-hide 0.5s 1.5s ease-out forwards;
              }
            }
          }
        }
      }
    }
  }
}

___PREFIX___.totalpoll-poll-container.totalpoll-rtl {
  .totalpoll-view {

    &-vote {
      .totalpoll-choices {
        .totalpoll-choice {
          border: 1px solid #e0e0e0;

          &:first-child {
            box-shadow: inset 5px 0 10px 0 rgba(0, 0, 0, 0.1);
            border-left: none;
            .totalpoll-check-indicator {
              right: 5%;
              left: auto;
            }
          }

          &:last-child {
            box-shadow: inset -5px 0 10px 0 rgba(0, 0, 0, 0.1);
            border-right: none;
            .totalpoll-check-indicator {
              left: 5%;
              right: auto;
            }
          }

        }
      }
    }

    &-results {
      .totalpoll-choices {

        .totalpoll-choice {
          &:first-child {
            .totalpoll-choice-result {
              .totalpoll-choice-progress {
                left: 0;
                right: auto;
                -webkit-transform-origin: left;
                -moz-transform-origin: left;
                -ms-transform-origin: left;
                -o-transform-origin: left;
                transform-origin: left;
              }
            }
          }

          &:last-child {
            .totalpoll-choice-result {
              .totalpoll-choice-progress {
                right: 0;
                left: auto;
                -webkit-transform-origin: right;
                -moz-transform-origin: right;
                -ms-transform-origin: right;
                -o-transform-origin: right;
                transform-origin: right;
              }
            }
          }
        }

      }
    }

  }

  .totalpoll-fields {
    .totalpoll-field-wrapper {
      .totalpoll-fields-field {
        margin-right: 0;
        margin-left: 5px;
      }
    }
  }

  @media all and (max-width: $screen-sm-min) {
    .totalpoll-view-results {
      .totalpoll-choices {

        .totalpoll-choice {
          .totalpoll-choice-result {
            .totalpoll-choice-progress {
              right: 0 !important;
              left: auto !important;
              -webkit-transform-origin: right !important;
              -moz-transform-origin: right !important;
              -ms-transform-origin: right !important;
              -o-transform-origin: right !important;
              transform-origin: right !important;
            }
          }
        }
      }
    }
  }
}