#toplevel_page_coursepress-upgrade {
  display: none;
}

.coursepress-upgrade-nag {
  background-color: #031f34;
  color: #c0d7eb;
  padding: 5px 15px;
  border-left-width: 8px;
  font-family: 'Open Sans', Georgia, serif;
  font-weight: 300;
}
.coursepress-upgrade-nag.frontend-nag {
  line-height: 40px;
  padding: 20px 30px;
  max-width: 900px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-left: 8px solid #ffb900;
}
.coursepress-upgrade-nag.frontend-nag p {
  margin: 0;
  text-align: center;
  color: #c0d7eb;
}
.coursepress-upgrade-nag p {
  font-size: 18px;
}
.coursepress-upgrade-nag .button-primary,
.coursepress-upgrade-nag .button-primary:hover {
  text-transform: uppercase;
  border: 3px solid rgba(53, 131, 191, 0.4) !important;
  height: auto;
  padding: 5px 10px;
  line-height: 1;
  background-color: #06385e;
  color: #e8da42;
  text-shadow: none;
  font-weight: 700;
}
.coursepress-upgrade-nag.notice-error {
  background-color: rgba(255, 0, 0, 0.1);
}
.coursepress-upgrade-nag.notice-error p {
  color: #333;
}

.coursepress-upgrade-view .coursepress-update-view {
  margin: 5px 0;
  padding: 8px 15px;
  background-color: #FFF;
  border: 1px solid #CCC;
}
.coursepress-upgrade-view .coursepress-update-view .students-progress {
  font-weight: bold;
}
.coursepress-upgrade-view .coursepress-update-view .course-progress {
  display: block;
  float: left;
  margin: -5px 10px 0 -5px;
  width: 25px;
  height: 25px;
  background: url(../../2.0/asset/img/loader.gif) no-repeat center center;
}
.coursepress-upgrade-view .coursepress-update-view .course-progress.success, .coursepress-upgrade-view .coursepress-update-view .course-progress.error {
  position: relative;
  background: none;
}
.coursepress-upgrade-view .coursepress-update-view .course-progress.success:before, .coursepress-upgrade-view .coursepress-update-view .course-progress.error:before {
  content: '\f147';
  font-family: Dashicons;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  color: green;
}
.coursepress-upgrade-view .coursepress-update-view .course-progress.error:before {
  content: '\f335';
  color: red;
}

.cp-upgrade-body .entry-meta {
  display: none;
}


/* 506887-1528449024-au */